.comp-arrow-link{
  a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #f1f1f1;
    color: $basicGreen;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.4px;
    span{
      display: inline-block;
      position: relative;
      padding-right: 30px;
      &::before{
        display: block;
        content: "";
        position: absolute;
        width: 20px;
        height: 15px;
        top: 0;
        bottom: 0;
        right: 0px;
        transition: right 0.5s;
        margin: auto;
        @include bgSet;
        background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/arrow_vuojtf.png);
        background-size: contain;
        background-position: center center;
      }
    }
    &:hover{
      span{
        &::before{
          right: -10px;
        }
      }
    }
  }
}

@media screen and (max-width: 730px){
  .comp-arrow-link{
    a{
      padding: 13px 0;
      font-size: 12px;
      letter-spacing: 0.3px;
      span{
        padding-right: 20px;
        &::before{
          display: block;
          content: "";
          position: absolute;
          width: 15px;
          height: 12px;
        }
      }
    }
  }
}
