.comp-joournal-footer{
	padding: 100px 0 50px;
	background: {
		image: url("https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/footer_bg_ipnnmp.png");
		size: 1000px;
		position: center center;
	}

	.footer_wrap {
		@include waku;
		@include flexSet;

		.footer_menu {
			width: calc(100% - 115px);
			@include flexSet;
			justify-content: flex-start;

			.fmenu {
				ul {
					li {
						margin-bottom: 20px;

						a {
							font-size: 13px;
							letter-spacing: 1px;
							color: #555555;

							span {
								@include libre-b;
								font-weight: bold;
							}
						}
					}
				}

				&.fmenu01,
				&.fmenu02 {
					margin-right: 100px;
				}
			}
		}

		.footer_sns {
			width: 115px;
			text-align: center;

			.img_wrap {}

			ul {
				@include flexSet;
				margin: 50px auto 100px;

				li {
					width: 18.33333333333333333333333333333333%;
					padding: 0 7.5%;
				}
			}

			.copy_right {
				font-size: 10px;
				@include libre-b;
				color: #aaaaaa;
			}
		}
	}
}
@media screen and (max-width: 750px){
	.comp-joournal-footer{
		padding: 50px 0 30px;

		.footer_wrap {
			@include waku;
			display: block;

			.footer_menu {
				width: 100%;
				display: block;
				margin-bottom: 80px;

				.fmenu {
					ul {
						margin-bottom: 60px;
						li {
							margin-bottom: 20px;

							a {
								font-size: 3.5vw;
							}
						}
					}

					&.fmenu01,
					&.fmenu02 {
						margin-right: 0;
					}
				}
			}

			.footer_sns {
				width: 100%;
				text-align: center;

				.img_wrap {
					width: 22%;
					margin: 0 auto;
				}

				ul {
					width: 30%;
					margin: 30px auto 70px;
				}

				.copy_right {
					font-size: 11px;
				}
			}
		}
	}

}
