.comp-section-ttl{
  hgroup{
    @include flexSet;
    justify-content: flex-start;
    align-items: baseline;
    .ttl_en{
      display: block;
      font-size: 3.4rem;
      @include libre-r;
      letter-spacing: 0.05em;
      padding-right: 0.4em;
    }
    .ttl_ja{
      display: block;
      position: relative;
      font-size: 1.6rem;
      text-indent: 0.05em;
    }
  }
}
