.comp-waiting-button{
  max-width: 700px;
  margin: 0 auto;
  a{
    display: block;
    padding: 15px 0;
    text-align: center;
    background: #f8f8f8;
    border: 1px solid #979797;
    color: #2f281e !important;
    @include hover;
    cursor: pointer;
    line-height: 1;
    .title{
      display: inline-block;
      position: relative;
      font-size: 20px;
      letter-spacing: 1.2px;
      padding: 5px 0 5px 35px;
      pointer-events: none;
      color: #2f281e !important;
      &::before{
        pointer-events: none;
        display: block;
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: 0;
        top: 2px;
        bottom: 0;
        margin: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 22px;
        background-image: url(../img/waitinglist/info.svg);
      }
    }
    .desc{
      pointer-events: none;
      display: block;
      font-size: 14px;
      letter-spacing: 1.2px;
      margin-top: 10px;
      color: #2f281e !important;
    }
  }
}

@media screen and (max-width: 760px){
  .comp-waiting-button{
    max-width: 700px;
    margin: 0 auto;
    a{
      display: block;
      padding: 15px 0 20px !important;
      text-align: center;
      background: #f8f8f8;
      border: 1px solid #979797;
      color: #2f281e;
      @include hover;
      .title{
        display: inline-block;
        position: relative;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 5px 0 5px 30px;
        &::before{
          width: 30px;
          height: 30px;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background-size: 18px;
        }
      }
      .desc{
        display: block;
        font-size: 12px;
        letter-spacing: 0.5px;
        margin-top: 5px;
      }
    }
  }

}
