.comp-product-list {
	.item_wrapper {
		@include wrapper;
		@include flexSet;
		justify-content: space-between;

		.item_box {
			width: calc(50% - 5px);
			margin-bottom: 10px;

			.cat_ttl {
				display: none;
				font-size: 15px;
				font-weight: bold;
				line-height: 1;
				letter-spacing: normal;
				color: #00381f;
				margin-bottom: 15px;
				padding-bottom: 10px;
				border-bottom: 2px solid #00381f;

				.en {
					display: inline-block;
					padding-right: 0.5em;

					&::after {
						display: inline-block;
						content: "-";
						padding-left: 0.5em;
					}
				}
			}

			.img_wrap {
				margin-bottom: 15px;

				a {
					width: 100%;
					height: 44vw;
					overflow: hidden;
					transition: opacity 0.3s;
					display: block;
					position: relative;
					@include bgSet;
					background-size: cover;

					img {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
					}

					&::after {
						display: block;
						content: "";
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						background-color: rgba(#464646, 0.8);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: 160px;
						background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1614236875/common/viewmore_iorulq.png);
						opacity: 0;
						pointer-events: none;
						transition: opacity 0.3s;
					}

					&:hover {
						&::after {
							opacity: 1;
						}
					}
				}
			}

			.txt_wrap {
				.prod_name {
					line-height: 1.4;
					margin-bottom: 10px;
					.ttl_ja{
						display: none;
						font-size: 14px;
					}
					a {
						@include libre-r;
						letter-spacing: 0.05em;
						font-size: 1.6rem;
						color: #00381f;
						transition: opacity 0.3s;

						&:hover {
							opacity: 0.7;
						}

						&.small {
							font-size: 17px;
						}
					}
				}
			}

			.product_detail {
				display: block;
				line-height: 1;
				margin-bottom: 10px;

				.price {
					display: inline-block;
					font-size: 1.2rem;
					margin-bottom: 10px;
				}

				.amount {
					display: inline-block;
					margin-bottom: 10px;
					font-size: 12px;
					color: #808080;
					padding-left: 0.5em;

					&::before {
						display: inline-block;
						content: "/";
						padding-right: 0.6em;
					}
				}
			}

			a.arrow_link {
				display: block;
				font-size: 14px;
				color: #00381f;

				.link_wrap {
					display: inline-block;
					position: relative;
					padding-right: 40px;

					.arrow {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						margin: auto;
						width: 24px;
						height: 10px;
						transition: all 0.3s;
						background: {
							image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750746/product_list/arrow_hnk35p.png);
							position: center center;
							repeat: no-repeat;
							size: 24px;
						}
					}
				}

				&:hover {
					.link_wrap {
						.arrow {
							right: -10px;
						}
					}
				}
			}
			&.upcoming{
				.cat_ttl{
					display: none;
				}
				.txt_wrap {
					.prod_name {
						line-height: 1.5;
						margin-bottom: 10px;
						.ttl_ja{
							display: none;
							font-size: 14px;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 720px){
	.comp-product-list {
		.item_wrapper {
			.item_box {
				width: calc(50% - 10px);
				margin-bottom: 30px;

				.img_wrap {
					margin-bottom: 20px;

					a {
						width: 100%;
						height: 44vw;
					}
				}

				.txt_wrap {
					.prod_name {
						line-height: 1.4;
						margin-bottom: 10px;
						.ttl_ja{
							display: none;
							font-size: 14px;
						}
						a {
							letter-spacing: 0.05em;
							font-size: 2.2rem;

							&.small {
								font-size: 17px;
							}
						}
					}
				}

				.product_detail {
					display: block;
					line-height: 1;
					margin-bottom: 20px;

					.price {
						font-size: 1.4rem;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 980px){
	.comp-product-list {
		.item_wrapper {
			justify-content: flex-start;
			.item_box {
				width: 22%;
				margin-right: 4%;
				margin-bottom: 50px;
				&:nth-of-type(4n){
					margin-right: 0;
				}

				.img_wrap {
					margin-bottom: 20px;

					a {
						width: 100%;
						height: 20vw;
						max-height: 450px;
					}
				}

				.txt_wrap {
					.prod_name {
						line-height: 1.4;
						margin-bottom: 10px;
						.ttl_ja{
							display: none;
							font-size: 14px;
						}
						a {
							letter-spacing: 0.05em;
							font-size: 2.2rem;

							&.small {
								font-size: 17px;
							}
						}
					}
				}

				.product_detail {
					display: block;
					line-height: 1;
					margin-bottom: 20px;

					.price {
						font-size: 1.4rem;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}
