.comp-article-form{
  .hidden_area{
    opacity: 0;
  }
  .ajax_loader{
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    &.loading{
      height: 100px;
    }
    .loading{
      display: block;
      width: 100%;
      height: 100px;
      @include bgSet;
      background-size: 30px;
      background-image: url(../img/common/loading.svg);
    }
  }
  .form_item{
    margin-bottom: 30px;
    .attention{
      display: block;
      font-size: 13px;
      letter-spacing: 0.4px;
      line-height: 1.6;
      margin-top: 5px;
      color: #E02525;
    }
    .ttl{
      @include flexSet;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
      .num{
        width: 35px;
        height: 35px;
        margin-right: 10px;
        @include libre-r;
        font-size: 18px;
        text-align: center;
        line-height: 35px;
        background: $basicGreen;
        color: #fff;
        border-radius: 50%;
      }
      .question{
        width: calc(100% - 45px);
        font-size: 18px;
        line-height: 1.6;
      }
    }
    .form_wrap{
      @include flexSet;
      align-items: center;
      justify-content: flex-start;
      .radio_wrap{
        margin-right: 15px;
        input{
          display: none;
        }
        label{
          position: relative;
          padding-left: 20px;
          &::before{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 2px;
            bottom: 0;
            margin: auto;
            width: 11px;
            height: 11px;
            border: 1px solid #979797;
            background: #fff;
            border-radius: 50%;
            margin-right: 7px;
          }
          &::after{
            display: block;
            content: "";
            position: absolute;
            top: 1px;
            bottom: -1px;
            left: 3px;
            margin: auto;
            width: 7px;
            height: 7px;
            background-color: $basicGreen;
            border-radius: 50%;
            opacity: 0;
          }
        }
        input:checked + label{
          &::after{
            opacity: 1;
          }
        }
      }
      input[type="email"],input[type="text"]{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        font-family: inherit;
        color: $basicGreen;
        letter-spacing: 0.5px;
        border: solid 1px #c0c0c0;
        border-radius: 5px;
        margin-top: 10px;
        &:focus{
          outline: none;
          border: 1px solid $basicGreen;
        }
      }
      textarea{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        font-family: inherit;
        color: $basicGreen;
        line-height: 1.6;
        letter-spacing: 0.5px;
        border: solid 1px #c0c0c0;
        border-radius: 5px;
        height: 120px;
        margin-top: 10px;
        &:focus{
          outline: none;
          border: 1px solid $basicGreen;
        }
      }
      select{
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 14px;
        font-family: inherit;
        color: $basicGreen;
        letter-spacing: 0.5px;
        border: solid 1px #c0c0c0;
        border-radius: 5px;
        margin-top: 10px;
        appearance: none;
        background-image: url(../img/contact/selector_caret.png);
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: center right 15px;
        &:focus{
          outline: none;
          border: 1px solid $basicGreen;
        }
      }
      .example{
        display: block;
        margin-top: 15px;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #666;
      }
    }
  }
  .submit_wrap{
    max-width: 500px;
    margin: 50px auto 0;
    @include hover;
    position: relative;
    transition: opacity .2s;
    input{
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin: auto;
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
      opacity: 0;
    }
    button{
      width: 100%;
      display: block;
      padding: 15px 0;
      margin: 0 auto;
      display: block;
      color: #fff;
      background-color: $basicGreen;
      border: none;
      position: relative;
      transition: all .5s;
      font-family: inherit;
      font-size: 18px;
      pointer-events: none;
      transition: background-color .2s;
      span{
        display: inline-block;
        position: relative;
        padding-right: 30px;
        &::after{
          position: absolute;
          content: "";
          width: 20px;
          height: 10px;
          top: 0;
          bottom: 0;
          right: 0;
          transition: right 0.5s;
          margin: auto;
          @include bgSet;
          background-size: contain;
          background-image: url(../img/gift_service/arrow_white.png);
        }
      }
    }
    &.complete{
      pointer-events: none;
      opacity: 0.6;
      input{
      }
      button{
        background-color: #666;
        pointer-events: none;
        span{
          padding-right: 0px;
          &::after{
            display: none;
          }
        }
      }
    }
  }
  .coupon_code{
    box-sizing: border-box;
    margin-top: 40px;
    height: 0;
    overflow: hidden;
    transition: height .3s;
    .coupon_inner{
      background: #f4f4f4;
      padding: 25px;
      .head{
        display: block;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 0.8px;
        text-align: center;
      }
      .desc{
        text-align: center;
        margin-bottom: 10px;
      }
      .coupon_wrap{
        padding: 20px;
        background: #fff;
        .coupon_ttl{
          text-align: center;
          margin-bottom: 10px;
          .number{
            display: inline-block;
            padding: 0 0.1em;
            @include libre-r;
            font-size: 32px;
          }
        }
        .coupon_flex{
          border: 1px solid #d8d8d8;
          @include flexSet;
          align-items: center;
          max-width: 500px;
          margin: 0 auto;
          .code_number{
            width: calc(100% - 150px);
            padding: 0px 20px;
            box-sizing: border-box;
            @include libre-r;
            font-size: 22px;
            letter-spacing: 1px;
          }
          .copy_paste{
            width: 150px;
            background: #d8d8d8;
            padding: 10px 0;
            text-align: center;
            background: $basicGreen !important;
            color: #fff !important;
            font-size: 14px;
          }
        }
        textarea{
          opacity: 0;
        }
      }
      .desc_wrap{
        margin-top: 20px;
        .coupon_desc{
          line-height: 1.6;
          font-size: 14px;
          letter-spacing: 0.5px;
          &:nth-of-type(1){
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 760px){
  .comp-article-form{
    .form_item{
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 20px;
      margin-bottom: 20px;
      &:nth-last-of-type(2){
        border-bottom: 0px solid #d8d8d8;
        padding-bottom: 0;
      }
      .ttl{
        margin-bottom: 10px;
        .num{
          width: 30px;
          height: 30px;
          margin-right: 10px;
          font-size: 14px;
          line-height: 30px;
        }
        .question{
          width: calc(100% - 40px);
          font-size: 16px;
          line-height: 1.6;
        }
      }
      .form_wrap{
        .radio_wrap{
          margin-right: 15px;
          label{
            position: relative;
            padding-left: 20px;
            font-size: 16px;
          }
        }
        input[type="email"],input[type="text"]{
          display: block;
          font-size: 16px;
          margin-top: 5px;
        }
        textarea{
          font-size: 16px;
          height: 150px;
          margin-top: 5px;
        }
        select{
          font-size: 16px;
          margin-top: 5px;
        }
        .example{
          margin-top: 10px;
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
    .coupon_code{
      width: 100vw;
      margin: 40px -8vw 0;
      .coupon_inner{
        padding: 25px 8vw;
        .head{
          display: block;
          font-size: 20px;
          text-align: center;
          margin-bottom: 15px;
          span{
            display: block;
          }
        }
        .desc{
          line-height: 1.6;
          margin-bottom: 30px;
          span{
            display: block;
          }
        }
        .coupon_wrap{
          padding: 15px;
          .coupon_ttl{
            font-size: 14px;
            margin-bottom: 10px;
            .number{
              font-size: 28px;
            }
          }
          .coupon_flex{
            border: 1px solid #d8d8d8;
            @include flexSet;
            align-items: center;
            max-width: 500px;
            margin: 0 auto;
            .code_number{
              width: 100%;
              padding: 10px 20px;
              box-sizing: border-box;
              text-align: center;
            }
            .copy_paste{
              width: 100%;
              padding: 15px 0;
              text-align: center;
              font-size: 16px;
            }
            textarea{
              opacity: 0;
            }
          }
        }
      }
    }
  }
}
