.comp-linkbutton{
  margin-top: 15px;
  max-width: 280px;
  a{
    display: block;
    font-size: 14px;
    background: #f1f1f1;
    padding: 15px 10px;
    border-radius: 5px;
    max-width: 280px;
    @include hover;
    .wrap{
      display: block;
      position: relative;
      padding-left: 10px;
      padding-right: 40px;
      letter-spacing: 1px;
      color: #00381f;
    }
    .arrow{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;
      width: 24px;
      height: 10px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750746/product_list/arrow_hnk35p.png);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 24px;
    }
  }

}
