<article id="backnumber" class="page-backnumber">
		<section class="section-backnumber comp-underpage-section">
			<div class="section_inner">
				<div class="comp-section-title center no_line">
        <span class="title_en"><ls-static-164319>BACK NUMBER</ls-static-164319></span>
        <h1 class="title_ja"><ls-static-367344>ゴルフトランスポーターのアーカイブ</ls-static-367344></h1>
      </div>
      {% paginate blog.articles by 10 %}
      <div class="news_list_wrap">
        <div class="comp-movie-backnumber">
        {% for article in blog.articles %}
        <div class="movie_item">
          <div class="movie_wrap">
          <iframe src="https://www.youtube.com/embed/{{ article.content }}" frameborder="0" allowfullscreen=""></iframe>
          </div>
          <div class="title_wrap">
            <h3 class="movie_ttl">{{ article.title }}</h3>
            <p class="desc">{{ article.excerpt }}</p>
          </div>
        </div>
        <!-- movie_item -->
        {% endfor %}
      </div><!-- comp-news-list -->
      {%- if paginate.pages > 1 -%}
      <div class="comp-pagenation">
        {% include 'pagination', paginate: paginate %}
      </div>
      {%- endif -%}

      {% endpaginate %}
		</div><!-- section_inner -->
		</section>
	</article>
