{% comment %}
  <!-- フィットネスカテゴリのレイアウト -->
{% endcomment %}

<div class="comp-category-list">
	<div class="category_ttl fitness">
		<span class="en"><ls-static-69355>FITNESS</ls-static-69355></span>
		<h3 class="ja"><ls-static-500772>フィットネス用品一覧</ls-static-500772></h3>
	</div>
	<div id="catFitness" class="category_wrap">
		<div class="category_item fitness">
			<a class="img_wrap" href="/collections/rakuda" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness01_zkf9ed.jpg)"></a>
			<div class="txt_wrap">
				<a class="prod_name" href="/collections/rakuda">
          <span class="en"><ls-static-888636>RAKUDA SERIES</ls-static-888636></span>
					<span class="ja"><ls-static-19434>楽体シリーズ</ls-static-19434></span>
				</a>
				<p class="desc"><ls-static-121229>1本でストレッチと筋力アップができるフィットネスギア。</ls-static-121229></p>
				<div class="comp-link-button">
					<a class="blue" href="/collections/rakuda"><span><ls-static-152999>商品一覧を見る</ls-static-152999></span></a>
				</div>
			</div>
		</div>
		<!-- category_item -->
		<div class="category_item fitness">
			<a class="img_wrap" href="/collections/rakuda-ring" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness02_gzisq7.jpg)"></a>
			<div class="txt_wrap">
				<a class="prod_name" href="/collections/rakuda-ring">
					<span class="en"><ls-static-418857>RAKUDA RING</ls-static-418857></span>
					<span class="ja"><ls-static-828161>楽体リング</ls-static-828161></span>
				</a>
				<p class="desc"><ls-static-933554>手首につければいつでもどこでもハルメソッド</ls-static-933554></p>
				<div class="comp-link-button">
					<a class="blue" href="/collections/rakuda-ring"><span><ls-static-737400>商品一覧を見る</ls-static-737400></span></a>
				</div>
			</div>
		</div>
		<!-- category_item -->
		<div class="category_item fitness">
			<a class="img_wrap" href="/collections/power-balance" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness03_jilarq.jpg)"></a>
			<div class="txt_wrap">
				<h4>
          <a class="prod_name" href="/collections/power-balance">
            <span class="en"><ls-static-199947>POWER BALANCE</ls-static-199947></span>
						<span class="ja"><ls-static-32131>パワーバランス</ls-static-32131></span>
					</a>
				</h4>
				<p class="desc"><ls-static-892092>1日10分でインナーマッスルを強化。身体の軸が整った理想的な姿勢に。</ls-static-892092></p>
				<div class="comp-link-button">
					<a class="blue" href="/collections/power-balance"><span><ls-static-419478>商品一覧を見る</ls-static-419478></span></a>
				</div>
			</div>
		</div>
		<!-- category_item -->
		<div class="category_item fitness">
			<a class="img_wrap" href="/collections/nyoibo" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness04_ib3r1x.jpg)"></a>
			<div class="txt_wrap">
				<h4>
          <a class="prod_name" href="/collections/nyoibo">
            <span class="en"><ls-static-425472>NYOIBO</ls-static-425472></span>
            <span class="ja"><ls-static-64030>ニョイボウ</ls-static-64030></span>
					</a>
				</h4>
				<p class="desc"><ls-static-37017>遊び感覚で出来る、本格的な体幹・握力トレーニング。</ls-static-37017></p>
				<div class="comp-link-button">
					<a class="blue" href="/collections/nyoibo"><span><ls-static-28332>商品一覧を見る</ls-static-28332></span></a>
				</div>
			</div>
		</div>
		<!-- category_item -->
		<div class="category_item fitness">
			<a class="img_wrap" href="/collections/dvd" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness05_tlagqw.jpg)"></a>
			<div class="txt_wrap">
				<h4>
          <a class="prod_name" href="/collections/dvd">
            <span class="en"><ls-static-364104>INSTRUCTION DVD</ls-static-364104></span>
            <span class="ja"><ls-static-294547>教材DVDなど</ls-static-294547></span>
          </a>
				</h4>
				<p class="desc"><ls-static-557124>フィットネス用品の使用方法などについてのDVD教材</ls-static-557124></p>
				<div class="comp-link-button">
					<a class="blue" href="/collections/dvd"><span><ls-static-15129>商品一覧を見る</ls-static-15129></span></a>
				</div>
			</div>
		</div>
		<!-- category_item -->
		<div class="category_item fitness">
			<a class="img_wrap" href="/collections/fitness-others" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness06_danq5d.jpg)"></a>
			<div class="txt_wrap">
				<h4>
					<a class="prod_name" href="/collections/fitness-others">
						<span class="en"><ls-static-640110>OTHERS</ls-static-640110></span>
						<span class="ja"><ls-static-248934>その他の商品</ls-static-248934></span>
					</a>
				</h4>
				<p class="desc"><ls-static-991571>フィットネス関連書籍・スリムフィッターなど。</ls-static-991571></p>
				<div class="comp-link-button">
					<a class="blue" href="/collections/fitness-others"><span><ls-static-358506>商品一覧を見る</ls-static-358506></span></a>
				</div>
			</div>
		</div>
		<!-- category_item -->
	</div>
</div>
