{% comment %}
  <!-- ゴルフカテゴリのレイアウト -->
{% endcomment %}

<div class="comp-category-list">
  <div class="category_ttl golf">
    <span class="en"><ls-static-807766>GOLF</ls-static-807766></span>
    <h3 class="ja"><ls-static-818670>ゴルフグッズ一覧</ls-static-818670></h3>
  </div>
  <div class="category_wrap">
    <div class="category_item golf">
      <a class="img_wrap" href="/collections/driver" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf01_gb0jd0.jpg)"></a>
      <div class="txt_wrap">
        <a class="prod_name" href="/collections/driver">
          <span class="en"><ls-static-795160>DRIVER</ls-static-795160></span>
          <span class="ja"><ls-static-796639>ファラオドライバー</ls-static-796639></span>
        </a>
        <p class="desc"><ls-static-281502>日本人の体格に合わせて設計された、「しなるけど捻じれない」クラブ。</ls-static-281502></p>
        <div class="comp-link-button">
          <a class="green" href="/collections/driver"><span><ls-static-929502>商品一覧を見る</ls-static-929502></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/collections/steel-iron" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf02_rn2okb.jpg)"></a>
      <div class="txt_wrap">
        <a class="prod_name" href="/collections/steel-iron">
          <span class="en"><ls-static-240662>STEEL IRON</ls-static-240662></span>
          <span class="ja small"><ls-static-928834>アイアン(スチールシャフト)</ls-static-928834></span>
        </a>
        <p class="desc"><ls-static-40894>世界最軽量のスチールシャフト使用のアイアン</ls-static-40894></p>
        <div class="comp-link-button">
          <a class="green" href="/collections/steel-iron"><span><ls-static-604542>商品一覧を見る</ls-static-604542></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/collections/carbon-iron" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf03_jtyffi.jpg)"></a>
      <div class="txt_wrap">
        <a class="prod_name" href="/collections/carbon-iron">
          <span class="en"><ls-static-96797>CARBON IRON</ls-static-96797></span>
          <span class="ja small"><ls-static-470633>アイアン(カーボンシャフト)</ls-static-470633></span>
        </a>
        <p class="desc"><ls-static-770465>「しなるのにねじれない」カーボンシャフトのアイアン登場。</ls-static-770465></p>
        <div class="comp-link-button">
          <a class="green" href="/collections/carbon-iron"><span><ls-static-426917>商品一覧を見る</ls-static-426917></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/products/pharaoh-fw" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf05_tkymmj.jpg)"></a>
      <div class="txt_wrap">
        <h4>
          <a class="prod_name" href="/products/pharaoh-fw">
            <span class="en"><ls-static-995947>FAIRWAY WOOD</ls-static-995947></span>
            <span class="ja"><ls-static-940786>フェアウェイウッド</ls-static-940786></span>
          </a>
        </h4>
        <p class="desc"><ls-static-145793>シャフトで生み出したパワーのロスを減らし、高い飛距離性能を実現。</ls-static-145793></p>
        <div class="comp-link-button">
          <a class="green" href="/products/pharaoh-fw"><span><ls-static-962989>商品一覧を見る</ls-static-962989></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/products/pharaoh-ut" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf04_ppw2ic.jpg)"></a>
      <div class="txt_wrap">
        <h4>
          <a class="prod_name" href="/products/pharaoh-ut">
            <span class="en"><ls-static-914317>UTILITY</ls-static-914317></span>
            <span class="ja"><ls-static-177020>ユーティリティー</ls-static-177020></span>
          </a>
        </h4>
        <p class="desc"><ls-static-923834>ミドルアイアンショットのような感覚で振り切れる。</ls-static-923834></p>
        <div class="comp-link-button">
          <a class="green" href="/products/pharaoh-ut"><span><ls-static-719426>商品一覧を見る</ls-static-719426></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/collections/shaft" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf06_np3hbg.jpg)"></a>
      <div class="txt_wrap">
        <h4>
          <a class="prod_name" href="/collections/shaft">
            <span class="en"><ls-static-504525>SHAFT</ls-static-504525></span>
            <span class="ja"><ls-static-346029>シャフト(部品売り)</ls-static-346029></span>
          </a>
        </h4>
        <p class="desc"><ls-static-492155>「しなるけど捻じれない」ファラオシリーズのシャフトパーツ。</ls-static-492155></p>
        <div class="comp-link-button">
          <a class="green" href="/collections/shaft"><span><ls-static-722304>商品一覧を見る</ls-static-722304></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/products/gotenba-patter" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf07_bh4fcg.jpg)"></a>
      <div class="txt_wrap">
        <h4>
          <a class="prod_name" href="/products/gotenba-patter">
            <span class="en"><ls-static-49863>GOTENBA PATTER</ls-static-49863></span>
            <span class="ja"><ls-static-355923>ゴテンバパター</ls-static-355923></span>
          </a>
        </h4>
        <p class="desc"><ls-static-818279>直進性能が信頼感とタッチの感性を磨くパター。</ls-static-818279></p>
        <div class="comp-link-button">
          <a class="green" href="/products/gotenba-patter"><span><ls-static-358118>商品一覧を見る</ls-static-358118></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/collections/golf-ball" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf08_jzzmpu.jpg)"></a>
      <div class="txt_wrap">
        <h4>
          <a class="prod_name" href="/collections/golf-ball">
            <span class="en"><ls-static-113821>GOLF BALL</ls-static-113821></span>
            <span class="ja"><ls-static-415080>ゴルフボール</ls-static-415080></span>
          </a>
        </h4>
        <p class="desc"><ls-static-699839>+αソフトコアを採用。ボールが潰れやすく無駄なスピンを抑えます。</ls-static-699839></p>
        <div class="comp-link-button">
          <a class="green" href="/collections/golf-ball"><span><ls-static-68145>商品一覧を見る</ls-static-68145></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
    <div class="category_item golf">
      <a class="img_wrap" href="/collections/accessories" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf09_pxu0m3.jpg)"></a>
      <div class="txt_wrap">
        <h4>
          <a class="prod_name" href="/collections/accessories">
            <span class="en"><ls-static-425032>ACCESSORIES</ls-static-425032></span>
            <span class="ja"><ls-static-983115>アクセサリー</ls-static-983115></span>
          </a>
        </h4>
        <p class="desc"><ls-static-584749>キャディーバッグ・ヘッドカバーなどのゴルフアクセサリー</ls-static-584749></p>
        <div class="comp-link-button">
          <a class="green" href="/collections/accessories"><span><ls-static-907924>商品一覧を見る</ls-static-907924></span></a>
        </div>
      </div>
    </div>
    <!-- category_item -->
  </div>
