<article id="itemCategory" class="page-item-category fitness">
<section class="section-main comp-underpage-main fitness">
  <div class="img_wrap" style="background-image: url(assets/img/itemList/powerBalance/main.jpg)"></div>
  <div class="txt_wrap">
    <div class="txt_inner">
      <div class="title_wrap">
        <span class="title_en"><ls-static-308726>POWER BALANCE</ls-static-308726></span>
        <h1 class="title_ja"><ls-static-90779>パワーバランス</ls-static-90779></h1>
      </div>
      <div class="desc_wrap">
        <h2 class="desc_ttl"><ls-static-632739>1日わずか10分でインナーマッスルを強化。戦える体に。</ls-static-632739></h2>
        <p class="desc"><ls-static-342044>左右対称の動きをリズミカルに繰り返し行うことで、軸の整った理想的な姿勢を獲得。ゴルフ・野球・テニスなどスイング運動の強化のためのトレーニングを自宅の部屋など室内などでも気軽に行えるフィットネスギアです。</ls-static-342044></p>
      </div>
    </div>
  </div><!-- txt_wrap -->
</section>
<section class="section-feature">
  <div class="section_inner">
    <div class="comp-section-title center no_line">
      <span class="title_en"><ls-static-433040>FEATURES</ls-static-433040></span>
      <h2 class="title_ja"><ls-static-350477>商品の特徴</ls-static-350477></h2>
    </div>
    <div class="comp-category-feature">
      <div class="feature_item">
        <div class="desc_flex">
          <div class="img_wrap">
            <img src="assets/img/itemList/powerBalance/image_01.jpg">
          </div>
          <div class="txt_wrap">
            <div class="comp-decoration-title blue">
              <span class="title_en"><ls-static-994028>HOW TO USE</ls-static-994028></span>
              <h3 class="title_ja"><ls-static-271800>器具の使い方</ls-static-271800></h3>
            </div>
            <h4 class="sub_title"><ls-static-642666>左右対称の動きをリズミカルに行い、軸を意識したスイングの姿勢を習得します。</ls-static-642666></h4>
            <p class="desc"><ls-static-992293>左右対称の動きをリズミカルに繰り返し行うことで、軸の整った理想的な姿勢を得ることができます。体全体の筋肉のバランスを整え、軸と重心を強化して姿勢を正しく整えることができる運動補助器具です。</ls-static-992293></p>
          </div>
        </div>
        <div class="comp-toggle-contents">
          <div class="toggle_item">
            <button class="red"><span><ls-static-26112>パワーバランスの使用法</ls-static-26112></span></button>
            <div class="toggle_contents">
              <div class="howto_use">
                <div class="howto_left">
                  <div class="howto_item">
                    <div class="img_wrap">
                      <img src="assets/img/itemList/powerBalance/use01.jpg">
                    </div>
                    <p class="desc"><ls-static-39369>写真のように、両手を使ってパワーバランスのハンドル部分を握ります。</ls-static-39369></p>
                  </div><!-- howto_item -->
                  <div class="howto_item">
                    <div class="img_wrap">
                      <img src="assets/img/itemList/powerBalance/use02.jpg">
                    </div>
                    <p class="desc"><ls-static-274685>肩幅程度に足を開き、腕全体を柔らかく使いパワーバランスを左右に大きく振ります。</ls-static-274685></p>
                  </div><!-- howto_item -->
                </div>
                <div class="howto_right">
                  <div class="comp-decoration-title red">
                    <span class="title_en"><ls-static-933388>POINTS</ls-static-933388></span>
                    <h3 class="title_ja"><ls-static-411319>運動のポイント</ls-static-411319></h3>
                  </div>
                  <div class="comp-suggest-list">
                    <div class="suggest_item red">
                      <span><ls-static-883564>腕だけを使うのではなく、肩甲骨も動かすようにする。</ls-static-883564></span>
                    </div>
                    <div class="suggest_item red">
                      <span><ls-static-414530>かかとが出来るだけ離れないようにする</ls-static-414530></span>
                    </div>
                    <div class="suggest_item red">
                      <span><ls-static-565002>体の正中線をしっかりと意識し左右対称に振る</ls-static-565002></span>
                    </div>
                    <div class="suggest_item red">
                      <span><ls-static-596435>顔は正面を向き、頭は動かさない</ls-static-596435></span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- toggle_contents -->
          </div><!-- toggle_item -->
        </div><!-- comp-toggle-contents -->
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="desc_flex reverse">
          <div class="img_wrap">
            <img src="assets/img/itemList/powerBalance/image_02.jpg">
          </div>
          <div class="txt_wrap">
            <div class="comp-decoration-title blue">
              <span class="title_en"><ls-static-429654>EFFECTS</ls-static-429654></span>
              <h3 class="title_ja"><ls-static-880518>効果・効能</ls-static-880518></h3>
            </div>
            <h4 class="sub_title"><ls-static-170663>ゴルフを始め、野球・テニスなどで効率的なスイング動作が身につきます。</ls-static-170663></h4>
            <p class="desc"><ls-static-208819>左右対称の動きをリズミカルに繰り返し行うことで、軸の整った理想的な姿勢を得ることができます。体全体の筋肉のバランスを整え、軸と重心を強化して姿勢を正しく整えることができる運動補助器具です。</ls-static-208819></p>
          </div>
        </div>
        <div class="comp-toggle-contents">
          <div class="toggle_item">
            <button class="yellow"><span><ls-static-478291>パワーバランスの効果・効能</ls-static-478291></span></button>
            <div class="toggle_contents">
              <div class="effect_list">
                <div class="effect_item">
                  <h4 class="title"><ls-static-153200>ヘッドスピードの向上</ls-static-153200></h4>
                  <p class="desc"><ls-static-256248>軸がまっすぐになることで体の回転が早くなり、ヘッドスピードが上がります。</ls-static-256248></p>
                </div>
                <div class="effect_item">
                  <h4 class="title"><ls-static-87376>スイング安定の実現</ls-static-87376></h4>
                  <p class="desc"><ls-static-901890>止まっているボールに対して、きちんとあたらない、もしくは当たる時と当たらない時があるのはいつも同じスイングが出来ていないということ。体の軸がまっすぐになると、体の軸が安定し、スイングの再現性が上がるためミート率も上がります。</ls-static-901890></p>
                </div>
                <div class="effect_item">
                  <h4 class="title"><ls-static-686187>効率的な日常運動の実現</ls-static-686187></h4>
                  <p class="desc"><ls-static-212159>私たちが日常的に行える姿勢を改善する方法として歩行が有効ですが、体がほぐれ姿勢がよくなるまでに約4時間かかると言われています。パワーバランス運動では10分程度で歩行運動と同等以上の効果が期待できます。</ls-static-212159></p>
                </div>
                <div class="effect_item">
                  <h4 class="title"><ls-static-291116>インナーマッスルの強化</ls-static-291116></h4>
                  <p class="desc"><ls-static-192574>姿勢を保持する為の石柱立禁などのインナーマッスルも効果的に強化することができます。</ls-static-192574></p>
                </div>
              </div>
            </div>
          </div><!-- toggle_item -->
        </div><!-- comp-toggle-contents -->
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="desc_flex">
          <div class="img_wrap">
            <img src="assets/img/itemList/powerBalance/image_03.jpg">
          </div>
          <div class="txt_wrap">
            <div class="comp-decoration-title blue">
              <span class="title_en"><ls-static-919645>HAL METHOD</ls-static-919645></span>
              <h3 class="title_ja"><ls-static-488270>ハルメソッドに基づいた設計</ls-static-488270></h3>
            </div>
            <h4 class="sub_title"><ls-static-595160>HAL METHODに基づく設計により、重心移動の美しい、効率的なスイングを実現。</ls-static-595160></h4>
            <p class="desc"><ls-static-562542>左右対称の動きをリズミカルに繰り返し行うことで、軸の整った理想的な姿勢を得ることができます。体全体の筋肉のバランスを整え、軸と重心を強化して姿勢を正しく整えることができる運動補助器具です。</ls-static-562542></p>
          </div>
        </div>
      </div><!-- feature_item -->
    </div><!-- comp-category-feature -->
  </div><!-- section_inner -->
</section>
<section class="section-products">
  <div class="section_inner">
    <div class="comp-section-title center no_line">
      <span class="title_en"><ls-static-347214>PRODUCT LIST</ls-static-347214></span>
      <h2 class="title_ja"><ls-static-213554>商品一覧</ls-static-213554></h2>
    </div>
    <div class="comp-product-list">
      <div class="product_item">
        <div class="product_left">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/itemList/powerBalance/pw_wachi.jpg)"></a>
          <div class="product_name">
            <a href="#aaaa"><ls-static-545774>パワーバランス ワチ</ls-static-545774></a>
            <span class="price"><ls-static-722362>5,500円(税抜)</ls-static-722362></span>
          </div>
        </div>
        <div class="product_right">
          <p class="desc"><ls-static-262847>長さ・重さのバランスがよく振りやすいスタンダードタイプ</ls-static-262847></p>
          <div class="comp-suggest-list">
            <div class="suggest_item">
              <span><ls-static-901710>はじめてお使いになる人</ls-static-901710></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-761037>これから運動をはじめる方</ls-static-761037></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-918597>握力に自信のない女性の人</ls-static-918597></span>
            </div>
          </div>
          <div class="comp-cart-button">
            <button>
              <span><ls-static-200520>カートに入れる</ls-static-200520></span>
            </button>
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="product_left">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/itemList/powerBalance/pw_michi.jpg)"></a>
          <div class="product_name">
            <a href="#aaaa"><ls-static-665141>パワーバランス ミチ</ls-static-665141></a>
            <span class="price"><ls-static-566488>5,500円(税抜)</ls-static-566488></span>
          </div>
        </div>
        <div class="product_right">
          <p class="desc"><ls-static-618615>短めサイズのパワーバランス。スピードのあるスイング獲得ができます。子供にも。</ls-static-618615></p>
          <div class="comp-suggest-list">
            <div class="suggest_item">
              <span><ls-static-271666>アスリート</ls-static-271666></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-882348>普段から運動をしている人</ls-static-882348></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-308318>こども</ls-static-308318></span>
            </div>
          </div>
          <div class="comp-cart-button">
            <button>
              <span><ls-static-586134>カートに入れる</ls-static-586134></span>
            </button>
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="product_left">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/itemList/powerBalance/pw_pro.jpg)"></a>
          <div class="product_name">
            <a href="#aaaa"><ls-static-978735>パワーバランス プロ</ls-static-978735></a>
            <span class="price"><ls-static-178970>5,500円(税抜)</ls-static-178970></span>
          </div>
        </div>
        <div class="product_right">
          <p class="desc"><ls-static-583752>野球を始めとするスイング強化トレーニングに最適。運動能力向上に</ls-static-583752></p>
          <div class="comp-suggest-list">
            <div class="suggest_item">
              <span><ls-static-272201>アスリート</ls-static-272201></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-88945>スイング強化を重点的に行いたい人</ls-static-88945></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-103469>普段から運動をしている人</ls-static-103469></span>
            </div>
          </div>
          <div class="comp-cart-button">
            <button>
              <span><ls-static-255666>カートに入れる</ls-static-255666></span>
            </button>
          </div>
        </div>
      </div>
      <div class="product_item">
        <div class="product_left">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/itemList/powerBalance/pw_pharaoh.jpg)"></a>
          <div class="product_name">
            <a href="#aaaa"><ls-static-31734>パワーバランス ファラオ</ls-static-31734></a>
            <span class="price"><ls-static-731979>5,500円(税抜)</ls-static-731979></span>
          </div>
        </div>
        <div class="product_right">
          <p class="desc"><ls-static-486517>プロ野球の現場でも採用されている、スイングスポーツの強化に適したタイプです。</ls-static-486517></p>
          <div class="comp-suggest-list">
            <div class="suggest_item">
              <span><ls-static-901797>アスリート</ls-static-901797></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-739795>スイング強化を重点的に行いたい人</ls-static-739795></span>
            </div>
            <div class="suggest_item">
              <span><ls-static-97263>普段から運動をしている人</ls-static-97263></span>
            </div>
          </div>
          <div class="comp-cart-button">
            <button>
              <span><ls-static-735523>カートに入れる</ls-static-735523></span>
            </button>
          </div>
        </div>
      </div>
    </div><!-- comp-product-list -->
  </div><!-- section_inner -->
</section>
<section class="section-faq comp-faq-section white_bg">
  <div class="section_inner">
    <div class="comp-section-title red no_line">
      <span class="title_en"><ls-static-461384>FAQ</ls-static-461384></span>
      <h2 class="title_ja"><ls-static-635086>パワーバランスに関するよくある質問</ls-static-635086></h2>
    </div>
    <div id="faqWrap" class="comp-qa">
      <div class="qa_item">
        <button class="qa_button">
          <span><ls-static-230613>タイプごとに効果の違いはありますか？</ls-static-230613></span>
        </button>
        <div class="qa_contents">
          <p><ls-static-105160>プロは筋力アップに、ワチは初めての方に、ミチはより体の使い方のトレーニングに向いています。</ls-static-105160></p>
        </div>
      </div>
      <div class="qa_item">
        <button class="qa_button">
          <span><ls-static-503038>パワーバランス・ワチは何歳から使えますか？</ls-static-503038></span>
        </button>
        <div class="qa_contents">
          <p><ls-static-381951>個人差はございますが、およそ5歳ぐらいからご利用いただけます。</ls-static-381951></p>
        </div>
      </div>
      <div class="qa_item">
        <button class="qa_button">
          <span><ls-static-560756>自宅でも使用できますか？</ls-static-560756></span>
        </button>
        <div class="qa_contents">
          <p><ls-static-229874>お風呂場や水場は避けて頂き、長さをご確認の上ご使用ください。</ls-static-229874></p>
        </div>
      </div>
      <div class="qa_item">
        <button class="qa_button">
          <span><ls-static-632184>パワーバランスの先端が体にあたる</ls-static-632184></span>
        </button>
        <div class="qa_contents">
          <p><ls-static-649696>体が捻転出来ず手振りになっていたり、体に巻きつく際に肘が伸びきっていると先が当たりやすくなります。体を左右に捻ることを意識し、肘を柔らかく使うと当たりづらくなります。腕と体を動かすタイミングを合わせることが大切です。</ls-static-649696></p>
        </div>
      </div>
    </div>
    <!-- comp-qa -->
    <p class="faq_desc"><ls-static-281659>※その他商品や配送などに関するFAQは</ls-static-281659><span><a href="#aaaa"><ls-static-668616>こちら</ls-static-668616></a><ls-static-123298>をご参照ください。</ls-static-123298></span></p>
  </div>
  <!-- section_inner -->
</section>
<section class="section-category">
  <div class="section_inner">
    <div class="comp-category-list">
      <div class="category_ttl fitness">
        <span class="en"><ls-static-280373>FITNESS</ls-static-280373></span>
        <h3 class="ja"><ls-static-727100>フィットネス用品一覧</ls-static-727100></h3>
      </div>
      <div id="catFitness" class="category_wrap">
        <div class="category_item fitness">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/category/fitness01.jpg)"></a>
          <div class="txt_wrap">
            <a class="prod_name" href="#aaaa">
              <span class="en"><ls-static-277992>RAKUDA SERIES</ls-static-277992></span>
              <span class="ja"><ls-static-153762>楽体シリーズ</ls-static-153762></span>
            </a>
            <p class="desc"><ls-static-741536>姿勢から作る、肩こり・腰痛知らずの楽な身体。</ls-static-741536></p>
            <div class="comp-link-button">
              <a class="blue" href="#aaaa"><span><ls-static-824980>商品一覧を見る</ls-static-824980></span></a>
            </div>
          </div>
        </div>
        <!-- category_item -->
        <div class="category_item fitness">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/category/fitness02.jpg)"></a>
          <div class="txt_wrap">
            <a class="prod_name" href="#aaaa">
              <span class="en"><ls-static-213637>RAKUDA RING</ls-static-213637></span>
              <span class="ja"><ls-static-692739>楽体リング</ls-static-692739></span>
            </a>
            <p class="desc"><ls-static-927141>姿勢から作る、肩こり・腰痛知らずの楽な身体。</ls-static-927141></p>
            <div class="comp-link-button">
              <a class="blue" href="#aaaa"><span><ls-static-26037>商品一覧を見る</ls-static-26037></span></a>
            </div>
          </div>
        </div>
        <!-- category_item -->
        <div class="category_item fitness">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/category/fitness03.jpg)"></a>
          <div class="txt_wrap">
            <h4>
              <a class="prod_name" href="#aaaa">
                <span class="en"><ls-static-105766>POWER BALANCE</ls-static-105766></span>
                <span class="ja"><ls-static-785514>パワーバランス</ls-static-785514></span>
              </a>
            </h4>
            <p class="desc"><ls-static-166283>姿勢から作る、肩こり・腰痛知らずの楽な身体。</ls-static-166283></p>
            <div class="comp-link-button">
              <a class="blue" href="#aaaa"><span><ls-static-199408>商品一覧を見る</ls-static-199408></span></a>
            </div>
          </div>
        </div>
        <!-- category_item -->
        <div class="category_item fitness">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/category/fitness04.jpg)"></a>
          <div class="txt_wrap">
            <h4>
              <a class="prod_name" href="#aaaa">
                <span class="en"><ls-static-816702>NYOIBOU</ls-static-816702></span>
                <span class="ja"><ls-static-951359>ニョイボウ</ls-static-951359></span>
              </a>
            </h4>
            <p class="desc"><ls-static-704966>姿勢から作る、肩こり・腰痛知らずの楽な身体。</ls-static-704966></p>
            <div class="comp-link-button">
              <a class="blue" href="#aaaa"><span><ls-static-380923>商品一覧を見る</ls-static-380923></span></a>
            </div>
          </div>
        </div>
        <!-- category_item -->
        <div class="category_item fitness">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/category/fitness05.jpg)"></a>
          <div class="txt_wrap">
            <h4>
              <a class="prod_name" href="#aaaa">
                <span class="en"><ls-static-449306>INSTRUCTION DVD</ls-static-449306></span>
                <span class="ja"><ls-static-71613>教材DVDなど</ls-static-71613></span>
              </a>
            </h4>
            <p class="desc"><ls-static-603555>フィットネス用品の使用方法などについてのDVD教材</ls-static-603555></p>
            <div class="comp-link-button">
              <a class="blue" href="#aaaa"><span><ls-static-598453>商品一覧を見る</ls-static-598453></span></a>
            </div>
          </div>
        </div>
        <!-- category_item -->
        <div class="category_item fitness">
          <a class="img_wrap" href="#aaaa" style="background-image: url(assets/img/category/fitness06.jpg)"></a>
          <div class="txt_wrap">
            <h4>
              <a class="prod_name" href="#aaaa">
                <span class="en"><ls-static-150222>OTHERS</ls-static-150222></span>
                <span class="ja"><ls-static-907173>その他の商品</ls-static-907173></span>
              </a>
            </h4>
            <p class="desc"><ls-static-231742>フィットネス用品の使用方法などについてのDVD教材</ls-static-231742></p>
            <div class="comp-link-button">
              <a class="blue" href="#aaaa"><span><ls-static-818829>商品一覧を見る</ls-static-818829></span></a>
            </div>
          </div>
        </div>
        <!-- category_item -->
      </div>
    </div>
    <!-- comp-category-list -->
  </div>
  <!-- section_inner -->
</section>
</article>
