<section class="section-product-pharaoh">
			<div class="section_inner">
				<div class="comp-section-title white center no_line">
					<span class="title_en"><ls-static-307495>PRODUCT LIST</ls-static-307495></span>
					<h2 class="title_ja"><ls-static-124278>商品一覧</ls-static-124278></h2>
				</div>
				<div class="comp-product-list-pharaoh">
					<div class="list_item">
						<div class="list_left">
							<a href="/products/pharaoh-jp" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/product_img01_ppfqqi.jpg);"></a>
						</div>
						<div class="list_center">
							<div class="prod_name">
								<h3 class="name"><ls-static-145435>ファラオJP</ls-static-145435></h3>
								<span class="price"><ls-static-275648>適合:79,800円(税抜) / 高反発モデル: 99,800円(税抜)</ls-static-275648></span>
							</div>
							<div class="variation_list">
								<span class="normal">10°</span>
								<span class="normal">11.5°</span>
								<span class="normal"><ls-static-528746>10°高反発</ls-static-528746></span>
								<span class="hyper"><ls-static-830375>11.5°高反発</ls-static-830375></span>
							</div>
							<p class="prod_desc"><ls-static-277917>まるで高反発クラブような強く弾ける初速の速さと操作性を兼ね備えたドライバー</ls-static-277917></p>
							<div class="link_button">
								<div class="flex_wrap">
									<div class="flex_item">
										<a class="normal" href="/products/pharaoh-jp"><span><ls-static-739289>適合モデル</ls-static-739289></span></a>
									</div>
									<div class="flex_item">
										<a class="hyper" href="/products/pharaoh-jp-hyper"><span><ls-static-499067>高反発モデル</ls-static-499067></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="list_right">
							<div class="detail_ttl">
								<span class="ttl_ja"><ls-static-482555>基本仕様</ls-static-482555></span>
								<span class="ttl_en"><ls-static-461018>SPECIFICATION</ls-static-461018></span>
							</div>
							<div class="detail_spec">
								<div class="spec_item">
									<span class="title"><ls-static-536765>長さ</ls-static-536765></span>
									<span class="content"><ls-static-697058>45.0インチ</ls-static-697058></span>
								</div>
								<div class="spec_item">
									<span class="title"><ls-static-546688>重さ</ls-static-546688></span>
									<span class="content">284g(±2g) / 277g(±2g)</span>
								</div>
							</div>
							<div class="suggest_list">
								<span class="title"><ls-static-821584>下記に該当する方におすすめです！</ls-static-821584></span>
								<div class="list">
									<span class="type"><ls-static-380087>ロフト角10°</ls-static-380087></span>
									<span class="content"><ls-static-727248>操作性に優れたオーソドックスタイプ</ls-static-727248></span>
								</div>
								<div class="list">
									<span class="type"><ls-static-679061>ロフト角11.5°</ls-static-679061></span>
									<span class="content"><ls-static-928495>高さと操作性を兼ね備えた優しいクラブ</ls-static-928495></span>
								</div>
							</div>
						</div>
					</div><!-- list_item -->
					<div class="list_item">
						<div class="list_left">
							<a href="/products/pharaoh-sf-x" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/product_img02_dwb4tb.jpg);"></a>
						</div>
						<div class="list_center">
							<div class="prod_name">
								<h3 class="name"><ls-static-410579>ファラオSF−X</ls-static-410579></h3>
								<span class="price"><ls-static-700059>69,800円 (税抜)</ls-static-700059></span>
							</div>
							<div class="variation_list">
								<span class="normal">10°</span>
								<span class="normal">12.5°</span>
							</div>
							<p class="prod_desc"><ls-static-509931>遠くに、正確に飛ばせることを追求した新感覚のドライバー。</ls-static-509931></p>
							<div class="link_button">
								<a class="normal" href="/products/pharaoh-sf-x"><span><ls-static-647700>適合モデル</ls-static-647700></span></a>
							</div>
						</div>
						<div class="list_right">
							<div class="detail_ttl">
								<span class="ttl_ja"><ls-static-99811>基本仕様</ls-static-99811></span>
								<span class="ttl_en"><ls-static-674572>SPECIFICATION</ls-static-674572></span>
							</div>
							<div class="detail_spec">
								<div class="spec_item">
									<span class="title"><ls-static-590964>長さ</ls-static-590964></span>
									<span class="content"><ls-static-966465>45.5インチ</ls-static-966465></span>
								</div>
								<div class="spec_item">
									<span class="title"><ls-static-115385>重さ</ls-static-115385></span>
									<span class="content">309g(10.0°) / 301g (12.5°)</span>
								</div>
							</div>
							<div class="suggest_list">
								<span class="title"><ls-static-10066>下記に該当する方におすすめです！</ls-static-10066></span>
								<div class="list">
									<span class="type"><ls-static-196951>ロフト角10°</ls-static-196951></span>
									<span class="content"><ls-static-488341>ヘッドスピード43以上のパワーヒッター</ls-static-488341></span>
								</div>
								<div class="list">
									<span class="type"><ls-static-866473>ロフト角12.5°</ls-static-866473></span>
									<span class="content"><ls-static-587064>抜群の打感と操作性、さらに高さも求める方</ls-static-587064></span>
								</div>
							</div>
						</div>
					</div><!-- list_item -->
					<div class="list_item">
						<div class="list_left">
							<a href="/products/pharaoh2" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/product_img03_fpt297.jpg);"></a>
						</div>
						<div class="list_center">
							<div class="prod_name">
								<h3 class="name"><ls-static-119174>ファラオ2</ls-static-119174></h3>
								<span class="price"><ls-static-677931>69,800円 (税抜)</ls-static-677931></span>
							</div>
							<div class="variation_list">
								<span class="normal">10°</span>
								<span class="normal">11.5°</span>
							</div>
							<p class="prod_desc"><ls-static-115845>FSXの飛びを継承し、より簡単に遠くへを両立させたハイパフォーマンスドライバー</ls-static-115845></p>
							<div class="link_button">
								<a class="normal" href="/products/pharaoh2"><span><ls-static-532275>適合モデル</ls-static-532275></span></a>
							</div>
						</div>
						<div class="list_right">
							<div class="detail_ttl">
								<span class="ttl_ja"><ls-static-495309>基本仕様</ls-static-495309></span>
								<span class="ttl_en"><ls-static-372325>SPECIFICATION</ls-static-372325></span>
							</div>
							<div class="detail_spec">
								<div class="spec_item">
									<span class="title"><ls-static-379860>長さ</ls-static-379860></span>
									<span class="content"><ls-static-636903>45.5インチ</ls-static-636903></span>
								</div>
								<div class="spec_item">
									<span class="title"><ls-static-477943>重さ</ls-static-477943></span>
									<span class="content">309g(10.0°) / 301g (12.5°)</span>
								</div>
							</div>
							<div class="suggest_list">
								<span class="title"><ls-static-888473>下記に該当する方におすすめです！</ls-static-888473></span>
								<div class="list">
									<span class="type"><ls-static-84267>ロフト角10°</ls-static-84267></span>
									<span class="content"><ls-static-302376>抜群の打感と操作性を求める方</ls-static-302376></span>
								</div>
								<div class="list">
									<span class="type"><ls-static-574282>ロフト角11.5°</ls-static-574282></span>
									<span class="content"><ls-static-607390>抜群の打感と操作性、さらに高さも求める方</ls-static-607390></span>
								</div>
							</div>
						</div>
					</div><!-- list_item -->
					<div class="list_item">
						<div class="list_left">
							<a href="/products/pharaoh-alpha" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/product_img04_mlfgrz.jpg);"></a>
						</div>
						<div class="list_center">
							<div class="prod_name">
								<h3 class="name"><ls-static-242774>ファラオα</ls-static-242774></h3>
								<span class="price"><ls-static-272577>79,800円 (税抜)</ls-static-272577></span>
							</div>
							<div class="variation_list">
								<span class="normal">10°</span>
								<span class="normal">11.5°</span>
								<span class="normal">12°</span>
								<span class="hyper"><ls-static-287779>12°高反発</ls-static-287779></span>
							</div>
							<p class="prod_desc"><ls-static-128458>最高のシャフトと、高く遠くへ飛ばせるルール適合内ぎりぎりの高反発フェースのマッチング。</ls-static-128458></p>
							<div class="link_button">
								<div class="flex_wrap">
									<div class="flex_item">
										<a class="normal" href="/products/pharaoh-alpha"><span><ls-static-473889>適合モデル</ls-static-473889></span></a>
									</div>
									<div class="flex_item">
										<a class="hyper" href="/products/pharaoh-alpha-hyper"><span><ls-static-695190>高反発モデル</ls-static-695190></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="list_right">
							<div class="detail_ttl">
								<span class="ttl_ja"><ls-static-225556>基本仕様</ls-static-225556></span>
								<span class="ttl_en"><ls-static-419096>SPECIFICATION</ls-static-419096></span>
							</div>
							<div class="detail_spec">
								<div class="spec_item">
									<span class="title"><ls-static-545959>長さ</ls-static-545959></span>
									<span class="content"><ls-static-305347>45.5インチ</ls-static-305347></span>
								</div>
								<div class="spec_item">
									<span class="title"><ls-static-256911>重さ</ls-static-256911></span>
									<span class="content">269g (10.0°) / 267g (11.5°)</span>
								</div>
							</div>
							<div class="suggest_list">
								<span class="title"><ls-static-895003>下記に該当する方におすすめです！</ls-static-895003></span>
								<div class="list">
									<span class="type"><ls-static-634440>ロフト角10°</ls-static-634440></span>
									<span class="content"><ls-static-51941>ヘッドスピードがあり、競技志向の方</ls-static-51941></span>
								</div>
								<div class="list">
									<span class="type"><ls-static-358033>ロフト角12°</ls-static-358033></span>
									<span class="content"><ls-static-725684>競技志向で200ヤード以上飛ばしたい方</ls-static-725684></span>
								</div>
							</div>
						</div>
					</div><!-- list_item -->
					<div class="list_item">
						<div class="list_left">
							<a href="/products/pharaoh-cleopatra-hyper" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/product_img05_ejilnx.jpg);"></a>
						</div>
						<div class="list_center">
							<div class="prod_name">
								<h3 class="name"><ls-static-896183>ファラオ クレオパトラ</ls-static-896183></h3>
								<span class="price"><ls-static-893777>89,800円(税抜)</ls-static-893777></span>
							</div>
							<div class="variation_list">
								<span class="hyper"><ls-static-457363>12°高反発</ls-static-457363></span>
							</div>
							<p class="prod_desc"><ls-static-36313>女性でもヘッドスピードが出るよう、シャフトを細くして「しなり」を感じやすく。</ls-static-36313></p>
							<div class="link_button">
								<a class="hyper" href="/products/pharaoh-cleopatra-hyper"><span><ls-static-269186>高反発モデル</ls-static-269186></span></a>
							</div>
						</div>
						<div class="list_right">
							<div class="detail_ttl">
								<span class="ttl_ja"><ls-static-801832>基本仕様</ls-static-801832></span>
								<span class="ttl_en"><ls-static-3354>SPECIFICATION</ls-static-3354></span>
							</div>
							<div class="detail_spec">
								<div class="spec_item">
									<span class="title"><ls-static-577576>長さ</ls-static-577576></span>
									<span class="content"><ls-static-537285>44.5インチ</ls-static-537285></span>
								</div>
								<div class="spec_item">
									<span class="title"><ls-static-636229>重さ</ls-static-636229></span>
									<span class="content">268g</span>
								</div>
							</div>
							<div class="suggest_list">
								<span class="title"><ls-static-20478>下記に該当する方におすすめです！</ls-static-20478></span>
								<div class="list">
									<span class="type"><ls-static-77096>共通</ls-static-77096></span>
									<span class="content"><ls-static-117206>ヘッドスピ―ド36m/s以下の男性、女性の方</ls-static-117206></span>
								</div>
							</div>
						</div>
					</div><!-- list_item -->
					<div class="list_item">
						<div class="list_left">
							<a href="/products/urushi-driver" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/product_img06_wddlbi.jpg);"></a>
						</div>
						<div class="list_center">
							<div class="prod_name">
								<h3 class="name"><ls-static-893456>漆ドライバー</ls-static-893456></h3>
								<span class="price"><ls-static-475531>180,000円(税抜)</ls-static-475531></span>
							</div>
							<div class="variation_list">
								<span class="normal">10°</span>
								<span class="normal">11.5°</span>
							</div>
							<p class="prod_desc"><ls-static-755965>飛びと高級感を兼ね備えた所有欲をくすぐる和テイストのハイスペックファラオドライバー</ls-static-755965></p>
							<div class="link_button">
								<a class="normal" href="/products/urushi-driver"><span><ls-static-453033>適合モデル</ls-static-453033></span></a>
							</div>
						</div>
						<div class="list_right">
							<div class="detail_ttl">
								<span class="ttl_ja"><ls-static-643639>基本仕様</ls-static-643639></span>
								<span class="ttl_en"><ls-static-52454>SPECIFICATION</ls-static-52454></span>
							</div>
							<div class="detail_spec">
								<div class="spec_item">
									<span class="title"><ls-static-633456>長さ</ls-static-633456></span>
									<span class="content"><ls-static-810183>45.5インチ</ls-static-810183></span>
								</div>
								<div class="spec_item">
									<span class="title"><ls-static-91462>重さ</ls-static-91462></span>
									<span class="content">305g(10.0°) / 299g (11.5°)</span>
								</div>
							</div>
							<div class="suggest_list">
								<span class="title"><ls-static-671624>下記に該当する方におすすめです！</ls-static-671624></span>
								<div class="list">
									<span class="type"><ls-static-462668>共通</ls-static-462668></span>
									<span class="content"><ls-static-564950>ヘッドスピードが40以上の方</ls-static-564950></span>
								</div>
							</div>
						</div>
					</div><!-- list_item -->
				</div>
			</div>
		</section>
