<header>
  <div class="header_upper">
    <div id="hummenu" class="hummenu">
      <button class="open_button"></button>
      <button class="close_button"></button>
    </div>
    <div class="home">
      <a id="homeLink" class="logo" href="/"></a>
    </div>
    <div class="header_guide">
      <div class="link_wrap">
        <a class="nav_login" href="/account">
        </a>
      </div>
      <div class="link_wrap">
        <a id="spCart" class="nav_cart" href="javascript:void(0);"></a>
      </div>
      </ul>
    </div>
  </div>
  <!-- header_upper -->
  <div class="header_lower">
    <div class="header_inner">
      <div class="header_left">
        <nav>
          <ul class="nav_wrap">
            <li class="nav_item">
              <button class="button">
                <span><ls-static-864263>フィットネス用品</ls-static-864263></span>
              </button>
              <div class="pop_up pop_items">
                <div class="comp-pop-category">
                  <h3 class="pop_title fitness">
                    <span class="ja"><ls-static-829948>フィットネス用品</ls-static-829948></span>
                    <span class="en"><ls-static-123636>FITNESS</ls-static-123636></span>
                  </h3>
                  <div id="hCatFitness" class="category_wrap">
                  <div class="category_item fitness">
                    <a class="img_wrap" href="/collections/rakuda" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness01_zkf9ed.jpg)"></a>
                    <div class="txt_wrap">
                      <a class="prod_name" href="/collections/rakuda">
                        <span class="en"><ls-static-420692>RAKUDA SERIES</ls-static-420692></span>
                        <span class="ja"><ls-static-907134>楽体シリーズ</ls-static-907134></span>
                      </a>
                      <p class="desc"><ls-static-226684>1本でストレッチと筋力アップができるフィットネスギア。</ls-static-226684></p>
                      <div class="comp-link-button">
                        <a class="blue" href="/collections/rakuda"><span><ls-static-246583>商品一覧を見る</ls-static-246583></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item fitness">
              			<a class="img_wrap" href="/collections/rakuda-ring" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness02_gzisq7.jpg)"></a>
              			<div class="txt_wrap">
              				<a class="prod_name" href="/collections/rakuda-ring">
              					<span class="en"><ls-static-72426>RAKUDA RING</ls-static-72426></span>
              					<span class="ja"><ls-static-867595>楽体リング</ls-static-867595></span>
              				</a>
              				<p class="desc"><ls-static-432028>手首につければいつでもどこでもハルメソッド</ls-static-432028></p>
              				<div class="comp-link-button">
              					<a class="blue" href="/collections/rakuda-ring"><span><ls-static-668388>商品一覧を見る</ls-static-668388></span></a>
              				</div>
              			</div>
              		</div>
              		<!-- category_item -->
              		<div class="category_item fitness">
              			<a class="img_wrap" href="/collections/power-balance" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness03_jilarq.jpg)"></a>
              			<div class="txt_wrap">
              				<h4>
                        <a class="prod_name" href="/collections/power-balance">
                          <span class="en"><ls-static-487261>POWER BALANCE</ls-static-487261></span>
              						<span class="ja"><ls-static-782669>パワーバランス</ls-static-782669></span>
              					</a>
              				</h4>
              				<p class="desc"><ls-static-23425>1日10分でインナーマッスルを強化。身体の軸が整った理想的な姿勢に。</ls-static-23425></p>
              				<div class="comp-link-button">
              					<a class="blue" href="/collections/power-balance"><span><ls-static-683840>商品一覧を見る</ls-static-683840></span></a>
              				</div>
              			</div>
              		</div>
              		<!-- category_item -->
              		<div class="category_item fitness">
              			<a class="img_wrap" href="/collections/nyoibo" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness04_ib3r1x.jpg)"></a>
              			<div class="txt_wrap">
              				<h4>
                        <a class="prod_name" href="/collections/nyoibo">
                          <span class="en"><ls-static-9332>NYOIBO</ls-static-9332></span>
                          <span class="ja"><ls-static-661007>ニョイボウ</ls-static-661007></span>
              					</a>
              				</h4>
              				<p class="desc"><ls-static-849458>遊び感覚で出来る、本格的な体幹・握力トレーニング。</ls-static-849458></p>
              				<div class="comp-link-button">
              					<a class="blue" href="/collections/nyoibo"><span><ls-static-770435>商品一覧を見る</ls-static-770435></span></a>
              				</div>
              			</div>
              		</div>
              		<!-- category_item -->
              		<div class="category_item fitness">
              			<a class="img_wrap" href="/collections/dvd" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness05_tlagqw.jpg)"></a>
              			<div class="txt_wrap">
              				<h4>
                        <a class="prod_name" href="/collections/dvd">
                          <span class="en"><ls-static-348285>INSTRUCTION DVD</ls-static-348285></span>
                          <span class="ja"><ls-static-33942>教材DVDなど</ls-static-33942></span>
                        </a>
              				</h4>
              				<p class="desc"><ls-static-374481>フィットネス用品の使用方法などについてのDVD教材</ls-static-374481></p>
              				<div class="comp-link-button">
              					<a class="blue" href="/collections/dvd"><span><ls-static-926267>商品一覧を見る</ls-static-926267></span></a>
              				</div>
              			</div>
              		</div>
              		<!-- category_item -->
              		<div class="category_item fitness">
              			<a class="img_wrap" href="/collections/fitness-others" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/fitness06_danq5d.jpg)"></a>
              			<div class="txt_wrap">
              				<h4>
              					<a class="prod_name" href="/collections/fitness-others">
              						<span class="en"><ls-static-663708>OTHERS</ls-static-663708></span>
              						<span class="ja"><ls-static-186119>その他の商品</ls-static-186119></span>
              					</a>
              				</h4>
              				<p class="desc"><ls-static-349879>フィットネス関連書籍・スリムフィッターなど。</ls-static-349879></p>
              				<div class="comp-link-button">
              					<a class="blue" href="/collections/fitness-others"><span><ls-static-594662>商品一覧を見る</ls-static-594662></span></a>
              				</div>
              			</div>
              		</div>
              		<!-- category_item -->
                  </div>
                </div>
              </div>
            </li>
            <li class="nav_item">
              <button class="button">
                <span><ls-static-948929>ゴルフ用品</ls-static-948929></span>
              </button>
              <div class="pop_up pop_items">
                <div class="comp-pop-category">
                  <h3 class="pop_title golf">
                    <span class="ja"><ls-static-751244>ゴルフグッズ</ls-static-751244></span>
                    <span class="en"><ls-static-702067>GOLF GOODS</ls-static-702067></span>
                  </h3>
                  <div id="hCatFitness" class="category_wrap">
                  <div class="category_item golf">
                    <a class="img_wrap" href="/collections/driver" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf01_gb0jd0.jpg)"></a>
                    <div class="txt_wrap">
                      <a class="prod_name" href="/collections/driver">
                        <span class="en"><ls-static-916763>DRIVER</ls-static-916763></span>
                        <span class="ja"><ls-static-526906>ファラオドライバー</ls-static-526906></span>
                      </a>
                      <p class="desc"><ls-static-79173>日本人の体格に合わせて設計された、「しなるけど捻じれない」クラブ。</ls-static-79173></p>
                      <div class="comp-link-button">
                        <a class="green" href="/collections/driver"><span><ls-static-821861>商品一覧を見る</ls-static-821861></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/collections/steel-iron" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf02_rn2okb.jpg)"></a>
                    <div class="txt_wrap">
                      <a class="prod_name" href="/collections/steel-iron">
                        <span class="en"><ls-static-938855>STEEL IRON</ls-static-938855></span>
                        <span class="ja small"><ls-static-188892>アイアン(スチールシャフト)</ls-static-188892></span>
                      </a>
                      <p class="desc"><ls-static-162265>世界最軽量のスチールシャフト使用のアイアン</ls-static-162265></p>
                      <div class="comp-link-button">
                        <a class="green" href="/collections/steel-iron"><span><ls-static-254494>商品一覧を見る</ls-static-254494></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/collections/carbon-iron" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf03_jtyffi.jpg)"></a>
                    <div class="txt_wrap">
                      <a class="prod_name" href="/collections/carbon-iron">
                        <span class="en"><ls-static-303412>CARBON IRON</ls-static-303412></span>
                        <span class="ja small"><ls-static-808034>アイアン(カーボンシャフト)</ls-static-808034></span>
                      </a>
                      <p class="desc"><ls-static-830839>「しなるのにねじれない」カーボンシャフトのアイアン登場。</ls-static-830839></p>
                      <div class="comp-link-button">
                        <a class="green" href="/collections/carbon-iron"><span><ls-static-689682>商品一覧を見る</ls-static-689682></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/products/pharaoh-fw" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf04_ppw2ic.jpg)"></a>
                    <div class="txt_wrap">
                      <h4>
                        <a class="prod_name" href="/products/pharaoh-fw">
                          <span class="en"><ls-static-336231>FAIRWAY WOOD</ls-static-336231></span>
                          <span class="ja"><ls-static-928966>フェアウェイウッド</ls-static-928966></span>
                        </a>
                      </h4>
                      <p class="desc"><ls-static-938576>シャフトで生み出したパワーのロスを減らし、高い飛距離性能を実現。</ls-static-938576></p>
                      <div class="comp-link-button">
                        <a class="green" href="/products/pharaoh-fw"><span><ls-static-926891>商品一覧を見る</ls-static-926891></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/products/pharaoh-ut" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf05_tkymmj.jpg)"></a>
                    <div class="txt_wrap">
                      <h4>
                        <a class="prod_name" href="/products/pharaoh-ut">
                          <span class="en"><ls-static-544182>UTILITY</ls-static-544182></span>
                          <span class="ja"><ls-static-898208>ユーティリティー</ls-static-898208></span>
                        </a>
                      </h4>
                      <p class="desc"><ls-static-998456>ミドルアイアンショットのような感覚で振り切れる。</ls-static-998456></p>
                      <div class="comp-link-button">
                        <a class="green" href="/products/pharaoh-ut"><span><ls-static-518654>商品一覧を見る</ls-static-518654></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/collections/shaft" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf06_np3hbg.jpg)"></a>
                    <div class="txt_wrap">
                      <h4>
                        <a class="prod_name" href="/collections/shaft">
                          <span class="en"><ls-static-781230>SHAFT</ls-static-781230></span>
                          <span class="ja"><ls-static-209044>シャフト(部品売り)</ls-static-209044></span>
                        </a>
                      </h4>
                      <p class="desc"><ls-static-372754>「しなるけど捻じれない」ファラオシリーズのシャフトパーツ。</ls-static-372754></p>
                      <div class="comp-link-button">
                        <a class="green" href="/collections/shaft"><span><ls-static-148261>商品一覧を見る</ls-static-148261></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/products/gotenba-patter" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf07_bh4fcg.jpg)"></a>
                    <div class="txt_wrap">
                      <h4>
                        <a class="prod_name" href="/products/gotenba-patter">
                          <span class="en"><ls-static-195669>GOTENBA PATTER</ls-static-195669></span>
                          <span class="ja"><ls-static-542247>ゴテンバパター</ls-static-542247></span>
                        </a>
                      </h4>
                      <p class="desc"><ls-static-964148>直進性能が信頼感とタッチの感性を磨くパター。</ls-static-964148></p>
                      <div class="comp-link-button">
                        <a class="green" href="/products/gotenba-patter"><span><ls-static-95642>商品一覧を見る</ls-static-95642></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/collections/golf-ball" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf08_jzzmpu.jpg)"></a>
                    <div class="txt_wrap">
                      <h4>
                        <a class="prod_name" href="/collections/golf-ball">
                          <span class="en"><ls-static-890314>GOLF BALL</ls-static-890314></span>
                          <span class="ja"><ls-static-928949>ゴルフボール</ls-static-928949></span>
                        </a>
                      </h4>
                      <p class="desc"><ls-static-132134>+αソフトコアを採用。ボールが潰れやすく無駄なスピンを抑えます。</ls-static-132134></p>
                      <div class="comp-link-button">
                        <a class="green" href="/collections/golf-ball"><span><ls-static-911651>商品一覧を見る</ls-static-911651></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  <div class="category_item golf">
                    <a class="img_wrap" href="/collections/accessories" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1596657216/category/golf09_pxu0m3.jpg)"></a>
                    <div class="txt_wrap">
                      <h4>
                        <a class="prod_name" href="/collections/accessories">
                          <span class="en"><ls-static-128593>ACCESSORIES</ls-static-128593></span>
                          <span class="ja"><ls-static-807847>アクセサリー</ls-static-807847></span>
                        </a>
                      </h4>
                      <p class="desc"><ls-static-199037>キャディーバッグ・ヘッドカバーなどのゴルフアクセサリー</ls-static-199037></p>
                      <div class="comp-link-button">
                        <a class="green" href="/collections/accessories"><span><ls-static-922167>商品一覧を見る</ls-static-922167></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- category_item -->
                  </div>
                </div>
            </li>
            <li class="nav_item">
              <a class="button" href="/pages/halmethod"><ls-static-925593>ハルメソッドについて</ls-static-925593></a>
            </li>
            <li class="nav_item">
              <a class="button b_none" href="/blogs/all"><ls-static-983129>最新情報</ls-static-983129></a>
            </li>
          </ul>
        </nav>
        </div>
        <div class="header_right">
          <ul>
            <li><a class="login" href="/account"><span><ls-static-196368>ログイン</ls-static-196368></span></a></li>
            <li><a id="pcCart" class="cart" href="javascript:void(0);"><span><ls-static-183171>カートを見る</ls-static-183171></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- header_middle -->
</header>
