#faq #guideNav {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 1150px) {
    #faq #guideNav {
      max-width: 750px; } }
  @media screen and (max-width: 750px) {
    #faq #guideNav {
      width: 84%; } }
  #faq #guideNav .item_wrap .ttl_h3 {
    padding: 10px;
    background: #f1f1f1;
    font-size: 16px;
    margin-bottom: 20px; }
    #faq #guideNav .item_wrap .ttl_h3 ul {
      padding: 0 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
      #faq #guideNav .item_wrap .ttl_h3 ul li {
        width: 32%;
        margin-right: 2%;
        padding: 5px 0;
        margin-bottom: 5px; }
        #faq #guideNav .item_wrap .ttl_h3 ul li:nth-child(3n) {
          margin-right: 0; }
        #faq #guideNav .item_wrap .ttl_h3 ul li a {
          display: block;
          color: #fff;
          font-size: 12px;
          padding: 5px 0 5px 40px;
          position: relative;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
          background: #312c24;
          border-radius: 5px; }
          #faq #guideNav .item_wrap .ttl_h3 ul li a::before {
            position: absolute;
            width: 6px;
            height: 6px;
            content: "";
            top: 0;
            bottom: 0;
            left: 10px;
            margin: auto;
            border-top: 2px solid #fff;
            border-right: 2px solid #fff;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s; }
          #faq #guideNav .item_wrap .ttl_h3 ul li a:hover {
            opacity: 0.7; }
