@charset "UTF-8";
header{
	width: 100%;
	height: 73px;
	border-top: 2px solid transparent;
	position: fixed;
	z-index: 500;
	transition: all .5s;
	top:0;
	left:0;
	right:0;
	margin: auto;
	.header_inner{
		position: relative;
		width: 100%;
		height: 73px;
		#humMenu{
			position: absolute;
			top: 0;
			bottom:0;
			height: 28px;
			margin: auto;
			left: 3%;
			a{
				display: block;
				width: 39px;
				height: 33px;
				transition: all .5s;
				@include bgSet;
				background:{
					image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/menu_icon_acfmbl.png);
					size: 39px;
				}
				&:hover{
					opacity: 0.7;
				}
			}
		}
		#hNavi{
			position: absolute;
			top:0;
			bottom:0;
			height: 25px;
			right: 3%;
			margin: auto;
			@include flexSet;
			.nav_item{
				a{
					display: block;
					font-size: 13px;
					line-height: 25px;
					letter-spacing: 1px;
					text-align: right;
					color: #ffffff;
					padding-left: 40px;
					position: relative;
					&::before{
						position: absolute;
						content: "";
						width: 30px;
						height: 25px;
						top:0;
						bottom:0;
						left: 0;
						margin: auto;
						@include bgSet;
						background:{
							size: 30px;
							position: left center;
						}
					}
				}
				&#hLogin{
					margin-right: 40px;
					position: relative;
					&::after{
						display: block;
						content: "";
						position: absolute;
						right: -20px;
						top:0;
						bottom:0;
						margin: auto;
						width: 1px;
						height: 16px;
						background: rgba(255,255,255,0.8);
					}
					a{
						&::before{
							background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/login_icon_qymxnh.png);
						}
					}
				}
				&#hCart{
					a{
						&::before{
							background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/cart_icon_r3jbwu.png);
						}
					}
				}
			}
		}
		#hLogo{
			position: absolute;
			width: 145px;
			height: 30px;
			transition: all .5s;
			left:0;
			right:0;
			top:0;
			bottom:0;
			margin: auto;
			opacity: 1;
			&.fade{
				opacity: 0;
				pointer-events: none;
			}
			a{
				display: block;
				width: 145px;
				height: 31px;
				background:{
					image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/h_logo_white_fs5tkm.png);
					size: 145px;
					position: center center;
					repeat: no-repeat;
				}
			}
		}
	}
}
@media screen and (max-width: 750px){
	header{
		height: 58px;
		.header_inner{
			height: 58px;
			#humMenu{
				height: 25px;
				left: 5%;
				a{
					width: 33px;
					height: 30px;
					background:{
						size: 33px;
					}
					&:hover{
						opacity: 1;
					}
				}
			}
			#hNavi{
				top: 3px;
				height: 25px;
				right: 5%;
				.nav_item{
					a{
						width: 27px;
						height: 25px;
						padding-left: 0px;
						&::before{
							position: absolute;
							content: "";
							width: 27px;
							height: 25px;
							background:{
								size: 27px;
								position: right center;
							}
						}
					}
					&#hLogin{
						display: none;
					}
					&#hCart{
						a{color: rgba(255,255,255,0);}
					}
				}
			}
			#hLogo{
				a{
					background:{
						size: 120px;
					}
				}
			}
		}
	}
}
body.rolled{
	header{
		border-top: 2px solid $basicGreen;
		background: #fff;
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
		.header_inner{
			#humMenu{
				a{
					background-image: url(.https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/menu_icon_rolled_ddjxzw.png);
				}
			}
			#hNavi{
				.nav_item{
					a{
						color: $basicGreen;
					}
					&#hLogin{
						a{
							&::before{
								background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/login_icon_rolled_oy80ng.png);
							}
						}
					}
					&#hCart{
						a{
							&::before{
								background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/cart_icon_rolled_tnklrf.png);
							}
						}
					}
				}
			}
			#hLogo{
				opacity: 1 !important;
				a{
					pointer-events: all !important;
					background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/h_logo_nwjm8r.png);
				}
			}
		}
	}
}
body.fixed-header {
	padding-top: 60px;

	header{
		height: 88px;
		border-top: 2px solid $basicGreen;
		background: #fff;
		box-shadow: none !important;
		.header_inner{
			position: relative;
			width: 100%;
			height: 88px;
			#humMenu{
				a{
					background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/menu_icon_rolled_ddjxzw.png);
				}
			}
			#hNavi{
				.nav_item{
					a{
						color: $basicGreen;
					}
					&#hLogin{
						margin-right: 40px;
						position: relative;
						a{
							&::before{
								background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/login_icon_rolled_oy80ng.png);
							}
						}
					}
					&#hCart{
						a{
							&::before{
								background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/cart_icon_rolled_tnklrf.png);
							}
						}
					}
				}
			}
			#hLogo{
				opacity: 1 !important;
				pointer-events: all !important;
				a{
					background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/h_logo_nwjm8r.png) !important;
				}
			}
		}
	}
}

@media screen and (max-width: 750px){
	body.rolled, body.fixed-header{
		header{
			height: 58px;
			border-top: 2px solid $basicGreen;
			.header_inner{
				height: 55px;
				#hNavi{
					.nav_item{
						a{
							color: $basicGreen;
						}
						&#hLogin{
							margin-right: 40px;
							position: relative;
							a{
								&::before{
									background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/login_icon_rolled_oy80ng.png);
								}
							}
						}
						&#hCart{
							a{
								&::before{
									background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/cart_icon_rolled_tnklrf.png);
								}
							}
						}
					}
				}
				#hLogo{
					opacity: 1 !important;
					pointer-events: all !important;
					a{
						background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/h_logo_nwjm8r.png) !important;
					}
				}
			}
		}
	}
}
