.journal_section {
  padding-bottom: 100px;
  .inner_content {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

#journal {
  .category_list {
    margin-bottom: 80px;
    li {
      float: left;
      margin-right: 30px;
      a {
        color: #00381F;
        font-size: 15px;
      }

      &.current {
        a {
          color: #999;
        }
      }
    }
  }

  .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 -25px;

    a {
      color: #00381F;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.7;
      }
    }

    .post_item_wrap {
      width: 33.3333%;
      margin-bottom: 60px;

      .post_item {
        padding: 0 25px;

        .item_img {
          width: 100%;
          height: 220px;
          overflow: hidden;

          a {
            display: block;
            width: 100%;
            height: 220px;
            overflow: hidden;
            position: relative;
            transition: all 0.3s;
            img {
              position: absolute;
              display: inline-block;
              width: 120%;
              left: -10%;
              right: -10%;
              margin: auto;
              max-width: inherit;
              &.fit{
                width: 100%;
                left: 0%;
                right: 0%;
              }
            }

            &:hover {
              transform: scale(1.07,1.07);
            }


          }
        }

        .item_content {
          .item_title {
            font-size: 24px;
            line-height: 34px;
            margin-top: 20px;
          }

          .item_tags {
            margin-top: 20px;
            li {
              float: left;
              margin-right: 10px;
              a {
                color: #007a44;
                font-size: 12px;
                line-height: 20px;
                font-weight: bold;
              }
            }
          }
          .item_description {
            margin-top: 10px;

            a {
              color: #a5a5a5;
              font-size: 12px;
              line-height: 26px;

            }
          }
        }
      }

      &:first-child {
        width: 100%;
        margin-bottom: 100px;

        .post_item {
          .item_img {
            width: 50%;
            height: 360px;
            float: left;
            a{
              height: 360px;
            }
          }
          .item_content {
            float: right;
            width: 50%;
            box-sizing: border-box;
            padding-left: 60px;
            padding-top: 40px;
            .item_title {
              line-height: 42px;

              a {
                font-size: 28px;
              }
            }

            .item_tags {
              li {
                margin-right: 12px;
                a {
                  font-size: 14px;
                  line-height: 20px;
                  font-weight: bold;
                }
              }
            }

            .item_description {
              margin-top: 30px;
              a {
                font-size: 14px;
                line-height: 30px;
              }
            }
          }
        }
      }
    }
  }

  .posts-pager {
    margin-top: 40px;
    text-align: center;
    a, span {
      display: inline-block;
      width: 42px;
      height: 42px;
      line-height: 42px;
      font-size: 16px;
      text-align: center;
      box-sizing: border-box;
      margin: 0 5px;
    }

    a {
      color: #00381F;
      border: 1px solid #00381F;
    }
    span {
      background-color: #00381F;
      color: #fff;
    }
  }
}
@media screen and (max-width: 1150px) {
  .journal_section {
    padding-top: 50px;
    .section_ttl {
      padding: 80px 30px 60px 30px;
      max-width: 900px;

    }

    .inner_content {
      padding: 0 30px;
      max-width: 900px;
    }
  }

  #journal {
    .posts {
      margin: 0 -18px;

      .post_item_wrap {
        margin-bottom: 50px;


        .post_item {
          padding: 0 18px;
          .item_img {
            height: 150px;
          }
          .item_content {
            .item_title {
              font-size: 20px;
            }
          }
        }

        &:first-child {
          margin-bottom: 70px;

          .post_item {
            .item_img {
              height: 300px;
            }
            .item_content {
              padding-top: 20px;
              .item_description {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 750px){
  .journal_section {
    overflow: hidden;
    padding-top: 20px;
    .section_ttl {
      width: 100%;
      padding: 40px 30px;
      font{
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  #journal {
    .category_list {
      width: 100%;
      margin-bottom: 20px;
      height: 30px;
      overflow: hidden;
      ul {
        display: flex;
        overflow: auto;
        overflow-y:hidden;
        height: 38px;
        -webkit-overflow-scrolling: touch;
      }
      li {
        display: table-cell;
        margin-bottom: 15px;
        margin-right: 15px;

        a {
          display: inline-block;
          white-space: nowrap;
          font-size: 17px;
        }
      }
    }
    .posts {
      .post_item_wrap, .post_item_wrap:first-child {
        width: 100%;
        border-bottom: dotted 1px #cacaca;
        padding: 25px 0;
        margin-bottom: 0;

        .post_item {
          @include flexSet;
          align-items: center;
          .item_img {
            float: none;
            width: 38%;
            height: auto;
            a{
              height: 20vw;
            }
          }
          .item_content {
            float: left;
            width: 62%;
            padding-top: 0;
            padding-left: 18px;
            box-sizing: border-box;
            .item_title {
              margin-top: 0px;
              line-height: 1;
              a {
                font-size: 14px;

              }
            }
            .item_description {
              display: none;
            }
            .item_tags {
              margin-top: 10px;
              li {
                margin-right: 10px;
                a {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
}
