#journalDetail {
  padding-bottom: 100px; }
  #journalDetail .main {
    width: 100%;
    height: 520px;
    background-size: 100% auto; }
    #journalDetail .main::after {
      width: 100%;
      height: 520px;
      content: ' ';
      display: block;
      background: url("../img/shadow_overlay.png") top center;
      background-repeat: repeat-x; }
  #journalDetail .journal_detail {
    max-width: 700px;
    margin: 0 auto; }
    #journalDetail .journal_detail .post_head {
      position: relative;
      margin-top: 60px;
      padding-bottom: 45px;
      margin-bottom: 45px;
      border-bottom: 1px solid #E4E4E4; }
      #journalDetail .journal_detail .post_head .post_date {
        position: absolute;
        left: -140px;
        top: 103px;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        text-align: left;
        width: 200px;
        font-size: 12px;
        letter-spacing: 1px;
        color: #111111; }
        #journalDetail .journal_detail .post_head .post_date span {
          display: inline-block; }
      #journalDetail .journal_detail .post_head .post_excerpt {
        line-height: 28px;
        color: #111;
        font-size: 14px;
        margin-top: 35px; }
      #journalDetail .journal_detail .post_head .post_title {
        font-size: 35px;
        line-height: 50px; }
      #journalDetail .journal_detail .post_head .post_tags {
        margin-top: 15px; }
        #journalDetail .journal_detail .post_head .post_tags li {
          float: left;
          margin-right: 10px; }
          #journalDetail .journal_detail .post_head .post_tags li a {
            color: #007a44;
            font-size: 14px;
            line-height: 20px;
            font-weight: bold; }
    #journalDetail .journal_detail .post_body {
      color: #111;
      font-size: 16px;
      line-height: 37px;
      border-bottom: 1px solid #F0F0F0;
      padding-bottom: 80px;
      margin-bottom: 60px; }
      #journalDetail .journal_detail .post_body h1, #journalDetail .journal_detail .post_body h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 35px;
        color: #333; }
      #journalDetail .journal_detail .post_body h3, #journalDetail .journal_detail .post_body h4 {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 25px;
        color: #333;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 7px; }
      #journalDetail .journal_detail .post_body img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px 0; }
      #journalDetail .journal_detail .post_body blockquote {
        padding-left: 25px;
        border-left: 4px solid #e0e0e0;
        color: #666; }
    #journalDetail .journal_detail .post_share p {
      text-align: center;
      font-size: 14px;
      color: #111; }
    #journalDetail .journal_detail .post_share ul {
      text-align: center;
      margin-top: 35px; }
      #journalDetail .journal_detail .post_share ul li {
        display: inline-block;
        margin: 0 8px; }
        #journalDetail .journal_detail .post_share ul li a {
          display: block;
          width: 66px;
          height: 66px; }
          #journalDetail .journal_detail .post_share ul li a img {
            display: block;
            width: 66px;
            height: 66px; }
  #journalDetail a {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    #journalDetail a:hover {
      opacity: 0.7 !important; }
  #journalDetail .related_posts {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; }
    #journalDetail .related_posts h2 {
      font-size: 28px;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 25px;
      margin-bottom: 50px; }
  #journalDetail .related_products {
    background-color: #F9F9F9;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden;
    margin-top: 100px;
    padding: 100px 0; }
    #journalDetail .related_products h2 {
      font-size: 28px;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 25px;
      margin-bottom: 50px; }
    #journalDetail .related_products .section_inner {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto; }
      #journalDetail .related_products .section_inner .products {
        display: block; }
        #journalDetail .related_products .section_inner .products ul {
          display: block; }
      #journalDetail .related_products .section_inner .product_slider {
        margin: 0 -20px; }
        #journalDetail .related_products .section_inner .product_slider .slider_item {
          width: 33.3333%;
          float: left; }
          #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner {
            padding: 0 20px; }
            #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_category {
              padding-bottom: 10px;
              margin-bottom: 15px;
              border-bottom: 2px solid #00381F; }
              #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_category a {
                color: #00381F;
                font-size: 17px;
                font-weight: bold;
                line-height: 1; }
            #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_price {
              display: block;
              line-height: 1;
              padding-bottom: 20px;
              border-bottom: 1px solid #e0e0e0;
              margin-bottom: 20px;
              color: #333; }
            #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_img {
              height: 190px;
              line-height: 190px;
              overflow: hidden;
              border: 1px solid #e8e8e8;
              background-color: #fff;
              vertical-align: middle; }
              #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_img a {
                display: block; }
              #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_img img {
                display: inline-block;
                width: 100%;
                height: auto;
                vertical-align: middle; }
            #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_title {
              margin-top: 20px;
              margin-bottom: 20px; }
              #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_title a {
                font-size: 24px;
                color: #00381F; }
            #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .arrow_link {
              display: block;
              font-size: 14px;
              color: #00381f; }
              #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .arrow_link .link_wrap {
                display: inline-block;
                position: relative;
                padding-right: 40px; }
                #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .arrow_link .link_wrap .arrow {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto;
                  width: 24px;
                  height: 10px;
                  -webkit-transition: all 0.3s;
                  -o-transition: all 0.3s;
                  transition: all 0.3s;
                  background-image: url(../img/product_list/arrow.png);
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: 24px; }
        #journalDetail .related_products .section_inner .product_slider .slick-dots {
          position: relative !important;
          top: auto !important;
          left: auto !important;
          margin-top: 40px; }
          #journalDetail .related_products .section_inner .product_slider .slick-dots li {
            margin: 0 2px !important; }

@media screen and (max-width: 1150px) {
  #journalDetail .main {
    width: 100%;
    height: 48vw; } }

@media screen and (max-width: 750px) {
  #journalDetail .main {
    height: 54vw; }
  #journalDetail .journal_detail {
    max-width: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px; }
    #journalDetail .journal_detail .post_head {
      margin-top: 35px;
      margin-bottom: 35px;
      padding-bottom: 35px; }
      #journalDetail .journal_detail .post_head .post_date {
        position: relative;
        left: auto;
        top: auto;
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        margin-bottom: 15px; }
      #journalDetail .journal_detail .post_head .post_title {
        font-size: 24px;
        line-height: 36px; }
    #journalDetail .journal_detail .post_body {
      padding-bottom: 40px; }
      #journalDetail .journal_detail .post_body h1, #journalDetail .journal_detail .post_body h2 {
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 22px; }
      #journalDetail .journal_detail .post_body h3, #journalDetail .journal_detail .post_body h4 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 18px;
        color: #333;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 7px; }
  #journalDetail .related_posts {
    max-width: 100%;
    width: 100%;
    padding: 50px 0;
    margin-top: 0; }
    #journalDetail .related_posts h2 {
      font-size: 22px;
      margin: 0 30px;
      margin-bottom: 25px;
      padding-bottom: 15px; }
  #journalDetail .related_products {
    padding: 50px 0 35px 0;
    margin-top: 70px; }
    #journalDetail .related_products h2 {
      font-size: 22px;
      margin: 0 30px;
      margin-bottom: 45px;
      padding-bottom: 15px; }
    #journalDetail .related_products .section_inner {
      max-width: 100%;
      width: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 5px; }
      #journalDetail .related_products .section_inner .product_slider {
        margin: 0 -5px; }
        #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner {
          padding: 0 5px; }
          #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .arrow_link {
            display: none; }
          #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_img {
            height: 120px;
            line-height: 120px; }
          #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_category a {
            font-size: 12px; }
          #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_title {
            margin-top: 10px;
            margin-bottom: 15px; }
            #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_title a {
              font-size: 16px;
              line-height: 22px; }
          #journalDetail .related_products .section_inner .product_slider .slider_item .slider_item_inner .item_price {
            font-size: 12px; }
        #journalDetail .related_products .section_inner .product_slider .slick-dots {
          display: none;
          margin-top: 0px; } }
