@charset "UTF-8";
#faq{padding-bottom: 100px;}
.underPage {
	.txt_main {
		@include waku;

		.policy_lead {
			font-size: 14px;
			line-height: 1.8;
			padding-bottom: 50px;
			margin-bottom: 50px;
			letter-spacing: 1px;
			border-bottom: 1px solid #f1f1f1;

			a {
				color: #068acc;
				dislay: inline-block;
				padding: 0 2px;
			}
		}

		.ttl_wrap{
			h2{
				margin-bottom: 20px;
				span{
					display: inline-block;
					font-size: 30px;
					@include libre-b;
					letter-spacing: 1px;
					padding-right: 0.5em;
				}
				font{
					font-size: 14px;
				}
			}
			@media screen and (max-width: 750px){
				h2{
					margin-bottom: 20px;
					span{
						display: block;
						font-size: 6vw;
						padding-right: 0em;
						border-bottom: 1px solid $basicGreen;
						padding-bottom: 7px;
						margin-bottom: 7px;

					}
					font{
						font-size: 3.4vw;
					}
				}
			}
		}
		section{
			padding-top: 50px;
			&#fqProduct{padding-top:0;}
		}

		.item_wrap {
			font-size: 14px;
			line-height: 1.8;
			letter-spacing: 1px;
			margin-bottom: 30px;

			.ttl_h3 {
				padding: 5px 10px;
				background: #f1f1f1;
				font-size: 16px;
				margin-bottom: 20px;
			}

			h4{
				padding: 0 10px;
				font-size: 16px;
				margin-bottom: 5px;
				color: $basicGreen;
				@media screen and (max-width: 750px){
					&::before{
						display: inline-block;
						content: "・";
					}
				}
			}

			p {
				padding: 0 10px;
				span{
					display: block;
				}
				a{
					display: inline-block;
					padding: 0 2px;
					color: #068acc;
				}
			}
		}

		.flex_wrap {
			@include flexSet;
			border-bottom: 1px solid #ddd;

			dd,
			dt {
				letter-spacing: 1px;
				line-height: 1.6;
				box-sizing: border-box;
			}

			dt {
				width: 250px;
				padding: 10px;
				background: #f1f1f1;
				font-size: 14px;
				font-weight: bold;
			}

			dd {
				width: calc(100% - 250px);
				padding: 10px 5px 10px 20px;
				font-size: 14px;
			}
		}

		&.bd1 {
			border: 1px solid #ddd;
			border-bottom: 0px solid #ddd;
		}
	}
	@media screen and (max-width: 750px) {
		padding-top: 50px;

		.txt_main {
			min-width: 84vw;
			.flex_wrap {
				display: block;
				border-bottom: 0 solid #ddd;

				dd,
				dt {
					letter-spacing: 1px;
					line-height: 1.6;
					box-sizing: border-box;
				}

				dt {
					width: 100%;
					padding: 10px;
					font-size: 14px;
				}

				dd {
					width: 100%;
					padding: 10px;
					font-size: 14px;
				}
			}

			&.bd1 {
				border: 0 solid #ddd;
			}
		}
	}

	&#info, &poricy {
		padding-bottom: 100px;
		@media screen and (max-width: 750px) {
			padding-bottom: 50px;
		}
	}
}
