.comp-user-address{
  .address_item{
    .username{
      display: block;
      font-size: 1.8rem;
      letter-spacing: 0.08em;
      margin-bottom: 10px;
    }
    .address{
      p{
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: 0.08em;
        span{
          display: block;
        }
      }
    }
  }
}
