.page-blogs{
  padding-bottom: 60px;
  .section-blog-list{
    padding: 100px 0 50px;
  }
  .section-links-product{
    margin-bottom: 50px;
  }
}


@media screen and (min-width: 980px){
  .page-blogs{
    padding-bottom: 140px;
    .section-blog-list{
      padding: 180px 0 120px;
    }
    .section-links-product{
      margin-bottom: 120px;
    }
  }
}
