.page-collection{
	.section-product-list{
		padding: 80px 0 50px;
		.collection_flex{
			.collection_category{
				margin-bottom: 30px;
				.collection_ttl{
					font-size: 2.0rem;
					@include grotesk;
					margin-bottom: 15px;
				}
				.collection_ttl_jp{
					font-size: 1.4rem;
					margin-bottom: 25px;
				}
			}
		}
	}
	.section-links-product{
		margin-bottom: 80px;
	}
	.section-links-contents{
		margin-bottom: 80px;
	}
}

@media screen and (min-width: 980px){
	.page-collection{
		.section-product-list{
			padding: 120px 0 160px;
			.collection_flex{
				@include flexSet;
				align-items: flex-start;
				justify-content: space-between;
				.collection_category{
					width: 20%;
					margin-right: 5%;
					margin-bottom: 0px;
					position: sticky;
					top: 120px;
					left:0;
					.collection_ttl{
						font-size: 2.8rem;
						margin-bottom: 15px;
					}
					.collection_ttl_jp{
						font-size: 1.6rem;
						margin-bottom: 35px;
					}
				}
				.collection_list{
					width: 72%;
				}
			}
		}
		.section-links-product{
			margin-bottom: 160px;
		}
		.section-links-contents{
			margin-bottom: 160px;
		}
	}
}
