.page-gift-list {
  padding-top: 0;
  width: 100%;
  overflow: hidden;
  .section-main{
    margin-bottom: 30px;
    .main_img{
      height: 100vw;
      margin-bottom: 30px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .lead_txt{
      .comp-section-ttl{
        margin-bottom: 20px;
      }
      .main_desc{
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        line-height: 1.8;
        p{
          margin-bottom: 0.5em;
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .section-filter{
    margin-bottom: 40px;
  }
  .section-gift-products{
    margin-bottom: 50px;
    .section_inner_new{
      width: 90vw;
    }
  }
  .section-gift-service{
    padding: 50px 0;
    background: #f4f4f4;
  }
  .section-faq{
    padding: 60px 0;
  }
}

@media screen and (min-width: 720px){
  .page-gift-list {
    padding-top: 0;
    .section_inner_new{
      width: 88vw;
    }
    .section-main{
      margin-bottom: 40px;
      .main_img{
        height: 100vw;
        margin-bottom: 60px;
      }
      .lead_txt{
        .comp-section-ttl{
          margin-bottom: 30px;
        }
        .main_desc{
          font-size: 1.6rem;
          letter-spacing: 0.05em;
          p{
            margin-bottom: 0em;
          }
        }
      }
    }
    .section-filter{
      margin-bottom: 60px;
      .comp-filter-wrap{
        width: 88vw;
        margin: 0 auto;
      }
    }
    .section-gift-products{
      margin-bottom: 80px;
      .section_inner_new{
        width: 88vw;
      }
    }
    .section-gift-service{
      padding: 100px 0;
      .comp-centered-section-title{
        margin-bottom: 60px;
      }
      .section_inner_new{
        width: 82vw;
      }
    }
    .section-faq{
      padding: 80px 0;
      .section_inner_new{
        width: 82vw;
      }
    }
  }
}

@media screen and (min-width: 980px){
  .page-gift-list {
    .section_inner_new{
      width: 82vw;
      max-width: 1400px;
    }
    .section-main{
      margin-bottom: 40px;
      .main_img{
        height: 550px;
        @include bgSet;
        background-size:cover;
        background-image: url(https://cdn.shopify.com/s/files/1/0608/6233/3116/files/gift_pc.jpg?v=1647928410);
        margin-bottom: 60px;
        img{
          display: none;
        }
      }
      .lead_txt{
        .comp-section-ttl{
          margin-bottom: 30px;
        }
        .main_desc{
          font-size: 1.5rem;
          letter-spacing: 0.05em;
          line-height: 2;
          p{
            span{
              display: block;
            }
          }
        }
      }
    }
    .section-filter{
      margin-bottom: 60px;
      .comp-filter-wrap{
        width: 82vw;
        max-width: 1400px;
      }
    }
    .section-gift-products{
      margin-bottom: 100px;
      .section_inner_new{
        width: 82vw;
        max-width: 1400px;
      }
    }
    .section-gift-service{
      padding: 100px 0;
      background: #f4f4f4;
    }
    .section-faq{
      padding: 100px 0;
    }
  }
}
