.page-index{
	.section-product-list{
		padding: 40px 0 20px;
		.product_wrapper{
			margin-bottom: 60px;
			&:nth-last-of-type(1){
				margin-bottom: 0;
			}
		}
	}
	.section-index-gift{
		padding: 0 0 20px;
		.comp-section-img{
			margin-bottom: 40px;
		}
	}
	.section-index-contents{
		padding: 0;
		.comp-copntent-list{
			padding: 40px 0;
		}
	}
}

@media screen and (min-width: 980px){
	.page-index{
		.section-product-list{
			padding: 120px 0 100px;
			.product_wrapper{
				margin-bottom: 80px;
				&:nth-last-of-type(1){
					margin-bottom: 0;
				}
			}
		}
		.section-index-gift{
			padding: 0 0 100px;
			.comp-section-img{
				margin-bottom: 120px;
			}
		}
		.section-index-contents{
			padding: 0;
			.comp-copntent-list{
				padding: 120px 0;
			}
		}
	}
}
