.page-index{
	.section-index-main{
		.main_image{
			.pc_img{
				display: none;
			}
		}
	}
	.section-product-list{
		padding: 40px 0 20px;
		.product_wrapper{
			margin-bottom: 30px;
			&:nth-last-of-type(1){
				margin-bottom: 0;
			}
		}
	}
	.section-index-gift{
		padding: 0 0 20px;
		.comp-section-img{
			margin-bottom: 40px;
		}
	}
	.section-index-contents{
		padding: 0;
		.comp-copntent-list{
			padding: 40px 0;
		}
	}
}

@media screen and (min-width: 980px){
	.page-index{
		.section-index-main{
			.main_image{
				width: 100%;
				height: 100vh;
				.sp_img{
					display: none;
				}
				.pc_img{
					display: block;
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
		.section-product-list{
			padding: 120px 0 100px;
			.product_wrapper{
				margin-bottom: 120px;
				&:nth-last-of-type(1){
					margin-bottom: 0;
				}
			}
		}
		.section-index-gift{
			padding: 0 0 100px;
			.comp-section-img{
				margin-bottom: 120px;
			}
		}
		.section-index-contents{
			padding: 0;
			.comp-copntent-list{
				padding: 120px 0;
			}
		}
	}
}
