.page-item-list{
	padding-top: 0;
	width: 100vw;
	overflow: hidden;
	.section_inner_new{
		width: 90vw;
	}
	.section-main{
		margin-bottom: 30px;
		.image_wrap{
			height: 67vw;
			img{
				height: auto;
			}
		}
	}
	.section-products{
		margin-bottom: 80px;
		.title_flex{
			margin-bottom: 35px;
			.comp-section-ttl{
				margin-bottom: 15px;
			}
			.postform{
				width: 100%;
				display: block;
				border: 0px;
				border-bottom: 1px solid #d8d8d8;
    		font-size: 16px;
				font-family: inherit;
				color: inherit;
    		background-color: transparent;
    		padding: 15px 10px 15px 0px;
				border-radius: 0px;
    		height: auto;
				@include bgSet;
				background-image: url(https://cdn.shopify.com/s/files/1/0608/6233/3116/files/select_caret_green.svg?v=1647776456);
				background-size: 8px;
    		background-position: center right 10px;
				background-color: transparent;
				-webkit-appearance: none;
				appearance: none;
				&:focus{
					outline: none;
				}
			}
		}
		.comp-product-block{
			@media screen and (max-width: 719px){
				margin-left: -5vw;
			}
		}
		.comp-pager{
			max-width: 75vw;
			margin: 20px auto 0;
		}
	}
	.section-gift{
		padding-top: 50px;
		background: linear-gradient(180deg, #fafafa 0%, #fafafa 70%, #fff 70%, #fff 100%);
		width: 100%;
		overflow: hidden;
		.img_wrap{
			width: calc(100vw + 1px);
			margin: 35px -5vw 0;
			position: relative;
			img{
				max-width: unset;
				width: 118vw;
				height: auto;
				margin: 0 -9vw;
				@media screen and (min-width: 720px){
					max-width: 100%;
					width: 100%;
					margin: 0 auto;
				}
			}
			.cover_link{
				display: block;
				position: absolute;
				z-index: 20;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin:auto;
				.caret{
					position: absolute;
					width: 26px;
					height: 26px;
					border-radius: 100%;
					background: rgba(255, 255, 255, 0.3);
					top: 0;
					bottom: 0;
					right: 25px;
					margin: auto;
					transition: all 0.5s;
					&::before{
						position: absolute;
    				width: 6px;
    				height: 6px;
    				content: "";
    				top: 0;
    				bottom: 0;
    				right: 3px;
    				left: 0;
    				margin: auto;
    				border-top: 2px solid #fff;
    				border-right: 2px solid #fff;
    				transform: rotate(45deg);
    				transition: all 0.5s;
					}
				}
			}
			.txt_block{
				position: absolute;
				left: 25px;
				bottom: 25px;
				color: #fff;
				h3{
					font-size: 2.0rem;
					letter-spacing: 0.05em;
					font-weight: normal;
    			margin-bottom: 15px;
				}
				h4{
					font-size: 1.4rem;
					letter-spacing: 0.05em;
					font-weight: normal;
				}
			}
		}
	}
	.section-category{
		.comp-category-list{
			@media screen and (max-width: 719px){
				margin-left: -5vw;
			}
		}
	}
}

@media screen and (min-width: 720px){
	.page-item-list{
		.section-main{
			margin-bottom: 50px;
			.image_wrap{
				height: 67vw;
			}
		}
		.section-products{
			margin-bottom: 100px;
			.title_flex{
				@include flexSet;
				justify-content: space-between;
				align-items: flex-end;
				margin-bottom: 50px;
				.comp-section-ttl{
					width: calc(100% - 200px);
					margin-bottom: 0px;
				}
				.postform{
					width: 200px;
	    		padding: 15px 10px 15px 0px;
	    		height: auto;
					&:focus{
						outline: none;
					}
				}
			}
			.comp-pager{
				max-width: 380px;
				margin: 60px auto 0;
			}
		}
		.section-gift{
			padding-top: 50px;
			margin-bottom: 8vw;
			.img_wrap{
				width: 100%;
				margin: 45px auto 0;
				position: relative;
				.cover_link{
					display: block;
					position: absolute;
					z-index: 20;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin:auto;
					.caret{
						width: 30px;
						height: 30px;
					}
				}
				.txt_block{
					left: 5%;
					bottom: 30px;
					h3{
						font-size: 3.0rem;
	    			margin-bottom: 20px;
					}
					h4{
						font-size: 1.6rem;
						letter-spacing: 0.05em;
						font-weight: normal;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 980px){
	.page-item-list{
		padding-top: 0;
		width: 100vw;
		overflow: hidden;
		.section_inner_new{
			width: 84vw;
			max-width: 1400px;
		}
		.section-main{
			margin-bottom: 70px;
			.image_wrap{
				background-size: cover;
				background-position: center center;
				background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/product_list/main_psww0f.jpg);
				height: 580px;
				img{
					display: none;
				}
			}
		}
		.section-products{
			margin-bottom: 120px;
			.title_flex{
				margin-bottom: 60px;
				.comp-section-ttl{
					width: calc(100% - 220px);
				}
				.postform{
					width: 220px;
				}
			}
			.comp-pager{
				margin: 60px auto 0;
			}
		}
		.section-gift{
			padding-top: 100px;
			.section_inner_new{
				max-width: 1000px;
			}
			.img_wrap{
				width: 100%;
				margin: 50px auto 0;
				position: relative;
				.cover_link{
					&::before{
						display: block;
						content: "";
						position: absolute;
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						pointer-events: none;
						background: rgba(255,255,255,0.1);
						opacity: 0;
						transition: opacity .3s;
					}
					&:hover{
						&::before{
							opacity: 1;
						}
					}
				}
				.txt_block{
					left: 40px;
					bottom: 40px;
					h3{
						font-size: 3.0rem;
						font-weight: normal;
	    			margin-bottom: 20px;
					}
					h4{
						font-size: 1.6rem;
					}
				}
			}
		}
	}
}
