.page-product{
	padding-top: 85px;
	margin-bottom: 80px;
	.section-product-detail{
		margin-bottom: 50px;
		.section_wide{
			max-width: 92vw;
			margin: 0 auto;
			.detail_wrap{
				margin-top: 30px;
				padding: 0 2vw;
				.comp-page-bread{
					margin-bottom: 25px;
				}
				.name_wrap{
					display: block;
					margin-bottom: 20px;
					.prod_ttl{
						.ttl_jp{
							display: block;
							font-size: 1.3rem;
							margin-bottom: 5px;
						}
						.ttl_en{
							display: block;
							font-size: 2.4rem;
							line-height: 1.5;
							@include grotesk;
							.genre{
								display: block;
								font-size: 1.4rem;
								margin-top: 3px;
								margin-bottom: 20px;
							}
						}
					}
					.prod_price{
						display: block;
						margin-top: 5px;
						span{
							display: inline-block;
							font-size: 1.2rem;
							padding-right: 5px;
						}
					}
				}
				.detail_upper{
					margin-bottom: 30px;
					.prod_catchcopy{
						font-size: 1.8rem;
						line-height: 1.6;
						margin-bottom: 10px;
					}
					.description{
						@include basicP;
					}
				}
				.desc_unit{
					position: relative;
					margin-bottom: 40px;
					padding-bottom: 40px;
					&::after{
						display: block;
						content: "";
						position: absolute;
						bottom:0;
						left:-7vw;
						width: 100vw;
						height: 1px;
						background: $borderColor;
					}
					&:nth-last-of-type(1){
						padding-bottom: 50px;
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.section-product-recomend01{
		margin-bottom: 50px;
	}
	.section-product-recomend02{
		margin-bottom: 50px;
	}
	.section-links-product{
		margin-bottom: 80px;
	}
}

@media screen and (min-width: 980px){
	.page-product{
    padding-top: 120px;
    margin-bottom: 160px;
    overflow: visible;
    .section-product-detail{
      margin-bottom: 160px;
      overflow: visible;
      .section_wide{
        width: 94vw;
        max-width: 1550px;
        min-width: 1200px;
          overflow: visible;
        .flex_wrap{
          @include flexSet;
          align-items: flex-start;
          overflow: visible;
          .img_wrap{
            position: sticky;
            top: 100px;
            left:0;
            width: 50%;
          }
        }
        .detail_wrap{
          width: 50%;
          margin-top: 30px;
          padding: 0 60px;
          box-sizing: border-box;
          max-width: unset;
          @media screen and (min-width: 1600px){
            padding: 0 80px;
          }
					.comp-page-bread{
						margin-bottom: 30px;
					}
					.name_wrap{
						display: block;
						margin-bottom: 20px;
						.prod_ttl{
							.ttl_jp{
								display: block;
								font-size: 1.4rem;
								margin-bottom: 10px;
							}
							.ttl_en{
								display: block;
								font-size: 2.8rem;
								line-height: 1.5;
								@include grotesk;
								.genre{
									display: block;
									font-size: 1.5rem;
									margin-top: 5px;
									margin-bottom: 25px;
								}
							}
						}
						.prod_price{
							display: block;
							margin-top: 15px;
							span{
								display: inline-block;
								font-size: 1.4rem;
								padding-right: 5px;
							}
						}
					}
					.detail_upper{
						margin-bottom: 30px;
					}
					.desc_unit{
						position: relative;
						margin-bottom: 80px;
						padding-bottom: 0px;
						&::after{
							display: none;
						}
						&:nth-last-of-type(1){
							padding-bottom: 0;
							margin-bottom: 0;
						}
					}
        }
      }
    }
		.section-product-recomend01{
			margin-bottom: 120px;
		}
		.section-product-recomend02{
			margin-bottom: 120px;
		}
		.section-links-product{
			margin-bottom: 120px;
		}
	}
}
