.comp-section-img{
  position: relative;
  .pc_img{
    display: none;
  }
  .sns_links{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width: 100%;
    height: 30px;
    @include flexSet;
    align-items: center;
    justify-content: center;
    .sns_item{
      width: 30px;
      margin: 0 7px;
      a{
        display: block;
        img{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .comp-section-img{
    .pc_img{
      display: block;
    }
    .sp_img{
      display: none;
    }
    .sns_links{
      height: 40px;
      .sns_item{
        width: 40px;
        margin: 0 15px;
        a{
          @include hover;
        }
      }
    }
  }
}
