.header{
	width: 100vw;
	position: fixed;
	z-index: 500;
	transition: all .5s;
	top:0;
	left:0;
	right:0;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	.header_inner{
		position: relative;
		@include flexSet;
		align-items: center;
		justify-content: space-between;
		border-top: 3px solid transparent;
		transition: border .3s, background .3s;
		will-change: border, background;
		.header_menu{
			button{
				width: 60px;
				height: 60px;
				@include flexSet;
				justify-content: center;
				align-items: center;
				appearance: none;
				border: none;
				box-shadow: none;
				padding: 0;
				margin: 0;
				background: transparent;
				cursor: pointer;
				transition: background .3s;
				will-change: background;
				svg{
					width: 32px;
					margin: 0 auto;
					fill: #fff;
					transition: fill .3s;
					will-change: fill;
				}
				&:hover{
					background: $bgGreen;
				}
			}
		}
		.header_left{
			position: absolute;
			top:0;
			left:0;
			right: 10px;
			bottom: 3px;
			margin: auto;
			width: 120px;
			height: 26px;
			.header_logo{
				a{
					display: block;
					@include hover;
					svg{
						width: 100%;
						fill: #fff;
						transition: fill .3s;
						will-change: fill;
					}
				}
			}
		}
		.right_wrap{
			@media screen and (max-width: 719px){
				@include flexSet;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
		}
		.header_right{
			order: 1;
			margin-right: 15px;
			.header_navigation{
				display: none;
			}
			.header_guide{
				@include flexSet;
				align-items: center;
				.nav_item{
					margin-right: 12px;
					&:nth-last-of-type(1){
						margin-right: 0;
					}
					a{
						position: relative;
						display: block;
						@include hover;
						.icon{
							display: block;
							width: 22px;
							svg{
								width: 100%;
								fill: #fff;
								transition: fill .3s;
								will-change: fill;
							}
						}
						.txt{
							display: none;
						}
						.cart_item_num{
							position: absolute;
							width: 14px;
							height: 14px;
							border-radius: 50%;
							background-color: #fff;
							text-align: center;
							color: $basicGreen;
							bottom: -4px;
							right: -4px;
							line-height: 12px;
							box-sizing: border-box;
							@include libre-r;
							font-size: 10px;
							text-indent: 0.1em;
							border: 1px solid $basicGreen;
							transition: background .3s, border .3s, color .3s;
							will-change: background, border, color;
						}
					}
				}
			}
		}
	}
	&.rolled_sp{
		.header_inner{
			background: #fff;
			border-top: 3px solid $basicGreen;
			.header_menu{
				button{
					svg{
						fill: $basicGreen;
					}
				}
			}
			.header_left{
				.header_logo{
					a{
						svg{
							fill: $basicGreen;
						}
					}
				}
			}
			.header_right{
				.header_guide{
					.nav_item{
						a{
							.icon{
								svg{
									fill: $basicGreen;
								}
							}
							.txt{
								display: none;
							}
							.cart_item_num{
								background-color: $basicGreen;
								color: #fff;
								border: 1px solid #fff;
							}
						}
					}
				}
			}
		}
	}
}
