.comp-popup-store{
  margin-bottom: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid #d8d8d8;
  .popup_item{
    @include flexSet;
    flex-direction: row-reverse;
    box-sizing: border-box;
    align-items: center;
    .img_wrap{
      width: 45%;
      margin-right: 0px;
      a{
        display: block;
        overflow: hidden;
        img{
          transition: transform 0.3s, filter 0.3s;
          will-change: transform, filter;
        }
        &:hover{
          img{
            filter: brightness(1.1);
            transform: scale(1.05);
          }
        }
      }
    }
    .txt_wrap{
      width: 55%;
      box-sizing: border-box;
      .shop_ttl{
        margin-bottom: 30px;
      }
      .shop_name{
        display: block;
        font-size: 1.8rem;
        line-height: normal;
        letter-spacing: normal;
        color: inherit;
        margin-bottom: 10px;
        &.link{
          @include hover;
          span{
            display: inline-block;
            padding-right: 22px;
            position: relative;
            &::after{
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              display: block;
              content: "";
              width: 16px;
              height: 16px;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
              background-image: url(https://cdn.shopify.com/s/files/1/0536/9544/7234/files/store_caret2.svg?v=1640578093);
            }
          }
        }
      }
      .address{
        font-size: 1.4rem;
        line-height: 1.8;
        letter-spacing: 0.5px;
        margin-bottom: 20px;
        color: #646464;
      }
      .event_detail{
        font-size: 1.4rem;
        letter-spacing: 0.5px;
        margin-bottom: 0;
        .detail_item{
          @include flexSet;
          line-height: 2;
          justify-content: flex-start;
          .ttl{
            display: block;
            &::after{
              display: inline;
              content: "：";
            }
          }
        }
      }
      .map{
        color: inherit;
        font-size: 1.6rem;
        text-decoration: underline;
        @include hover;
      }
    }
  }
}

@media screen and (max-width: 980px){
  .comp-popup-store{
    margin-bottom: 60px;
    padding-bottom: 60px;
    .popup_item{
      .img_wrap{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
      }
      .txt_wrap{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-popup-store{
    margin-bottom: 40px;
    padding-bottom: 40px;
    .popup_item{
      .img_wrap{
        width: 100%;
        margin-right: 0px;
      }
      .txt_wrap{
        width: 100%;
        .shop_ttl{
          margin-bottom: 10px;
        }
        .shop_name{
          display: block;
          font-size: 1.6rem;
          margin-bottom: 10px;
          &.link{
            @include hover;
            span{
              display: inline-block;
              padding-right: 22px;
              position: relative;
              &::after{
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                display: block;
                content: "";
                width: 16px;
                height: 16px;
              }
            }
          }
        }
        .address{
          font-size: 1.3rem;
          letter-spacing: 0.44px;
          color: $basicGreen;
          margin-bottom: 15px;
        }
        .event_detail{
          font-size: 1.2rem;
          letter-spacing: 0.5px;
          margin-bottom: 0;
          color: #646464;
        }
      }
    }
  }
}
