.cart-attribute__field {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart-attribute__field input, .cart-attribute__field select, .cart-attribute__field textarea, .cart-attribute__field label {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  display: block;
}
.cart-attribute__field .delivery-date-boolean {
  display: inline-block;
  width: auto;
  margin-left: 20px;
}
.cart-attribute__field .delivery-date-boolean-label {
  display: inline-block;
  width: auto;
}