/* -------------------------------------- */
/* variables  */
$cl-button-today : #fa8072; /* today */
$cl-button-active : #add8e6; /* active date  */
$cl-button-selected : #008db7; /* selected date  */

/* 配送日指定アプリ CSS */

.app-deliverydate{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;

  &:first-child{
    margin-top: 30px;
  }
  
  & + .app-deliverydate{
    margin-top: 20px;
  }
}

/* -------------------------------------- */
/* JSカレンダー用スタイル */

.app-deliverydate__calendar{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  
  section{
    width: 250px;
  }  
  
  section + section{
    margin-left: 20px;
  }
}

.app-deliverydate__calendarItem{
  width: 250px;

  & + .app-deliverydate__calendarItem{
    margin-left: 20px;
    
    @media screen and (min-width:768px){
      margin-left: 0;
    }
  }
}

.calendar__button{
  margin-bottom: 20px;
}

.calendar__button--prev,
.calendar__button--next{
  border: 2px solid #43467F;
  width: 98px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  color: #333232;
}

.calendar__itemTitle{
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 1rem;
}

.calendar_wrap{
  border: 1px solid #ccc;
}

.calendar_weeksWrap{
  display: flex;
}

.calendar_dateWrap{
  display: flex;
}
  
.calendar__item--day{
  width: calc(250px/7);
  text-align: center;
  background: #ffff;
  padding: 5px 0;
  border: 1px solid #ccc;
}

.calendar__item--disabled{
  width: calc(250px/7);
  text-align: center;
  background: #f5f5f5;
  padding: 5px 0;
  border: 1px solid #ccc;
  color: #ccc;
}

.calendar__item--date {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  width: calc(250px/7);
  pointer-events: none;
  color: #333232;
  
  &:first-child{
    color: red;
  }

  &:last-child{
    color: royalblue;
  }

  &.is-today{
    background-color: $cl-button-today;
  } 
  
  &.is-active{
    background-color: $cl-button-active;
    pointer-events: auto !important;
  } 
  
  &.is-selected{
    background-color: $cl-button-selected !important;
    border-radius: 3px;
  }
}


/* -------------------------------------- */
/* 配送時間セレクト用スタイル */

select#delivery_time{
  display: inline-block;
  border: 2px solid #43467F;
  border-radius: 0;
  width: 200px;
  color: #333232;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 4px;
}
