<article id="reset" class="page-admin-login">
	<section class="section-login">
    <div class="section_inner_new">
      <div class="admin_wrapper">
        <div class="comp-admin-title">
          <hgroup>
            <h1 class="page_ttl en">PASSWORD RESET</h1>
            <span class="page_subttl ja">パスワードの再設定</span>
          </hgroup>
        </div>
				<div class="form_width">
          {% form 'activate_customer_password' %}
					{%- if form.errors -%}
          <div class="comp-form-message">
            <div class="message_inner error">
							<p>{{ 'templates.contact.form.error_heading' | t }}</p>
            </div>
          </div>
					{%- endif -%}
					<div class="comp-admin-form">
						<div class="form_item">
							<label>パスワード</label>
							<div class="form_wrap">
								<input type="password" name="customer[password]" id="password" autocomplete="new-password" placeholder="パスワード" aria-autocomplete="list" class="admin">
							</div>
						</div>
						<div class="form_item">
							<label>パスワード(確認用)</label>
							<div class="form_wrap">
								<input type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="new-password" class="admin">
							</div>
						</div>
					</div><!-- comp-admin-form -->
					<div id="submitButton" class="comp-admin-button">
						<input type="submit" class="btn" value="パスワードをリセット">
					</div>
					{%- endform -%}
				</div><!-- form_width -->
			</div><!-- admin_wrapper -->
		</div><!-- section_inner_new -->
	</section>
</article>
