<article id="login" class="page-login">
	<div class="section_inner" id="CustomerLoginForm">
		<div class="comp-admin-title center">
			<h1 class="title_ja">ログイン</h1>
			<span class="title_en">Log in</span>
		</div>
		<div class="comp-form-wrap">
		{% form 'customer_login', novalidate: 'novalidate' %}
			<div class="form_input">
				<div class="form_item">
					<label>メールアドレス</label>
					<div class="input_wrap">
						<input
							type="email"
							name="customer[email]"
							id="CustomerEmail"
							placeholder="example@komons-japan.com"
							autocomplete="email"
							autocorrect="off"
							autocapitalize="off"
							{%- if form.errors contains 'form' -%}
								class="input--error"
								aria-invalid="true"
							{%- endif -%}
						>
					</div>
				</div>
				<div class="form_item">
					<label>パスワード</label>
					<div class="input_wrap">
						<input
							type="password"
							value=""
							name="customer[password]"
							id="CustomerPassword"
							{%- if form.errors contains 'form' -%}
								class="input--error"
								aria-invalid="true"
							{%- endif -%}
						>
					</div>
				</div>
			</div>
			<div class="comp-submit-button">
				<button><span>ログイン</span></button>
				<input
					type="submit"
					class="btn"
					value="{{ 'customer.login.sign_in' | t }}"
				>
			</div>
		{% endform %}
		<p class="recover-link">
			<a href="#recover" id="RecoverPassword">パスワードをお忘れの方はこちら</a>
		</p>
		<p class="register-link">
			<a href="/account/register">アカウントをお持ちでない方はこちら</a>
		</p>
		</div>
		<p class="subscription-link">
			<a href="#">2021年3月以前よりの定期購入情報についてはこちら</a>
		</p>
	</div>
	<div class="section_inner hide" id="RecoverPasswordForm">
		<div class="comp-admin-title center">
			<h1 class="title_ja">パスワードの再設定</h1>
			<span class="title_en">Reset Password</span>
		</div>
		<div class="comp-form-wrap">
			{% form 'recover_customer_password' %}
				<div class="form_input">
					<div class="form_item">
						<label>メールアドレス</label>
						<div class="input_wrap">
							<input
								type="email"
								value=""
								name="email"
								id="RecoverEmail"
								placeholder="example@komons-japan.com"
								autocorrect="off"
								autocapitalize="off"
								{% if form.errors %}
									aria-invalid="true"
									aria-describedby="RecoverEmail-email-error"
								{%- endif -%}
							>
							{%- if form.errors -%}
								<span id="RecoverEmail-email-error" class="input-error-message">
									<span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
									{%- comment -%}
									{% include 'icon-error' %}
									{%- endcomment -%}
									<span>{{ form.errors.messages['form'] }}</span>
								</span>
							{%- endif -%}
						</div>
					</div>
				</div>
				<div class="comp-submit-button">
					<button class="small"><span>パスワード再設定用メールを送信</span></button>
					<input
						type="submit"
						class="btn"
						value="{{ 'customer.recover_password.submit' | t }}"
					>
				</div>
			{% endform %}
		</div>
	</div>
</article>
<script>
	$('body').addClass('fixed');
</script>
