<article id="signIn" class="page-admin-login">
<section class="section-admin">
	<div class="section_inner_new">
		<div class="admin_wrapper">
			<div class="comp-admin-title">
				<hgroup>
					<h1 class="page_ttl en">SIGN IN</h1>
					<span class="page_subttl ja">アカウントの新規作成</span>
				</hgroup>
			</div>
			<div class="form_width">
				{%- form 'create_customer', novalidate: 'novalidate' -%}
				{%- if form.errors -%}
				<div class="comp-form-message">
					<div class="message_inner success">
						{%- for field in form.errors -%}
						<p>{{ form.errors.messages[field] }}</p>
						{%- endfor -%}
					</div>
				</div>
				{%- endif -%}
					<div class="comp-admin-form">
						<div class="form_item column2">
							<div class="flex_box">
								<label class=" typesquare_option">お名前(姓)</label>
								<div class="form_wrap">
									<input type="text" name="customer[last_name]" id="RegisterForm-LastName" autocomplete="family-name" placeholder="山田" class="admin">
								</div>
							</div>
							<div class="flex_box">
								<label class=" typesquare_option">お名前(名)</label>
								<div class="form_wrap">
									<input type="text" name="customer[first_name]" id="RegisterForm-FirstName" autocomplete="given-name" placeholder="太郎" class="admin">
								</div>
							</div>
						</div>
						<div class="form_item">
							<label class=" typesquare_option">メールアドレス</label>
							<div class="form_wrap">
								<input type="email" name="customer[email]" id="RegisterForm-email" spellcheck="false" autocapitalize="off" autocomplete="email" aria-required="true" placeholder="{{ 'customer.register.email' | t }}" class="admin">
							</div>
						</div>
						<div class="form_item">
							<label class=" typesquare_option">パスワード</label>
							<div class="form_wrap">
								<input type="password" name="customer[password]" id="RegisterForm-password" aria-required="true" class="admin">
							</div>
						</div>
					</div>
				<div id="submitButton" class="comp-admin-button">
				<input type="submit" class="btn typesquare_option" value="アカウントを作成">
				</div>
				<div class="footer_button">
					<a href="{{ routes.account_login_url }}" class="back_button"><span>ログインはこちら</span></a>
				</div>
			{%- endform -%}
			</div><!-- form_width -->
		</div>
	</div><!-- section_inner_new -->
</section>
</article>
