<article id="reset" class="page-reset">
	<div class="section_inner" id="CustomerLoginForm">
		<div class="comp-admin-title center">
			<h1 class="title_ja">パスワードの再設定</h1>
			<span class="title_en">Reset Password</span>
		</div>
		<div class="comp-form-wrap">
		{% form 'reset_customer_password' %}
			<div class="form_input">
				<div class="form_item">
					<label for="ResetPassword">新しいパスワード</label>
					<div class="input_wrap">
						<input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
					</div>
				</div>
				<div class="form_item">
					<label for="PasswordConfirmation">新しいパスワード（確認）</label>
					<div class="input_wrap">
						<input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
					</div>
				</div>
			</div>
			<div class="comp-submit-button">
				<button><span>パスワードを再設定</span></button>
				<input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
			</div>
			{%- if form.errors -%}
				<div class="form-message form-message--error">
					{{ form.errors | default_errors }}
				</div>
			{%- endif -%}
		{% endform %}
	</div>
</article>
<script>
	$('body').addClass('fixed');
</script>
