<article id="notFound" class="page-404">
<section class="section404">
<div class="section_inner">
  <div class="empty-page-content text-center">
    <h1 class="title">{{ 'general.404.title' | t }}</h1>
    <p class="desc">{{ 'general.404.subtext' | t }}</p>
    <a class="link_button" href="{{ routes.root_url }}" class="btn btn--has-icon-after">{{ 'general.404.link' | t }}</a>
  </div>
</div><!-- section_inner -->
</section>
</article>
