{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<article id="itemCategory" class="page-item-category {{ collection.metafields.custom_fields["category_type"] }}">
{% if collection.metafields.custom_fields["category_type"] != 'pharaoh' %}
{% section 'collection-template' %}
{% else %}
{% section 'collection-pharaoh' %}
{% endif %}
{% section 'collection-faq' %}
{% if collection.metafields.custom_fields["product_list_type"] == 'detail' %}
{% section 'collection-list-detail' %}
<section id="fawSection" class="section-faq comp-faq-section white_bg"></section>
{% endif %}
{% if collection.metafields.custom_fields["product_list_type"] == 'banner' %}
{% section 'collection-list-banner' %}
{% endif %}
{% if collection.metafields.custom_fields["product_list_type"] == 'plain' %}
{% section 'collection-list-plain' %}
{% endif %}
{% if collection.metafields.custom_fields["product_list_type"] == 'pharaoh' %}
{% section 'collection-list-pharaoh' %}
<div style="display: none;">
{% section 'collection-list-plain' %}
</div>
<section id="fawSection" class="section-faq comp-faq-section white_bg"></section>
{% endif %}


{% if collection.metafields.custom_fields["category_type"] != 'pharaoh' %}
<section class="section-category">
  <div class="section_inner">
  {% if collection.metafields.custom_fields["category_type"] == 'fitness' %}
  {% section 'category-fitness' %}
  {% endif %}
  {% if collection.metafields.custom_fields["category_type"] == 'golf' %}
  {% section 'category-golf' %}
  {% endif %}
  </div>
  <!-- section_inner -->
</section>
{% endif %}
</article>
