<article id="index" class="page-index">
  <section class="section-slider">
    <div class="comp-index-slder">
      <div class="slider_wrap">
        <div id="indexSlider" class="slick-slider">
          <div class="item_box slick-slide">
            <a class="slide_img" href="/products/pharaoh-jp" style="background-image:url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/index/slider01_mumi3v.jpg)"></a>
            <div class="txt_wrap">
              <a class="green" href="/products/pharaoh-jp">
                <span class="title_ja"><ls-static-755137>ファラオJP</ls-static-755137></span>
                <span class="title_en"><ls-static-449729>PHARAOH JP</ls-static-449729></span>
              </a>
              <p class="desc"><ls-static-818199>しなるのに捻じれない、最も簡単なゴルフクラブ</ls-static-818199></p>
            </div>
          </div>
          <div class="item_box slick-slide">
            <a class="slide_img" href="/products/powerbalance-pharaoh" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/slider/pb_banner_2_n6xnh7.jpg)"></a>
            <div class="txt_wrap">
              <a class="yellow" href="/products/powerbalance-pharaoh">
                <span class="title_ja"><ls-static-426090>パワーバランス ファラオ</ls-static-426090></span>
                <span class="title_en"><ls-static-958217>POWER BALANCE</ls-static-958217></span>
              </a>
              <p class="desc"><ls-static-32269>スイングスポーツに必須な軸を鍛える</ls-static-32269></p>
            </div>
          </div>
          <div class="item_box slick-slide">
            <a class="slide_img" href="/products/rakuda-original" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/index/slider03_kof3h6.jpg)"></a>
            <div class="txt_wrap">
              <a class="blue" href="/products/rakuda-original">
                <span class="title_ja"><ls-static-101120>楽体オリジナル</ls-static-101120></span>
                <span class="title_en"><ls-static-475323>RAKUDA ORIGINAL</ls-static-475323></span>
              </a>
              <p class="desc"><ls-static-143412>1日5分で肩こり知らずの楽なカラダへ</ls-static-143412></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- comp-index-slder -->
    </div>
  </section>
  <section class="section-info">
    <div class="section_inner">
      <div class="info_wrap">
        <div class="title_wrap">
          <h2 class="title_ja"><ls-static-421513>最新情報</ls-static-421513></h2>
          <span class="title_en"><ls-static-667102>INFORMATION</ls-static-667102></span>
        </div>
        <div class="content_wrap">
          <p class="title">
            <span class="date">2020年12月28日</span> <a href="/blogs/infomation/年末年始の配送について"><ls-static-573685>年末年始の配送について</ls-static-573685></a>
        </div>
      </div>
    </div>
    <!-- section_inner -->
  </section>
  <section class="section-concept">
    <div class="section_inner">
      <div class="message_wrap">
        <div class="message_flex">
          <div class="hal"></div>
          <div class="txt_wrap">
            <h1 class="title"><span><ls-static-865045>皆様の健康と笑顔をサポートします。</ls-static-865045></span></h1>
            <p class="desc"><span><ls-static-423168>現代は過去に比べ、誰にとってもスポーツをより楽しむことができる時代になっています。</ls-static-423168></span><span><ls-static-422631>年齢や運動神経の悪さを理由にフィットネス・スポーツ体験をあきらめてほしくない。</ls-static-422631></span><span><ls-static-162934>みなさまにより良いスポーツ体験を提供すべく、HALスポーツは製品を届けます。</ls-static-162934></span></p>
          </div>
        </div>
        <p class="desc_sp"><span><ls-static-595709>現代は過去に比べ、誰にとってもスポーツをより楽しむことができる時代になっています。</ls-static-595709></span><span><ls-static-248959>年齢や運動神経の悪さを理由にフィットネス・スポーツ体験をあきらめてほしくない。</ls-static-248959></span><span><ls-static-479278>みなさまにより良いスポーツ体験を提供すべく、HALスポーツは製品を届けます。</ls-static-479278></span></p>
      </div>
      <!-- message_wrap -->
      <div class="link_wrap">
        <div class="link_flex">
          <div class="link_item">
            <a class="fitness" href="/collections/fitness">
              <span class="height_adjust"></span>
              <span class="txt_wrap">
                <span class="en"><ls-static-438661>FITNESS GOODS</ls-static-438661></span>
                <span class="ja"><ls-static-190712>フィットネス用品</ls-static-190712></span>
                <span class="button blue">
                  <span class="wrap">
                    <span class="arrow"><ls-static-900578>商品一覧を見る</ls-static-900578></span>
                  </span>
                </span>
              </span>
            </a>
          </div>
          <div class="link_item">
            <a class="golf" href="/collections/golf">
              <span class="height_adjust"></span>
              <span class="txt_wrap">
                <span class="en"><ls-static-478942>GOLF GOODS</ls-static-478942></span>
                <span class="ja"><ls-static-615617>ゴルフグッズ一覧</ls-static-615617></span>
                <span class="button green">
                  <span class="wrap">
                    <span class="arrow"><ls-static-218920>商品一覧を見る</ls-static-218920></span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </div>
        <div class="link_item all">
          <a class="helmethod" href="/pages/halmethod">
            <span class="height_adjust"></span>
            <span class="txt_wrap">
              <span class="en"><ls-static-96576>ABOUT HAL METHOD</ls-static-96576></span>
              <span class="ja"><ls-static-503381>ハルメソッドについて</ls-static-503381></span>
              <span class="copy"><ls-static-991732>スポーツ・フィットネスをより楽しくするために、均整のとれた美しい姿勢を科学した、独自の理論です。</ls-static-991732></span>
              <span class="button yellow">
                <span class="wrap">
                  <span class="arrow"><ls-static-322822>詳細を見る</ls-static-322822></span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <!-- section_inner -->
  </section>
  <section class="section-pickup">
    <div class="section_inner">
      <div class="comp-section-title center">
        <span class="title_en"><ls-static-709954>PICKUP ITEMS</ls-static-709954></span>
        <h2 class="title_ja"><ls-static-243530>ピックアップ商品</ls-static-243530></h2>
      </div>
      <div class="comp-pickup-items">
        <div class="pick_item">
          <div class="img_wrap">
            <a href="/products/rakuda-original">
              <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/index/slider03_kof3h6.jpg">
            </a>
          </div>
          <div class="txt_wrap blue">
            <a class="prod_name" href="/products/rakuda-original"><ls-static-733292>楽体オリジナル</ls-static-733292></a>
            <span class="price"><ls-static-369280>3,800円(税抜)</ls-static-369280></span>
            <p class="desc"><ls-static-908398>1日5分の簡単エクササイズで均整のとれた正しい姿勢が身につきます。肩こり知らずの楽な身体へ。</ls-static-908398></p>
            <div class="detail_button">
              <a href="/products/rakuda-original"><span><ls-static-638963>詳細を見る</ls-static-638963></span></a>
            </div>
          </div>
        </div>
        <div class="pick_item">
          <div class="img_wrap">
            <a href="/products/pharaoh-jp">
              <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/index/slider01_mumi3v.jpg">
            </a>
          </div>
          <div class="txt_wrap green">
            <a class="prod_name" href="/products/pharaoh-jp"><ls-static-618983>ファラオJP</ls-static-618983></a>
            <span class="price"><ls-static-605094>79,800円(税抜)</ls-static-605094></span>
            <p class="desc"><ls-static-80999>しなるのに捻じれない。日本人の体格に合わせて設計された日本人の為のゴルフクラブ。誰でも簡単に振れます。</ls-static-80999></p>
            <div class="detail_button">
              <a href="/products/pharaoh-jp"><span><ls-static-140560>詳細を見る</ls-static-140560></span></a>
            </div>
          </div>
        </div>
        <div class="pick_item">
          <div class="img_wrap">
            <a href="/products/powerbalance-pharaoh">
              <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/slider/pb_banner_2_n6xnh7.jpg">
            </a>
          </div>
          <div class="txt_wrap yellow">
            <a class="prod_name" href="/products/powerbalance-pharaoh"><ls-static-695399>パワーバランス ワチ</ls-static-695399></a>
            <span class="price"><ls-static-65344>8,000円(税抜)</ls-static-65344></span>
            <p class="desc"><ls-static-204259>野球の基礎トレーニングに特化したパワーバランスファラオ。体幹強化、筋力強化、姿勢改善はもちろん、スイング以外のトレーニングにも。</ls-static-204259></p>
            <div class="detail_button">
              <a href="/products/powerbalance-pharaoh"><span><ls-static-578550>詳細を見る</ls-static-578550></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- comp-pickup-items -->
    </div>
    <!-- section_inner -->
  </section>
  <section class="section-category">
    <div class="section_inner">
      {% section 'category-fitness' %}
      {% section 'category-golf' %}
    </div><!-- section_inner -->
  </section>
  <section class="section-labo">
    <div class="section_inner">
      <div class="comp-section-title red center no_line">
        <span class="title_en"><ls-static-150009>HAL METHOD LAB</ls-static-150009></span>
        <h2 class="title_ja"><ls-static-220983>ハルメソッド研究所</ls-static-220983></h2>
        <p class="desc"><ls-static-936929>ハルメソッドのノウハウは、様々な領域で導入されています。</ls-static-936929></p>
      </div>
      <div class="comp-movie-wrap">
        <div id="movieSlider" class="slide_wrap">
          <div class="item_box slick-slide">
            <div class="img_wrap">
            <div class="movie_box">
              <span class="filter"></span>
              <span class="thumb" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/movie/movie01_wmpxkb.jpg);"></span>
              <iframe src="https://www.youtube.com/embed/1OeM3R9VOtc?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
            <div class="txt_wrap">
              <span class="en_title"><ls-static-723642>INTRODUCTION</ls-static-723642></span>
              <h3 class="movie_name"><ls-static-334962>HALMETHOD IN 企業</ls-static-334962></h3>
            </div>
          </div>
          <div class="item_box slick-slide">
            <div class="img_wrap">
            <div class="movie_box">
              <span class="filter"></span>
              <span class="thumb" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/movie/movie02_xazmoi.jpg);"></span>
              <iframe src="https://www.youtube.com/embed/0VffU6p-r3w?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
            <div class="txt_wrap">
              <span class="en_title"><ls-static-408273>INTRODUCTION</ls-static-408273></span>
              <h3 class="movie_name"><ls-static-421569>HAL METHOD×野球部</ls-static-421569></h3>
            </div>
          </div>
          <div class="item_box slick-slide">
            <div class="img_wrap">
            <div class="movie_box">
              <span class="filter"></span>
              <span class="thumb" style="background-image: url(https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597717739/movie/movie03_teqxvf.jpg);"></span>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WsIJtNWICyI?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
            <div class="txt_wrap">
              <span class="en_title"><ls-static-48289>INTRODUCTION</ls-static-48289></span>
              <h3 class="movie_name"><ls-static-325905>HALMETHOD IN 介護</ls-static-325905></h3>
            </div>
          </div>
        </div>
        <!-- movieSlider -->
      </div>
      <!-- comp-movie-wrap -->
      <div class="comp-link-button-index">
        <a class="red" target="_blank" href="https://www.youtube.com/channel/UCx4Mp3S63eLTeQi_q2NVaDA"><span class="youtube"><ls-static-553193>YOUTUBE CHANNEL</ls-static-553193></span></a>
      </div>
    </div>
    <!-- section_inner -->
  </section>
  <section class="section-blog">
    <div class="section_inner">
      <div class="comp-section-title center yellow no_line">
        <span class="title_en"><ls-static-481953>BLOG&NEWS</ls-static-481953></span>
        <h2 class="title_ja"><ls-static-292328>ブログ&amp;ニュース</ls-static-292328></h2>
      </div>
      <div id="newsListIndex" class="comp-news-list"></div>
      <!-- comp-news-list -->
      <div class="comp-link-button-index">
        <a class="yellow" href="/blogs/all">
          <span class="news"><ls-static-728862>ニュース一覧</ls-static-728862></span>
        </a>
      </div>
    </div>
    <!-- section_inner -->
  </section>
</article>
<script type="text/javascript">
  $(function(){
    var domain = window.location.protocol + '//' + window.location.host;
    var url = location.href;
    if(url.includes('/en', 0)){
      var quoteURL = domain + '/en/blogs/all'
    }else{
      var quoteURL = domain + '/blogs/all'
    }
      $.ajax({
        url: quoteURL,
          cache: false,
          dataType:'html',
          success: function(html){
            var product_num = 4; //抜き出したい商品の数
            var list = $(html).find('.comp-news-list').find('.list_item'); // 抜き出す情報を商品一覧ページから指定
            for (var i = 0; i < product_num; i++) {
              if ( !list[i] ) break;
              $('#newsListIndex').append(list[i]); // 抜き出した情報を埋め込みたい場所を指定
            }
          }
      });
  });
</script>
