<div class="setting_item">
  <div class="comp-admin-subttl">
    <h2 class="ttl">熨斗の設定</h2>
  </div>
  <div class="option_flex">
    <div class="img_box">
      <div class="radio_wrap">
        <div class="radio_item" style="width: 100%;">
          <label>
            <div class="img_wrap" style="margin-bottom:0;">
              <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/cart_noshi_new2.jpg?v=1689780622">
              <input type="hidden" name="attributes[熨斗の種類:]" value="紅白梅結び" checked="">
            </div>
          </label>
        </div>
      </div>
    </div>
    <div class="comp-admin-form">
      <div class="form_item">
        <label class="large ">熨斗の表書き(任意)</label>
        <div class="form_wrap">
          <input id="noshiType" type="text" name="attributes[熨斗の表書き:]">
          <p class="example">入力例) 御祝・内祝・御結婚祝・御礼・お歳暮など</p>
        </div>
      </div>
      <div class="form_item">
        <label class="large ">熨斗の名入れ(任意)</label>
        <div class="form_wrap">
          <input id="noshiName" type="text" name="attributes[熨斗の名入れ:]">
          <p class="example">連名の場合は、その旨ご記載ください。</p>
        </div>
      </div>
    </div><!-- comp-admin-form -->
  </div>
</div>
