<section class="section-instagram comp-instagram-wrap">
  <div class="section_inner">
    <p class="insta_ttl">Instagram</p>
    <div id="insta-feed" class="insta_feed"></div>
    <div class="link_button">
      <a target="_blank" href="https://www.instagram.com/komons.jp/"><span>komons.jp</span></a>
    </div>
  </div><!-- section_inner -->
</section>
