<div id="subscriptionModal" class="comp-subscription-modal">
		<div id="subscriptionModalBg" class="pop_bg"></div>
		<div class="subpop_inner">
			<button class="pop_close"></button>
			<div class="subpop_contents">
				<div class="comp-detail-title margin">
					<hgroup>
						<span class="title_en">Subscription</span>
						<h2 class="title_ja">定期購入について</h2>
					</hgroup>
				</div>
				<div class="subfaq_wrap">
					<div id="subFaq" class="comp-faq-contents">
						<div class="item_wrap">
							<div class="toggle_menu">
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品で使用できる決済方法</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>クレジット決済(VISA、MASTER、AMERICAN EXPRESS、JCB)がご利用になれます。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入の状況を確認する方法</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>マイページより定期購入の状況の確認・変更が可能です。<br>※定期購入商品のご購入及びマイページへのログインには、ご購入の際に登録頂いたメールアドレスにてKomonsオンラインストアの会員アカウントを作成頂く必要があります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入の注文をスキップすることは可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>定期購入会員画面よりスキップ可能です。スキップ設定より6日後以降に配送される初回の配送分よりスキップが反映されます。またスキップの回数は1配送あたり最大2回までです。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品の数量変更・追加は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>可能です。変更が商品が発送される6日以上前までであれば、次回配送分より変更が反映されます。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品を解約したい場合はどうすればよいですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>定期購入会員画面より解約が可能です。解約より6日後以降に配送される商品分より、定期購入契約が停止されます。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品の商品不備による交換</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>お届け内容の不備による交換は、返送料を弊社にて負担いたします。商品到着後、商品到着後2週間以内にご連絡のうえ、ご返送ください。返送品の到着を確認後、交換の手続きをいたしますので、お手数ですが、お問い合わせフォームよりご連絡をお願いいたします。</p>
										</div>
									</div>
								</div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品のお客様都合による返品</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>お客様のご都合による返品の場合は､返送料はお客様のご負担となります。商品到着後2週間以内にご連絡のうえ、ご返送ください。返送品の到着を確認後、返金の手続きをいたします。</p>
										</div>
									</div>
								</div>
								<div class="toggle_item">
									<button class="toggle_button">配送日時の指定・変更は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>初回購入についてはご購入時のカート画面より指定可能です。2回目以降のご購入は商品が発送される6日前までに限り、定期購入会員画面より変更可能です。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品に送料は発生しますか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>送料は660円(税込)となります。契約頂く定期購入商品の購入金額が5,500円(税込)以上の場合は送料無料となります。</p>
										</div>
									</div>
								</div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入契約後の配送先住所の変更は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>定期購入会員画面より変更可能です。<br>変更後2日前の10時までの変更分まで次回お届けの商品より変更後の配送先にお届け可能です。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入契約後の支払い方法の変更は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>定期購入会員画面より変更可能です。</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- subpop_inner -->
	</div>
