.page-faq{
	padding-top: 40px;
	margin-bottom: 60px;
	.section-header{
		margin-bottom: 40px;
		.comp-section-ttl{
			margin: 40px 0 30px;
		}
		.search_wrap{
			.key_input{
				@include flexSet;
				justify-content: space-between;
				align-items: flex-end;
				position: relative;
				input[type="text"]{
					width: calc(100% - 75px);
					border: none;
					height: 35px;
					line-height: 35px;
					font-size: 16px;
					font-family: inherit;
					box-sizing: border-box;
					border-bottom: 1px solid #979797;
					border-radius: 0px;
					&:focus{
						outline: none;
					}
				}
				.search_submit{
					width: 60px;
					font-size: 1.4rem;
					padding: 7px 0;
					color: #fff;
					text-align: center;
					background: $basicGreen;
					font-family: inherit;
					border: none;
					box-shadow: none;
					cursor: pointer;
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
	.section-faq-contents{
		.faq_flex{
			.category_wrap{
				margin-bottom: 50px;
				.category_ttl{
					display: block;
					font-size: 1.8rem;
					margin-bottom: 15px;
				}
				.comp-category-button{
					.sp_none{
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 720px){
	.page-faq{
		padding-top: 80px;
		margin-bottom: 100px;
		.section-header{
			margin-bottom: 60px;
			.comp-section-ttl{
				margin: 40px 0 30px;
			}
			.search_wrap{
				.key_input{
					input[type="text"]{
						width: calc(100% - 80px);
						height: 45px;
						line-height: 45px;
					}
					.search_submit{
						width: 60px;
						height: 45px;
						line-height: 45px;
					}
				}
			}
		}
		.section-faq-contents{
			.faq_flex{
				.category_wrap{
					margin-bottom: 30px;
					.comp-category-button{
						.sp_none{
							display: inline;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 980px){
	.page-faq{
		padding-top: 100px;
		margin-bottom: 120px;
		.section-header{
			margin-bottom: 80px;
			.section_inner_new{
				@include flexSet;
				justify-content: space-between;
				align-items: flex-end;
			}
			.comp-section-ttl{
				margin: 40px 0 0px;
			}
			.search_wrap{
				width: 360px;
				.key_input{
					@include flexSet;
					justify-content: space-between;
					align-items: flex-end;
					input[type="text"]{
						width: calc(100% - 80px);
						font-size: 16px;
					}
					.search_submit{
						width: 60px;
					}
				}
			}
		}
		.section-faq-contents{
			.faq_flex{
				@include flexSet;
				align-items: flex-start;
				.category_wrap{
					width: 260px;
    			position: sticky;
    			left: 0;
    			top: 120px;
    			margin-right: 80px;
					margin-bottom: 0;
					.category_ttl{
						font-size: 2.0rem;
						margin-bottom: 25px;
					}
				}
				.faq_wrap{
					width: calc(100% - 340px);
				}
			}
		}
	}

}
