@charset "UTF-8";

#faq {

	#guideNav {
		background: #f5f5f5;
		padding: 50px;
		box-sizing: border-box;
		@include waku;
		padding-bottom: 70px;
		margin-bottom: 70px;
		@media screen and (max-width: 1150px) {
			margin-bottom: 50px;
		}

		.item_wrap {
			.ttl_h3 {
				padding: 10px;
				background: #f1f1f1;
				font-size: 16px;
				margin-bottom: 20px;
				margin-top: 50px;
			}

			ul {
				padding: 0;
				@include flexSet;
				justify-content: flex-start;

				li {
					width: 32%;
					margin-right: 2%;
					padding: 5px 0;
					margin-bottom: 5px;
					box-sizing: border-box;

					&:nth-child(3n) {
						margin-right: 0;
					}

					a {
						display: block;
						color: #fff;
						font-size: 14px;
						padding: 10px 40px 10px 10px;
						position: relative;
						transition: opacity 0.5s;
						background: #312c24;
						border-radius: 5px;

						&::before {
							position: absolute;
							width: 6px;
							height: 6px;
							content: "";
							top: -5px;
							bottom: 0;
							right: 12px;
							margin: auto;
							border-bottom: 2px solid #fff;
							border-right: 2px solid #fff;
							transform: rotate(45deg);
							transition: all 0.5s;
						}

						&:hover {
							opacity: 0.7;
						}
					}
				}
			}
		}
	}

	.toggle_menu {
		margin-bottom: 50px;
		.toggle_item {
				height: 50px;
				margin-bottom: 10px;
				transition: height .5s;
				overflow: hidden;
			.toggle_button {
				padding: 10px 15px;
				font-size: 14px;
				color: $basicGreen !important;
				border: 1px solid $basicGreen;
				display: block;
				position: relative;
				cursor: pointer;
				&::before {
					display: inline-block;
					content: "Q.";
					padding-right: 0.1em;
				}

				&::after {
					display: block;
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					right: 10px;
					margin: auto;
					width: 25px;
					height: 25px;
					@include bgSet;
					background: {
						image: url(https://journal.komons-japan.com/wp-content/themes/komons-theme/img/faq/plus.png);
						size: 20px;
						position: center center;
					}
				}

				&.active {
					&::after {
						background: {
							image: url(https://journal.komons-japan.com/wp-content/themes/komons-theme/img/faq/minus.png);
							size: 20px;
							position: center center;
						}
					}
				}
			}

			.toggle_contents {
				padding: 15px 0;
				p:first-child{
					&::before{
						display: inline-block;
						content: "A.";
						padding-right: 0.2em;
					}
				}
			}
		}
	}
	@media screen and (max-width: 1150px) {
		#guideNav {
			padding: 15px 0 60px 0;
			background: transparent;
			margin-bottom: 60px;
			border-bottom: 1px solid #f1f1f1;

			.item_wrap {
				ul {
					li {
						width: 49%;
						margin-right: 2%;
						padding: 5px 0;
						margin-bottom: 5px;

						&:nth-child(3n) {
							margin-right: 2%;
						}

						&:nth-child(2n) {
							margin-right: 0;
						}

						a {
							padding: 8px 40px 8px 10px;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: 750px) {
		#guideNav {
			margin-bottom: 50px;
			padding-bottom: 50px;
			.item_wrap {
				ul {
					padding: 0;

					li {
						width: 100%;
						margin-right: 0;
						padding: 0;
						margin-bottom: 6px;

						&:nth-child(3n) {
							margin-right: 0;
						}

						&:nth-child(2n) {
							margin-right: 0;
						}

						a {
							font-size: 14px;
    					padding: 15px 10px;
    					letter-spacing: 1px;

							&:hover {
								opacity: 1;
							}
						}
					}
				}
			}
		}
			.toggle_menu {
				margin-bottom: 30px;
				p{
					font-size: 12px !important;
				}
				.toggle_item {
					margin-bottom: 5px;
					.toggle_button {
						padding: 15px 30px 15px 10px;
						font-size: 13px;
						letter-spacing: 1.5;
    				line-height: 1.5;
    				box-sizing: border-box;

						&::before {
							display: none;
							content: "Q.";
							padding-right: 0.1em;
						}

						&::after {
							right: 10px;
							margin: auto;
							width: 15px;
							height: 15px;
							@include bgSet;
							background: {
								size: 15px;
							}
						}

						&.active {
							&::after {
								background: {
									size: 10px;
								}
							}
						}
					}
				}
			}
	}
}
