.gift-service{
  .section_ttl{
    padding: 0;
    margin-bottom: 50px;
  }
  .section-main{
    height: 500px;
    position: relative;
    margin-bottom: 80px;
    .main_visual{
      width: 100%;
      height: 500px;
      @include bgSet;
      background-size: cover;
      background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/main_pt0byw.jpg);
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin: auto;
    }
    .section_inner_new{
      @include flexSet;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 10;
      .txt_wrap{
        width: 540px;
        color: #fff;
        .main_ttl{
          padding-bottom: 0px;
          margin-bottom: 25px;
          .title_en{
            display: block;
            font-size: 54px;
            @include libre-r;
            letter-spacing: 1px;
            padding-right: 0.2em;
            margin-bottom: 10px;
            text-indent: -2px;
          }
          .title_ja{
            font-size: 1.8rem;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
          }
        }
        .main_desc{
          font-size: 1.4rem;
          font-weight: normal;
          line-height: 2;
          letter-spacing: 0.46px;
        }
      }
      .height_adjust{
        width: 1px;
        height: 500px;
      }
    }
  }
  .section-service{
    margin-bottom: 40px;
    .section_ttl{
      max-width: 100%;
      margin-bottom: 70px;
    }
  }
  .section-faq{
    border-top: 1px solid #f1f1f1;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1100px){
  .gift-service{
    .section_ttl{
      padding: 0;
      margin-bottom: 50px;
    }
    .section-main{
      height: auto;
      position: relative;
      background: #4d010e;
      margin-bottom: 60px;
      .main_visual{
        width: 100%;
        height: 500px;
        bottom: unset;
        margin: auto;
      }
      .section_inner_new{
        .txt_wrap{
          width: 50%;
          padding: 30px 30px 0;
          box-sizing: border-box;
          padding-bottom: 0px;
          @media screen and (max-width: 980px){
            width: 55%;
            padding: 30px 0px 0;
          }
        }
      }
    }
    .section-service{
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 760px){
  .gift-service{
    .section_ttl{
      padding: 0;
      text-align: center;
      margin-bottom: 35px;
      h2{
        span{
          display: block;
          font-size: 3.4rem;
          padding-right: 0;
          margin-bottom: 20px;
        }
        font{
          font-size: 1.8rem;
        }
      }
    }
    .section-main{
      margin-bottom: 60px;
      background: #4d0010;
      .main_visual{
        width: 100%;
        height: 100vw;
        background-size: contain;
        background-position: center center;
        background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/main_sp_ekk7dy.jpg);
        position: static;
      }
      .section_inner_new{
        position: relative;
        z-index: 10;
        .txt_wrap{
          width: 100%;
          padding: 0 0 35px;
          margin-top: -25px;
          .main_ttl{
            @include flexSet;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 0px;
            margin-bottom: 15px;
            border-bottom: 0px;
            .title_en{
              font-size: 4.2rem;
              font-weight: normal;
              line-height: normal;
              letter-spacing: 0.05em;
              margin-right: 7px;
              margin-bottom: 5px;
              text-indent: 0px;
            }
            .title_ja{
              font-size: 1.6rem;
            }
          }
          .main_desc{
            font-size: 1.3rem;
            line-height: 1.8;
            letter-spacing: 0.3px;
            text-align: left;
          }
        }
        .height_adjust{
          display: none;
        }
      }
    }
    .section-faq{
      padding: 60px 0;
      margin-bottom: 0;
    }
  }
}
