.page-gift-list {
  padding-top: 0;
  .section-main{
    margin-bottom: 30px;
    .main_img{
      height: 100vw;
      margin-bottom: 30px;
    }
    .lead_txt{
      .comp-section-ttl{
        margin-bottom: 20px;
      }
      .main_desc{
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        line-height: 1.8;
        p{
          margin-bottom: 0.5em;
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
        }
      }
      /*.comp-section-ttl{
        text-align: center;
        margin-bottom: 30px;
        hgroup{
          display: block;
          .ttl_en{
            padding-right: 0;
            margin-bottom: 10px;
          }
        }
      }*/
    }
  }
  .section-filter{
    margin-bottom: 40px;
  }
  .section-gift-products{
    margin-bottom: 50px;
    .section_inner_new{
      width: 90vw;
    }
  }
  .section-gift-service{
    padding: 50px 0;
    background: #f4f4f4;
  }
  .section-faq{
    padding: 60px 0;
  }
}
