.gift-service{
  .section_ttl{
    padding: 0;
    margin-bottom: 50px;
  }
  .section-main{
    height: 500px;
    position: relative;
    margin-bottom: 80px;
    .main_visual{
      width: 100%;
      height: 500px;
      @include bgSet;
      background-size: cover;
      background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/main_pt0byw.jpg);
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin: auto;
    }
    .section_inner{
      @include flexSet;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      z-index: 10;
      .txt_wrap{
        width: 540px;
        color: #fff;
        .main_ttl{
          padding-bottom: 10px;
          margin-bottom: 15px;
          border-bottom: 1px solid #fff;
          .title_en{
            display: block;
            font-size: 54px;
            @include libre-r;
            letter-spacing: 1px;
            padding-right: 0.2em;
            margin-bottom: 5px;
            text-indent: -2px;
          }
          .title_ja{
            font-size: 18px;
            font-weight: normal;
            line-height: normal;
            letter-spacing: normal;
          }
        }
        .main_desc{
          font-size: 16px;
          font-weight: normal;
          line-height: 1.52;
          letter-spacing: 0.46px;
        }
      }
      .height_adjust{
        width: 1px;
        height: 500px;
      }
    }
  }
  .section-service01{
    margin-bottom: 100px;
  }
  .section-service02{
    padding: 80px 0;
    background-color: #f8f8f8;
  }
}

@media screen and (max-width: 1100px){
  .gift-service{
    .section_ttl{
      padding: 0;
      margin-bottom: 50px;
    }
    .section-main{
      height: auto;
      position: relative;
      background: #4d010e;
      margin-bottom: 60px;
      .main_visual{
        width: 100%;
        height: 500px;
        position: static;
        background-position: top center;
        background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/main_tab_vkkeyh.jpg);
        bottom: unset;
        margin: auto;
      }
      .section_inner{
        display: block;
        position: relative;
        z-index: 10;
        .txt_wrap{
          width: 100%;
          padding: 0 30px;
          box-sizing: border-box;
          padding-bottom: 50px;
        }
        .height_adjust{
          display: none;
        }
      }
    }
    .section-service01{
      margin-bottom: 80px;
      padding: 0 30px;
    }
    .section-service02{
      padding: 60px 30px;
    }
  }
}

@media screen and (max-width: 760px){
  .gift-service{
    .section_ttl{
      padding: 0;
      text-align: center;
      margin-bottom: 35px;
      h2{
        span{
          display: block;
          font-size: 30px;
          padding-right: 0;
          margin-bottom: 10px;
        }
        font{
          font-size: 16px;
        }
      }
    }
    .section-main{
      margin-bottom: 40px;
      background: #4d0010;
      .main_visual{
        width: 100%;
        height: 100vw;
        background-size: contain;
        background-position: center center;
        background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/main_sp_ekk7dy.jpg);
      }
      .section_inner{
        position: relative;
        z-index: 10;
        .txt_wrap{
          width: 100%;
          padding: 0 0 35px;
          margin-top: -25px;
          .main_ttl{
            @include flexSet;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 0px;
            margin-bottom: 5px;
            border-bottom: 0px;
            .title_en{
              font-size: 28px;
              font-weight: normal;
              line-height: normal;
              letter-spacing: 0.05em;
              margin-right: 7px;
              margin-bottom: 3px;
              text-indent: 0px;
            }
            .title_ja{
              font-size: 18px;
            }
          }
          .main_desc{
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 0.46px;
            text-align: justify;
          }
        }
      }
    }
    .section-service01{
      padding: 0;
      margin-bottom: 60px;
    }
    .section-service02{
      padding: 50px 0 60px;
    }
  }
}
