.page-item-group-list {
  .section-basic-item{
    padding-top: 100px;
    .section_ttl{
      padding-top: 60px;
      &.search_ttl{
        @include flexSet;
        align-items: center;
        justify-content: space-between;
        .key_input{
          width: 500px;
          @media screen and (max-width: 1150px){
            width: 400px;
          }
          @include flexSet;
          input[type=text]{
            display: block;
            width: calc(100% - 85px);
            font-size: 16px;
            font-family: inherit;
            letter-spacing: 0.32px;
            padding: 10px 5px 10px 25px;
            box-sizing: border-box;
            color: $basicGreen;
            border: none;
            border-bottom: 1px solid #acacac;
            appearance: none;
            background: none;
            margin-right: 15px;
            border-radius: 0 !important;
            @include bgSet;
            background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/v1614235428/hummenu/icon_search_onxeta.svg);
            background-position: center left;
            background-size: 15px;
            &:focus{
              outline: none;
            }
            &::placeholder{
              color: #797979;
            }
          }
          .search_submit{
            line-height: 1;
            text-align: left;
            font-family: inherit;
            color: #111;
            width: 70px;
            text-align: center;
            padding: 15px 0;
            transition: opacity .3s;
            cursor: pointer;
            background: $basicGreen;
            color: #fff;
            margin-bottom: 2px;
            border: none;
            @include hover;
            letter-spacing: 0.4em;
            text-indent: 0.5em;
            &:focus{
              outline: none;
            }
          }
        }
      }
    }
  }
  .section-set-product{
    margin-bottom: 80px;
    .section_ttl{
      padding-top: 20px;
    }
  }
  .section-back{
    padding: 100px 0;
    background: #f9f9f9;
  }
}

@media screen and (max-width: 1150px){
  .page-item-group-list {
    .section_inner{
      max-width: 90%;
      width: 90%;
      .section_ttl{
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 980px){
  .page-item-group-list {
    .section-basic-item{
      padding-top: 80px;
      padding-bottom: 60px;
      .section_ttl{
        padding-top: 60px;
        &.search_ttl{
          display: block;
          .key_input{
            width: 100%;
            @include flexSet;
            margin-top: 20px;
          }
        }
      }
    }
    .section-set-product{
      margin-bottom: 60px;
      .section_ttl{
        padding-top: 20px;
      }
      .comp-gift-product-list{
        padding: 0;
        .list_item .item_thumb .img_wrap{
          height: 29vw;
        }
      }
    }
    .section-back{
      padding: 100px 0 80px;
    }
  }
}

@media screen and (max-width: 740px){
  .page-item-group-list {
    .section-basic-item{
      padding-top: 40px;
      padding-bottom: 60px;
      .section_ttl{
        padding-top: 60px;
        &.search_ttl{
          display: block;
          .key_input{
            width: 100%;
            align-items: flex-end;
            input[type=text]{
              padding: 7px 5px 7px 25px;
            }
            .search_submit{
              padding: 12.5px 0;
            }
          }
        }
      }
    }
    .section-set-product{
      margin-bottom: 60px;
      .section_ttl{
        padding-top: 20px;
      }
      .comp-gift-product-list{
        padding: 0;
        .list_item .item_thumb .img_wrap{
          height: 29vw;
        }
      }
    }
    .section-back{
      padding: 100px 0 80px;
    }
  }
}
