.page-index {
	.section-main {
		width: 100%;
		height: 100vh;
		position: relative;
		background: #312c24;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		overflow: hidden;

		.main_inner {
			width: 100%;
			height: 100vh;
			position: relative;

			.slide_fil {
				transition: all 1s;
				position: absolute;
				z-index: 10;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.5);
				&.loaded{
						transition: all 1.5s;
						background: rgba(0,0,0,0.15) !important;
				}
			}
		}

		.main_logo {
			position: absolute;
			z-index: 10;
			right: 90px;
			bottom: 50px;
			width: 100px;
			height: 146px;
			@include bgSet;
			background-image: url('https://res.cloudinary.com/dbwqcy0op/image/upload/v1613355442/index/logo_main_llan2f.svg');
			opacity: 0;
			transform: translateX(50px);
			transition: opacity 1s, transform 1s;
			&.loaded{
				opacity: 1;
				transform: translateX(0);
			}
		}

		.main_txt {
			position: absolute;
			height: 250px;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
			z-index: 11;
		}

		.slide_show {
			width: 100%;
			height: 100vh;
			position: relative;

			li {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100vh;
				background-size: cover;
				background-position: center center;
				img{
					opacity: 0;
				}
				&.slide0{
					background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide02_eygdqi.jpg);
					@media screen and (max-width: 750px){
						background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide02_sp_bphwgj.jpg);
					}
				}
				&.slide1{
					background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide01_piirph.jpg);
					@media screen and (max-width: 750px){
						background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide01_sp_dzdwrd.jpg);
					}
				}
			}
		}

		#sliderBtn {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 60px;
			margin: auto;
			height: 30px;
			z-index: 300;

			li {
				width: 14px;
				height: 2px;
				transition: all 0.3s;
				opacity: 0.5;
				margin-bottom: 10px;

				a, button {
					display: block;
					width: 100%;
					height: 2px;
					appearance: none;
					border: none;
					box-shadow: none;
					background: #fff;
				}

				&.active {
					width: 22px;
					height: 2px;
					opacity: 1;
				}
			}
		}
	}

	.section-concept {
		width: 100%;
		background: $basicGray;

		.concept_wrap {
			@include waku;
			width: 1080px;
			padding: 100px 50px 80px;
		}

		.txt_wrap {
			width: 900px;
			margin: 0 auto;
			writing-mode: vertical-rl;

			h2 {
				text-align: left;
				font-size: 28px;
				line-height: 1.75;
				letter-spacing: 3px;
				margin-left: 90px;
				span {
					display: block;
					text-indent: 4em;
				}
			}

			p {
				text-align: left;
				font-size: 14px;
				letter-spacing: 0.2em;
				line-height: 2.8;
				margin-right: 20px;
				span {
					display: block;
				}
			}

			.button_wrap {
				text-align: left;
				margin-right: 35px;

				a {
					display: inline-block;
					padding: 20px 10px 10px;
					color: #00381f;
					border: solid 1px #00381f;
					font-size: 16px;
					letter-spacing: 0.2em;
					position: relative;
					transition: all 0.5s;

					&::before {
						display: block;
						position: absolute;
						content: "";
						top: 7px;
						left: 0;
						right: 0;
						margin: auto;
						width: 0;
						height: 0;
						border: 3px solid transparent;
						border-top: 5px solid $basicGreen;
						transition: all 0.5s;
					}

					&:hover {
						color: #fff;
						background: $basicGreen;

						&::before {
							border-top: 5px solid #fff;
						}
					}
				}
			}
		}
	}

}
@media screen and (max-width: 1150px) {
	.page-index {
		.section-main {
			width: 100%;
			height: 500px;
			position: relative;
			background: #312c24;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			overflow: hidden;

			.main_inner {
				width: 100%;
				height: 500px;
				position: relative;

				.main_logo {
					position: absolute;
					z-index: 10;
					right: 30px;
					bottom: 30px;
					width: 100px;
					height: 146px;
				}

				.slide_fil {
					position: absolute;
					z-index: 10;
					width: 100%;
					height: 100%;
				}
			}

			.main_txt {
				position: absolute;
				height: 250px;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				text-align: center;
				z-index: 11;

				.main_img {
					width: 100%;
					height: 200px;
					margin: 0 auto 50px;
					transform: translateX(20px);
					@include bgSet;
					background: {
						image: url("https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/lomons_logo_jlrsgn.png");
						size: 171px;
					}
				}

				h1 {
					color: #fff;
					line-height: 1;
					font-weight: normal;
					letter-spacing: 3px;
					font-size: 18px;
					text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
				}
			}

			.slide_show {
				width: 100%;
				height: 500px;
				position: relative;

				li {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 500px;
					background-size: cover;
				}
			}
		}

		.section-concept {
			width: 100%;
			background: $basicGray;

			.concept_wrap {
				@include waku;
				width: calc(100% - 100px);
				padding: 70px 50px 70px;
			}

			.txt_wrap {
				width: 100%;
				margin: 0 auto;
				writing-mode: horizontal-tb;

				h2 {
					margin-left: 0;
					margin-bottom: 30px;

					span {
						display: inline;
						text-indent: 0;
					}
				}

				p {
					font-size: 16px;
					line-height: 2.2;
					margin-right: 0px;
					margin-bottom: 15px;
					span {
						display: inline;

						&.sp_block {
							display: block !important;
						}
					}
				}

				.button_wrap {
					margin-right: 0;
					margin-top: 30px;

					a {
						padding: 10px 10px 10px 20px;
						border: solid 1px #00381f;
						font-size: 14px;
						letter-spacing: 0.2em;
						position: relative;

						&::before {
							top: 0;
							bottom: 0;
							left: 10px;
							right: 200px;
							border: 3px solid transparent;
							border-top: 3px solid transparent;
							border-left: 5px solid $basicGreen;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 720px) {
	.page-index {
		.section-main {
			width: 100%;
			height: 100vw;

			.main_inner {
				width: 100%;
				height: 100vw;
				position: relative;
				.main_logo {
					right: 5%;
					bottom: 25px;
					width: 60px;
					height: 85px;
					background-size: cover;
				}
			}

			.main_txt {
				height: 56vw;

				.main_img {
					width: 30%;
					height: 36vw;
					margin: 0 auto 8vw;
					background: {
						size: 100%;
					}
				}

				h1 {
					line-height: 1.5;
					letter-spacing: 0.03em;
					font-size: 4.3vw;
					transform: translateX(20px);

					span {
						display: block;
					}
				}
			}

			.slide_show {
				width: 100%;
				height: 100vw;
				position: relative;

				li {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100vw;
					background-size: cover;
					background-position: center center;
				}
			}

			#sliderBtn {
				display: none;
			}
		}

		.section-concept {
			width: 100%;
			background: $basicGray;

			.concept_wrap {
				@include waku;
				box-sizing: border-box;
				padding: 50px 0;
			}

			.txt_wrap {
				width: 100%;
				margin: 0 auto;

				h2 {
					font-size: 5vw;
					line-height: 1;
					letter-spacing: 0.02em;
					margin-bottom: 30px;
    			/*line-height: 1.4;
    			letter-spacing: 0.04em;
    			margin-bottom: 25px;
    			text-indent: -2px;*/
				}

				p {
					font-size: 3.6vw;
					letter-spacing: 0.1em;
					line-height: 2;
					margin-right: 0;
					margin-bottom: 15px;
				}

				.button_wrap {
					text-align: center;
					margin: 15px auto 0;

					a {
						width: 100%;
						padding: 10px 0;
						font-weight: bold;
						background: transparent;
						border: 0px solid $basicGreen;
						letter-spacing: 0.5px;
						text-align: left;
						.txt_wrap{
							width: auto;
							display: inline-block;
							padding-right: 25px;
							position: relative;
							&::before{
								display: block;
								content: "";
								position: absolute;
								width: 15px;
								height: 15px;
								border-radius: 100%;
								background: #1b4e37;
								top: 0;
								bottom: 0;
								right: 0;
								margin: auto;
							}
							&::after {
								position: absolute;
								width: 3px;
								height: 3px;
								content: "";
								top: 0;
								bottom: 0;
								right: 6px;
								margin: auto;
								border-top: 2px solid #fff;
								border-right: 2px solid #fff;
								transform: rotate(45deg);
							}
						}

						.caret {
							display: none;
							position: absolute;
							width: 20px;
							height: 20px;
							border-radius: 100%;
							background: #1b4e37;
							top: 0;
							bottom: 0;
							right: 15px;
							margin: auto;

							&::after {
								position: absolute;
								width: 4px;
								height: 4px;
								content: "";
								top: 0;
								bottom: 0;
								right: 3px;
								left: 0;
								margin: auto;
								border-top: 2px solid #fff;
								border-right: 2px solid #fff;
								transform: rotate(45deg);
							}
						}

						&::before {
							display: none;
						}
					}
				}
			}
		}

	}
}
