@charset "UTF-8";

#journalDetail {
  padding-bottom: 100px;
  .main {
    width: 100%;
    height: 520px;
    background-size: 100% auto;
    background-position: center center;

    &::after {
      width: 100%;
      height: 520px;
      content: ' ';
      display: block;
      background: url('../img/shadow_overlay.png') top center;
      background-repeat: repeat-x;
    }
  }

  .journal_detail {
    max-width: 700px;
    margin: 0 auto;

    .post_head {
      position: relative;
      margin-top: 60px;
      padding-bottom: 45px;
      margin-bottom: 45px;
      border-bottom: 1px solid #E4E4E4;

      .post_date {
        position: absolute;
        left: -140px;
        top: 103px;
        transform: rotate(90deg);
        text-align: left;
        width: 200px;
        @include libre-r;
        font-size: 12px;
        letter-spacing: 1px;
        color: #111111;

        span {
          // float: left;
          display: inline-block;
        }
        // &::after {
        //   float: left;
        //   display: inline-block;
        //   content: ' ';
        //   height: 40px;
        //   width: 0;
        //   transform: rotate(90deg);
        //   border-right: 1px solid #111111;
        // }
      }
      .post_excerpt {
        line-height: 28px;
        color: #111;
        font-size: 14px;
        margin-top: 35px;
      }
      .post_title {
        font-size: 35px;
        line-height: 50px;
      }
      .post_tags {
        margin-top: 15px;
        li {
          float: left;
          margin-right: 10px;
          a {
              color: #007a44;
              font-size: 14px;
              line-height: 20px;
              font-weight: bold;
          }
        }
      }
    }
    .post_body {
      color: #111;
      font-size: 16px;
      line-height: 37px;
      border-bottom: 1px solid #F0F0F0;
      padding-bottom: 80px;
      margin-bottom: 60px;

      h1,h2 {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 25px;
        color: #333;
      }

      h3, h4 {
        font-size: 20px;
        line-height: 34px;
        margin-bottom: 25px;
        color: #333;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 7px;
      }

      h5, h6 {
        font-size: 13px;
        margin-top: -12px;
      }

      p{
        &.large{
          display: inline-block;
          font-size: 20px;
          letter-spacing: 0.5px;
          border-bottom: 1px dotted $basicGreen;
        }
        &.notice{
          color: #666;
        }
      }

      a{
        color: #068acc;
        line-height: 1.6;
        @include hover;
        &.block{
          display: block;
          margin-bottom: 10px;
        }
        @media screen and (max-width: 760px){
          &.block{
            display: block;
            margin-bottom: 15px;
          }
        }
        img{
          @include hover;
        }
      }
      .sns_wrap{
        a{
          display: block;
          color: #1B4E37 !important;
          padding: 5px 0 5px 30px;
          margin-bottom: 5px;
          position: relative;
          &::after{
            display: block;
            content: "";
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            margin: auto;
            width: 20px;
            height: 30px;
            @include bgSet;
          }
          &.ig{
            &::after{
              background-size: 17px;
              background-image: url(../img/journal/icon_ig.svg);
            }
          }
          &.fb{
            &::after{
              background-size: 10px;
              background-image: url(../img/journal/icon_fb.svg);
            }
          }
          &.tw{
            &::after{
              background-size: 18px;
              background-image: url(../img/journal/icon_tw.svg);
            }
          }
        }
      }

      .flavor_chart{
        margin-bottom: 10px;
      }

      .deocrate{
        background: #f8f8f8;
        padding: 10px;
        line-height: 1;
        margin-bottom: 5px;
      }

      hr{
        border: none;
        margin:0;
        padding: 0;
        height: 15px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px 0;
      }

      blockquote {
        padding-left: 25px;
        border-left: 4px solid #e0e0e0;
        color: #666;
      }

      .article_section{
        margin-bottom: 40px;
      }

      .item_wrap{
        margin-bottom: 30px;
        img {
          margin: 20px 0 10px;
        }
      }
    }
    .post_share {
      p {
        text-align: center;
        font-size: 14px;
        color: #111;
      }

      ul {
        text-align: center;
        margin-top: 35px;

        li {
          display: inline-block;
          margin: 0 8px;
          a {
            display: block;
            width: 66px;
            height: 66px;

            img {
              display: block;
              width: 66px;
              height: 66px;
            }
          }
        }
      }
    }
  }

  a {
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7 !important;
    }
  }

  .related_posts {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    h2 {
      font-size: 28px;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 25px;
      margin-bottom: 50px;
    }
  }

  .related_products {
    background-color: #F9F9F9;
    border-top: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
    overflow: hidden;
    margin-top: 100px;
    padding: 100px 0;

    h2 {
      font-size: 28px;
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 25px;
      margin-bottom: 50px;
    }

    .section_inner {
      max-width: 1080px;
      margin-left: auto;
      margin-right: auto;

      .products {
        display: block;
        ul {
          display: block;
        }
      }

      .product_slider {
        margin: 0 -20px;
        .slider_item {
          width: 33.3333%;
          float: left;
          .slider_item_inner {
            padding: 0 20px;

            .item_category {
              padding-bottom: 10px;
              margin-bottom: 15px;
              border-bottom: 2px solid #00381F;

              a {
                color: #00381F;
                font-size: 17px;
                font-weight: bold;

                line-height: 1;
              }
            }
            .item_price {
              display: block;
              line-height: 1;
              padding-bottom: 20px;
              border-bottom: 1px solid #e0e0e0;
              margin-bottom: 20px;
              color: #333;
            }

            .item_img {
              height: 190px;
              line-height: 190px;
              overflow: hidden;
              border: 1px solid #e8e8e8;
              background-color: #fff;
              vertical-align: middle;

              a {
                display: block;
              }

              img {
                display: inline-block;
                width: 100%;
                height: auto;
                vertical-align: middle;
              }
            }

            .item_title {
              margin-top: 20px;
              margin-bottom: 20px;
              a {
                font-size: 24px;
                color: #00381F;
              }
            }
            .arrow_link {
              display: block;
              font-size: 14px;
              color: #00381f;
              .link_wrap {
                display: inline-block;
                position: relative;
                padding-right: 40px;

                .arrow {
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  right: 0;
                  margin: auto;
                  width: 24px;
                  height: 10px;
                  -webkit-transition: all 0.3s;
                  -o-transition: all 0.3s;
                  transition: all 0.3s;
                  background-image: url(../img/product_list/arrow.png);
                  background-position: center center;
                  background-repeat: no-repeat;
                  background-size: 24px;
                }
              }
            }
          }
        }
        .slick-dots {
          position: relative !important;
          top: auto !important;
          left: auto !important;
          margin-top: 40px;

          li {
            margin: 0 2px !important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1150px) {
  #journalDetail {
    .main {
      width: 100%;
      height: 48vw;
    }
  }
}
@media screen and (max-width: 750px){
  #journalDetail {
    .main {
      height: 54vw;
    }
    .journal_detail {
      max-width: 100%;
      width: 100%;
      box-sizing: border-box;
      padding: 0 30px;

      .post_head {
        margin-top: 35px;
        margin-bottom: 35px;
        padding-bottom: 35px;
        .post_date {
          position: relative;
          left: auto;
          top: auto;
          transform: rotate(0);
          margin-bottom: 15px;
        }

        .post_title {
          font-size: 24px;
          line-height: 36px;
        }
      }

      .post_body {
        padding-bottom: 40px;
        h1, h2 {
          font-size: 23px;
          line-height: 32px;
          margin-bottom: 22px;
        }

        h3, h4 {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 18px;
          color: #333;
          border-bottom: 1px solid #f0f0f0;
          padding-bottom: 7px;
        }
      }
    }
    .related_posts {
      max-width: 100%;
      width: 100%;
      padding: 50px 0;
      margin-top: 0;

      h2 {
        font-size: 22px;
        margin: 0 30px;
        margin-bottom: 25px;
        padding-bottom: 15px;
      }
    }

    .related_products {
      padding: 50px 0 35px 0;
      margin-top: 70px;

      h2 {
        font-size: 22px;
        margin: 0 30px;
        margin-bottom: 45px;
        padding-bottom: 15px;
      }
      .section_inner {
        max-width: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 0 5px;
        .product_slider {
          margin: 0 -5px;
          .slider_item {
            .slider_item_inner {
              padding: 0 5px;
              .arrow_link {
                display: none;
              }
              .item_img {
                height: 120px;
                line-height: 120px;
              }
              .item_category {
                a {
                  font-size: 12px;
                }
              }
              .item_title {
                margin-top: 10px;
                margin-bottom: 15px;
                a {
                  font-size: 16px;
                  line-height: 22px;
                }
              }
              .item_price {
                font-size: 12px;
              }
            }
          }
          .slick-dots {
            display: none;
            margin-top: 0px;
          }
        }
      }
    }
  }
}
