.comp-account-info{
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
  .account_ttl{
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1.25px;
    margin-bottom: 20px;
  }
  .account_item{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    &:nth-last-of-type(1){
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: 0px solid #ddd;
    }
    .description{
      font-size: 14px;
      line-height: 1.63;
      letter-spacing: 1px;
      span{
        display: block;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 1.25px;
        margin-bottom: 5px;
      }
    }
    .btn_wrap{
      @include flexSet;
      justify-content: space-between;
      margin-top: 15px;
      .btn{
        width: 48%;
        font-family: inherit;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 1px;
        padding: 7px 0;
        border-radius: 5px;
        cursor: pointer;
        appearance: none;
        border: none;
        box-shadow: none;
        @include hover;
        &.btn_edit{
          background: $basicGreen;
          color: #fff;
        }
        &.btn_delete{
          background: #fff;
          color: $basicGreen;
        }
      }
    }
  }
  .edit_button{
    margin-top: 35px;
    display: block;
    background: #fff;
    color: #00381f;
    font-size: 16px;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-radius: 10px;
    font-family: inherit;
    border: none;
    box-shadow: none;
    @include hover;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
}

@media screen and (max-width: 720px){
  .comp-account-info{
    padding: 20px;
    border-radius: 10px;
    .account_ttl{
      text-align: center;
    }
    .edit_button{
      margin-top: 35px;
      font-size: 14px;
      width: 100%;
      padding: 15px 0;
    }
  }
}
