.comp-flex-wrap{
  @include flexSet;
  justify-content: space-between;
  margin-top: 80px;
  &.reverse{
    flex-direction: row-reverse;
  }
  .flex_left{
    width: 67%;
    .sub_ttl{
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: 1.25px;
    }
  }
  .flex_right{
    width: 27%;
    height: fit-content;
  }
}

@media screen and (max-width: 980px){
  .comp-flex-wrap{
    display: block;
    margin-top: 60px;
    .flex_left{
      width: 100%;
      margin-bottom: 80px;
    }
    .flex_right{
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 740px){
  .comp-flex-wrap{
    margin-top: 40px;
    .flex_left{
      margin-bottom: 60px;
      .sub_ttl{
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 1.25px;
        text-align: center;
      }
    }
    &.reverse{
      flex-direction: row-reverse;
      .flex_left{
        margin-bottom: 0;
      }
      .flex_right{
        margin-bottom: 60px;
      }
    }
  }
}
