.comp-admin-title{
  @include flexSet;
  align-items: center;
  color: $basicGreen;
  .title_ja{
    font-size: 34px;
    line-height: normal;
    letter-spacing: normal;
    margin-right: 0.5em;
  }
  .title_en{
    @include libre-r;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
  }
}

@media screen and (max-width: 730px){
  .comp-admin-title{
    display: block;
    text-align: center;
    .title_ja{
      font-size: 28px;
      margin-right: 0em;
      margin-bottom: 10px;
    }
  }
}
