.comp-order-detail {
  .order_ttl{
    font-size: 24px;
    letter-spacing: 0.05em;
    span {
      font-size: 14px;
      margin-left: 20px;
    }
  }
  .order_detail_list {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    .order_item {
      margin-bottom: 25px;
      padding-bottom: 25px;
      border-bottom: solid 1px #dddddd;
      &:nth-last-of-type(1){
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-bottom: solid 0px #dddddd;
      }
      .item_wrap_upper {
        @include flexSet;
        align-items: center;
        .img_wrap{
          width: 120px;
          margin-right: 20px;
          a{
            display: block;
            @include hover;
          }
        }
        .item_title {
          width: calc(100% - 140px);
          position: relative;
          .category {
            font-size: 14px;
            letter-spacing: 0.12px;
            .en {
              padding-right: 20px;
              position: relative;
              &::after {
                display: inline-block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 7px;
                margin: auto;
                width: 7px;
                height: 1px;
                background-color: #00381f;
              }
            }
          }
          h3 {
            margin-top: 14px;
            font-size: 20px;
            letter-spacing: 0.17px;
            a{
              color: inherit;
              @include hover;
            }
            @include sp {
              margin-top: 10px;
              font-size: 20px;
              letter-spacing: 0.17px;
            }
          }
          .circle {
            position: absolute;
            top: 0px;
            bottom:0;
            margin: auto;
            right: 10px;
            width: 35px;
            height: 35px;
            border-radius: 24px;
            background-color: #d8d8d8;
            @include hover;
            .circle-inner {
              width: 7px;
              height: 7px;
              margin: 14px 16px 14px 12px;
              transform: rotate(-45deg);
              border-bottom: solid 1px #ffffff;
              border-right: solid 1px #ffffff;
            }
          }
        }
      }
      .item_wrap_lower {
        margin: 25px auto 0;
        @include flexSet;
        justify-content: flex-start;
        .info_box{
          font-size: 14px;
          letter-spacing:0.5px;
          line-height: 1.6;
          @include flexSet;
          align-items: center;
          margin-right: 20px;
          .item {
            display: inline-block;
            padding: 7px 15px;
            border-radius: 5px;
            background-color: #f4f4f4;
            color: $basicGreen;
            margin-right: 20px;
          }
          .data {
            color: #464646;
            &.sku {
              color: #068acc;
            }
          }
        }
      }
    }
  }
  .subtotal_container {
    .subtotal_inner{
      padding: 20px 25px;
      background-color: #f4f4f4;
      border-radius: 10px;
      .subtotal_flex{
        @include flexSet;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
        color: $basicGreen;
        &:nth-last-of-type(1){
          padding-bottom: 0px;
          margin-bottom: 0px;
          border-bottom: 0px solid #ddd;
        }
        .title{
          font-size: 14px;
          line-height: normal;
          letter-spacing: 0.5px;
        }
        .price{
          font-size: 18px;
          line-height: normal;
          letter-spacing: 0.7px;
        }
      }
    }
    .amount_total{
      margin-top: 25px;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0.6px;
      text-align: right;
      color: $basicGreen;
      span{
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0.7px;
        margin-left: 1em;
      }
    }
  }
}

@media screen and (max-width: 980px){
  .comp-order-detail {
    .order_detail_list {
      .order_item {
        padding-bottom: 10px;
        .item_wrap_lower {
          margin: 25px auto 0;
          @include flexSet;
          justify-content: space-between;
          .info_box{
            width: 48%;
            @include flexSet;
            justify-content: flex-start;
            margin-right: 0px;
            margin-bottom: 15px;
            .item {
              width: 50%;
              text-align: center;
              display: block;
              padding: 7px 0px;
              border-radius: 5px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .comp-order-detail {
    .order_ttl{
      font-size: 20px;
      span {
        font-size: 12px;
        margin-left: 15px;
      }
    }
    .order_detail_list {
      margin-top: 40px;
      margin-bottom: 40px;
      .order_item {
        margin-bottom: 35px;
        padding-bottom: 20px;
        .item_wrap_upper {
          @include flexSet;
          align-items: center;
          .img_wrap{
            width: 100px;
            margin-right: 20px;
            a{
              display: block;
              @include hover;
            }
          }
          .item_title {
            width: calc(100% - 120px);
            position: relative;
            .category {
              font-size: 12px;
              .en {
                padding-right: 20px;
                &::after {
                  width: 5px;
                }
              }
            }
            h3 {
              margin-top: 10px;
              font-size: 16px;
              letter-spacing: 0.5px;
              line-height: 1.6;
            }
            .circle {
              display: none;
            }
          }
        }
        .item_wrap_lower {
          margin: 25px auto 0;
          @include flexSet;
          justify-content: space-between;
          .info_box{
            font-size: 14px;
            letter-spacing:0.5px;
            line-height: 1.6;
            @include flexSet;
            align-items: center;
            margin-right: 0px;
            .item {
              width: 100%;
              padding: 7px 0px;
              border-radius: 5px;
              margin-right: 0px;
              margin-bottom: 10px;
            }
            .data {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
    .subtotal_container {
      .subtotal_inner{
        padding: 15px 20px;
        border-radius: 5px;
        .subtotal_flex{
          .title{
            font-size: 12px;
            letter-spacing: 0.4px;
          }
          .price{
            font-size: 16px;
            letter-spacing: 0.5px;
          }
        }
      }
      .amount_total{
        margin-top: 25px;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.6px;
        text-align: center;
        color: $basicGreen;
        span{
          font-size: 20px;
          line-height: normal;
          letter-spacing: 0.7px;
          margin-left: 1em;
        }
      }
    }
  }
}
