{%- assign review_num = 0 -%}
{%- assign limit = 12 -%}
{% paginate blog.articles by limit %}
{% for article in blog.articles %}
{%- assign review_num = review_num | plus : 1 -%}
{% endfor %}

<section class="section-blog-list">
  <div class="section_inner_new">
    <div class="comp-new-section-ttl">
      <hgroup>
        <span class="title_en">Journal</span>
        <h1 class="title_jp" style="text-indent: -0.2em;">ジャーナル記事一覧</h1>
      </hgroup>
    </div>
    <div class="category_list">
      <ul>
        <li class="current"><a href="/blogs/journal">すべて</a></li>
        {%- for tag in blog.all_tags -%}
        <li><a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a></li>
        {%- endfor -%}
      </ul>
    </div><!-- category_list -->
    <div class="comp-journal-posts archive">
      {% for article in blog.articles %}
        {%- render 'journal-card' article: article -%}
      {% endfor %}
    </div>
    {%- if paginate.pages > 1 -%}
    {%- render 'list-pager', paginate: paginate -%}
    {%- endif -%}
  </div><!-- section_inner_new -->
</section>

{% endpaginate %}
