<section class="section-recommendation">
  <div class="section_inner_new">
    <div id="upsellSection" class="comp-browse-history pickup">
      <div class="comp-detail-title">
        <hgroup>
          <span class="title_en">Related Items</span>
          <h2 class="title_ja">こちらもおすすめです</h2>
        </hgroup>
      </div>
      <div id='rk-widget-203037' class='rk-bought_together'></div>
    </div>
  </div><!-- section_inner -->
</section>
<section class="section-browse-history">
  <div class="section_inner_new">
    <div id="upsellSection2" class="comp-browse-history">
      <div class="comp-detail-title">
        <hgroup>
          <span class="title_en">Recently viewed</span>
          <h2 class="title_ja">最近見た商品</h2>
        </hgroup>
      </div>
      <div id='rk-widget-203191' class='rk-recently_viewed'></div>
    </div>
  </div><!-- section_inner -->
</section>
