{%- assign limit = 16 -%}

{% paginate collection.products by limit %}

{%- assign product_1st = collection.products[0] -%}

<section class="section-basic-item {{collection.handle}}">
<div class="section_inner_new">
  <div class="comp-section-ttl">
    <hgroup>
      <span class="ttl_en">{{ collection.title }}</span>
      <h1 class="ttl_ja">{{ collection.metafields.custom_fields["collection_title_ja"] }}</h1>
    </hgourp>
  </div><!-- comp-section-ttl -->
<div id="productList" class="comp-product-list">
  <ul class="item_wrapper">
  {% paginate collection.products by 20 %}
  {%- assign num = 0 -%}
  {%- for product in collection.products -%}
  {%- unless product.type == "gift" or product_child.type == "mini-gift" -%}
    {%- include 'all-item-card' -%}
  {%- endunless -%}
  {%- endfor -%}
  {% endpaginate %}
  </ul>
</div>
<!-- comp-item-group -->

</div>
</section>
<section class="section-set-product">
<div class="section_inner_new">
  <div class="section_ttl">
    <h2><span>Gift Set</span><font>{{ collection.metafields.custom_fields["collection_title_ja"] }}を含むギフトセット</font></h2>
  </div>
  <div id="giftProductList" class="comp-gift-product-list">
    {%- paginate collection.products by 20 -%}
    {%- for product in collection.products -%}
    {% if product.type == "gift" or product_child.type == "mini-gift"  %}
    {% include 'gift-item-card' %}
    {% endif %}
    {%- endfor -%}
    {%- endpaginate -%}
  </div>
</div>
</section>

{% endpaginate %}
