

<section class="section-instagram comp-instagram-wrap b_none">
    <div class="section_inner_new">
      <p class="insta_ttl">Instagram</p>
      <div id="insta-feed" class="insta_feed"><a href="https://www.instagram.com/p/CwXSj9pv0JV/" target="_blank" rel="noopener">
          <div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;"
              src="https://scontent.cdninstagram.com/v/t51.29350-15/370381404_264570933013779_4701881120510394762_n.jpg?_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=5e5IT26lrbsAX-yOpnG&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfCsGoUWqb8up6xmeJ1QY6JSdAYTR6oxeQJCpD3mUdxDyQ&amp;oe=64FB5EC1"
              data-src="https://scontent.cdninstagram.com/v/t51.29350-15/370381404_264570933013779_4701881120510394762_n.jpg?_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=5e5IT26lrbsAX-yOpnG&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfCsGoUWqb8up6xmeJ1QY6JSdAYTR6oxeQJCpD3mUdxDyQ&amp;oe=64FB5EC1"
              alt="Instagram post with the caption: アウトドアスプレー【All La Glory】

暑い日差しの下で思いっきり遊べるこの季節。
残暑が続くなかでキャンプなど遠出す...">
            <div style="width:99%;height:99%;" class="instafeed-overlay "></div>
          </div>
        </a><a href="https://www.instagram.com/p/CwH6jkXvzqq/" target="_blank" rel="noopener">
          <div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;"
              src="https://scontent.cdninstagram.com/v/t51.29350-15/367994821_244931314587437_2378509898113627160_n.jpg?_nc_cat=110&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-dk_S5mqDzgAX-U6OAj&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfCLxJGyXVAHOGEN9AXk4gPCTuc435GsWgn0NPgwQkzWtA&amp;oe=64FBA64A"
              data-src="https://scontent.cdninstagram.com/v/t51.29350-15/367994821_244931314587437_2378509898113627160_n.jpg?_nc_cat=110&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=-dk_S5mqDzgAX-U6OAj&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfCLxJGyXVAHOGEN9AXk4gPCTuc435GsWgn0NPgwQkzWtA&amp;oe=64FBA64A"
              alt="Instagram post with the caption: 【アフタヌーンティ・リビングでPOPUP開催中】
.
8月10日から8月31日までの21日間、アフタヌーンティ・リビングの3店舗...">
            <div style="width:99%;height:99%;" class="instafeed-overlay "></div>
          </div>
        </a><a href="https://www.instagram.com/p/Cv9kzBuMGof/" target="_blank" rel="noopener">
          <div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;"
              src="https://scontent.cdninstagram.com/v/t51.29350-15/367500951_226598186610108_7228067283035096946_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=MfNK-ALxCL4AX8I2_bP&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfDVzlBMl9DSM_VeQMSKauqfddAL6ZA3LLrCuBnfPPVhTQ&amp;oe=64FC70F3"
              data-src="https://scontent.cdninstagram.com/v/t51.29350-15/367500951_226598186610108_7228067283035096946_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=MfNK-ALxCL4AX8I2_bP&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfDVzlBMl9DSM_VeQMSKauqfddAL6ZA3LLrCuBnfPPVhTQ&amp;oe=64FC70F3"
              alt="Instagram post with the caption: 「anan」8月号にて
KomonsのOutdoor Sprayを掲載していただきました

「虫が嫌う4種の天然精油を使用した、...">
            <div style="width:99%;height:99%;" class="instafeed-overlay "></div>
          </div>
        </a><a href="https://www.instagram.com/p/CvHmMKev_D-/" target="_blank" rel="noopener">
          <div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;"
              src="https://scontent.cdninstagram.com/v/t51.29350-15/362638366_1063386041503095_3162962802382570680_n.jpg?_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=VMHqGHJDSB0AX95pWxJ&amp;_nc_oc=AQkokThKVIYbFfEZA6eHpiSkuMi7eQA5gCAOBg0VwcB2Yoiv1BveNib3xV4OQiOP9eE&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfAXpkwkE0-Xhy_lxk5GiQoaS5C2-rKA5_OaQj-jiaLCHA&amp;oe=64FAD814"
              data-src="https://scontent.cdninstagram.com/v/t51.29350-15/362638366_1063386041503095_3162962802382570680_n.jpg?_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=VMHqGHJDSB0AX95pWxJ&amp;_nc_oc=AQkokThKVIYbFfEZA6eHpiSkuMi7eQA5gCAOBg0VwcB2Yoiv1BveNib3xV4OQiOP9eE&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfAXpkwkE0-Xhy_lxk5GiQoaS5C2-rKA5_OaQj-jiaLCHA&amp;oe=64FAD814"
              alt="Instagram post with the caption: 【2023 夏秋限定 Fabric Mist 鹿児島ホウショウ】

2023年夏秋限定、”ホウショウブレンド”のファブリックミ...">
            <div style="width:99%;height:99%;" class="instafeed-overlay "></div>
          </div>
        </a><a href="https://www.instagram.com/p/Ct1UcUJPECP/" target="_blank" rel="noopener">
          <div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;"
              src="https://scontent.cdninstagram.com/v/t51.29350-15/353988384_1447491092720838_7937363321123912830_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=EED-HdbP_wUAX-YsGo_&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfBDyMopbrADZxZTrf3XEFU7WYSHPyH9ERUq2wM4TPIEsA&amp;oe=64FC066D"
              data-src="https://scontent.cdninstagram.com/v/t51.29350-15/353988384_1447491092720838_7937363321123912830_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=EED-HdbP_wUAX-YsGo_&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfBDyMopbrADZxZTrf3XEFU7WYSHPyH9ERUq2wM4TPIEsA&amp;oe=64FC066D"
              alt="Instagram post with the caption: 【首都圏3店舗でPOPUP開催中】
.
6/21から7/11までの21日間、伊勢丹新宿店 本館1階ISETAN Seedにて、期...">
            <div style="width:99%;height:99%;" class="instafeed-overlay "></div>
          </div>
        </a><a href="https://www.instagram.com/p/CtwTGDavzem/" target="_blank" rel="noopener">
          <div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;"
              src="https://scontent.cdninstagram.com/v/t51.29350-15/355196424_217840401166910_6821053184009478624_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=7lage9U5NIoAX9AOcZx&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfBapGzrtyClWHBIOQ4YB9xUvn1umNCVhAaKH03D70RsiQ&amp;oe=64FBAD2E"
              data-src="https://scontent.cdninstagram.com/v/t51.29350-15/355196424_217840401166910_6821053184009478624_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=7lage9U5NIoAX9AOcZx&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfBapGzrtyClWHBIOQ4YB9xUvn1umNCVhAaKH03D70RsiQ&amp;oe=64FBAD2E"
              alt="Instagram post with the caption: 【自社ラボ近くの風景】
Komons Fragrance Lab.から車で5分のこの場所。
棚田と富士山の織り成す美しい風景が広...">
            <div style="width:99%;height:99%;" class="instafeed-overlay "></div>
          </div>
        </a></div>
      <div class="link_button">
        <a target="_blank" href="https://www.instagram.com/komons.jp/"><span>komons.jp</span></a>
      </div>
    </div><!-- section_inner -->
  </section>