<section id="topJournal">
<div class="section_inner_new">
<div class="comp-new-section-ttl">
	<hgroup>
		<span class="title_en">Journal</span>
		<h2 class="title_jp" style="text-indent: -0.1em;">Komonsについてもっと知る。</h2>
	</hgroup>
</div><!-- comp-new-section-ttl -->
</div>
	<div class="article_wrap">
	<ul>
	<li>
			<div class="img_wrap">
										 <a class="fit" href="https://journal.komons-japan.com/archives/1614" target="_top">
						 <img width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px">						 </a>
									</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1614" target="_top">2023年夏のファブリックミストは、鹿児島ホウショウブレンド。</a></h3>
			</div>
		</li>
					<li>
			<div class="img_wrap">
										 <a class="fit" href="https://journal.komons-japan.com/archives/1635" target="_top">
						 <img width="444" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-444x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-444x333.jpg 444w, https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-1024x769.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-150x113.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-768x577.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-1536x1153.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-2048x1537.jpg 2048w, https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-1320x991.jpg 1320w" sizes="(max-width: 444px) 100vw, 444px">						 </a>
									</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1635" target="_top">南アルプスの麓に「香りの自社ラボ」を作ります！</a></h3>
			</div>
		</li>
					<li>
			<div class="img_wrap">
										 <a class="fit" href="https://journal.komons-japan.com/archives/1598" target="_top">
						 <img width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px">						 </a>
									</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1598" target="_top">Happy Mother’s Day 2023</a></h3>
			</div>
		</li>
					<li>
			<div class="img_wrap">
										 <a class="fit" href="https://journal.komons-japan.com/archives/1626" target="_top">
						 <img width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px">						 </a>
									</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1626" target="_top">【新商品】やさしい清涼感のアウトドアスプレー「All La Glory」を販売開始しました。</a></h3>
			</div>
		</li>
				</ul>
	</div>
</section>
