{%- assign products = collections.all.products | where: "template_suffix", 'admin' -%}

<div id="slideMenuNew" class="comp-pop-menu">
  <div class="pop_menu_inner">
    <div class="pop_menu_flex">
      <div class="menu_left">
        <div class="pop_navigation">
          <div class="menu_item">
            <a class="parent" href="/collections/all-products">
              <span class="txt">商品一覧</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
            <div class="child">
              <a href="/collections/bottle">ボトル商品</a>
              <a href="/collections/refill">詰め替え用商品</a>
              <a href="/collections/upcoming">UPCOMING商品</a>
              <a href="/collections/commercial">業務用商品一覧</a>
            </div>
          </div>
          <div class="menu_item">
            <a class="parent" href="/collections/gift">
              <span class="txt">ギフト商品一覧</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
            <div class="child">
              <a href="/collections/gift?tag=0">人気ギフト</a>
              <a href="/collections/gift?tag=1">季節限定ギフト</a>
              <a href="/collections/gift?tag=2">結婚祝い</a>
              <a href="/collections/gift?tag=3">新築/引越し祝い</a>
              <a href="/collections/gift?tag=4">お返し・内祝い</a>
              <a href="/collections/gift?tag=5">自分へのご褒美</a>
            </div>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://komons-japan.myshopify.com/pages/concept">
              <span class="txt">Komonsをつくるにあたって</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://komons-japan.myshopify.com/pages/gift-service">
              <span class="txt">ギフトサービスについて</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://journal.komons-japan.com/shoplist">
              <span class="txt">取扱店舗・イベント</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://journal.komons-japan.com/">
              <span class="txt">ジャーナル記事一覧</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
            <div class="child">
              <a href="https://journal.komons-japan.com/?tag=7">#Fans &amp; Users</a>
              <a href="https://journal.komons-japan.com/?tag=13">#イベント</a>
              <a href="https://journal.komons-japan.com/?tag=14">#キャンペーン</a>
              <a href="https://journal.komons-japan.com/?tag=9">#デザイン</a>
              <a href="https://journal.komons-japan.com/?tag=10">#モノづくり</a>
              <a href="https://journal.komons-japan.com/?tag=12">#原料</a>
              <a href="https://journal.komons-japan.com/?tag=8">#成分</a>
              <a href="https://journal.komons-japan.com/?tag=11">#香り</a>
            </div>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://komons-japan.myshopify.com/pages/faq">
              <span class="txt">よくある質問</span>
              <span class="caret">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
              </span>
            </a>
            <div class="child">
              <a href="https://komons-japan.myshopify.com/pages/faq#fqProduct">製品について</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqPurchase">ご購入に際して</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqGift">ギフトについて</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqDelivery">配送について</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqCancel">キャンセルポリシー</a>
            </div>
          </div>
        </div><!-- comp-pop-navigation -->
        <div class="pop_section">
          <div class="pop_subttl">キーワードから探す</div>
            <form action="/search">
              <div class="key_input">
                <input type="text" placeholder="キーワードを入れて検索" name="q" value="">
                <button class="search_submit">検索</button>
              </div>
            </form>
        </div>
      </div><!-- menu_left -->
      <div class="menu_right">
        <div class="pop_subttl">商品カテゴリ</div>
        <div class="comp-category-list">
          {% for collection in collections %}
          {%- if collection.handle == "admin" -%}
          {% for product in collection.products %}
          {%- if product.handle == "categories" -%}
            {% for image in product.images %}
            {%- assign altTxt = image.alt -%}
            {%- assign altArray = altTxt | split: ',' -%}
            <div class="category_item">
              <a href="/collections/{{ altArray[2] }}">
                <span class="img_wrap">
                  {{ image.src | image_url: width: 520 | image_tag }}
                </span>
                <span class="txt_wrap">
                  <span class="ttl_en">{{ altArray[1] }}</span>
                  <span class="ttl_wrap">
                    <span class="ttl_jp">{{ altArray[0] }}</span>
                    <span class="caret">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
                    </span>
                  </span>
                </span>
              </a>
            </div>
          {% endfor %}
        {% endif %}
        {% endfor %}
        {%- endif -%}
        {% endfor %}
        </div><!-- comp-category-list -->
      </div><!-- menu_right -->
    </div><!-- pop_menu_flex -->
  </div><!-- pop_menu_inner -->
</div><!-- comp-pop-menu -->
