{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
{% if blog.id == 67791224985 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.chart_txt02' %}
    {% include 'custom_fields.articles.chart_txt03' %}
    {% include 'custom_fields.articles.attached_pdf' %}
    {% include 'custom_fields.articles.button_text' %}
  </div>
{% endif %}
{% if blog.id == 69919178905 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.chart_txt02' %}
    {% include 'custom_fields.articles.chart_txt03' %}
    {% include 'custom_fields.articles.attached_pdf' %}
    {% include 'custom_fields.articles.button_text' %}
  </div>
{% endif %}
{% if blog.id == 67793748121 %}
  <div class="custom-fields-wrapper">
    {% include 'custom_fields.articles.chart_txt02' %}
    {% include 'custom_fields.articles.chart_txt03' %}
    {% include 'custom_fields.articles.attached_pdf' %}
    {% include 'custom_fields.articles.button_text' %}
  </div>
{% endif %}