{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.collections.category_type' %}
  {% include 'custom_fields.collections.category_ttl_en' %}
  {% include 'custom_fields.collections.category_ttl' %}
  {% include 'custom_fields.collections.category_desc' %}
  {% include 'custom_fields.collections.useage_img' %}
  {% include 'custom_fields.collections.point01_ttl' %}
  {% include 'custom_fields.collections.useage_title' %}
  {% include 'custom_fields.collections.useage_txt' %}
  {% include 'custom_fields.collections.useage_detail_img01' %}
  {% include 'custom_fields.collections.useage_detail_txt01' %}
  {% include 'custom_fields.collections.useage_detail_img02' %}
  {% include 'custom_fields.collections.useage_detail_txt02' %}
  {% include 'custom_fields.collections.useage_method01' %}
  {% include 'custom_fields.collections.useage_method02' %}
  {% include 'custom_fields.collections.useage_method03' %}
  {% include 'custom_fields.collections.useage_method04' %}
  {% include 'custom_fields.collections.effect_img' %}
  {% include 'custom_fields.collections.point02_ttl' %}
  {% include 'custom_fields.collections.effect_ttl' %}
  {% include 'custom_fields.collections.effect_txt' %}
  {% include 'custom_fields.collections.effect_detail_ttl01' %}
  {% include 'custom_fields.collections.effect_detail_txt01' %}
  {% include 'custom_fields.collections.effect_detail_ttl02' %}
  {% include 'custom_fields.collections.effect_detail_txt02' %}
  {% include 'custom_fields.collections.effect_detail_ttl03' %}
  {% include 'custom_fields.collections.effect_detail_txt03' %}
  {% include 'custom_fields.collections.effect_detail_ttl04' %}
  {% include 'custom_fields.collections.effect_detail_txt04' %}
  {% include 'custom_fields.collections.effect_detail_ttl05' %}
  {% include 'custom_fields.collections.effect_detail_txt05' %}
  {% include 'custom_fields.collections.halmethod_img' %}
  {% include 'custom_fields.collections.point03_ttl' %}
  {% include 'custom_fields.collections.halmethod_ttl' %}
  {% include 'custom_fields.collections.halmethod_txt' %}
  {% include 'custom_fields.collections.product_list_type' %}
  {% include 'custom_fields.collections.faq_q1' %}
  {% include 'custom_fields.collections.faq_a1' %}
  {% include 'custom_fields.collections.faq_q2' %}
  {% include 'custom_fields.collections.faq_a2' %}
  {% include 'custom_fields.collections.faq_q3' %}
  {% include 'custom_fields.collections.faq_a3' %}
  {% include 'custom_fields.collections.faq_q4' %}
  {% include 'custom_fields.collections.faq_a4' %}
  {% include 'custom_fields.collections.faq_q5' %}
  {% include 'custom_fields.collections.faq_a5' %}
  {% include 'custom_fields.collections.faq_q6' %}
  {% include 'custom_fields.collections.faq_a6' %}
  {% include 'custom_fields.collections.faq_q7' %}
  {% include 'custom_fields.collections.faq_a7' %}
  {% include 'custom_fields.collections.faq_q8' %}
  {% include 'custom_fields.collections.faq_a8' %}
  {% include 'custom_fields.collections.faq_q9' %}
  {% include 'custom_fields.collections.faq_a9' %}
  {% include 'custom_fields.collections.useage_title_english' %}
  {% include 'custom_fields.collections.useage_txt_english' %}
</div>