{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/195331/edit
{% endcomment %}
{% if product.metafields.custom_fields["chart_number02"] != blank %}
  <div class="custom-field custom-field__chart-number02 custom-field__type--number-list">
    <h3 class="custom-field--title"><ls-static-273025>商品チャート部分数値2</ls-static-273025></h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["chart_number02"] }}
    </div>
  </div>
{% endif %}