{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/collections/configure/197595/edit
{% endcomment %}
{% if collection.metafields.custom_fields["faq_q6"] != blank %}
  <div class="custom-field custom-field__faq-q6 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-189358>よくある質問Q6</ls-static-189358></h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["faq_q6"] }}
    </div>
  </div>
{% endif %}