{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/197310/edit
{% endcomment %}
{% if product.metafields.custom_fields["chart_number06"] != blank %}
  <div class="custom-field custom-field__chart-number06 custom-field__type--number-list">
    <h3 class="custom-field--title"><ls-static-328901>商品チャート部分数値6</ls-static-328901></h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["chart_number06"] }}
    </div>
  </div>
{% endif %}