{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/articles/configure/233370/edit
{% endcomment %}
{% if article.metafields.custom_fields["button_text_02"] != blank %}
  <div class="custom-field custom-field__button-text-02 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-710901>ダウンロードボタンのテキスト02</ls-static-710901></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["button_text_02"] }}
    </div>
  </div>
{% endif %}