{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/articles/configure/216216/edit
{% endcomment %}
{% if article.metafields.custom_fields["button_text"] != blank %}
  <div class="custom-field custom-field__button-text custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-287762>ダウンロードボタンのテキスト01</ls-static-287762></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["button_text"] }}
    </div>
  </div>
{% endif %}