{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/195339/edit
{% endcomment %}
{% if product.metafields.custom_fields["recommend02"] != blank %}
  <div class="custom-field custom-field__recommend02 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-575358>対象者テキスト2</ls-static-575358></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["recommend02"] }}
    </div>
  </div>
{% endif %}