{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/195378/edit
{% endcomment %}
{% if product.metafields.custom_fields["category_slug"] != blank %}
  <div class="custom-field custom-field__category-slug custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-133523>カテゴリースラッグ</ls-static-133523></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["category_slug"] }}
    </div>
  </div>
{% endif %}