{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/collections/configure/195387/edit
{% endcomment %}
{% if collection.metafields.custom_fields["category_ttl"] != blank %}
  <div class="custom-field custom-field__category-ttl custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-342314>カテゴリータイトル</ls-static-342314></h3>
    <div class="custom-field--value">
      {{ collection.metafields.custom_fields["category_ttl"] }}
    </div>
  </div>
{% endif %}