{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/collections/configure/196869/edit
{% endcomment %}
{% if collection.metafields.custom_fields["product_list_type"] != blank %}
  <div class="custom-field custom-field__product-list-type custom-field__type--text-list">
    <h3 class="custom-field--title"><ls-static-447805>商品リストタイプ</ls-static-447805></h3>
    <div class="custom-field--value">  
      {{ collection.metafields.custom_fields["product_list_type"] }}
    </div>
  </div>
{% endif %}