{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/articles/configure/214660/edit
{% endcomment %}
{% if article.metafields.custom_fields["chart_txt01"] != blank %}
  <div class="custom-field custom-field__chart-txt01 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-989231>チャート表テキスト01</ls-static-989231></h3>
    <div class="custom-field--value">
      {{ article.metafields.custom_fields["chart_txt01"] }}
    </div>
  </div>
{% endif %}