{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/197307/edit
{% endcomment %}
{% if product.metafields.custom_fields["featured_ttl05"] != blank %}
  <div class="custom-field custom-field__featured-ttl05 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-920979>商品チャート部分タイトル5</ls-static-920979></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["featured_ttl05"] }}
    </div>
  </div>
{% endif %}