{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/197348/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_detail_txt09"] != blank %}
  <div class="custom-field custom-field__product-detail-txt09 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-696990>商品詳細テキスト9</ls-static-696990></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_detail_txt09"] }}
    </div>
  </div>
{% endif %}