{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/199024/edit
{% endcomment %}
{% if product.metafields.custom_fields["related_movie02"] != blank %}
  <div class="custom-field custom-field__related-movie02 custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-594073>関連動画枠02</ls-static-594073></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["related_movie02"] }}
    </div>
  </div>
{% endif %}