{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/195319/edit
{% endcomment %}
{% if product.metafields.custom_fields["desc_ttl"] != blank %}
  <div class="custom-field custom-field__desc-ttl custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-87206>商品説明タイトル</ls-static-87206></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["desc_ttl"] }}
    </div>
  </div>
{% endif %}