{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/halsports.myshopify.com/products/configure/222114/edit
{% endcomment %}
{% if product.metafields.custom_fields["custom_option_html"] != blank %}
  <div class="custom-field custom-field__custom-option-html custom-field__type--text">
    <h3 class="custom-field--title"><ls-static-48993>オプション選択欄のHTML(custom設定の場合のみ入力)</ls-static-48993></h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["custom_option_html"] }}
    </div>
  </div>
{% endif %}