{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.category_en' %}
  {% include 'custom_fields.products.desc_ttl' %}
  {% include 'custom_fields.products.desc_txt' %}
  {% include 'custom_fields.products.related_movie01' %}
  {% include 'custom_fields.products.related_movie02' %}
  {% include 'custom_fields.products.feature_desc_txt' %}
  {% include 'custom_fields.products.featured_ttl01' %}
  {% include 'custom_fields.products.chart_number01' %}
  {% include 'custom_fields.products.featured_ttl02' %}
  {% include 'custom_fields.products.chart_number02' %}
  {% include 'custom_fields.products.featured_ttl03' %}
  {% include 'custom_fields.products.chart_number03' %}
  {% include 'custom_fields.products.featured_ttl04' %}
  {% include 'custom_fields.products.chart_number04' %}
  {% include 'custom_fields.products.featured_ttl05' %}
  {% include 'custom_fields.products.chart_number05' %}
  {% include 'custom_fields.products.featured_ttl06' %}
  {% include 'custom_fields.products.chart_number06' %}
  {% include 'custom_fields.products.recommend01' %}
  {% include 'custom_fields.products.recommend02' %}
  {% include 'custom_fields.products.recommend03' %}
  {% include 'custom_fields.products.recommend04' %}
  {% include 'custom_fields.products.product_detail_ttl01' %}
  {% include 'custom_fields.products.product_detail_txt01' %}
  {% include 'custom_fields.products.product_detail_ttl02' %}
  {% include 'custom_fields.products.product_detail_txt02' %}
  {% include 'custom_fields.products.product_detail_ttl03' %}
  {% include 'custom_fields.products.product_detail_txt03' %}
  {% include 'custom_fields.products.product_detail_ttl04' %}
  {% include 'custom_fields.products.product_detail_txt04' %}
  {% include 'custom_fields.products.product_detail_ttl05' %}
  {% include 'custom_fields.products.product_detail_txt05' %}
  {% include 'custom_fields.products.product_detail_ttl06' %}
  {% include 'custom_fields.products.product_detail_txt06' %}
  {% include 'custom_fields.products.product_detail_ttl07' %}
  {% include 'custom_fields.products.product_detail_txt07' %}
  {% include 'custom_fields.products.product_detail_ttl08' %}
  {% include 'custom_fields.products.product_detail_txt08' %}
  {% include 'custom_fields.products.product_detail_ttl09' %}
  {% include 'custom_fields.products.product_detail_txt09' %}
  {% include 'custom_fields.products.notice_txt' %}
  {% include 'custom_fields.products.category_slug' %}
  {% include 'custom_fields.products.category_name' %}
  {% include 'custom_fields.products.option_display' %}
  {% include 'custom_fields.products.custom_option_html' %}
  {% include 'custom_fields.products.option2_name' %}
</div>