.comp-gift-service-wrap{
  @include flexSet;
  justify-content: flex-start;
  .service_item{
    width: 47%;
    margin-right: 6%;
    margin-bottom: 80px;
    &:nth-of-type(2n){
      margin-right: 0;
    }
    .img_wrap{
      margin-bottom: 25px;
    }
    .txt_wrap{
      .title_wrap{
        @include flexSet;
        align-items: center;
        margin-bottom: 20px;
        .num{
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background: $basicGreen;
          @include libre-r;
          color: #fff;
          font-size: 18px;
          line-height: 45px;
          text-align: center;
          margin-right: 10px;
        }
        .txt{
          width: calc(100% - 55px);
          font-size: 20px;
          font-weight: normal;
          line-height: normal;
          letter-spacing: 0.6px;
          color: #00381f;
        }
      }
      .desc_wrap{
        padding: 0 5px;
        p{
          font-size: 15px;
          line-height: 1.7;
          letter-spacing: 0.6px;
          margin-bottom: 1.2em;
          a{
            color: #068acc;
            @include hover;
          }
          &:nth-last-of-type(1){
            margin-bottom: 0;
          }
          &.added{
            font-size: 13px;
            line-height: 1.7;
            letter-spacing: 0.5px;
            color: #646464;
          }
        }
        .link_button{
          margin-top: 25px;
          a{
            display: block;
            max-width: 300px;
            border: 1px solid $basicGreen;
            box-sizing: border-box;
            padding: 15px 15px;
            font-size: 16px;
            letter-spacing: 0.6px;
            position: relative;
            transition: opacity .3s;
            color: $basicGreen;
            &::after{
              display: block;
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 15px;
              margin: auto;
              width: 24px;
              height: 9px;
              @include bgSet;
              transition: right .3s;
              background-size: contain;
              background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/arrow_vuojtf.png);
            }
            &:hover{
              &::after{
                right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
