.comp-category-button {
  @include flexSet;
  justify-content: flex-start;
  button,a {
    display: block;
    width: calc(50% - 5px);
    margin-right: 10px;
    font-size: 1.4rem;
    font-family: inherit;
    font-weight: normal;
    line-height: normal;
    color: inherit;
    letter-spacing: 0.7px;
    background: #fff;
    border-bottom: 1px solid #d8d8d8;
    text-align: left;
    padding: 15px 0px;
    margin-bottom: 5px;
    @include hover;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    &:nth-of-type(2n){
      margin-right: 0;
    }
    &::after {
      position: absolute;
      width: 6px;
      height: 6px;
      content: "";
      top: 0;
      bottom: 0;
      right: 5px;
      margin: auto;
      border-bottom: 1px solid $basicGreen;
      border-right: 1px solid $basicGreen;
      transform: rotate(-45deg);
      transition: all 0.5s;
    }
  }
  &.gift{
    button,a {
      width: 100%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 980px){
  .comp-category-button {
    @include flexSet;
    justify-content: flex-start;
    button,a {
      width: auto;
      font-size: 1.4rem;
      padding: 3px 20px 3px 0px;
      color: inherit;
      margin-bottom: 5px;
      margin-right: 5px;
      border: none;
      &:nth-last-of-type(1){
        margin-right: 0;
      }
      &:nth-of-type(2n){
        margin-right: 10px;
      }
      &::after {
        right: 7px;
      }
    }
    a{
      &::after {
        top:0;
        right: 20px;
        transform:translate(-4px,3px) rotate(-45deg);
      }
    }
    &.gift{
      button,a {
        width: auto;
        margin-right: 5px;
      }
    }
  }
}
