.comp-side-wrap{
  width: 100vw;
  background: #fff;
  margin: 0 -7vw;
  padding: 50px 7vw 60px;
  box-sizing: border-box;
  &.bg{
    @media screen and (max-width: 720px){
      background: #f1f1f1;
      margin: 50px -7vw;
    }
  }
}
@media screen and (min-width: 720px){
  .comp-side-wrap{
    padding: 60px 7vw 80px;
  }
}

@media screen and (min-width: 1100px){
  .comp-side-wrap{
    width: 100%;
    padding: 40px 35px;
    background: $bgColor;
    border-radius: 0px;
    margin: 0px;
  }
}
