.comp-side-wrap{
  width: 100vw;
  background: #fff;
  margin: 0 -7vw;
  padding: 50px 7vw;
  box-sizing: border-box;
  margin-bottom: -120px;
}
@media screen and (min-width: 720px){
  .comp-side-wrap{
    padding: 60px 7vw;
    margin-bottom: -160px;
    @media screen and (min-width: 980px){
      margin-bottom: -24vw;
    }
  }
}

@media screen and (min-width: 1100px){
  .comp-side-wrap{
    width: 100%;
    padding: 40px 35px;
    background: $bgColor;
    border-radius: 0px;
    margin: 0px;
  }
}
