<div class="comp-business-calendar2">
  <div id="businessCalendar" class="calendar_inner">
  </div><!-- calendar_inner -->
  <div class="calendar_description">
    <p>営業日<br>13:00～18:00/平日<br>11:00～18:00/土、日、祝日<br>不定休（赤マークの日はお休みです）</p>
  </div>
</div><!-- comp-business-calendar -->
