<div class="setting_item">
  <div class="comp-admin-subttl">
    <h2 class="ttl">メッセージカード</h2>
  </div>
  <div class="option_flex">
    <div class="img_box">
      <img src="https://cdn.shopify.com/s/files/1/0608/6233/3116/files/message.jpg?v=1648974412">
    </div>
    <div class="comp-admin-form">
      <div class="form_item">
        <label class="large ">メッセージカードの内容</label>
        <div class="form_wrap">
          <textarea id="messeageCard" type="text" name="attributes[メッセージカードの内容:]"></textarea>
          <p class="example">約60文字以内に収まるようにご記入ください。</p>
        </div>
      </div>
    </div><!-- comp-admin-form -->
  </div>
</div><!-- setting_item -->
