<section id="relatedItem" class="section-related-item">
  <div class="section_inner_new">
    <div class="comp-detail-title">
      <hgroup>
        <span class="title_en">Related Items</span>
        <h2 class="title_ja">こちらもおすすめです</h2>
      </hgroup>
    </div>
    <div class="comp-product-list">
      <ul class="item_wrapper">
        <li class="item_box">
          <div class="img_wrap">
            <a href="/products/k0001">
              <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb02_4ecee77e-1c82-4d94-9e2e-464131ac1dab.jpg?v=1648100598&amp;width=520" alt="Don't Look Back in Anger" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb02_4ecee77e-1c82-4d94-9e2e-464131ac1dab.jpg?v=1648100598&amp;width=352 352w" width="520" height="560">
            </a>
          </div>
          <div class="txt_wrap height-adjust">
            <span class="cat_ttl">食器用洗剤</span>
            <h3 class="prod_name">
              <a href="/products/k0001"><span class="name en">Don't Look Back in Anger</span></a>
            </h3>
            <span class="product_detail">
              <span class="price">2,090円(税込)</span>
            </span>
          </div>
          <div class="comp-list-cart-button">
            <div class="comp-arrow-link">
            <a href="/products/k0001"><span>詳細を見る</span></a>
          </div>
        </div>
      </li>
      <li class="item_box">
        <div class="img_wrap">
          <a href="/products/k0012">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_bed04753-175a-450b-aec4-eb26f9fd78e5.jpg?v=1648100710&amp;width=520" alt="キッチンコンビ" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_bed04753-175a-450b-aec4-eb26f9fd78e5.jpg?v=1648100710&amp;width=352 352w" width="520" height="560">
          </a>
        </div>
        <div class="txt_wrap height-adjust">
          <span class="cat_ttl">ギフトセット</span>
          <h3 class="prod_name">
            <a href="/products/k0012"><span class="name">キッチンコンビ</span></a>
          </h3>
          <span class="product_detail">
            <span class="price">4,290円(税込)</span>
          </span>
        </div>
        <div class="comp-list-cart-button">
          <div class="comp-arrow-link">
            <a href="/products/k0012"><span>詳細を見る</span></a>
          </div>
        </div>
      </li>
      <li class="item_box">
        <div class="img_wrap">
          <a href="/products/k0063">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_c197e435-4b99-48f5-adf3-47f34cc1b810.jpg?v=1648100825&amp;width=520" alt="2021 Winter &quot;瀬戸内ネロリ&quot; / Free as a Bird(mini・gift)" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_c197e435-4b99-48f5-adf3-47f34cc1b810.jpg?v=1648100825&amp;width=352 352w" width="520" height="560">
          </a>
        </div>
        <div class="txt_wrap height-adjust">
          <span class="cat_ttl">除菌用ファブリックミスト</span>
          <h3 class="prod_name">
            <a href="/products/k0063"><span class="name en">Free as a Bird (Mini)</span><span class="genre added">2021 Winter 瀬戸内ネロリ / Gift</span></a>
          </h3>
          <span class="product_detail">
            <span class="price">825円(税込)</span>
          </span>
        </div>
        <div class="comp-list-cart-button">
          <div class="comp-arrow-link">
            <a href="/products/k0063"><span>詳細を見る</span></a>
          </div>
        </div>
      </li>
      <li class="item_box">
        <div class="img_wrap">
          <a href="/products/k0026">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_d1f0ca3f-e03e-40ba-a6af-2951732aca9e.jpg?v=1648100699&amp;width=520" alt="【ギフト】Free as a Bird (Mini)" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_d1f0ca3f-e03e-40ba-a6af-2951732aca9e.jpg?v=1648100699&amp;width=352 352w" width="520" height="560">
          </a>
        </div>
        <div class="txt_wrap height-adjust">
          <span class="cat_ttl">除菌用ファブリックミスト</span>
          <h3 class="prod_name">
            <a href="/products/k0026"><span class="name en">Free as a Bird (Mini)</span><span class="genre added">Gift</span></a>
          </h3>
          <span class="product_detail">
            <span class="price">825円(税込)</span>
          </span>
        </div>
        <div class="comp-list-cart-button">
          <div class="comp-arrow-link">
            <a href="/products/k0026"><span>詳細を見る</span></a>
          </div>
        </div>
      </li>
    </ul>
  </div><!-- comp-product-list -->
</div><!-- section_inner_new -->
</section>
<section class="section-recently-viewed">
<div class="section_inner_new">
  <div class="comp-detail-title">
    <hgroup>
      <span class="title_en">Recently viewed</span>
      <h2 class="title_ja">最近見た商品</h2>
    </hgroup>
  </div>
  <div class="comp-product-list">
    <ul class="item_wrapper">
      <li class="item_box">
        <div class="img_wrap">
          <a href="/products/k0001">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb02_4ecee77e-1c82-4d94-9e2e-464131ac1dab.jpg?v=1648100598&amp;width=520" alt="Don't Look Back in Anger" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb02_4ecee77e-1c82-4d94-9e2e-464131ac1dab.jpg?v=1648100598&amp;width=352 352w" width="520" height="560">
          </a>
        </div>
        <div class="txt_wrap height-adjust">
          <span class="cat_ttl">食器用洗剤</span>
          <h3 class="prod_name">
            <a href="/products/k0001"><span class="name en">Don't Look Back in Anger</span></a>
          </h3>
          <span class="product_detail">
            <span class="price">2,090円(税込)</span>
          </span>
        </div>
        <div class="comp-list-cart-button">
          <div class="comp-arrow-link">
          <a href="/products/k0001"><span>詳細を見る</span></a>
        </div>
      </div>
    </li>
    <li class="item_box">
      <div class="img_wrap">
        <a href="/products/k0012">
          <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_bed04753-175a-450b-aec4-eb26f9fd78e5.jpg?v=1648100710&amp;width=520" alt="キッチンコンビ" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_bed04753-175a-450b-aec4-eb26f9fd78e5.jpg?v=1648100710&amp;width=352 352w" width="520" height="560">
        </a>
      </div>
      <div class="txt_wrap height-adjust">
        <span class="cat_ttl">ギフトセット</span>
        <h3 class="prod_name">
          <a href="/products/k0012"><span class="name">キッチンコンビ</span></a>
        </h3>
        <span class="product_detail">
          <span class="price">4,290円(税込)</span>
        </span>
      </div>
      <div class="comp-list-cart-button">
        <div class="comp-arrow-link">
          <a href="/products/k0012"><span>詳細を見る</span></a>
        </div>
      </div>
    </li>
    <li class="item_box">
      <div class="img_wrap">
        <a href="/products/k0063">
          <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_c197e435-4b99-48f5-adf3-47f34cc1b810.jpg?v=1648100825&amp;width=520" alt="2021 Winter &quot;瀬戸内ネロリ&quot; / Free as a Bird(mini・gift)" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_c197e435-4b99-48f5-adf3-47f34cc1b810.jpg?v=1648100825&amp;width=352 352w" width="520" height="560">
        </a>
      </div>
      <div class="txt_wrap height-adjust">
        <span class="cat_ttl">除菌用ファブリックミスト</span>
        <h3 class="prod_name">
          <a href="/products/k0063"><span class="name en">Free as a Bird (Mini)</span><span class="genre added">2021 Winter 瀬戸内ネロリ / Gift</span></a>
        </h3>
        <span class="product_detail">
          <span class="price">825円(税込)</span>
        </span>
      </div>
      <div class="comp-list-cart-button">
        <div class="comp-arrow-link">
          <a href="/products/k0063"><span>詳細を見る</span></a>
        </div>
      </div>
    </li>
    <li class="item_box">
      <div class="img_wrap">
        <a href="/products/k0026">
          <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_d1f0ca3f-e03e-40ba-a6af-2951732aca9e.jpg?v=1648100699&amp;width=520" alt="【ギフト】Free as a Bird (Mini)" srcset="https://cdn.shopify.com/s/files/1/0536/9544/7234/products/thumb01_d1f0ca3f-e03e-40ba-a6af-2951732aca9e.jpg?v=1648100699&amp;width=352 352w" width="520" height="560">
        </a>
      </div>
      <div class="txt_wrap height-adjust">
        <span class="cat_ttl">除菌用ファブリックミスト</span>
        <h3 class="prod_name">
          <a href="/products/k0026"><span class="name en">Free as a Bird (Mini)</span><span class="genre added">Gift</span></a>
        </h3>
        <span class="product_detail">
          <span class="price">825円(税込)</span>
        </span>
      </div>
      <div class="comp-list-cart-button">
        <div class="comp-arrow-link">
          <a href="/products/k0026"><span>詳細を見る</span></a>
        </div>
      </div>
    </li>
  </ul>
</div><!-- comp-product-list -->
</div><!-- section_inner_new -->
</section>
