{%- assign price = cart.original_total_price | money_without_currency -%}
{% assign priceNum = price | remove: "," %}
{% assign totalPrice = priceNum | plus: 0  %}
{% assign souryouLimit = 5500 | minus: totalPrice  %}
{% assign souryouNum = souryouLimit | format_number %}
{% if totalPrice > 5500 %}
{%- assign souryou = 0 -%}
{%- else -%}
{%- assign souryou = 660 -%}
{%- endif -%}

<div class="amount_item">
  <span class="ttl ">小計</span>
  <p class="price ">{{cart.original_total_price | money_without_currency}}円(税込)</p>
</div>
<div class="amount_item">
  <span class="ttl ">送料</span>
  {% if souryou != 0 %}
  <p class="price ">{{souryou}}円(税込)</p>
  {%- else -%}
  <p class="price ">送料無料</p>
  {%- endif -%}
</div>
{% if souryou != 0 %}
<div class="amount">
  <p class="total_price small">※あと{{ souryouNum }}円で送料無料</p>
</div>
{%- endif -%}
