{%- assign fukubukuLength = 0 | plus : 0 -%}
{%- for item in cart.items -%}
  {% if item.product.type == 'fukubukuro'  %}
    {%- assign fukubukuLength = fukubukuLength | plus : 1 -%}
  {%- endif -%}
{%- endfor -%}

<div class="comp-admin-subttl">
  <h2 class="ttl">お届け希望日時</h2>
</div>
<div class="comp-admin-form">
  <div class="form_item">
    <label class="large ">お届け希望日程</label>
    <div class="form_wrap">
      {%- if fukubukuLength == 0  -%}
      {% include 'cart-side-wrap-date-box' %}
      {%- else -%}
      <select id="deliveryDateBox">
        <option value="指定なし">1月5日(金)以降に随時配送</option>
      </select>
      <input id="dateInput" type="hidden" name="attributes[配送予定日:]" value="指定なし">
      <p class="example">※福袋商品を含むご注文の配送日時指定は出来ません。</p>
      {%- endif -%}
    </div>
  </div>
  {%- if fukubukuLength == 0  -%}
  <div class="form_item">
    <label class="large ">お届け希望時間</label>
    <div class="form_wrap">
      <select id="deliveryTime" name="attributes[配送時間帯:]">
        <option value="指定なし" selected="">指定なし</option>
        <option value="午前中（12時まで）">午前中（12時まで）</option>
        <option value="14時から16時">14時から16時</option>
        <option value="16時から18時">16時から18時</option>
        <option value="18時から20時">18時から20時</option>
        <option value="19時から21時">19時から21時</option>
      </select>
    </div>
  </div>
  {%- endif -%}
  <div class="form_item">
    <label class="large ">備考欄</label>
    <div class="form_wrap">
      <textarea name="note" id="CartSpecialInstructions" class="cart-note__input"></textarea>
      <p class="example">1注文につき、お届け先は1件のみとなります。<br>2件以上のお届け先をご希望の場合は別々にご注文ください。</p>
    </div>
  </div>
</div><!-- comp-admin-form -->
<div class="comp-amount-wrap">
  {% include 'cart-amount-price' %}
</div><!-- comp-amount-wrap -->
<div class="comp-admin-button mt">
  <input type="submit" name="checkout" class="checkout_button" value="ご購入手続きへ">
</div>
