{%- if product.variants.first.inventory_quantity == 0 -%}
	<span class="sold_out">在庫切れ</span>
{%- else -%}
	{%- if product.type == "gift" and product.handle != "k0026" and product.handle != "k0050" -%}
	<div class="comp-flex-cart no_flex">
		<div class="cart_box">
			<div class="cart_item">
				<a id="optionSelect02" href="#" class="button_wrap option_select">
					<span class="title cart_in">オプションを選択して購入</span>
					<span class="sub_text">5,500円以上(税込)お買い上げで送料無料</span>
				</a>
				<p class="cart_desc">※ギフトオプションに関する詳細は<a href="/pages/gift-service">こちら</a></p>
			</div>
		</div>
	</div>
	{%- else -%}
	<div class="comp-flex-cart no_flex">
		<div class="cart_box">
			<div class="cart_item">
				<span class="button_wrap">
					<span class="title cart_in">購入する</span>
					<span class="sub_text">5,500円以上(税込)お買い上げで送料無料</span>
				</span>
				<input type="hidden" name="properties[カテゴリー]" value='{{ product.metafields.custom_fields["category_display_name"]}}'>
				<input id="submitButtonLower" class="product_cart_btn product_addcart_btn" type="submit" value="カートに入れる" onclick="send_conversion(); console.log('click!'); return false;">
			</div>
		</div>
		{%- if product.type != "option" and product.type != "refill" and product.type != "bottle-refill" -%}
		<span class="wrapping_text"><a href="/products/ks005">ギフトラッピングはこちら</a></span>
		{%- endif -%}
	</div>
	{%- endif -%}
{%- endif -%}
