<div class="comp-centered-section-title">
	<span class="title_en">FAQ</span>
	<h2 class="title_ja">よくある質問</h2>
</div>
<div id="qaToggle" class="qa_toggle">
	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">ギフト包装は可能ですか？</a>
		<div class="toggle_contents">
			<p><span>Komonsのギフトセットはすべてオリジナルのギフトボックスに入れてお届けします。セット以外の商品も<a href="/products/ks005">こちら</a>からギフトボックス(税込330円)を同時にお買い求め頂ければギフト包装に入れてお届けします。また、メッセージカードや熨斗の対応も承っております。</span><span>リボンなどのラッピングは基本的に承っておりませんが、個別のご相談も可能ですので<a href="https://journal.komons-japan.com/contact">お問い合わせフォーム</a>よりお気軽にお問い合わせください。</span></p>
		</div>
	</div>

	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">複数住所へ配送は可能ですか？</a>
		<div class="toggle_contents">
			<p>可能です。大変お手数をおかけいたしますが、送り先ごとにご注文手続きを行っていただくか、件数が多い場合は、info@komons-japan.comまで問い合わせください。ご注文情報入力用のエクセルフォームをお送りさせていただきます。</p>
		</div>
	</div>

	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">ギフトボックスの購入は可能ですか？</a>
		<div class="toggle_contents">
			<p>可能です。<a href="/products/ks005">こちら</a>からお買い求め下さいませ。また、<a href="/collections/gift">ギフト商品一覧ページ</a>に掲載の全ての商品には予めギフトボックスが含まれています。</p>
		</div>
	</div>

	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">メッセージカードはつけられますか？メッセージの印字はできますか？</a>
		<div class="toggle_contents">
			<p>無料でご利用いただけるメッセージカード（名刺サイズ、Komosロゴ入り）をご用意しています。カート画面にてメッセージカード「希望する」を選択してください。カード裏面にメッセージの印刷も承ります。詳しくはご購入手続き画面をご確認ください。</p>
		</div>
	</div>

	<div class="toggle_item row2">
		<a href="javascript:void(0);" class="toggle_button">熨斗(のし)対応は可能ですか？</a>
		<div class="toggle_contents">
			<p>ギフトセット商品については、＋110円（税込）にて熨斗対応が可能です。水引の種類は、どのシーンのお祝い事にもお使いいただける「紅白梅結び」になります。（ご結婚祝い、出産祝い、内祝、新築祝い、快気祝いなど様々なシーンにご利用ください。）ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。<br>※弔事の場合はギフトプションにて熨斗をお選びいただいた上で水引きなし、掛け紙のみの対応も可能ですのでご希望の場合は備考欄にお書き添えくださいませ。</p>
		</div>
	</div>

	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">お渡し用手提げ袋</a>
		<div class="toggle_contents">
			<p>ギフトセットの商品については、＋330円（税込）にてオリジナル手提げ布バッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。(オリジナル手提げバッグについては単品でも購入可能です。)<br>なお、ベーシックカルテットおよびフルセットについては、箱のサイズの関係でオリジナル手提げ布バッグに入らないため、別途無償にて紙の手提げ袋をお付けさせていただきます。ご希望の方は購入時に備考欄にその旨ご記載ください。</p>
		</div>
	</div>

	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">直接相手に届ける場合、明細書は同封されますか？</a>
		<div class="toggle_contents">
			<p>特にご要望がない場合は、ギフトかどうかにかかわらず、基本的に明細書の同封/送付は行いません。受注明細書は当店よりお送りいたします「ご注文内容確認メール」に換えさせていただきますので、予めご了承ください。紙の明細書や領収書をご希望の方には発行させていただきますので、上記の「明細書/領収書の発行は可能ですか？」の項目をご覧ください。</p>
		</div>
	</div>

	<div class="toggle_item">
		<a href="javascript:void(0);" class="toggle_button">直接相手に届ける場合、送り主が分かるようになっていますか？</a>
		<div class="toggle_contents">
			<p>商品を発送する際の「配送伝票」に、ご注文確認画面でご入力いただいた「送り主様のお名前（フルネーム）」を記載させていただきます。</p>
		</div>
	</div>

	<div class="others">
		※その他商品自体や配送などに関するFAQ<span>は<a href="/pages/faq">こちら</a>をご参照ください。</span>
	</div>
</div>
