<section class="section-filter">
	<div class="section_inner">
		<div class="section_ttl">
			<h2><span>Product List</span><font>ギフト商品一覧</font></h2>
		</div>
		<div class="filter_wrap">
			<div class="comp-filter-wrap">
				<div class="filter_item filter02">
					<span class="fil_ttl">商品を絞り込む</span>
					<div id="priceRangeFilter" class="input_wrap flex">
						<div class="radio_wrap">
							<input id="price01" type="checkbox" name="price_filter" minPrice="0" maxPrice="3000" val="0">
							<label for="price01">3,000円以下</label>
						</div>
						<div class="radio_wrap">
							<input id="price02" type="checkbox" name="price_filter" minPrice="3001" maxPrice="5000" val="1">
							<label for="price02">3,001円~5,000円</label>
						</div>
						<div class="radio_wrap">
							<input id="price03" type="checkbox" name="price_filter" minPrice="5001" maxPrice="10000" val="2">
							<label for="price03">5,001円~10,000円</label>
						</div>
						<div class="radio_wrap">
							<input id="price04" type="checkbox" name="price_filter" minPrice="10001" maxPrice="100000" val="3">
							<label for="price04">10,001円以上</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
