<section class="section-filter">
	<div class="filter_wrap">
	<div class="comp-filter-wrap-new">
		<div class="filter_price">
			<p class="filter_ttl">価格帯<span>で絞り込む</span></p>
			<div class="filter_form">
				<select id="priceFilter">
					<option value="0" min="0" max="100000">全ての商品</option>
					<option value="1" min="0" max="3001">3,000円以下</option>
					<option value="2" min="3001" max="5000">3,001円~5,000円</option>
					<option value="3" min="5001" max="10000">5,001円~10,000円</option>
					<option value="4" min="10001" max="100000">10,001円以上</option>
				</select>
			</div>
		</div><!-- filter_price -->
		<div class="filter_category">
			<p class="filter_ttl">カテゴリー<span>で絞り込む</span></p>
			<div id="categoryFilter" class="category_button_wrap">
				<div class="button_item">
					<button prop="人気">人気ギフト</button>
				</div>
				<div class="button_item">
					<button prop="限定">季節限定ギフト</button>
				</div>
				<div class="button_item">
					<button prop="結婚">結婚祝い</button>
				</div>
				<div class="button_item">
					<button prop="新築">新築/引越祝い</button>
				</div>
				<div class="button_item">
					<button prop="内祝">お返し/内祝</button>
				</div>
				<div class="button_item">
					<button prop="自分">自分へのご褒美</button>
				</div>
			</div>
		</div><!-- filter_category -->
	</div><!-- comp-filter-wrap-new -->
	</div><!-- filter_wrap -->
</section>
