<section class="section-gift-service">
	<div class="section_inner_new">
		<div class="comp-centered-section-title">
			<span class="title_en">Gift Service</span>
			<h2 class="title_ja">ギフトラッピングサービスについて</h2>
		</div>
		<div class="comp-gift-service-list">
			<div class="service_item">
				<div class="img_wrap">
					<img loading="lazy" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img01_hwfspg.jpg">
				</div>
				<div class="title_wrap">
					<h3 class="service_name">ラッピング/ギフトボックス</h3>
					<p class="service_desc">ギフト一覧ページに並ぶすべてのセットはオリジナルのギフトBOXにお入れしてお届けいたします。<span>※包装紙やリボン掛けの対応は行っておりませんので、あらかじめご了承ください。</span></p>
				</div>
			</div>
			<div class="service_item">
				<div class="img_wrap">
					<img loading="lazy" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img02_gmqugj.jpg">
				</div>
				<div class="title_wrap">
					<h3 class="service_name">熨斗/水引</h3>
					<p class="service_desc">ギフトセット商品については、＋110円(税込)にて熨斗対応が可能です。水引の種類は、どのシーンのお祝い事にもお使いいただける「紅白梅結び」になります。<span>※ご結婚祝い、出産祝い、内祝、新築祝い、快気祝いなど様々なシーンにご利用ください。</span></p>
				</div>
			</div>
			<div class="service_item">
				<div class="img_wrap">
					<img loading="lazy" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img03_fkpres.jpg">
				</div>
				<div class="title_wrap">
					<h3 class="service_name">オリジナル手提げバッグ</h3>
					<p class="service_desc">ギフトセットの商品については、＋440円(税込)にてオリジナル手提げバッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。<span>※なお、<a href="/products/k0041">オリジナル手提げバッグ</a>については単品でも購入可能です。</span></p>
				</div>
			</div>
			<div class="service_item">
				<div class="img_wrap">
					<img loading="lazy" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img06_wkofym.jpg">
				</div>
				<div class="title_wrap">
					<h3 class="service_name">メッセージカード</h3>
					<p class="service_desc">ご希望の客様には、1枚110円（税込）にてメッセージカードをお付けしております。カード裏面にメッセージの印刷も承ります。詳しくはご購入手続き画面をご確認ください。</p>
				</div>
			</div>
			<div class="gift_link_button">
				<a href="/pages/gift-service"><span>ギフトサービスを詳しく見る</span></a>
			</div>
		</div>
	</div>
</section>
