<div id="subscriptionModal" class="comp-subscription-modal">
		<div id="subscriptionModalBg" class="pop_bg"></div>
		<div class="subpop_inner">
			<button class="pop_close"></button>
			<div class="subpop_contents">
				<div class="comp-detail-title margin">
					<hgroup>
						<span class="title_en">Subscription</span>
						<h2 class="title_ja">定期購入について</h2>
					</hgroup>
				</div>
				<div class="subfaq_wrap">
					<div id="subFaq" class="comp-faq-contents">
						<div class="item_wrap">
							<div class="toggle_menu">
								<div class="toggle_item">
									<button class="toggle_button">定期購入の注文またはキャンセルできますか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入の注文をスキップすることは可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品の返品は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">配送日時の指定・変更は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品に送料は発生しますか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品の返品は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">配送日時の指定・変更は可能ですか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
								<div class="toggle_item">
									<button class="toggle_button">定期購入商品に送料は発生しますか？</button>
									<div class="toggle_contents">
										<div class="contents_inner">
											<p>ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。ここに回答が入ります。</p>
	                  </div>
	                </div>
	              </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- subpop_inner -->
	</div>
