<div id="lineContact" class="comp-line-contact">
  <a target="_blank" href="https://lin.ee/OP5mWoh">
    <span class="contact_flex">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 23.14">
          <path id="Fill-4" class="cls-1" d="M9.84,9.94v-2.43c0-.35-.17-.52-.52-.7-.35,0-.86,.35-.86,.87v5.04c.17,.17,.52,.35,.86,.35s.52-.35,.52-.7v-2.43h0Zm-4.32,1.74V7.5c0-.35-.17-.52-.69-.52-.35,0-.52,.35-.52,.7v4.87c0,.35,.35,.52,.69,.52h2.42c.35,0,.69-.35,.52-.87,0-.35-.35-.52-.69-.52h-1.73Zm12.09-3.48h1.73c.35,0,.69-.35,.69-.7s-.35-.7-.69-.7h-2.42c-.35,.17-.52,.35-.52,.7v4.87c0,.35,.35,.7,.69,.7h2.42c.35,0,.69-.35,.69-.7s-.17-.7-.52-.7h-1.73v-1.04h1.73c.35,0,.69-.35,.69-.7s-.17-.7-.69-.7h-1.73v-1.04h-.35Zm-5.7,1.22c.86,1.04,1.55,2.26,2.42,3.3,.17,.17,.35,.35,.52,.35,.35,0,.69-.35,.69-.7V7.5c0-.17-.17-.35-.52-.52-.17-.17-.35,0-.52,.17-.17,.17-.35,.35-.35,.52v2.78s0-.17-.17-.17c-.35-.7-.86-1.39-1.38-2.09-.35-.35-.52-.7-.69-.87-.17-.35-.52-.35-.69-.35-.35,0-.52,.17-.52,.35v5.21c.17,.35,.35,.52,.69,.52s.52-.35,.52-.7v-2.95Zm12.09,0c0,2.26-.69,4-1.73,5.39-.69,1.04-1.55,1.91-2.59,2.78-2.07,1.74-4.14,3.3-6.39,4.69-.52,.35-1.04,.52-1.38,.7q-.17,0-.35,.17c-.35,0-.52-.17-.52-.52s.17-.7,.17-1.04,.17-.7,0-1.22c0-.35-.17-.52-.35-.52-.35-.17-.69-.17-1.04-.35-1.04-.17-2.07-.52-3.11-.87-1.21-.52-2.42-1.22-3.45-2.09C1.73,15.32,.69,13.59,.17,11.5c-.17-.7-.17-1.39-.17-2.26,.17-1.74,.86-3.48,1.9-4.87,1.21-1.56,2.76-2.61,4.49-3.3C7.94,.55,9.5,.21,11.22,.03c2.59-.17,5.01,.35,7.42,1.56,1.73,1.04,3.28,2.26,4.32,4,.69,1.39,1.04,2.78,1.04,3.82h0Z"/>
        </svg>
      </span>
      <span class="ttl">LINEチャットでお問い合わせ</span>
    </span>
    <span class="txt">スタッフ対応可能時間(平日 11:00 - 17:00)</span>
  </a>
</div><!-- comp-line-contact -->
