<div id="brandIntroduction" class="desc_unit border" style="display: none;">
  <div class="comp-detail-title">
    <hgroup>
      <span class="title_en">About Us</span>
      <h2 class="title_ja">コモンズについて</h2>
    </hgroup>
  </div>
  <div class="brand_introduction">
    <div class="img_wrap">
      <img src="https://cdn.shopify.com/s/files/1/0608/6233/3116/files/about_img.jpg?v=1646128839">
    </div>
    <div class="txt_wrap">
      <h2 class="brand_concept">毎日の家事を、心地よい時間に変える<br>ホームケアブランド</h2>
      <div class="brand_desc">
        <p>台所、お風呂、リビング、寝室。毎日を過ごす家の中のそれぞれの空間に、あなたと家族の気持ちをあげる最適な香りをデザインするために、商品ごとに異なるオリジナルの精油ブレンドを配合した洗剤です。</p>
      </div>
      <div class="comp-detail-button">
        <a href="/pages/concept"><span>Komonsについて</span></a>
      </div>
    </div>
  </div>
</div><!-- desc_unit -->
