.page-address {
  .section_inner {
		max-width: 1200px;
		@include responsive-waku;
    .comp-form-wrap {
      max-width: unset;
      margin: 0 auto;
      .sub_ttl{
        font-size: 24px;
      }
      .form_input {
        margin-top: 40px;
      }
    }
    .comp-account-info{
      .edit_button{
        margin: 0 auto 30px;
      }
      .default{
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

@media screen and (max-width: 720px){
  .page-address {
    .section_inner {
      .comp-form-wrap {
        .sub_ttl{
          font-size: 20px;
        }
        .form_input {
          margin-top: 40px;
        }
      }
      .comp-account-info{
        .edit_button{
          margin: 0 auto 30px;
        }
      }
    }
  }
}
