.page-cart {
  .section-cart {
    .section_inner {
      max-width: 1200px;
      @include responsive-waku;
      margin: 0 auto;

      .cart_flex {
        margin-top: 60px;
        @include flexSet;
        justify-content: space-between;

        .cart_left {
          width: 50%;

          .sub_ttl {
            font-size: 20px;
            line-height: 1.6;
            letter-spacing: 1.25px;
            margin-bottom: 40px;
          }

          .amount_section {
            margin-top: 60px;
            .shipping_free{
              text-align: right;
              display: block;
              padding: 5px 10px;
            }
            .amount_wrap {
              margin-top: -15px;
              margin-bottom: 10px;
              padding: 20px;
              border-radius: 0;
              background-color: #f4f4f4;

              .amount_item {
                @include flexSet;
                justify-content: space-between;

                &:nth-of-type(1) {
                  padding-bottom: 10px;
                  margin-bottom: 15px;
                  border-bottom: 1px solid #ddd;
                }

                .title {
                  font-size: 16px;
                  line-height: normal;
                  letter-spacing: 0.12px;
                }

                .content {
                  font-size: 16px;
                  line-height: normal;
                  letter-spacing: 0.12px;

                  .amount_price {
                    font-size: 20px;
                    letter-spacing: 1px;
                  }
                }
              }
            }

            .comp-submit-button {
              max-width: 100%;
            }
          }
        }

        .cart_right {
          width: 45%;

          .sub_ttl {
            font-size: 20px;
            line-height: 1.6;
            letter-spacing: 1.25px;
            margin-bottom: 20px;
          }

          .option_field_wrap {
            padding: 30px 25px;
            border-radius: 10px;
            background-color: #f4f4f4;
            box-sizing: border-box;
          }

          .delivery_option,
          .gift_option {
            border-bottom: 1px solid #ddd;
            margin-bottom: 30px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .section-fixed-button{
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 4px 0 rgb(102 102 102 / 30%);
    .fix_wrapper{
      padding: 20px 0;
      .comp-submit-button{
        max-width: 600px;
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .page-cart {
    .section-cart {
      .section_inner {
        max-width: 1200px;
        @include responsive-waku;
        margin: 0 auto;

        .cart_flex {
          margin-top: 60px;
          display: block;

          .cart_left {
            width: 100%;
            margin-bottom: 60px;
          }

          .cart_right {
            width: 100%;
          }
        }
      }
    }
    .section-fixed-button{
      .fix_wrapper{
        .comp-submit-button{
          @include responsive-waku;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .page-cart {
    .section-cart {
      .section_inner {
        .cart_flex {
          margin-top: 60px;
          display: block;

          .cart_left {
            width: 100%;

            .sub_ttl {
              font-size: 20px;
              line-height: 1.6;
              letter-spacing: 1.25px;
              margin-bottom: 40px;
              text-align: center;
            }

            .amount_section {
              margin-top: 60px;

              .amount_wrap {
                padding: 15px;

                .amount_item {

                  &:nth-of-type(1) {
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #ddd;
                  }

                  .title {
                    font-size: 14px;
                  }

                  .content {
                    font-size: 14px;

                    .amount_price {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }

          .cart_right {
            width: 100%;

            .sub_ttl {
              font-size: 20px;
              line-height: 1.6;
              letter-spacing: 1.25px;
              margin-bottom: 20px;
            }

            .option_field_wrap {
              padding: 30px 25px;
              border-radius: 10px;
              background-color: #f4f4f4;
              box-sizing: border-box;
            }

            .delivery_option,
            .gift_option {
              border-bottom: 1px solid #ddd;
              margin-bottom: 30px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
    .section-fixed-button{
      .fix_wrapper{
        padding: 15px 0;
        .comp-submit-button{
        }
      }
    }
  }
}
