.page-login{
	.hide {
		display: none !important;
	}
	.section_inner {
		p {
			text-align: center;
			font-size: 14px;
			text-decoration: underline;
			margin-top: 60px;
			a {
				color: #00381f;
			}
		}
		.recover-link {
			margin-top: 46px;
		}
		.register-link {
			margin-top: 26px;
		}
		.subscription-link {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
}

@media screen and (max-width: 720px){
	.page-login{
		.section_inner {
			p {
				font-size: 12px;
				margin-top: 60px;
				a {
					color: #00381f;
				}
			}
			.recover-link {
				margin-top: 40px;
			}
			.register-link {
				margin-top: 25px;
				margin-bottom: 10px;
			}
		}
	}
}
