.page-mypage {
  .section_inner {
		max-width: 1200px;
		@include responsive-waku;
		margin: 0 auto;
    display: flex;
		flex-wrap: wrap;
    .comp-admin-title {
      align-items: baseline;
      justify-content: start;
      width: 100%;
			padding-bottom: 65px;
			border-bottom: 1px solid #dddddd;
			p {
				flex: 1;
				text-align: right;
				a {
					color: #00381f;
					text-decoration: underline;
				}
			}
    }
		.order {
			width: 66.67%;
			margin: 70px 0 0 0;
			@include sp {
				width: 100%;
				margin: 35px 0 0 0;
			}
			h2 {
				font-size: 20px;
			}
			.order-list {
				width: 100%;
				margin-top: 36px;
				.order-item {
					margin-bottom: 33px;
					.order-bar {
						position: relative;
						width: 98.13%;
						border-radius: 10px;
						background-color: #f4f4f4;
						padding: 18px 0 16px 15px;
						p {
							display: block;
							font-size: 16px;
							@include sp {
								font-size: 13px;
							}
							width: 94.14%;
							span {
								&:first-of-type {
									color: #068acc;
									margin: 0 21px 0 15px;
									@include sp {
										margin: 0 11px 0 9px;
									}
								}
								&:last-of-type {
									font-size: 11px;
								}
							}
						}
						.circle {
							position: absolute;
							top: 7px;
							right: 11px;
							width: 35px;
							height: 35px;
							border-radius: 24px;
							background-color: #ffffff;
							.circle-inner {
								width: 7px;
								height: 7px;
								margin: 14px 16px 14px 12px;
								transform: rotate(-45deg);
								border-bottom: solid 1px #979797;
								border-right: solid 1px #979797;
							}
						}
					}
					.order-condition {
						margin: 26px 0 0 12px;
						@include tab {
							margin: 26px 0 0 0;
						}
						border-collapse: separate;
						border-spacing: 18px 0px;
						tr {
							td {
								padding-right: 15px;
								@include tab {
									padding: 0;
								}
								&:first-of-type {
									border-right: solid 1px #acacac;
								}
								&:nth-of-type(2) {
									border-right: solid 1px #acacac;
								}
							}
						}
					}
				}
			}
		}
		.account-info {
			width: 21.08%;
			height: fit-content;
			margin: 61px 0 0 8.17%;
			padding: 32px 1.92% 17px 2%;
			border-radius: 10px;
			@include tab {
				width: 25.08%;
				margin: 61px 0 0 4.17%;
			}
			@include sp {
				width: 100%;
				margin: 10px auto 30px auto;
				padding: 22px;
			}
			background-color: #f4f4f4;
			h2 {
				font-size: 24px;
			}
			p {
				color: #363636;
				font-size: 16px;
				line-height: 26px;
				letter-spacing: 1px;
				margin-top: 19px;
				span {
					font-size: 20px;
					line-height: 30px;
					letter-spacing: 1.25px;
				}
			}
			a {
				color: #00381f;
				font-size: 16px;
				letter-spacing: 1px;
				display: inline-block;
				width: 100%;
				text-align: center;
				margin-top: 38px;
				padding: 22px 0 22px 0;
				@include pc {
					padding: 22px 0 22px 0;
					width: 100%;
					font-size: 13px;
				}
				@include tab {
					padding: 20px 7% 20px 7%;
					width: 86%;
					font-size: 13px;
				}
				border-radius: 10px;
				background-color: #ffffff;
			}
		}
  }
}
