.page-mypage {
  .section_inner {
		@include responsive-waku;
    .subscription_wrap{
      margin-top: 60px;
      a{
        display: block;
        border: 1px solid #d8d8d8;
        color: $basicGreen;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding: 15px 15px;
        border-radius: 5px;
        box-sizing: border-box;
        position: relative;
        @include hover;
        &::after{
          display: block;
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 15px;
          margin: auto;
          width: 24px;
          height: 9px;
          @include bgSet;
          background-size: contain;
          background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/arrow_vuojtf.png);
        }
      }
      @media screen and (max-width: 720px){
        margin-top: 30px;
        a{
          font-size: 14px;
          &::after{
            width: 18px;
          }
        }
      }
    }
  }
}
