.page-order{
  .section_inner {
		max-width: 1200px;
		@include responsive-waku;
		margin: 0 auto;
    @media screen and (max-width: 720px){
      .comp-admin-title{
        padding-bottom: 10px;
      }
    }
	}
}
