.page-order{
  .section_inner {
		max-width: 1200px;
		@include responsive-waku;
		margin: 0 auto;
    display: flex;
		flex-wrap: wrap;
    .comp-admin-title {
      align-items: baseline;
      justify-content: start;
      width: 100%;
			padding-bottom: 65px;
			border-bottom: 1px solid #dddddd;
    }
		.order_detail {
			width: 70.83%;
			margin: 68px 4.17% 0 0;
			@include sp {
				width: 100%;
				margin: 35px 0 0 0;
			}
			h2 {
				font-size: 24px;
				span {
					font-size: 14px;
					margin-left: 20px;
				}
			}
			.order_detail_list {
				width: 100%;
				height: fit-content;
				margin-top: 9px;
				.order_detail_item {
					margin: 25px 0;
					border-bottom: solid 1px #dddddd;
					.item_wrap1 {
						display: flex;
						img {
							width: 120px;
							height: auto;
							@include tab {
								width: 105px;
								height: auto;
							}
							@include sp {
								width: 105px;
								height: auto;
							}
						}
						.item_title {
							position: relative;
							flex: 1;
							padding: 12px 0 0 21px;
							@include sp {
								flex: 0.8;
								padding: 0 0 0 9px;
							}
							p {
								font-size: 14px;
								letter-spacing: 0.12px;
								.en {
									padding-right: 20px;
									position: relative;
									&::after {
										display: inline-block;
										content: '';
										position: absolute;
										top: 50%;
										right: 7px;
										margin: auto;
										width: 7px;
										height: 1px;
										background-color: #00381f;
									}
								}
							}
							h3 {
								margin-top: 14px;
								font-size: 20px;
								letter-spacing: 0.17px;
								@include sp {
									margin-top: 10px;
									font-size: 20px;
									letter-spacing: 0.17px;
								}
							}
							.circle {
								position: absolute;
								top: 7px;
								right: 11px;
								width: 35px;
								height: 35px;
								border-radius: 24px;
								background-color: #d8d8d8;
								@include sp {
									top: 13px;
									right: -37px;
								}
								.circle-inner {
									width: 7px;
									height: 7px;
									margin: 14px 16px 14px 12px;
									transform: rotate(-45deg);
									border-bottom: solid 1px #ffffff;
									border-right: solid 1px #ffffff;
								}
							}
						}
					}
					.item_wrap2 {
						height: fit-content;
						margin: 19px 0 29px 0;
						@include sp {
							margin: 15px 0 20px 0;
						}
						display: grid;
						grid-template-columns: 11fr 10fr 11fr 15fr 7fr 7fr 11fr 14fr;
						@include tab {
							grid-template-columns: 8fr 7fr 8fr 13fr 5fr 4fr 8fr 13fr;
						}
						@include sp {
							grid-template-columns: 2fr 3fr 2fr 3fr;
							grid-template-columns: 3fr 3fr 3fr 5fr;
							row-gap: 10px;
						}
						p {
							color: #464646;
							font-size: 14px;
							line-height: 36px;
							text-align: center;
							@include pc {
								font-size: 13px;
								line-height: 32px;
							}
						}
						.item {
							border-radius: 5px;
							background-color: #f4f4f4;
							color: #00381f;
						}
						.data {
							padding-right: 15%;
							@include pc {
								padding-right: 5%;
							}
							@include sp {
								padding-right: 20%;
							}
						}
						.sku {
							color: #068acc;
						}
					}
				}
			}
			.subtotal_container {
				width: 95%;
				margin-top: 37px;
				padding: 0 2.5%;
				background-color: #f4f4f4;
				@include sp {
					width: 88%;
					margin-top: 15px;
					padding: 0 6%;
				}
				table {
					width: 100%;
					tr {
						&:first-of-type {
							height: 53px;
							line-height: 53px;
							border-bottom: solid 1px #dddddd;
						}
						&:last-of-type {
							height: 60px;
							line-height: 60px;
						}
						td {
							&:first-of-type {
								font-size: 18px;
								text-align: left;
							}
							&:last-of-type {
								font-size: 14px;
								text-align: right;
							}
						}
					}
				}
			}
			.total {
				margin-top: 32px;
				@include sp {
					margin-top: 15px;
				}
				padding-right: 18px;
				font-size: 24px;
				text-align: right;
				span {
					font-size: 18px;
					margin-left: 12px;
				}
			}
		}
		.place {
			width: 20.75%;
			height: fit-content;
			padding: 39px 2.17% 0 2.08%;
			margin-top: 44px;
			border-radius: 10px;
			@include sp {
				width: 100%;
				margin: 30px 0 30px 0;
				padding: 22px;
			}
			background-color: #f4f4f4;
			.payment {
				width: 100%;
				height: fit-content;
				border-bottom: solid 1px #d8d8d8;
				h3 {
					font-size: 24px;
				}
				p {
					color: #363636;
					font-size: 16px;
					line-height: 26px;
					letter-spacing: 1px;
					margin: 19px 0 48px 0;
					span {
						font-size: 20px;
						line-height: 30px;
						letter-spacing: 1.25px;
					}
				}
			}
			.shipping {
				width: 100%;
				height: fit-content;
				margin-top: 36px;
				h3 {
					font-size: 24px;
				}
				p {
					color: #363636;
					font-size: 16px;
					line-height: 26px;
					letter-spacing: 1px;
					margin: 19px 0 26px 0;
					span {
						font-size: 20px;
						line-height: 30px;
						letter-spacing: 1.25px;
					}
				}
				.btn-wrap {
					width: 100%;
					display: flex;
					margin-bottom: 43px;
					button {
						width: 120px;
						height: 35px;
						margin: 0;
						padding: 0;
						border-radius: 5px;
						border: none;
						font-family: HiraMinPro-W3;
						background-color: #ffffff;
						&:first-of-type {
							margin-right: 8px;
							background-color: #00381f;
							span {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}
