{%- comment -%}
{{ content_for_index }}
{%- endcomment -%}
<script>
  (function() {
    function removeScriptTags() {
      var srcs = [];
      var entry = document.getElementsByTagName('script')[0];
      srcs.forEach(function(src) {
        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = src;
        script.async = false;
        entry.parentNode.insertBefore(script, entry);
      })
    }
    window.addEventListener('load', removeScriptTags, false);
  })();
</script>
<div id="loading">
  <div class="load_inner">
    <div class="main_txt">
      <div class="main_img"><img width="145" height="32" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/common/h_logo_nwjm8r.png"></div>
      <h1 class="main_ttl">毎日の家事を、心地よい時間に。</h1>
      <p id="loadingBar"><span></span></p>
    </div>
  </div>
</div>
<article id="index" class="page-index">
<section id="main" class="section-main">
  <div class="main_inner">
    <div class="slide_fil"></div>
    <div class="main_logo"></div>
    <div id="slideShow" class="slide_show">
      <ul>
        <li class="slide0"></li>
        <li class="slide1">
          <img class="first_view" width="2640" height="1534" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide01_piirph.jpg" srcset="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide01_piirph.jpg 1440w, https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide01_sp_dzdwrd.jpg 768w, https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/main_slide01_piirph.jpg 2048w">
          </li>
        </ul>
      </div>
      <div id="sliderBtn">
        <ul>
          <li value="slide1" number="0"><button></button></li>
          <li class="active" value="slide2" number="1" class=""><button></button></li>
        </ul>
      </div>
    </div>
  </section>
<!--
<section class="section-information comp-section-information" style="background: #ad292b;">
	<div class="section_inner">
		<div class="info_flex">
			<span class="title_en">Information</span>
			<a class="content" href="https://journal.komons-japan.com/archives/1598"><span>Happy Mother’s Day 2023</a>
		</div>
	</div>
</section>
-->
  <section id="topConcept" class="section-concept">
    <div id="headerRolled" class="concept_wrap">
        <div id="headerRolledSp" class="txt_wrap">
          <h2>毎日の家事を、<span>心地よい時間に。</span></h2>
          <p>掃除、洗濯、食器洗い。<span class="sp_block">家事は時に面倒で、余計なものに思えます。</span></p>
          <p><span>だけど、それらがより楽しく、</span><span>幸せな時間に変わるとしたら、</span><span>毎日も人生もより豊かなものになるはずです。</span></p>
          <p><span>Komonsはマイナスだった家事を</span><span>プラスな時間に変えるためにつくった</span><span>ホームケアブランドです。</span></p>
            <p><span class="sp_block">天然素材にこだわること。</span><span class="sp_block">国産にこだわること。</span><span class="sp_block">そして香りに徹底的にこだわること。</span><span>Komonsは「Crafted in Japan」にこだわり、</span><span>ただただ丁寧に作りました。</span>
          </p>
          <p class="last">
            <span class="sp_block">使う度に、豊かな気持ちになるように、</span><span>Komonsは、日常に小さな幸せを届けます。</span></p>
          <div class="button_wrap">
            <a href="/pages/concept"><span class="txt_wrap">もっと詳しくみる<span class="caret"></span></span></a>
          </div>
        </div>
    </div>
  </section>
  {% for collection in collections %}
    {%- if collection.title == "pickup" -%}
      {% for product in collection.products %}
        {% assign arrayIndex = product.handle %}
        {% unless forloop.last %}
          {% assign random = random | append: arrayIndex | append: ',' %}
        {% else %}
          {% assign random = random | append: arrayIndex %}
        {% endunless %}
      {% endfor %}
    {%- endif -%}
  {% endfor %}

  {%- assign array = random | split: ',' -%}
  {%- assign loops = array.size | times: 10 -%}

  {%- capture indexes -%}
  	{%- for i in (1..loops) -%}{{ "now" | date: "%N" | modulo: array.size }},{%- endfor -%}
  {%- endcapture -%}

  {%- assign indexes = indexes | split: ',' | uniq -%}

  {%- for a in indexes -%}
  {% assign b = a | plus: 0 %}
  {% unless forloop.last %}
  {% assign newArray = newArray | append: array[b] | append: ',' %}
  {% else %}
  {% assign newArray = newArray | append: array[b] %}
  {% endunless %}
  {%- endfor -%}
  {%- assign newArray = newArray | split: ',' -%}

  {% assign collectionIndex = 0 | plus: 0 %}

  {%- assign products = collections.all.products | sort: 'best-selling' -%}
  <section class="section-pickup">
    <div class="section_inner_new">
      <div class="comp-new-section-ttl">
        <hgroup>
          <span class="title_en">Pickups</span>
          <h2 class="title_jp indent">ピックアップ商品</h2>
        </hgroup>
      </div><!-- comp-new-section-ttl -->
      <div class="comp-product-block">
        <ul class="item_wrapper">
        <li id="handle-k1005" class="item_box">
          <div class="img_wrap">
            <a href="/products/k1005">
              <img loading="lazy" src="//komons-japan.com/cdn/shop/products/thumb00_fed6a931-33d8-4b1b-98c5-b38f07123927.jpg?v=1673324947&amp;width=533" srcset="//komons-japan.com/cdn/shop/products/thumb00_fed6a931-33d8-4b1b-98c5-b38f07123927.jpg?v=1673324947&amp;width=533 1440w, //komons-japan.com/cdn/shop/products/thumb00_fed6a931-33d8-4b1b-98c5-b38f07123927.jpg?v=1673324947&amp;width=360 768w, //komons-japan.com/cdn/shop/products/thumb00_fed6a931-33d8-4b1b-98c5-b38f07123927.jpg?v=1673324947&amp;width=533 2048w" alt="Cotton Fields">
            </a>
          </div>
          <div class="txt_wrap height-adjust">
            <span class="cat_ttl">ハンドミルク</span>
            <h3 class="prod_name">
              <a href="/products/k1005"><span class="name en">Cotton Fields</span></a>
            </h3>
            <span class="product_detail"><span class="price">2,970円(税込)</span></span>
          </div>
          <div class="comp-list-cart-button">
            <div class="comp-arrow-link">
              <a href="/products/k1005"><span>詳細を見る</span></a>
            </div>
          </div>
        </li>
        <li id="handle-k1006" class="item_box">
          <div class="img_wrap">
            <a href="/products/k1006">
              <img loading="lazy" src="//komons-japan.com/cdn/shop/products/thumb00_1a64828c-68bf-4417-a876-9694a82b8da8.jpg?v=1673340487&amp;width=533" srcset="//komons-japan.com/cdn/shop/products/thumb00_1a64828c-68bf-4417-a876-9694a82b8da8.jpg?v=1673340487&amp;width=533 1440w, //komons-japan.com/cdn/shop/products/thumb00_1a64828c-68bf-4417-a876-9694a82b8da8.jpg?v=1673340487&amp;width=360 768w, //komons-japan.com/cdn/shop/products/thumb00_1a64828c-68bf-4417-a876-9694a82b8da8.jpg?v=1673340487&amp;width=533 2048w" alt="Cotton Fields (Mini)">
            </a>
          </div>
          <div class="txt_wrap height-adjust">
            <span class="cat_ttl">ハンドミルク</span>
            <h3 class="prod_name">
              <a href="/products/k1006"><span class="name en">Cotton Fields (Mini)</span></a>
            </h3>
            <span class="product_detail"><span class="price">1,320円(税込)</span></span>
          </div>
          <div class="comp-list-cart-button">
            <div class="comp-arrow-link">
              <a href="/products/k1006"><span>詳細を見る</span></a>
            </div>
          </div>
        </li>
        <li id="handle-k0013" class="item_box">
          <div class="img_wrap">
            <a href="/products/k0013">
              <img loading="lazy" src="//komons-japan.com/cdn/shop/products/thumb01_dbcc5c5a-ffb9-4dd3-b689-e79032848412.jpg?v=1648100719&amp;width=533" srcset="//komons-japan.com/cdn/shop/products/thumb01_dbcc5c5a-ffb9-4dd3-b689-e79032848412.jpg?v=1648100719&amp;width=533 1440w, //komons-japan.com/cdn/shop/products/thumb01_dbcc5c5a-ffb9-4dd3-b689-e79032848412.jpg?v=1648100719&amp;width=360 768w, //komons-japan.com/cdn/shop/products/thumb01_dbcc5c5a-ffb9-4dd3-b689-e79032848412.jpg?v=1648100719&amp;width=533 2048w">
            </a>
          </div>
          <div class="txt_wrap height-adjust">
            <span class="cat_ttl">ギフトセット</span>
            <h3 class="prod_name">
              <a href="/products/k0013"><span class="name">ハンドケアコンビ</span></a>
            </h3>
            <span class="product_detail"><span class="price">5,060円(税込)</span></span>
          </div>
          <div class="comp-list-cart-button">
            <div class="comp-arrow-link">
              <a href="/products/k0013"><span>詳細を見る</span></a>
            </div>
          </div>
        </li>
        {% for collection in collections %}
          {%- if collection.title == "pickup" -%}
            {% for product in collection.products %}
              {% for product in collection.products %}
                {%- if product.handle == newArray[collectionIndex] -%}
                {%- if collectionIndex < 1 -%}
                  {%- include 'all-item-card' -%}
                {%- endif -%}
                  {% assign collectionIndex = collectionIndex | plus: 1 %}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
        </ul>
      </div>
    </div>
  </section>
  {% section 'index-products' %}
  {% section 'index-gift' %}
  {% section 'journal-list' %}
  {% section 'category-list' %}
  <section class="section-instagram comp-instagram-wrap b_none">
    <div class="section_inner_new">
      <p class="insta_ttl">Instagram</p>
      <div id="insta-feed" class="insta_feed"><a href="https://www.instagram.com/p/Cw49LMpPwnb/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/371340316_297813896215262_3010590549375014022_n.jpg?_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=K0DAZR5qfeEAX-5-zf4&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfDRuETa5i5MRs_0ITzJ2jlGe2LcZ5JVnBNEZcF80gy0zA&amp;oe=650394B7" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/371340316_297813896215262_3010590549375014022_n.jpg?_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=K0DAZR5qfeEAX-5-zf4&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfDRuETa5i5MRs_0ITzJ2jlGe2LcZ5JVnBNEZcF80gy0zA&amp;oe=650394B7" alt="Instagram post with the caption: 【自分と向き合う朝の時間に】

この暑い夏どのように朝をお過ごしですか

私は毎日自然と日課にしていることがあります
それは、朝..."><div style="width:99%;height:99%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/CwXSj9pv0JV/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/370381404_264570933013779_4701881120510394762_n.jpg?_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=bpWpVS_vhIMAX98_EHb&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfCLFLLXHIkGZVpfQBtAen8TpDhAkqiXnf6l-S0JuIA0Xg&amp;oe=650347C1" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/370381404_264570933013779_4701881120510394762_n.jpg?_nc_cat=107&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=bpWpVS_vhIMAX98_EHb&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfCLFLLXHIkGZVpfQBtAen8TpDhAkqiXnf6l-S0JuIA0Xg&amp;oe=650347C1" alt="Instagram post with the caption: アウトドアスプレー【All La Glory】

暑い日差しの下で思いっきり遊べるこの季節。
残暑が続くなかでキャンプなど遠出す..."><div style="width:99%;height:99%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/CwH6jkXvzqq/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/367994821_244931314587437_2378509898113627160_n.jpg?_nc_cat=110&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=bqidgzloA3UAX_mniEO&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfBuBB9itRVYhFQsP4Z4V186JauoDA80FSYKk0KaA7UvUg&amp;oe=65038F4A" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/367994821_244931314587437_2378509898113627160_n.jpg?_nc_cat=110&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=bqidgzloA3UAX_mniEO&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfBuBB9itRVYhFQsP4Z4V186JauoDA80FSYKk0KaA7UvUg&amp;oe=65038F4A" alt="Instagram post with the caption: 【アフタヌーンティ・リビングでPOPUP開催中】
.
8月10日から8月31日までの21日間、アフタヌーンティ・リビングの3店舗..."><div style="width:99%;height:99%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/Cv9kzBuMGof/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/367500951_226598186610108_7228067283035096946_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=u562TBTPFDQAX_kcg6O&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfB1Ords7kaB4BC2UQRMrolYycuNC6PNvfN9vSBVUSJrZA&amp;oe=650459F3" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/367500951_226598186610108_7228067283035096946_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=u562TBTPFDQAX_kcg6O&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfB1Ords7kaB4BC2UQRMrolYycuNC6PNvfN9vSBVUSJrZA&amp;oe=650459F3" alt="Instagram post with the caption: 「anan」8月号にて
KomonsのOutdoor Sprayを掲載していただきました

「虫が嫌う4種の天然精油を使用した、..."><div style="width:99%;height:99%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/CvHmMKev_D-/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/362638366_1063386041503095_3162962802382570680_n.jpg?_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Zme-jysQUSYAX8ToLL0&amp;_nc_oc=AQn4zVAjQQtDkElHhzoJwYFSM9NjNAE51iu71VeiFUVBevKGPBya6_74mHbuAJfngng&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfDOfDMC2gJVYhDsmo9ODNPbjZeOmBImtaQcCySyrft5kA&amp;oe=6502C114" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/362638366_1063386041503095_3162962802382570680_n.jpg?_nc_cat=100&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Zme-jysQUSYAX8ToLL0&amp;_nc_oc=AQn4zVAjQQtDkElHhzoJwYFSM9NjNAE51iu71VeiFUVBevKGPBya6_74mHbuAJfngng&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfDOfDMC2gJVYhDsmo9ODNPbjZeOmBImtaQcCySyrft5kA&amp;oe=6502C114" alt="Instagram post with the caption: 【2023 夏秋限定 Fabric Mist 鹿児島ホウショウ】

2023年夏秋限定、”ホウショウブレンド”のファブリックミ..."><div style="width:99%;height:99%;" class="instafeed-overlay "></div></div></a><a href="https://www.instagram.com/p/Ct1UcUJPECP/" target="_blank" rel="noopener"><div class="instafeed-container" style="width:16.666667%;padding-top:16.666667%;"><img class="js-lazy-image js-lazy-image--handled" style="width:99%;height:99%;" src="https://scontent.cdninstagram.com/v/t51.29350-15/353988384_1447491092720838_7937363321123912830_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Q3JsmBCD4nUAX8MaHcj&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfB6rdb29611x4t5DXjdWkfEzBOkV5dcpMRn_faEzRFglA&amp;oe=6503EF6D" data-src="https://scontent.cdninstagram.com/v/t51.29350-15/353988384_1447491092720838_7937363321123912830_n.jpg?_nc_cat=106&amp;ccb=1-7&amp;_nc_sid=8ae9d6&amp;_nc_ohc=Q3JsmBCD4nUAX8MaHcj&amp;_nc_ht=scontent.cdninstagram.com&amp;edm=ANo9K5cEAAAA&amp;oh=00_AfB6rdb29611x4t5DXjdWkfEzBOkV5dcpMRn_faEzRFglA&amp;oe=6503EF6D" alt="Instagram post with the caption: 【首都圏3店舗でPOPUP開催中】
.
6/21から7/11までの21日間、伊勢丹新宿店 本館1階ISETAN Seedにて、期..."><div style="width:99%;height:99%;" class="instafeed-overlay "></div></div></a></div>
      <div class="link_button">
        <a target="_blank" href="https://www.instagram.com/komons.jp/"><span>komons.jp</span></a>
      </div>
    </div><!-- section_inner -->
  </section>
</article>
