<article id="review" class="page-review">
		<section class="section-review">
			<div class="section_inner">
				<div class="title_wrap small">
					<h1 class="title" style="line-height: 1.6;">マルチクリーナーに関する<br>アンケート</h1>
					<h2 class="lead_txt"><span>下記のアンケートにご協力いただいた皆様全員に、</span><span>マルチクリーナー15%OFFクーポンをプレゼントいたします。</span></h2>
				</div><!-- title_wrap -->
        <div id="formWrap" class="comp-review-question">
    			<div class="review_item">
    				<div class="question_ttl">
    					<span class="num">1</span>
    					<h3 class="text">あなたが発見したマルチクリーナーのおすすめの使い方を教えてください！(使ったことがある人のみ回答)</h3>
    				</div>
    				<div class="form_wrap">
    					<textarea name="content"></textarea>
    				</div>
    			</div><!-- review_item -->
    			<div class="review_item">
    				<div class="question_ttl">
    					<span class="num">2</span>
    					<h3 class="text">Komonsのマルチクリーナーを使って汚れを落としてみたい場所はどこですか？(全員回答可能)</h3>
    				</div>
    				<div class="form_wrap">
    					<textarea name="request"></textarea>
    				</div>
    			</div><!-- review_item -->
    			<div class="review_item b_none">
    				<div class="question_ttl">
    					<span class="num">3</span>
    					<h3 class="text">メールアドレス(任意回答)</h3>
    				</div>
    				<div class="form_wrap">
    					<input type="email" name="usermail" placeholder="example@komons-japan.com">
    					<p class="example">※マルチクリーナー15%OFFクーポンをこちらのメールアドレス宛にお送りいたします。</p>
    				</div>
    			</div><!-- review_item -->
    			<div id="ajaxLoader" class="ajax_loader">
    				<span class="loading"></span>
    			</div>
    			<div id="statusMessage" class="status_message hidden"></div>
    			<div id="submitButton" class="submit_wrap">
    				<span class="text_wrap">
    					<span class="ja">内容を送信する</span>
    					<input type="button" value="内容を送信する">
    				</span>
    			</div>
    		</div><!-- comp-review-question -->
			</div><!-- section_inner -->
		</section>
	</article>
