<article id="signIn" class="page-admin-login">
  <section class="section-admin">
    <div class="section_inner_new">
      <div class="admin_wrapper">
        <div class="comp-admin-title">
          <hgroup>
            <h1 class="page_ttl en">SIGN IN</h1>
            <span class="page_subttl ja">アカウント登録完了</span>
          </hgroup>
        </div>
        <div class="comp-page-log">
          <p class="pagelog_txt">アカウントの作成が完了しました。<br><span id="idAddress">{{customer.email}}</span>宛の自動返信メールをご確認ください。</p>
          <div class="comp-admin-button flex">
            <a href="{{ routes.account_url }}" class="back_button"><span>マイページへ</span></a>
            <a href="/cart" class="back_button"><span>カートページへ</span></a>
          </div>
        </div>
      </div>
    </div><!-- section_inner_new -->
  </section>
</article>
