<article id="concept">
<section class="main" id="main"></section>
<div class="concept_inner" id="js_concept_inner">
<div class="concept_index concept_index_pc" id="js_concept_sidebar" style="position: fixed; top: 73px;">
<ul>
  <li class="current"><a href="#concept_top">コンセプト</a></li>
  <li><a href="#concept_component">成分</a></li>
  <li><a href="#concept_scent">香り</a></li>
  <li><a href="#concept_design">小紋</a></li>
</ul>
</div>
<div id="headerRolled" class="concept_content">
<section class="concept_section concept_section_top" id="concept_top">
<h1 id="headerRolledSp" class="sec_title">コモンズをつくるにあたって。</h1>
<div class="concept_body">結婚をして子どもが生まれると、前は見落としていたいろいろなことが気になってきます。 まずは「口にするもの」です。「これは子どものカラダの中に入って大丈夫だろうか？」と考えはじめます。<br /> 私の場合は、次に、手洗い洗剤や台所用洗剤などでした。皮膚に触れるものであり、時には口にもはいるものです。<br /> やたらと機能・性能を訴求するパッケージも気になります。 それは言い換えれば、すごく化学的なものが含まれることになるからです。<br /> <br /> 冬場になるとひどく荒れてしまう妻の手を見るたびに、巷で売られている洗剤の安さや機能性は正しいものなのだろうかと疑問を持つようになりました。<br /> <br /> また、家事は毎日のことなので、機能性だけでなく、掃除・洗濯・食器洗いの少し憂鬱に感じる時間が、ちょっとでもプラスに、使うたびに少しでも幸せな時間にできるような・・・。<br /> そんなものがあれば、妻にとっても子どもたちにとっても、暮らしがもっと豊かになるだろう、そう考えました。<br /> <br /> 国内外問わず数十種類の市販洗剤を試しました。しかし、そのような商品はなかなか見つかりません。<br /> だから一消費者として、心から納得できるものを自分自身でつくることに決めました。<br /> <br /> <img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/image01_tnzxnq.jpg" /><br /> <br /> つとめていた会社を退職し、ゼロから研究しはじめました。<br /> だけどももちろん一人では何もできません。<br /> <br /> 納得いくものがつくれるように、たくさんの工場の方とお会いしました。<br /> 「香り」が大切だと思い、日本有数の調香師さんと、家事が楽しくなる「香り」を追求しました。<br /> 家の中のどこにおいてもだれが見ても恥ずかしくないイメージをつくるためにデザイナーさんと議論をしました。<br /> <br /> さまざまな人の手を借りて、ようやくKomonsを世に出すにいたりました。<br /> <br /> <img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/image02_ezbrxu.jpg" /><br /> <br /> 妻や、二人の子どもたちのことを考えてつくったKomonsは、一般に流通している大手商品の10倍以上の原価がかかってしまいます。<br /> 普段づかいするものなので、少しでも価格を抑えるために小売店への卸販売メインではなく、自社のオンラインストアを中心に販売をします。<br /> <br /> Komonsの一番のユーザーは、自分であり、妻であり、二人の子どもたちです。だからこそ、ただただこだわって、丁寧につくりました。<br /> <img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/image03_jbi2vp.jpg" /><br /> <br /> 使うたびにみんなの暮らしが豊かになるような。<br /> マイナスだった家事の時間が、プラスの時間に変わるような。<br /> そんなホームケア・プロダクトを作っていこうと考えています。</div>
</section>
<section class="concept_section concept_section_part" id="concept_component">
<h2 class="sec_title">成分</h2>
<div class="concept_part_content">
<h3>たかが洗剤。かもしれないけれど、<br /> 徹底的にナチュラルで安心なものを作ります。</h3>
<div class="concept_body">Komonsは、一番のユーザーである自分と妻、それと二人の子どもたちに使ってほしいと思える原料しか使いません。<br /> 出来る限り植物の力を活かし、コストが安く簡単だからといって安易にケミカルな原料に頼らない。日本全国の"いいもの"を自分の目で直接見て、商品に取り入れる。<br /> 排水された後の生分解性にもこだわり、環境にもやさしいものを。<br /> そのこだわりが使う時の「心地よさ」につながると考え、1つ1つの商品を丁寧につくります。
<div class="concept_img"><img alt="" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/concept_img01_veq3p3.png" />
<p>毎日使うものだからこそ、ナチュラルで安心なものを。</p>
</div>
</div>
</div>
</section>
<section class="concept_section concept_section_part" id="concept_scent">
<h2 class="sec_title">香り</h2>
<div class="concept_part_content">
<h3>毎日のくらしの気持ちをあげる香りを、<br />100%天然アロマオイルで。</h3>
<div class="concept_body">「いい匂い」は理屈抜きに気分をあげてくれます。<br /> Komonsは本当に「いい匂い」をつくるために、高知県産ゆず精油・青森県産ヒバ精油などの貴重な国産精油を含む100%天然精油だけで、本物の香りをつくりました。<br /> 台所、お風呂、リビング、寝室、、、毎日を過ごす家の中のそれぞれの空間に、あなたと家族の気持ちをあげる最適な香りをデザインするために、商品ごとに異なるオリジナルの精油ブレンドを配合しています。
<div class="concept_img"><img alt="" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/concept_img02_rtrznx.png" />
<p>高知県四万十産ゆずの果皮から蒸留した天然の香りを、毎日の暮らしのなかに。</p>
</div>
</div>
</div>
</section>
<section class="concept_section concept_section_part" id="concept_design">
<h2 class="sec_title">小紋</h2>
<div class="concept_part_content">
<h3>Komonsの由来は、着物の柄である江戸小紋です。</h3>
<div class="concept_body">江戸時代、幕府から贅沢をせず無地の着物を着るようにと言われた人々は、遠目では無地に見えるのに近くで見ると柄模様がしっかり楽しめる、そんなデザインを生み出しました。<br /> 細かな模様の1つ1つを手彫りして作られた伊勢型紙と、寸分の狂いもない染師の卓越した技術力によって支えられた江戸小紋は、多くの江戸町人の「何気ない毎日を、ちょっと楽しく」することに一役買いました。<br /> 2018年、多くの人の「何気ない毎日を、ちょっと楽しく」するために生まれたKomonsは、その由来である江戸小紋の柄をまとっています。
<div class="concept_img"><img alt="" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/concept_img03_t9v7cp.png" />
<p>ハンドウォッシュには「麻の葉」模様を。</p>
</div>
</div>
</div>
</section>
<div class="concept_index concept_index_sp" id="js_concept_index_sp">
<div class="concept_index_sp_inner" id="indexContent">
<ul>
<li class="current"><a href="#concept_top">コンセプト</a></li>
<li><a href="#concept_component">成分</a></li>
<li><a href="#concept_scent">香り</a></li>
<li><a href="#concept_design">小紋</a></li>
</ul>
</div>
</div>
<section class="concept_links" id="ceoncept_links">
<h2>Komonsの商品</h2>
<ul>
<li><a href="/collections/all-products"><img alt="" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/concept_link01_gotvpf.jpg" /><span class="txt">商品一覧へ</span></a></li>
<li><a href="/collections/gift"><img alt="" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/concept/concept_link02_ejwztf.jpg" /><span class="txt">ギフトセット一覧</span></a></li>
</ul>
</section>
<button class="js_toggle_btn concept_index_btn close" data-target="#js_concept_index_sp" id="popButton" type="button"></button></div>
</div>
{% section 'instagram' %}
</article>
