<article class="gift-service" id="giftService">
<section class="section-main">
<div class="main_visual">&nbsp;</div>
<div class="section_inner">
<div class="txt_wrap">
<div class="main_ttl">
<span class="title_en">Gift Service</span>
<h1 class="title_ja">ギフトサービスについて</h1>
</div>
<p class="main_desc">ちょっとしたプチギフトから、特別な日のプレゼントまでお使いいただけるよう、熨斗やメッセージカードなどのギフトサービスを承ります。</p>
</div>
<div class="height_adjust">&nbsp;</div>
</div>
</section>
<section id="service01" class="section-service01">
<div class="section_inner">
<div class="section_ttl">
<h2>
<span>Gift Set</span><font>ギフト商品のラッピングサービス</font>
</h2>
</div>
<div class="comp-gift-service-wrap">
<div class="service_item">
<div class="service_img"><img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img01_hwfspg.jpg"></div>
<div class="service_txt">
<h2 class="service_name">ラッピング/ギフトボックス</h2>
<div class="txt_wrap">
<p class="desc">ギフト一覧ページに並ぶすべてのセットはオリジナルのギフトBOXにお入れしてお届けいたします。</p>
<p class="added">※包装紙やリボン掛けの対応は行っておりませんので、あらかじめご了承ください。</p>
</div>
<div class="link_button"><a href="/collections/gift"><span>ギフト商品一覧</span></a></div>
</div>
</div>
<div class="service_item">
<div class="service_img"><img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img02_gmqugj.jpg"></div>
<div class="service_txt">
<h2 class="service_name">熨斗/水引</h2>
<div class="txt_wrap">
<p class="desc"><span>ギフトセット商品については、+110円(税込)にて熨斗対応が可能です。</span> <span>水引の種類は、どのシーンのお祝い事にもお使いいただける「紅白梅結び」になります。ご結婚祝い、出産祝い、内祝、新築祝い、快気祝いなど様々なシーンにご利用ください。</span></p>
<p class="added">※表書きをご希望の場合はご注文画面の備考欄にご入力お願い致します。</p>
<p class="added">※特にご指定がない場合、無地熨斗となります。</p>
</div>
</div>
</div>
<div class="service_item">
<div class="service_img"><img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img03_fkpres.jpg"></div>
<div class="service_txt">
<h2 class="service_name">手提げ袋</h2>
<div class="txt_wrap">
<p class="desc">ギフトセットの商品については、＋330円（税込）にてオリジナル手提げバッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。</p>
<p class="added">※なお、オリジナル手提げバッグについては単品でも購入可能です。</p>
<p class="added">※ベーシックカルテット・フルセットのBOXサイズには対応しておりません。（代わりに手提げ紙袋を無償でお付けいたしますので、ご希望の場合は購入備考欄にてお申し付けください。）</p>
</div>
<div class="link_button"><a href="/products/k0041"><span>オリジナル手提げバッグ</span></a></div>
</div>
</div>
<div class="service_item">
<div class="service_img"><img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img06_wkofym.jpg"></div>
<div class="service_txt">
<h2 class="service_name">メッセージカード</h2>
<div class="txt_wrap">
<p class="desc">ご希望の客様には、無料にてメッセージカードをお付けしております。カード裏面にメッセージの印刷も承ります。詳しくはご購入手続き画面をご確認ください。</p>
</div>
</div>
</div>
</div>
</div>
</section>
<section id="service02" class="section-service02">
<div class="section_inner">
<div class="section_ttl">
<h2>
<span>Other Product</span><font>その他の商品のギフトサービス</font>
</h2>
</div>
<div class="comp-gift-service-wrap">
<div class="service_item">
<div class="service_img"><img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img04_etgts7.jpg"></div>
<div class="service_txt">
<h2 class="service_name">ファブリックミストMiniの手渡し袋について</h2>
<div class="txt_wrap">
<p class="desc">【ギフト】Free as a Bird（Mini)については、ご注文の個数分だけ手渡し用の透明手提げ袋とリーフレットを同梱してお届けいたします。</p>
<p class="added">※お相手様に直送の場合を除く</p>
</div>
<div class="link_button"><a href="/products/k0009"><span>ファブリックミストMini</span></a></div>
</div>
</div>
<div class="service_item">
<div class="service_img"><img src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/service_img05_ttjr4a.jpg"></div>
<div class="service_txt">
<h2 class="service_name">単品商品1本でのお渡しについて</h2>
<div class="txt_wrap">
<p class="desc">ギフトセット商品ではない単品商品についても、ご希望であれば1本でのお渡し用に透明手提げ袋とリーフレットを同梱してお届けすることが可能です。ご希望の場合は、購入手続き画面の備考欄にその旨ご記載ください。</p>
</div>
<div class="link_button"><a href="/collections/all-products"><span>通常商品一覧</span></a></div>
</div>
</div>
</div>
</div>
</section>
<section class="comp-qa">
<div class="comp-centered-section-title">
<span class="title_en">FAQ</span>
<h2 class="title_ja">よくある質問</h2>
</div>
<div class="qa_toggle" id="qaToggle">
<div class="toggle_item">
<a class="toggle_button">ギフト包装は可能ですか？</a>
<div class="toggle_contents">
<p><span>Komonsのギフトセットはすべてオリジナルのギフトボックスに入れてお届けします。セット以外の商品も<a href="/products/ks005">こちら</a>からギフトボックス(税込330円)を同時にお買い求め頂ければギフト包装に入れてお届けします。また、メッセージカードや熨斗の対応も承っております。</span><span>リボンなどのラッピングは基本的に承っておりませんが、個別のご相談も可能ですので<a href="https://journal.komons-japan.com/contact">お問い合わせフォーム</a>よりお気軽にお問い合わせください。</span></p>
</div>
</div>
<div class="toggle_item">
<a class="toggle_button">複数住所へ配送は可能ですか？</a>
<div class="toggle_contents">
<p>可能です。大変お手数をおかけいたしますが、送り先ごとにご注文手続きを行っていただくか、件数が多い場合は、info@komons-japan.comまで問い合わせください。ご注文情報入力用のエクセルフォームをお送りさせていただきます。</p>
</div>
</div>
<div class="toggle_item">
<a class="toggle_button">ギフトボックスの購入は可能ですか？</a>
<div class="toggle_contents">
<p>可能です。<a href="/products/ks005">こちら</a>からお買い求め下さいませ。また、<a href="/collections/gift">ギフト商品一覧ページ</a>に掲載の全ての商品には予めギフトボックスが含まれています。</p>
</div>
</div>
<div class="toggle_item">
<a class="toggle_button">メッセージカードはつけられますか？メッセージの印字はできますか？</a>
<div class="toggle_contents">
<p>無料でご利用いただけるメッセージカード（名刺サイズ、Komosロゴ入り）をご用意しています。カート画面にてメッセージカード「希望する」を選択してください。カード裏面にメッセージの印刷も承ります。詳しくはご購入手続き画面をご確認ください。</p>
</div>
</div>
<div class="toggle_item row2">
<a class="toggle_button">熨斗(のし)対応は可能ですか？</a>
<div class="toggle_contents">
<p>ギフトセット商品については、+110円(税込)にて熨斗対応が可能です。水引の種類は、どのシーンのお祝い事にもお使いいただける「紅白梅結び」になります。（ご結婚祝い、出産祝い、内祝、新築祝い、快気祝いなど様々なシーンにご利用ください。）ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。<br>※弔事の場合はギフトプションにて熨斗をお選びいただいた上で水引きなし、掛け紙のみの対応も可能ですのでご希望の場合は備考欄にお書き添えくださいませ。</p>
</div>
</div>
<div class="toggle_item">
<a class="toggle_button">お渡し用手提げ袋</a>
<div class="toggle_contents">
<p>ギフトセットの商品については、＋330円（税込）にてオリジナル手提げ布バッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。(オリジナル手提げバッグについては単品でも購入可能です。)<br> なお、ベーシックカルテットおよびフルセットについては、箱のサイズの関係でオリジナル手提げ布バッグに入らないため、別途無償にて紙の手提げ袋をお付けさせていただきます。</p>
</div>
</div>
<div class="toggle_item">
<a class="toggle_button">直接相手に届ける場合、明細書は同封されますか？</a>
<div class="toggle_contents">
<p>特にご要望がない場合は、ギフトかどうかにかかわらず、基本的に明細書の同封/送付は行いません。受注明細書は当店よりお送りいたします「ご注文内容確認メール」に換えさせていただきますので、予めご了承ください。紙の明細書や領収書をご希望の方には発行させていただきますので、上記の「明細書/領収書の発行は可能ですか？」の項目をご覧ください。</p>
</div>
</div>
<div class="toggle_item">
<a class="toggle_button">直接相手に届ける場合、送り主が分かるようになっていますか？</a>
<div class="toggle_contents">
<p>商品を発送する際の「配送伝票」に、ご注文確認画面でご入力いただいた「送り主様のお名前（フルネーム）」を記載させていただきます。</p>
</div>
</div>
<div class="others">※その他商品自体や配送などに関するFAQ<span>は<a href="/pages/faq">こちら</a>をご参照ください。</span>
</div>
</div>
</section>
{% section 'instagram' %}
</article>
