<article id="info" class="sk_info_block container_section underPage">
<div class="section_ttl">
<h1><span>Trade law</span><font>特定商取引法に基づく表記</font></h1>
</div>
<div class="txt_main bd1">
<dl class="flex_wrap">
<dt class="def_lst_dt">販売業者</dt>
<dd class="def_lst_dd">株式会社Unsungs&amp;Web </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">運営統括責任者名</dt>
<dd class="def_lst_dd">有井誠 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">郵便番号</dt>
<dd class="def_lst_dd">〒170-0005</dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">住所</dt>
<dd class="def_lst_dd">東京都豊島区南大塚3-36-7　 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">電話番号</dt>
<dd class="def_lst_dd">０５０３５７４０２１６</dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">商品代金以外の料金の説明</dt>
<dd class="def_lst_dd">消費税<br /> 送料（宅配便）<br /> ※ご購入金額が税抜5,000円未満の場合は、一律660円の送料がかかります。<br /> 代引き手数料:330円<br />  </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">不良品</dt>
<dd class="def_lst_dd">「不良品・当社の商品の間違え」の場合は当社が負担いたします。<br /> 配送途中の破損などの事故がございましたら、弊社までご連絡下さい。<br /> 送料・手数料ともに弊社負担で早急に新品をご送付致します。<br /> <br /> なお、お客様都合のご返品の場合は、お客様にて送料をご負担ください。<br /> <br /> 【返品対象】<br /> 「不良品・当社の商品の間違え」の場合<br /> <br /> 【返品時期】<br /> 商品到着後7日以内にご連絡があった場合に返金可能となります。<br /> <br /> 【返品方法】<br /> メールにて返金要請してください。<br /> 5営業日以内にご購入代金を指定の口座へお振込みいたします。<br />  </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">販売数量</dt>
<dd class="def_lst_dd">各商品ページにてご確認ください。 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">引渡し時期</dt>
<dd class="def_lst_dd">ご注文後、3営業日以内に発送いたします。 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">お支払い方法</dt>
<dd class="def_lst_dd">クレジットカード、Amazon pay、代金引換 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">お支払い期限</dt>
<dd class="def_lst_dd">クレジットカード：ご利用のカード会社ごとに異なります。<br /> Amazon pay：ご利用のカード会社ごとに異なります。<br /> 代金引換：商品到着時にお支払いください。 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">返品期限</dt>
<dd class="def_lst_dd">商品到着後7日以内にご連絡があった場合に返金可能となります。 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">返品送料</dt>
<dd class="def_lst_dd">お客様都合による返品につきましてはお客様のご負担とさせていただきます。「不良品・当社の商品の間違え」の場合は当社が負担いたします。 </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">公開メールアドレス</dt>
<dd class="def_lst_dd">info@komons-japan.com </dd>
</dl>
<dl class="flex_wrap">
<dt class="def_lst_dt">ホームページアドレス</dt>
<dd class="def_lst_dd">https://komons-japan.com </dd>
</dl>
</div>
</article>
<script>// <![CDATA[
$('body').addClass('fixed');
// ]]></script>
