<article id="faq" class="page-faq">
  <section class="section-header">
    <div class="section_inner_new">
      <div class="comp-section-ttl">
        <hgroup>
          <span class="ttl_en">FAQ</span>
          <h1 class="ttl_ja">よくある質問</h1>
        </hgroup>
      </div><!-- comp-section-ttl -->
      <div class="search_wrap">
        <div class="key_input">
          <input id="faqSearch" type="text" name="faqkeyword" placeholder="キーワードを入れて検索">
          <button class="search_submit">検索</button>
        </div>
      </div>
    </div><!-- section_inner_new -->
  </section>
  <section class="section-faq-contents">
    <div class="section_inner_new">
      <div class="faq_flex">
        <div class="category_wrap">
          <span class="category_ttl">カテゴリ一覧</span>
          <div id="categoryList" class="category_list comp-category-button">
            <button jump="#faq01"><span>商品について</span></button>
            <button jump="#faq02"><span>購入方法</span></button>
            <button jump="#faq03"><span>ギフト対応</span></button>
            <button jump="#faq04"><span>配送<span class="sp_none">について</span></span></button>
            <button jump="#faq05"><span>キャンセル・返品</span></button>
            <button jump="#faq06"><span>法人<span class="sp_none">でのご</span>購入</span></button>
            <button jump="#faq07"><span>流通業者のお客様</span></button>
            <button jump="#faq08"><span>お問い合わせ先</span></button>
          </div>
        </div><!-- category_wrap -->
        <div id="faqFlex" class="faq_wrap">
          <div id="faq01" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">Product</span>
              <h2 class="ttl_ja">商品について</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【使用期限】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">使用期限について</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>Komonsの商品は、製造後3年間は安心してご使用いただけます。<span>ただし、開封後は、半年を目安にご使用ください。</span><span>また開封・未開封を問わず、直射日光や極端な高温・低温や多湿を避け、冷暗所で保管をお願い致します。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div>
            <div class="item_wrap">
              <h3 class="ttl_h3">【原料・成分】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">Komonsの商品はオーガニックですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>Komonsでは、一部の商品にオーガニックの国産原料を使用しておりますが、あえて自分たちの商品を「オーガニック商品」とは呼んでおりません。<span>それは市販品の多くみられるような、微量のオーガニック成分を含んでいるだけで"オーガニック製品"と呼称するような行為はお客様への偽りと考えるからです。</span>Komonsでは、オーガニックかどうかにかかわらずすべての商品に関して1つ1つの原料を丁寧に選び配合しております。<span>また、着色料、人工香料、鉱物油、シリコン、パラベンを一切使用していません。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">合成界面活性剤は使用していますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>Komonsでは、手肌などへの優しさや商品の使い心地などを鑑み、主に植物由来の合成界面活性剤を使用しております。各商品詳細ページの「全成分」の項目に記載がございます。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">石油由来の界面活性剤は使用していますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>使用しておりません。界面活性剤については植物由来（ヤシ油）のものを使用しております。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">その他石油由来の原料は使用していますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>Komonsでは、天然系(植物由来)原料をベースにした商品づくりを基本としています。<span>一方、成分によっては、植物由来原料のみではつくることができないもの、安定性がよくないもの、あるいは安定的な供給が難しいもの等があり、それらの原料については石油由来のものを使用している場合がございます。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">鉱物油は使用していますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>使用しておりません。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">合成香料は使用していますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>使用しておりません。Komonsの商品はすべて天然精油（エッセンシャルオイル）100%で香り付けをしております。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">Komonsの商品はエコですか?</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>Komonsでは、私たちの子どもたち世代の暮らす地球環境にも配慮し、生分解性の高い成分を厳選して配合するよう商品設計をしております。<span>例えば、Dish wash（食器用洗剤）「Don't Look Back in Anger」に含まれる界面活性剤（アルキルエーテル硫酸エステルナトリウム、脂肪酸アルカノールアミド、アルキルアミドプロピルベタイン）はすべてヤシ油由来の高生分解性のもの。また、他の商品に含まれる界面活性剤もすべて植物由来で高生分解性のものを選定して配合しています。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">いつもと使用感や香り、色が違う</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>商品の製造時期、または精油・原料の製造時期が異なると使用感や香りが多少異なることがあります。</span><span>また、気分や体調、季節や天候の変化、保管状況（温度・湿度）、環境（周囲の香り等）によっても、異なることがありますが、ご使用上支障はありません。</span>色についても、植物エキスや天然の着色剤を使用しているため、製造時期により差が生じることがあります。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">経時的変化（香り、色、使用感）がみられる</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>Komonsの商品は、精油や植物エキス等、植物由来の原料を多く含みます。それらの多くは紫外線や熱または長期保存により劣化することがあります。</span><span>ご購入後は直射日光や高温・低温を避けて保管し、お早めにご使用ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">濁りや、析出物がある</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>極端な温度低下や高温などの影響により、液が薄く濁ったり、成分の一部が析出物となってあらわれることがあります。一度、20℃程度に放置し、濁りや析出物が消えてからご使用ください。</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="item_wrap">
                <h3 class="ttl_h3">【精油】</h3>
                <div class="toggle_menu">
                  <div class="toggle_item">
                    <button class="toggle_button">精油とは何ですか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p>精油はエッセンシャルオイルとも呼ばれています。油という字がつきますが、油脂ではありません。精油は植物に含まれ、揮発性の芳香物質を含む有機化合物が数十～数百種類集まってできたものです。</p>
                      </div>
                    </div>
                  </div>
                <div class="toggle_item">
                  <button class="toggle_button">精油の光毒性は心配ないですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>エッセンシャルオイルの光毒性は、そのオイルに含まれる光毒性成分（フロクマリン）の含有量に起因します。一般的にとくに光毒性が懸念されるのは柑橘系精油です。</span><span>Komonsでは、光毒性が懸念される種類の精油についてはFCF(フロクマリンフリー）を使用しております。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">精油を配合した商品を使用すると刺激を感じる</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>肌が敏感な方や、精油にアレルギーをおもちの方が精油配合の化粧品を使用すると、肌に刺激を感じることがあります。また、乳幼児や子どもは大人に比べて身体が小さく香料に対する感受性が高いので、注意を要する場合があります。</span><span>もし、刺激を感じた場合はご使用を中止していただくようお願いいたします。また、お肌が敏感な方は少量からご使用ください。</span></p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="item_wrap">
                <h3 class="ttl_h3">【安全性】</h3>
                <div class="toggle_menu">
                  <div class="toggle_item">
                    <button class="toggle_button">商品はすべて日本製ですか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p>Komonsの商品はすべて日本製になります。</p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">動物実験をしていますか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p>Komonsでは、商品を製造する過程において動物実験は行なっていません。また、他機関への委託も一切行なっていません。商品の安全性は全て社内スタッフと社外モニターによるテストで確認しています。</p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">アレルギーテストは行っていますか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p>アレルギーテストは行なっていませんが、成分の安全性の精査と並行し、商品の安全性についてスタッフで試験をし、確認を行なっています。</p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">妊娠中、授乳期、赤ちゃんや子供にも使えますか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p><span>成分や精油の配合率から考えると、Komonsの商品は妊娠中・授乳中・お子様もお使いいただけるものです。一方、妊娠中や授乳期は体調や嗜好が変化しやすく、肌が敏感になったり香りで気分が悪くなることもありますので、そのような場合は使用を中止くださいますようお願いいたします。</span><span>また、肌が敏感な方や、精油にアレルギーをおもちの方が精油配合の商品を使用すると、肌に刺激を感じることがあります。もし、刺激等を感じた場合はご使用を中止していただくようお願いいたします。</span><span>小さなお子様は大人に比べて身体が小さく香料に対する感受性が高いので、特に肌に直接ふれるハンドソープなどをご使用の際は念のため少量からお試しください。</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">ペットがいる家庭で使用することは可能ですか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p>Komonsの商品は、成分や精油の配合率から考えると、ペットのいるご家庭にもお使いいただけるものです。ただ、ペットは人間に比べて身体が小さく香料に対する感受性が高いので、念のため少量からお試しください。</p>
                        <p>また、万が一ペットに異変を感じた場合はご使用を中止していただくようお願いいたします。</p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">Komonsの商品はオーガニックですか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p><span>Komonsでは、一部の商品にオーガニックの国産原料を使用しておりますが、あえて自分たちの商品を「オーガニック商品」とは呼んでおりません。</span><span>それは市販品の多くみられるような、微量のオーガニック成分を含んでいるだけで"オーガニック製品"と呼称するような行為はお客様への偽りと考えるからです。Komonsでは、オーガニックかどうかにかかわらずすべての商品に関して1つ1つの原料を丁寧に選び配合しております。</span>また、着色料、人工香料、鉱物油、シリコン、パラベンを一切使用していません。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item_wrap">
                <h3 class="ttl_h3">【商品を試せる場所】</h3>
                <div class="toggle_menu">
                  <div class="toggle_item">
                    <button class="toggle_button">商品を試したり香りを確認できる場所はありますか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p>Komons商品のお取り扱いがあるお店やPop-upストア随時などの情報は、SNSなどで発信をしてまいりますので、フォローをお願いいたします。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div><!-- comp-faq-contents -->
          <div id="faq02" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">Purchase</span>
              <h2 class="ttl_ja">ご購入に際して</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【ご注文方法】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">ご注文方法</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>基本的に当ウェブサイトでのオンライン注文にて承っております。万が一その他のご注文方法をご希望のお客様は<a href="mailto:info@komons-japan.com">info@komons-japan.com</a>までお問い合わせください。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">Amazonアカウントでの購入</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>Amazonアカウントをお持ちのお客様は、Amazonアカウントでサインインし、登録された配送先情報やクレジットカード情報を利用してご購入いただけます。</span><span>商品をカートに入れた後、「Amazonアカウントでお支払い」を選択し、画面に従ってご入力ください。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
            <div class="item_wrap">
              <h3 class="ttl_h3">【お支払方法】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">選べる支払方法は？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>お支払いは「クレジット決済」「代金引換」がお選びいただけます。また、Amazonアカウントをお持ちのお客様は、「Amazon Pay」がご利用可能です。</span><span>Amazonアカウントでサインインし、登録された配送先情報やクレジットカード情報を利用してご購入いただけます。商品をカートに入れた後、「Amazonアカウントでお支払い」を選択し、画面に従ってご入力ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">Amazonアカウントでの支払いは可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>Amazonアカウントをお持ちのお客様は、Amazonアカウントでサインインし、登録された配送先情報やクレジットカード情報を利用してご購入いただけます。</span><span>商品をカートに入れた後、「Amazonアカウントでお支払い」を選択し、画面に従ってご入力ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">クレジットカードでのお支払い</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>ご利用可能なお支払い回数は一括のみとなります。お引き落としまで時間をいただく場合があります。詳細はクレジットカード会社へ直接お問い合わせください。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
            <div class="item_wrap">
              <h3 class="ttl_h3">【その他】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">明細書は商品に同封されますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>特にご要望がない場合は、基本的に明細書の同封、送付は行いません。受注明細書は当店よりお送りいたします「ご注文内容確認メール」に換えさせていただきますので、予めご了承ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                    <button class="toggle_button">明細書/領収書の発行は可能ですか？</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p><span>ご希望のお客様には発行いたします。ご注文画面の【備考欄】にて詳細をご連絡下さい。なお、原則として、以下の方法でお送りさせていただきます。</span><span>・ご注文者様への本人届けの場合は、商品と一緒に同封<br>・ご注文者様と商品の送付先が違うギフトなどの場合は、ご注文者様メールアドレスにPDFにて送付</span><span>それぞれお届けいたします。</span><span>なお、代金引換の場合は、お届けの際の 「宅配便伝票のお客様控え」 が領収書になりますので、宜しくお願い致します。</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">注文確認メールが届かない</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p><span>ご注文を頂きますと、10分以内に受注確認のメールが自動で送信されるシステムとなっております。</span><span>万一、ご注文を頂いたにも関わらずメールが届かない場合は、メールアドレスの入力ミスや、ドメイン指定によりメールをお届けできていない可能性が高いため、一度お問合せフォームよりご連絡を頂けますと幸いです。</span><span>尚、携帯のメールアドレスをご登録の場合は「komons-japan.com」からのメールを受信できるよう、指定受信の設定をお願いいたします。</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">追加で注文したい</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p><span>発送準備前でしたら、追加のご注文を承ることができる場合もございます。お問い合わせフォームからお気軽にお問合せ下さい。</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="toggle_item">
                    <button class="toggle_button">電話での注文</button>
                    <div class="toggle_contents">
                      <div class="contents_inner">
                        <p><span>大変申し訳ございませんが、現状承っておりません。何卒ご理解いただけますと幸いです。</span></p>
                      </div>
                    </div>
                  </div>
                </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
          <div id="faq03" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">Gift</span>
              <h2 class="ttl_ja">ギフト対応について</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【ご注文方法】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">ギフト包装は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>Komonsのギフトセットはすべてオリジナルのギフトボックスに入れてお届けします。また、メッセージカードや熨斗の対応も承っております。</span><span>リボンなどのラッピングは基本的に承っておりませんが、個別のご相談も可能ですのでお問い合わせフォームよりお気軽にお問い合わせください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">複数住所へ配送は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>可能です。大変お手数をおかけいたしますが、送り先ごとにご注文手続きをお願いいたします。</span><span>お届け先が10件以上になる場合は、問い合わせフォームまたは<a href="mailto:info@komons-japan.com">info@komons-japan.com</a>にその旨をご連絡くださいませ。ご注文情報入力用のエクセルフォームをお送りさせていただきます。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">ギフトボックスの購入は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>可能です。<a href="https://komons-japan.com/products/ks005">こちら</a>からお買い求め下さいませ。また、<a href="/collections/gift">ギフト商品一覧ページ</a>に掲載の全ての商品には予めギフトボックスが含まれています。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">メッセージカード</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>無料でご利用いただけるメッセージカード（名刺サイズ、Komonsロゴ入り）をご用意しています。カート画面にてメッセージカード「希望する」を選択してください。</span><span>カード裏面にメッセージの印刷も承ります。詳しくはご購入手続き画面をご確認ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">熨斗（のし）対応は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>ギフトセット商品については、＋110円(税込)にて水引をお付けすることが可能です。水引の種類は、どのシーンのお祝い事にもお使いいただける「紅白梅結び」のみになります。(ご結婚祝い、出産祝い、内祝、新築祝い、快気祝いなど様々なシーンにご利用ください。)</span><span>ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">お渡し用手提げ袋</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>ギフトセットの商品については、＋330円（税込）にてオリジナル手提げ布バッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。(オリジナル手提げバッグについては単品でも購入可能です。)</span><span>なお、ベーシックカルテットおよびフルセットについては、箱のサイズの関係でオリジナル手提げ布バッグに入らないため、別途無償にて紙の手提げ袋をお付けさせていただきます。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">直接相手に届ける場合、明細書は同封されますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>特にご要望がない場合は、ギフトかどうかにかかわらず、基本的に明細書の同封/送付は行いません。</span><span>受注明細書は当店よりお送りいたします「ご注文内容確認メール」に換えさせていただきますので、予めご了承ください。</span><span>紙の明細書や領収書をご希望の方には発行させていただきますので、上記の「明細書/領収書の発行は可能ですか？」の項目をご覧ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">直接相手に届ける場合、送り主が分かるようになっていますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>商品を発送する際の「配送伝票」に、ご注文確認画面でご入力いただいた「送り主様のお名前（フルネーム）」を記載させていただきます。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
          <div id="faq04" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">Delivery</span>
              <h2 class="ttl_ja">配送について</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【配送】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">注文後何日ぐらいで届きますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>基本的に平日午前10時までの注文で即日発送、それ以降は次営業日の発送となります。発送後、1～2日後のお届けとなります。</span><span>早めの商品到着をご希望の場合は日時指定を頂くと確実でございます。なお、離島などの場合は3日以上かかる場合もございますのでご了承ください。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">到着日・時間指定はできますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>到着日に関しましては、ご注文時点での最短のお届け日をご指定頂けます。時間に関しましては、午前中、14～16時、16～18時、18～20時、19～21時の時間帯をお選び頂くことができます。</span><span>※地域によってはご希望に添えない場合もございますので、その点ご了承下さいませ。また、天候・道路・交通事情等運送上の事情により、ご希望のお届け時間帯にお届けできない場合もございますので、ご了承下さい。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">配送業者</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>基本的にヤマト運輸もしくは佐川急便にてお届けいたします。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">別住所への配送は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>可能です。オンライン注文のカート画面にて配送先住所を入力ください。また、1注文につき、お届け先は１件のみとなりますので2件以上へ配送をご希望の場合は別々にご注文下さい。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">複数住所へ配送は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>可能です。大変お手数をおかけいたしますが、送り先ごとにご注文手続きをお願いいたします。お届け先が10件以上になる場合は、問い合わせフォームまたは<a href="mailto:info@komons-japan.com">info@komons-japan.com</a>にその旨をご連絡くださいませ。</span><span>ご注文情報入力用のエクセルフォームをお送りさせていただきます。</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">お渡し用手提げ袋</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>ギフトセットの商品については、＋330円（税込）にてオリジナル手提げ布バッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。ご希望の方はギフトセットご購入画面のギフトオプションよりご選択ください。(オリジナル手提げバッグについては単品でも購入可能です。)</span><span>なお、ベーシックカルテットおよびフルセットについては、箱のサイズの関係でオリジナル手提げ布バッグに入らないため、別途無償にて紙の手提げ袋をお付けさせていただきます。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
            <div class="item_wrap">
              <h3 class="ttl_h3">【配送】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">送料</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>お届け先1件につき税込5,500円以上で送料無料になります。（ギフト包装料・代引手数料は除く）税込5,500円未満の場合は、お届け先1件につき全国一律660円（税込）の送料となります。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
          <div id="faq05" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">Cancel Policy</span>
              <h2 class="ttl_ja">キャンセル・変更・返品</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【キャンセル】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">キャンセル</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>出荷前の商品に限りキャンセルを承ります。出荷済みの場合は、商品到着後の返品手続きとなりますのでご了承ください。</p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
            <div class="item_wrap">
              <h3 class="ttl_h3">【交換】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">商品不備による交換</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>お届け内容の不備による交換は、返送料を弊社にて負担いたします。商品到着後2週間以内にご連絡のうえ、ご返送ください。返送品の到着を確認後、交換の手続きをいたしますので、お手数ですが、お問い合わせフォームよりご連絡をお願いいたします。</span><span>・ご注文と異なる商品<br>・配送による商品破損<br>・商品不良</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">お客様都合による交換</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>お客様のご都合による交換の場合は､交換にかかる送料（往復分）はお客様のご負担となります。商品到着後2週間以内にご連絡のうえ、ご返送ください。返送品の到着を確認後、交換の手続きをいたします。</span><span>Amazonpayでお支払いのご注文は、下記いずれかで対応いたします。一部商品の交換は承れませんので、予めご了承ください。</span><span>出荷前の場合：ご注文キャンセル後、再注文にて受付<br>出荷後の場合：ご注文商品すべて返品後、再注文にて受付</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
            <div class="item_wrap">
              <h3 class="ttl_h3">【返品】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">商品不備による返品</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>お届け内容の不備による返品は、返送料を弊社にて負担いたします。商品到着後2週間以内にご連絡のうえ、ご返送ください。</span><span>返送品の到着を確認後、返金の手続きをいたしますので、お手数ですが、お問い合わせフォームよりご連絡をお願いいたします。</span><span>・ご注文と異なる商品<br>・配送による商品破損<br>・商品不良</span></p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">お客様都合による返品</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>お客様のご都合による返品の場合は､返送料はお客様のご負担となります。商品到着後2週間以内にご連絡のうえ、ご返送ください。</span><span>返送品の到着を確認後、返金の手続きをいたします。</span><span>Amazonpayでお支払いのご注文は、下記いずれかで対応いたします。一部商品の返品は承れませんので、予めご了承ください。</span><span>・出荷前の場合：ご注文キャンセル<br>・出荷後の場合：ご注文商品すべて返品</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
          <div id="faq06" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">For Business</span>
              <h2 class="ttl_ja">法人でご購入のお客様</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【法人のお客様へ】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">見積書・納品書などは発行できますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><a href="mailto:info@komons-japan.com">support@komons-japan.com</a>宛に、商品名、個数をご連絡いただければ作成いたします。詳しくはメールにてお問い合わせください。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">領収書は発行できますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>ご購入画面の備考欄に領収書が必要な旨およびお宛名をご記入ください。商品に同封し発送させていただきます。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">代理店はありますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>現在、特定の代理店は指定しておりません。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">まとめ買いによる数量値引きは可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>10本以上のご注文の際の値引きについては、個別にご相談させていただきますので、お問合せフォームからお問い合わせください。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">代引き決済は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>代引き決済もご利用可能です。ただし現金のみとなりますので、予めご了承ください。</p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
          <div id="faq07" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">For Wholesaler</span>
              <h2 class="ttl_ja">流通業者（卸・小売等）のお客様</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【流通業者のお客様へ】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">商品を取り扱いたい</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>個別にご相談させていただきますので、お問合せフォームからお問い合わせください。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">代理店はありますか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>現在、特定の代理店は指定しておりません。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">まとめ買いによる数量値引きは可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>10本以上のご注文の際の値引きについては、個別にご相談させていただきますので、お問合せフォームからお問い合わせください。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">まとめ買いによる数量値引きは可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>10本以上のご注文の際の値引きについては、個別にご相談させていただきますので、お問合せフォームからお問い合わせください。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">代引き決済は可能ですか？</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>代引き決済もご利用可能です。ただし現金のみとなりますので、予めご了承ください。</p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
          <div id="faq08" class="comp-faq-contents">
            <hgroup class="faq_ttl">
              <span class="ttl_en">Contact</span>
              <h2 class="ttl_ja">お問い合わせ</h2>
            </hgroup>
            <div class="item_wrap">
              <h3 class="ttl_h3">【お問い合わせ】</h3>
              <div class="toggle_menu">
                <div class="toggle_item">
                  <button class="toggle_button">問い合わせ方法</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p>本ウェブサイトのお問い合わせフォームよりお願いいたします。</p>
                    </div>
                  </div>
                </div>
                <div class="toggle_item">
                  <button class="toggle_button">問い合わせの営業時間</button>
                  <div class="toggle_contents">
                    <div class="contents_inner">
                      <p><span>土日祝日を除く平日（月曜から金曜）の10時～17時にご対応させて頂いております。</span><span>営業時間外にいただいたお問合せは順次お返事を差し上げております。</span></p>
                    </div>
                  </div>
                </div>
              </div><!-- toggle_menu -->
            </div><!-- item_wrap -->
          </div><!-- comp-faq-contents -->
        </div>
      </div><!-- faq_flex -->
    </div><!-- section_inner_new -->
  </section>
</article>
