<article id="signIn" class="page-admin-login">
  <section class="section-admin">
    <div class="section_inner_new">
      <div class="admin_wrapper">
        <div class="comp-admin-title">
          <hgroup>
            <h1 class="page_ttl en">PASSWORD RESET</h1>
            <span class="page_subttl ja">メールを送信いたしました</span>
          </hgroup>
        </div>
        <div class="comp-page-log">
          <p class="pagelog_txt">パスワード再設定用のメールを送信いたしました。<br>メールボックスをご確認頂き、パスワードを再設定してください。</p>
          <div class="comp-admin-button flex">
            <a href="/" class="back_button"><span>トップページへ</span></a>
          </div>
        </div>
      </div>
    </div><!-- section_inner_new -->
  </section>
</article>
