<article id="stockist" class="page-stockist">
	<section class="section-main">
		<div class="section_inner_new">
			<div class="comp-section-ttl">
				<hgroup>
					<span class="ttl_en">Shop List</span>
					<h1 class="ttl_ja">店舗一覧</h1>
				</hgroup>
				<div class="lead_txt">
					<p>※お取扱い商品は、各店舗によって異なりますので、<span>販売商品に関しましてはお手数ですが、各店舗までお問合せください。</span></p>
				</div>
			</div>
      <!--
			<div class="comp-popup-store2">
				<hgroup class="shop_ttl">
					<span class="ttl_en">Popup Store</span>
					<h2 class="ttl_ja">ポップアップ</h2>
				</hgroup>
				<div class="store_item">
					<div class="img_wrap">
						<a target="_blank" href="https://www.afternoon-tea.net/shop-list/atre-ebisu-gift_and_living/">
							<img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/popup_ebisu.jpg?v=1692678648">
						</a>
					</div>
					<div class="txt_wrap">
						<a class="shop_name" target="_blank" href="https://www.afternoon-tea.net/shop-list/atre-ebisu-gift_and_living/">アトレ恵比寿 アフタヌーンティ・リビング</a>
						<p class="date">開催期間：2023年8月10日～31日</p>
						<p class="address">東京都渋谷区恵比寿南1-5-5 アトレ恵比寿 5階</p>
					</div>
				</div>
				<div class="store_item">
					<div class="img_wrap">
						<a target="_blank" href="https://www.afternoon-tea.net/shop-list/lucua-osaka-living/">
							<img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/popup_osaka.jpg?v=1692678648">
						</a>
					</div>
					<div class="txt_wrap">
						<a class="shop_name" target="_blank" href="https://www.afternoon-tea.net/shop-list/lucua-osaka-living/">ルクア大阪 アフタヌーンティ・リビング</a>
						<p class="date">開催期間：2023年8月10日～31日</p>
						<p class="address">大阪府大阪市北区梅田3-1-3 ルクアイーレ5階</p>
					</div>
				</div>
				<div class="store_item">
					<div class="img_wrap">
						<a target="_blank" href="https://www.afternoon-tea.net/shop-list/shizuoka-isetan-living/">
							<img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/popup_shizuoka.jpg?v=1692678649">
						</a>
					</div>
					<div class="txt_wrap">
						<a class="shop_name" target="_blank" href="https://www.afternoon-tea.net/shop-list/shizuoka-isetan-living/">静岡伊勢丹 アフタヌーンティ・リビング</a>
						<p class="date">開催期間：2023年8月10日～31日</p>
						<p class="address">静岡県静岡市葵区呉服町1-7 静岡伊勢丹 2階</p>
					</div>
				</div>
			</div>
      -->
		</div><!-- section_inner -->
	</section>
	<section class="section-shop-list">
		<div class="section_inner_new">
    <!--
			<hgroup class="shop_ttl">
				<span class="ttl_en">Stockist</span>
				<span class="ttl_ja">取扱店舗一覧</span>
			</hgroup>
      -->
			<div class="stock_flex">
				<div class="category_wrap">
					<span class="category_ttl">エリア一覧</span>
					<div id="categoryList" class="category_list comp-category-button">
						<button jump="#areaTokyo"><span>東京都</span></button>
						<button jump="#areaNorth"><span>北海道</span></button>
						<button jump="#areaKanto"><span>関東</span></button>
						<button jump="#areaHokuriku"><span>北陸</span></button>
						<button jump="#areaChubu"><span>中部</span></button>
						<button jump="#areaKansai"><span>関西</span></button>
						<button jump="#areaKyusyu"><span>九州</span></button>
						<button jump="#areaOthers"><span>OTHERS</span></button>
						<button jump="#areaOverseas"><span>OVERSEAS</span></button>
					</div>
				</div>
				<div class="comp-stock-list">
					<div id="areaTokyo" class="store_list_wrap">
						<h3 class="area_ttl">東京都</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.idee-online.com/shop/contents1/ideetokyo.aspx" class="shop_info">
								<span class="shop_name">IDÉE TOKYO グランスタ東京店</span>
								<span class="address">〒100-0005<span>東京都千代田区丸の内1-9-1 JR東日本東京駅改札内</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.idee.co.jp/shop/nih/" class="shop_info">
								<span class="shop_name">IDÉE SHOP 日本橋店</span>
								<span class="address">〒103-0022<span>東京都中央区日本橋室町1-5-5 コレド室町33F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.idee.co.jp/shop/jiyugaoka/" class="shop_info">
								<span class="shop_name">IDÉE SHOP 自由が丘店</span>
								<span class="address">〒152-0035<span>東京都目黒区自由が丘2-16-29</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.idee.co.jp/shop/attache_shinjuku/" class="shop_info">
								<span class="shop_name">Attaché d’IDÉE 新宿ルミネ店</span>
								<span class="address">〒160-0023<span>東京都新宿区西新宿1-1-5 ルミネ新宿店 ルミネ16F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.idee.co.jp/shop/variete_shibuya/" class="shop_info">
								<span class="shop_name">IDÉE SHOP VARIÉTÉ 渋谷ヒカリエ店</span>
								<span class="address">〒150-8509<span>東京都渋谷区渋谷2-21-1 渋谷ヒカリエ ShinQs 5F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.idee.co.jp/shop/delier_marunouchi/" class="shop_info">
								<span class="shop_name">Délier IDÉE 新丸ビル店</span>
								<span class="address">〒100-6504<span>東京都千代田区丸の内1-5-1 新丸ビル 4F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.shibuyabooks.co.jp/plusspbs_scramble/" class="shop_info">
								<span class="shop_name">＋SPBS 渋谷スクランブルスクエア店</span>
								<span class="address">〒150-6102 <span>東京都渋谷区渋谷2-24-12 渋谷スクランブルスクエア 2F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://goo.gl/maps/W5mjc1z6zYJbtivw8" class="shop_info">
								<span class="shop_name">酒屋「花」/ コーヒースタンド「烏」</span>
								<span class="address">〒150-0031 <span>東京都渋谷区桜丘町30-15 ビバリーヒルズ 102 花/烏</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="http://www.noren-net.jp/fs/noren/c/shop-kagurazaka" class="shop_info">
								<span class="shop_name">のレン 神楽坂店</span>
								<span class="address">〒162-0825<span>東京都新宿区 神楽坂1-12</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.shibuyabooks.co.jp/spbs_toranomon/" class="shop_info">
								<span class="shop_name">SPBS TORANOMON</span>
								<span class="address">〒105-6402 <span>東京都港区虎ノ門1-17-1 虎ノ門ヒルズ ビジネスタワー 2F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://liveweller.jp/" class="shop_info">
								<span class="shop_name">WELLER 恵比寿店</span>
								<span class="address">〒150-0013 <span>東京都渋谷区恵比寿1丁目15-4 1F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.soup-stock-tokyo.com/information/sst-giftshop202011/" class="shop_info">
								<span class="shop_name">Soup Stock Tokyo ルミネ新宿店</span>
								<span class="address">〒160-0022<span>東京都新宿区新宿３丁目３８−２ ルミネ2 1F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.soup-stock-tokyo.com/information/sst-giftshop202011/" class="shop_info">
								<span class="shop_name">Soup Stock Tokyo キラリナ京王吉祥寺店</span>
								<span class="address">〒180-0003<span>東京都武蔵野市吉祥寺南町２丁目１−２５ キラリナ京王吉祥寺</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://fujimaki-select.com/ext/shop/index.html" class="shop_info">
								<span class="shop_name">藤巻百貨店 銀座店</span>
								<span class="address">〒104-0061<span>東京都中央区銀座5-2-1　東急プラザ銀座B1階</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.s-tokyo.net/" class="shop_info">
								<span class="shop_name">S.HAIR SALON</span>
								<span class="address">〒107-0062<span>港区南青山5-4-3 南青山イズミビル2F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://mamekurashi.com/mamekurashikenkyujo/" class="shop_info">
								<span class="shop_name">まめくらし研究所</span>
								<span class="address">〒166-0002<span>東京都杉並区高円寺北４丁目２−２４</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://eightdays-dining.jp/" class="shop_info">
								<span class="shop_name">eightdays dining</span>
								<span class="address">〒170-0004<span>東京都豊島区北大塚2-26-1 ba01</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://kissho-noren.jp/pages/%E5%BA%97%E8%88%97%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6" class="shop_info">
								<span class="shop_name">吉祥のレン アトレ吉祥寺店</span>
								<span class="address">〒180-0003<span>東京都武蔵野市 吉祥寺南町1-1-24 アトレ吉祥寺 本館2F</span></span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaNorth" class="store_list_wrap">
						<h3 class="area_ttl">北海道</h3>
						<div class="store_item">
							<a target="_blank" href="https://slowbiyori.com/article-pastoral/" class="shop_info">
								<span class="shop_name">Pastoral</span>
								<span class="address">〒080-0011<span>北海道帯広市西1条南4丁目14番地1</span></span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaKanto" class="store_list_wrap">
						<h3 class="area_ttl">関東</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/tochigi-tsuruta" class="shop_info">
								<span class="shop_name">アミング 鶴田店</span>
								<span class="address">〒320-0851<span>栃木県宇都宮市鶴田町855番地</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/gumma-iizuka" class="shop_info">
								<span class="shop_name">アミング 高崎飯塚店</span>
								<span class="address">〒370-0069<span>群馬県高崎市飯塚町143-1</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.idee.co.jp/shop/variete_kashiwa/" class="shop_info">
								<span class="shop_name">IDÉE SHOP VARIÉTÉ 柏高島屋店</span>
								<span class="address">〒277-0842<span>千葉県柏市末広町1-1 柏髙島屋ステーションモール 新館 8F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a class="shop_info no_link" href="javascript:void(0);">
								<span class="shop_name">Red Cabins</span>
								<span class="address">〒248-0011 <span>神奈川県鎌倉市扇ガ谷1丁目8-5</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://primal-color.com/category/shop/" class="shop_info">
								<span class="shop_name">PRIMAL COLOR(ODAKYU湘南GATE)</span>
								<span class="address">〒251-8570<span>神奈川県藤沢市南藤沢21-1 2F</span></span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaHokuriku" class="store_list_wrap">
						<h3 class="area_ttl">北陸</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.lohasdesk.com/" class="shop_info">
								<span class="shop_name">ボー・デコール</span>
								<span class="address">〒956-0031<span>新潟県新潟市秋葉区新津4462-3</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/niigata-niigata" class="shop_info">
								<span class="shop_name">アミング 新潟店</span>
								<span class="address">〒950-0992<span>新潟県新潟市中央区上所上2丁目2番23号</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/niigata-nagaoka" class="shop_info">
								<span class="shop_name">アミング 長岡店</span>
								<span class="address">〒940-2106<span>新潟県長岡市古正寺3 丁目70 番地</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/niigata-tsubamesanjo" class="shop_info">
								<span class="shop_name">アミング 燕三条店</span>
								<span class="address">〒959-1232<span>新潟県燕市井土巻2 丁目48 番地</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/niigata-joetsu" class="shop_info">
								<span class="shop_name">アミング 上越店</span>
								<span class="address">〒942-0063<span>新潟県上越市下門前1642</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="http://yohakusha.net/" class="shop_info">
								<span class="shop_name">余白社</span>
								<span class="address">〒930-0083<span>富山県富山市総曲輪4丁目6−4</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://toton.style/" class="shop_info">
								<span class="shop_name">トトン</span>
								<span class="address">〒930-0834<span>富山県富山市問屋町1丁目9−7</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/toyama-fuchu" class="shop_info">
								<span class="shop_name">アミング 婦中店</span>
								<span class="address">〒939-2719<span>富山県富山市婦中町西ケ丘474 番地1</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/toyama-takaoka" class="shop_info">
								<span class="shop_name">アミング 高岡店</span>
								<span class="address">〒933-0874<span>富山県高岡市京田445番地</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://hakusan.aeonmall.com/shop/detail/3/" class="shop_info">
								<span class="shop_name">Maison de CALNÉ</span>
								<span class="address">〒924-8777<span>石川県 白山市 横江町土地区画整理事業施行地区内1街区 イオンモール白山</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/ishikawa-komatsu" class="shop_info">
								<span class="shop_name">アミング 小松店</span>
								<span class="address">〒923-0861<span>石川県小松市沖町517</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/10871" class="shop_info">
								<span class="shop_name">アミング 金沢保古店</span>
								<span class="address">〒921-8052<span>石川県金沢市保古３丁目１８３番地２</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/fukui-takayanagi" class="shop_info">
								<span class="shop_name">アミング 高柳店</span>
								<span class="address">〒910-0837<span>福井県福井市高柳1 丁目511番地</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/fukui-wakasugi" class="shop_info">
								<span class="shop_name">アミング 若杉店</span>
								<span class="address">〒918-8055<span>福井県福井市若杉4 丁目810</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaChubu" class="store_list_wrap">
						<h3 class="area_ttl">中部</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/nagano-minamitakada" class="shop_info">
								<span class="shop_name">アミング 長野南高田店</span>
								<span class="address">〒381-0033<span>長野県長野市南高田1 丁目16-5</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://livingculture.lixil.com/ilm/" class="shop_info">
								<span class="shop_name">INAXライブミュージアム</span>
								<span class="address">〒479-0823<span>愛知県常滑市 奥栄町1-130</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.soup-stock-tokyo.com/information/sst-giftshop202011/" class="shop_info">
								<span class="shop_name">Soup Stock Tokyo星が丘テラス店</span>
								<span class="address">〒464-0802<span>愛知県名古屋市千種区星が丘元町16-50 星ヶ丘テラスイースト 1階</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/aichi-tempaku" class="shop_info">
								<span class="shop_name">アミング 天白店</span>
								<span class="address">〒468-0043<span>愛知県名古屋市天白区菅田2 丁目901番地</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://nagoya.parco.jp/shop/detail/?cd=026180" class="shop_info">
								<span class="shop_name">Matoeru 名古屋パルコ店</span>
								<span class="address">〒460-0008<span> 愛知県名古屋市中区栄3-29-1</span></span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaKansai" class="store_list_wrap">
						<h3 class="area_ttl">関西</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/shiga-ritto" class="shop_info">
								<span class="shop_name">アミング 栗東店</span>
								<span class="address">〒520-3035<span>滋賀県栗東市霊仙寺5丁目2番20号</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.aming.co.jp/shoplist/7030" class="shop_info">
								<span class="shop_name">アミング 松井山手店</span>
								<span class="address">〒610-0356<span>京都府京田辺市山手中央3番2</span></span>
								<p class="detail_txt">※ハンドソープ、ファブリックミストのみの取り扱い</p>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.lucua.jp/shopguide/id1075.html" class="shop_info">
								<span class="shop_name">Matoeru 大阪店</span>
								<span class="address">〒530-8217<span>大阪府大阪市北区梅田3-1-3ルクア大阪8階</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://birds-words.com/" class="shop_info">
								<span class="shop_name">バーズワーズ</span>
								<span class="address">〒540-0012<span>大阪市中央区谷町8丁目2-14 光昌会館1階</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.todaysspecial.jp/storelocator/index/view/id/6/" class="shop_info">
								<span class="shop_name">TODAY’S SPECIAL Kobe</span>
								<span class="address">〒650-0021<span>兵庫県神戸市中央区三宮町3-6-1 神戸BAL 3F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://mokkindo.theshop.jp/" class="shop_info">
								<span class="shop_name">木琴堂</span>
								<span class="address">〒711-0906 <span>岡山県倉敷市児島下の町7-5-21 2階</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://shian-matsue.com/" class="shop_info">
								<span class="shop_name">志庵</span>
								<span class="address">〒690-0044<span>島根県 松江市浜乃木6丁目2-18 福田テナント1-1</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://naka.co.jp/company/" class="shop_info">
								<span class="shop_name">中商事</span>
								<span class="address">〒761-0130<span>香川県高松市 庵治町丸山6391-19</span></span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaKyusyu" class="store_list_wrap">
						<h3 class="area_ttl">九州</h3>
						<div class="store_item">
							<a target="_blank" href="https://store.tsite.jp/ropponmatsu/" class="shop_info">
								<span class="shop_name">六本松 蔦屋書店</span>
								<span class="address">〒810-0044 <span>福岡県福岡市中央区六本松 4-2-1 六本松421 2F</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="http://goom-room.com/" class="shop_info">
								<span class="shop_name">GOOM ROOM</span>
								<span class="address">〒806-0067<span>福岡県北九州市八幡西区引野1-20-17</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://futaeda-shop.com/hpgen/HPB/entries/9.html" class="shop_info">
								<span class="shop_name">アニーのお気に入り 春日店</span>
								<span class="address">〒816-0813<span>福岡県春日市惣利2-15</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://futaeda-shop.com/hpgen/HPB/entries/10.html" class="shop_info">
								<span class="shop_name">アニーのお気に入り 久留米店</span>
								<span class="address">〒839-0863<span>福岡県久留米市国分町1600-3</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.jicon.jp/" class="shop_info">
								<span class="shop_name">今村製陶</span>
								<span class="address">〒844-0011<span>佐賀県西松浦郡有田町岩谷川内2-4-13</span></span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="http://hanawakusui.com/" class="shop_info">
								<span class="shop_name">HANAわくすい</span>
								<span class="address">〒859-3711<span>長崎県東彼杵郡波佐見町井石郷2187-4</span></span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
					<div id="areaOthers" class="store_list_wrap">
						<h3 class="area_ttl">OTHERS</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.unico-fan.co.jp/staffblog/storelist/" class="shop_info">
								<span class="shop_name">unico</span>
								<span class="address">全国47店舗<span></span></span>
								<p class="detail_txt">※ギフトセットのみお取り扱い</p>
							</a>
						</div>
					</div>
					<div id="areaOverseas" class="store_list_wrap">
						<h3 class="area_ttl">OVERSEAS</h3>
						<div class="store_item">
							<a target="_blank" href="https://www.everydayobject.us/" class="shop_info">
								<span class="shop_name">EVERYDAYOBJECT</span>
								<span class="address">@台湾</span>
							</a>
						</div>
						<div class="store_item">
							<a target="_blank" href="https://www.storemarais.com/" class="shop_info">
								<span class="shop_name">瑪黑家居</span>
								<span class="address">＠台湾</span>
							</a>
						</div>
						<div class="store_item">
							<a class="shop_info no_link" href="javascript:void(0);">
								<span class="shop_name">臺灣蔦屋 內湖店</span>
								<span class="address">台北市內湖區成功路四段188號1樓(CITYLINK內湖店)</span>
							</a>
						</div>
						<div class="store_item">
							<a class="shop_info no_link" href="javascript:void(0);">
								<span class="shop_name">臺灣蔦屋 松山店</span>
								<span class="address">台北市信義區松山路11號3樓(CITYLINK松山壹號店)</span>
							</a>
						</div>
						<div class="store_item">
							<a class="shop_info no_link" href="javascript:void(0);">
								<span class="shop_name">臺灣蔦屋 南港店</span>
								<span class="address">台北市南港區忠孝東路七段369號2樓(CITYLINK南港店A棟2F)</span>
							</a>
						</div>
						<div class="store_item">
							<a class="shop_info no_link" href="javascript:void(0);">
								<span class="shop_name">臺灣蔦屋 高雄大立店</span>
								<span class="address">高雄市前金區五福三路57號1-2樓(大立百貨A館)</span>
							</a>
						</div>
					</div><!-- store_list_wrap -->
				</div><!-- comp-stock-list -->
			</div><!-- stock_flex -->
		</div><!-- section_inner_new -->
	</section>

</article>
