<article class="gift-service" id="giftService">
  <section class="section-main">
    <div class="main_visual">&nbsp;</div>
    <div class="section_inner_new">
      <div class="txt_wrap">
        <div class="main_ttl">
          <span class="title_en">Gift Service</span>
          <h1 class="title_ja">ギフトサービスについて</h1>
        </div>
        <p class="main_desc">ちょっとしたプチギフトから、特別な日のプレゼントまでお使いいただけるよう、熨斗やメッセージカードなどのギフトサービスを承ります。</p>
      </div>
      <div class="height_adjust">&nbsp;</div>
    </div>
  </section>
  <section id="service01" class="section-service">
    <div id="headerRolled" class="section_inner_new">
      <div id="headerRolledSp" class="section_ttl">
        <h2><span>Gift Set</span><font>ギフト商品のラッピングサービス</font></h2>
      </div>
      <div class="comp-gift-service-wrap">
        <div class="service_item">
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/service01.jpg?v=1642389092">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="num">01</span>
              <h2 class="txt">ラッピング/ギフトボックス</h2>
            </div>
            <div class="desc_wrap">
              <p><a href="/collections/gift">ギフト一覧ページ</a>に並ぶすべてのセットはオリジナルのギフトBOXにお入れしてお届けいたします。</p>
              <p class="added">※包装紙やリボン掛けの対応は行っておりませんので、あらかじめご了承ください。</p>
              <div class="link_button"><a href="/collections/gift"><span>ギフト商品一覧</span></a></div>
            </div>
          </div>
        </div><!-- service_item -->
        <div class="service_item">
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/service02.jpg?v=1642389092">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="num">02</span>
              <h2 class="txt">熨斗/水引</h2>
            </div>
            <div class="desc_wrap">
              <p>ギフトセット商品については、+110円(税込)にて熨斗対応が可能です。水引きの種類はどのシーンのお祝い事にもお使いいただける「紅白梅結び」と弔事用の「白黒あわじ結び」がございます。</p>
              <p class="added">※表書きをご希望の場合はご注文画面の備考欄にご入力お願い致します。<br>※特にご指定がない場合、無地熨斗となります。</p>
            </div>
          </div>
        </div><!-- service_item -->
        <div class="service_item">
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/service03.jpg?v=1642389093">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="num">03</span>
              <h2 class="txt">手提げ袋</h2>
            </div>
            <div class="desc_wrap">
              <p>ギフトセットの商品については、＋330円（税込）にてオリジナル手提げバッグをお付けすることが可能です。ギフトのお渡しの際にぜひご使用ください。</p>
              <p class="added">※ギフトセット、もしくはギフトボックスご購入時にオプションよりお選び下さい。<br>※手提げ袋は2サイズございます。ご購入の商品に合わせて適切なサイズをこちらでご用意させて頂きます。</p>
            </div>
          </div>
        </div><!-- service_item -->
        <div class="service_item">
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/service04.jpg?v=1642389092">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="num">04</span>
              <h2 class="txt">メッセージカード</h2>
            </div>
            <div class="desc_wrap">
              <p>ご希望の客様には、無料にてメッセージカードをお付けしております。カード裏面にメッセージの印刷も承ります。詳しくはご購入手続き画面をご確認ください。</p>
            </div>
          </div>
        </div><!-- service_item -->
        <div class="service_item">
          <div class="img_wrap">
            <img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/service05.jpg?v=1642389092">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="num">05</span>
              <h2 class="txt">手提げビニール袋</h2>
            </div>
            <div class="desc_wrap">
              <p>ギフトセット商品ではない単品商品についても、ご希望であれば無料にて1本でのお渡し用に透明手提げ袋とリーフレットを同梱してお届けすることが可能です。ご希望の場合は、購入手続き画面の備考欄にその旨ご記載ください。</p>
            </div>
          </div>
        </div><!-- service_item -->
      </div><!-- comp-gift-service-wrap -->
    </div><!-- section_inner_new -->
  </section>
  {%- include 'gift-faq' -%}
</article>
