<article id="review" class="page-review">
		<section class="section-review">
			<div class="section_inner">
				<div class="title_wrap small">
					<h1 class="title">Komons新商品リクエストフォーム</h1>
					<h2 class="lead_txt"><span>Komonsで天然精油を使った製品を開発してきた</span><span>ノウハウを活かして、様々なチャレンジを日々行っています。</span><span>「天然精油を使ってこんな商品も作ってほしい！」といった</span>リクエストをお待ちしております。</h2>
				</div><!-- title_wrap -->
				<div id="formWrap" class="comp-review-question">
					<input id="pointInput" type="text" name="point" style="display: none;" value="5">
					<div class="review_item">
						<div class="form_wrap">
							<textarea name="content" placeholder="例)シャンプー・コンディショナー等のバスアイテムやキャンドルがあったら嬉しいです！"></textarea>
						</div>
					</div><!-- review_item -->
					<div id="ajaxLoader" class="ajax_loader">
						<span class="loading"></span>
					</div>
					<div id="statusMessage" class="status_message hidden"></div>
					<div id="submitButton" class="submit_wrap">
						<span class="text_wrap">
							<span class="ja">内容を送信する</span>
							<input type="button" value="内容を送信する">
						</span>
					</div>
				</div><!-- comp-review-question -->
			</div><!-- section_inner -->
		</section>
	</article>
