.comp-index-contens-list {
  width: 100vw;
  margin-left: -7vw;
  border-top: 1px solid $borderColor;
  @include flexSet;

  .contents_item {
    width: 50%;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding: 17px;
    box-sizing: border-box;

    a {
      display: block;
      color: inherit;

      .img_wrap {
        display: block;
        margin-bottom: 20px;
      }

      .txt_wrap {
        .ttl_wrap {
          @include flexSet;
          justify-content: flex-start;
          margin-bottom: 7px;

          .ttl {
            font-size: 1.5rem;
          }
        }

        .description {
          display: block;
          font-size: 1.2rem;
          line-height: 2;
          br{
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 720px) {
  .comp-index-contens-list {
    .contents_item {
      padding: 30px;

      a {
        .img_wrap {
          margin-bottom: 35px;
        }

        .txt_wrap {
          .ttl_wrap {
            margin-bottom: 12px;

            .ttl {
              font-size: 1.8rem;
            }
          }

          .description {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
/*
@media screen and (min-width: 1100px) {
  .comp-index-contens-list {
    width: 100%;
    margin-left: 0;
    border-top: 1px solid $borderColor;
    border-left: 1px solid $borderColor;

    .contents_item {
      width: 25%;
      border-right: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      padding: 20px;

      a {
        display: block;
        color: inherit;

        .img_wrap {
          display: block;
          margin-bottom: 25px;
        }

        .txt_wrap {
          .ttl_wrap {
            margin-bottom: 10px;

            .ttl {
              font-size: 1.8rem;
            }
          }

          .description {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}*/

@media screen and (min-width: 1100px) {
  .comp-index-contens-list {
    width: 100%;
    margin-left: 0;
    border-top: 0px solid $borderColor;
    border-left: 0px solid $borderColor;
    .contents_item {
      width: 22%;
      margin-right: 4%;
      border-right: 0px solid $borderColor;
      border-bottom: 0px solid $borderColor;
      padding: 0px;
      &:nth-of-type(4n){
        margin-right: 0;
      }
      a {
        display: block;
        color: inherit;

        .img_wrap {
          display: block;
          margin-bottom: 25px;
        }

        .txt_wrap {
          .ttl_wrap {
            margin-bottom: 15px;

            .ttl {
              font-size: 1.8rem;
            }
          }

          .description {
            font-size: 1.3rem;
            br{
              display: block;
            }
          }
        }
      }
    }
  }
}
