.comp-load-more{
  max-width: 90%;
  margin: 20px auto 0;
  button{
    display: block;
    width: 100%;
    background: $basicGreen;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 15px 0;
    text-align: center;
    letter-spacing: 0.3px;
    border: none;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    span{
      display: inline-block;
      padding-right: 20px;
      position: relative;
      &::after{
        display: block;
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        content: "";
        top: 0;
        bottom: 3px;
        right: 0;
        margin: auto;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(135deg);
        transition: all 0.5s;
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-load-more{
    max-width: 380px;
    margin: 40px auto 0;
    button{
      &:hover{
        background: $insertGreen;
      }
    }
  }
}
