{%- assign productId = item.url | split : "?" -%}

{%- assign noshiLength = 0 -%}
{%- assign messageLength = 0 -%}
{%- for item in cart.items -%}
  {%- assign variant_options = item.options_with_values -%}
  {%- for option in variant_options -%}
    {% if option.value contains '熨斗' %}
      {%- assign noshiLength = noshiLength | plus : 1 -%}
    {%- endif -%}
    {% if option.value contains 'メッセージ' %}
      {%- assign messageLength = messageLength | plus : 1 -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

<form id="cartSubmit" action="{{ routes.cart_url }}" method="post" novalidate class="cart">
  <section class="section-cart">
    <div class="section_inner_new">
      <div class="comp-admin-title">
        <hgroup>
          <h1 class="page_ttl">ショッピングカート</h1>
          <span class="page_subttl">Shopping Cart</span>
        </hgroup>
        <div class="page_bread">
          <div class="link_wrap">
            <a id="backLink" href="javascript:history.back();">買い物を続ける</a>
          </div>
        </div>
      </div><!-- comp-admin-title -->
      {% if cart.item_count != 0 %}
      <div class="cart_flex">
        <div class="item_wrap">
          <div class="comp-cart-item-list">
            <div class="cart_head">
              <span class="product head">商品</span>
              <span class="lot head">数量</span>
              <span class="amount head">合計</span>
            </div>
            <div id="cartItem" class="item_list">
              {%- for item in cart.items -%}
                {% include 'cart-item-card' %}
              {%- endfor -%}
            </div>
        </div><!-- comp-cart-item-list-->
        {% render 'huckleberry-subscription-cart', item: item %}
        {%- if noshiLength == 0 and messageLength == 0 -%}
        <div class="comp-amount-wrap left">
        {%- else -%}
        <div class="comp-amount-wrap pc_none">
        {%- endif -%}
        {% include 'cart-amount-price' %}
        </div><!-- comp-amount-wrap -->
        {%- if noshiLength != 0 or messageLength != 0 -%}
        <div class="comp-option-setting">
          {%- if noshiLength != 0 -%}
          {% include 'cart-noshi-setting' %}
          {%- endif -%}
          {%- if messageLength != 0 -%}
          {% include 'cart-message-setting' %}
          {%- endif -%}
        </div><!-- comp-option-setting -->
        {%- endif -%}
      </div><!-- item_wrap -->
      {%- if noshiLength == 0 and messageLength == 0 -%}
      <div class="comp-side-wrap bg">
      {%- else -%}
      <div class="comp-side-wrap">
      {%- endif -%}
        {% include 'cart-side-wrap' %}
      </div><!-- comp-side-wrap -->
      </div><!-- cart_flex -->
      {%- else -%}
      <div class="no_entry">
      <p>カート内に商品はありません</p>
      </div>
      {% endif %}
    </div><!-- section_inner_new -->
  </section>
  </form>
