{%- assign limit = 16 -%}

{% paginate collection.products by limit %}

<section class="section-main">
	<div class="image_wrap">
		{{ collection.image | image_url: width: 1500 | image_tag }}
	</div>
</section>
<section id="products" class="section-products list_section">
	<div id="headerRolled" class="section_inner_new">
		<div id="headerRolledSp" class="title_flex">
			<div class="comp-section-ttl">
				<hgroup>
					<span class="ttl_en" style="text-indent: 0.1em;">Products</span>
					<h1 class="ttl_ja">{{ collection.title }}</h1>
				</hgourp>
			</div>
			{%- include 'category-handler' -%}
		</div><!-- title_flex -->
		<div id="productList" class="comp-product-list">
			<ul class="item_wrapper">
				{% for product in collection.products %}
				{% assign product_image = product.featured_image %}
					{%- include 'all-item-card' -%}
				{% endfor %}
			</ul>
		</div><!-- comp-product-list -->
		{%- include 'pager' -%}
	</div><!-- section_inner_new -->
</section>
<section class="section-gift gift_section">
	<div class="section_inner_new">
		<div class="comp-section-ttl">
			<hgroup>
				<span class="ttl_en" style="text-indent: 0.1em;">Gift</span>
				<h1 class="ttl_ja">贈り物セット一覧</h1>
			</hgourp>
		</div><!-- comp-section-ttl -->
		<div class="img_wrap">
			<a class="cover_link" href="/collections/gift">
				<span class="caret"></span>
			</a>
			<img loading="lazy" width="450" height="230" src="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/gift_img_lim2gn.png" srcset="https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/gift_img_lim2gn.png 1440w, https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/gift_img_sp_hofq71.png 768w, https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/index/gift_img_lim2gn.png 2048w">
			<div class="txt_block">
				<h3><span>Komons</span>のギフトセット</h3>
				<h4>大切な人への贈り物に。</h4>
			</div>
		</div>
	</div><!-- section_inner_new -->
</section>
{% endpaginate %}
