{%- assign limit = 20 -%}
{% paginate collection.products by limit %}
<section class="section-main">
	<div class="main_img">
	</div>
	<div class="lead_txt">
		<div class="title_wrap">
			<span class="title_en">Gift Set</span>
			<h1 class="main_ttl">Komonsのギフトセット</h1>
		</div>
		<p class="main_desc"><span>毎日の家事を「プラスな時間」に変えるKomonsのギフトセットを、<font>大切な人への贈り物に。</font></span><span class="pc_only">新築祝い、引っ越し祝い、結婚祝い、日頃のお礼などにおすすめです。</span><span>すべてのセットはギフトボックス付き。熨斗やメッセージカードなどの<font>ギフトサービスも承ります。</font></span></p>
	</div>
</section>
{%- include 'gift-item-handler' -%}
<section class="section-gift-products">
	<div class="section_inner">
		<div id="giftProductList" class="comp-gift-product-list">
			{%- for product in collection.products -%}
			{% include 'gift-item-card' %}
			{%- endfor -%}
		</div>
	</div>
</section>
<section class="section-gift-service">
	{%- render 'gift-service' -%}
</section>
{%- render 'gift-faq' -%}

{% endpaginate %}
