{%- assign limit = 50 -%}
{% paginate collection.products by limit %}
  <div id="productList" class="comp-product-list">
		{% paginate collection.products by 50 %}
		{% for product in collection.products %}
		{% assign product_image = product.featured_image %}
      {%- include 'all-item-card' -%}
		{% endfor %}
    {% endpaginate %}
	</div>
</section>
{% endpaginate %}
