<div id="fixedCartWrap" class="comp-fixed-cart-wrap">
  <div class="cart_inner">
  {%- if product.type == "gift" and product.handle != "k0026" and product.handle != "k0050" and product.handle != 'k0057' -%}
    <button id="fixedPopButton" class="fixed_cart_button"><span>オプションを選択して購入</span></button>
    {%- else -%}
    <button id="fixedCartButton" class="fixed_cart_button"><span>カートに入れる</span></button>
    {%- endif -%}
  </div>
</div>
