<div id="optionPop" class="comp-gift-option-pop">
  <div id="popBg" class="pop_bg"></div>
  <div class="pop_flex">
    <div class="height_adjust"></div>
    <div class="pop_contents">
      <div id="popClose" class="pop_close"></div>
      <div class="contents_inner">
        <div class="item_thumb">
          <span class="pc_thumb item-main-thumb"></span>
        </div>
          <p class="prod_name">{{ product.metafields.custom_fields["product_name"] }}</p>
        <p class="pop_title">下記より有料オプションを<span>お選びいただけます</span></p>
        <div class="option_select">
          <div class="option_item tesage">
            <label>
              <div class="img_wrap" style="background-image:url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/option_tesage_yv4i6v.jpg)"></div>
              <div class="input_wrap">
                <input type="checkbox" name="tesage" value="tesage">
                <span class="radio_checker"></span>
                <div class="option_name">
                  <span class="name">手提げ布バッグ</span>
                  <span class="price">+300円(税抜)</span>
                </div>
              </div>
            </label>
          </div>
          <div class="option_item nosi">
            <label>
              <div class="img_wrap" style="background-image:url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750620/gift_service/option_mizuhiki_nl5vi0.jpg)"></div>
              <div class="input_wrap">
                <input type="checkbox" name="mizuhiki" value="mizuhiki">
                <span class="radio_checker"></span>
                <div class="option_name">
                  <span class="name">熨斗(のし)</span>
                  <span class="price">+100円(税抜)</span>
                </div>
              </div>
            </label>
            <p class="mizuhiki_desc">※水引の種類は、どのシーンのお祝い事にもお使いいただける「紅白梅結び」になります。</p>
            <p class="mizuhiki_desc">※熨斗に「表書き（御祝/内祝/御結婚祝など）」「お名前」の印字をご希望のお客様は、購入手続き画面最下部の「備考欄」にその内容をご記入ください。ご記入のない場合は、「無地熨斗」にて対応させていただきます。</p>
          </div>
        </div>
      </div>
      <div class="fix_wrapper">
        <div class="option_fix">
          <button id="optionFix" class="option_fix_button" href="javascript:void(0);"><span>購入する</span></button>
          <input class="product_cart_btn product_addcart_btn" type="submit" value="カートに入れる">
        </div>
      </div>
    </div>
  </div><!-- pop_flex -->
</div><!-- comp-gift-option-pop -->
