<section class="section-laboratory">
			<div class="section_inner_new">
				<div class="lab_flex">
					<div class="lab_img">
						<a href="/blogs/journal/1651">
							<img src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/lab_img_4011cc91-60b3-485c-98db-c459dcba627d.jpg?v=1698131444">
						</a>
					</div>
					<div class="lab_txt">
						<div class="comp-new-section-ttl">
							<hgroup>
								<h2 class="title_jp" style="text-indent: -0.2;">Komons Fragrance Lab.</h2>
							</hgroup>
							<div class="ttl_desc">
								<p>コモンズ フレグランス ラボでは、香りづくりに関するすべての工程をできる限り自分たちの手を動かし、一つ一つ丁寧に行います。</p>
								<p>自社商品の香りだけでなく、ダブルネーム商品や空間の香りプロデュースなど、 100%天然精油の香りの可能性を広げていきます。</p>
							</div>
						</div><!-- comp-new-section-ttl -->
						<div class="comp-box-button">
							<a class="button" href="/blogs/journal/1651">
								<span class="txt">詳しく知る</span>
								<span class="arrow">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07"><polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon></svg>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div><!-- section_inner -->
		</section>
