<section id="topJournal">
	<div class="section_ttl">
		<h2><span>Journal</span><font>Komonsについてもっと知る。</font></h2>
	</div>
	<div class="article_wrap">
	<ul>
		<li>
			<div class="img_wrap">
				<a class="fit" href="https://journal.komons-japan.com/archives/1414" target="_top">
					<img width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2022/07/mist_main2.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px">
				</a>
			</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1414" target="_top">季節限定ファブリックミストの復刻販売のお知らせ</a></h3>
			</div>
		</li>
	<li>
		<div class="img_wrap">
			<a class="normal" href="https://journal.komons-japan.com/archives/1377" target="_top">
				<img loading="lazy" width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-493x333.jpeg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-493x333.jpeg 493w, https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-1024x691.jpeg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-150x101.jpeg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-768x518.jpeg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-1536x1037.jpeg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01-1320x891.jpeg 1320w, https://journal.komons-japan.com/wp-content/uploads/2022/06/detail01.jpeg 1600w" sizes="(max-width: 493px) 100vw, 493px">
			</a>
		</div>
		<div class="txt_wrap">
			<h3><a href="https://journal.komons-japan.com/archives/1377" target="_top">POP-UP＠CHOOSEBASE SHIBUYA(渋谷)</a></h3>
		</div>
	</li>
	<li>
	<div class="img_wrap">
		<a class="fit" href="https://journal.komons-japan.com/archives/1338" target="_top">
			<img loading="lazy" width="500" height="281" src="https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-500x281.jpeg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-500x281.jpeg 500w, https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-1024x576.jpeg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-150x84.jpeg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-768x432.jpeg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-1536x864.jpeg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-2048x1152.jpeg 2048w, https://journal.komons-japan.com/wp-content/uploads/2022/04/thumb-1320x743.jpeg 1320w" sizes="(max-width: 500px) 100vw, 500px"></a>
		</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1338" target="_top">Komons母の日キャンペーン</a></h3>
			</div>
		</li>
	<li>
		<div class="img_wrap">
			<a class="normal" href="https://journal.komons-japan.com/archives/1317" target="_top">
				<img loading="lazy" width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-493x333.jpeg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-493x333.jpeg 493w, https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-1024x691.jpeg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-150x101.jpeg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-768x518.jpeg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-1536x1037.jpeg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01-1320x891.jpeg 1320w, https://journal.komons-japan.com/wp-content/uploads/2022/04/detail01.jpeg 1600w" sizes="(max-width: 493px) 100vw, 493px">
				</a>
			</div>
			<div class="txt_wrap">
				<h3><a href="https://journal.komons-japan.com/archives/1317" target="_top">2022春夏限定のファブリックミストは、北海道の“和ハッカ”ブレンド。</a></h3>
			</div>
		</li>
	</ul>
		{% if template.name == 'index' %}
			{% render 'journal-btn' %}
		{% endif %}
	</div>
</section>
