<section id="topJournal">
	<div class="section_ttl">
		<h2><span>Journal</span><font>Komonsについてもっと知る。</font></h2>
	</div>
	<div class="article_wrap">
	<ul>
	<li>
		<div class="img_wrap">
			<a class="normal" href="https://journal.komons-japan.com/archives/1548"><img width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2022/12/keyakizaka_main.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px"></a>
		</div>
		<div class="txt_wrap">
			<h3>
				<a href="https://journal.komons-japan.com/archives/1548">Komons ポップアップ＠g KEYAKIZAKA(六本木ヒルズB1F)</a>
			</h3>
		</div>
	</li>
	<li>
		<div class="img_wrap">
			<a class="fit" href="https://journal.komons-japan.com/archives/1492"><img width="500" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/11/iifufu_main-500x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/11/iifufu_main-500x333.jpg 500w, https://journal.komons-japan.com/wp-content/uploads/2022/11/iifufu_main-1024x683.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/11/iifufu_main-150x100.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/11/iifufu_main-768x512.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/11/iifufu_main.jpg 1080w" sizes="(max-width: 500px) 100vw, 500px"></a>
		</div>
		<div class="txt_wrap">
			<h3>
				<a href="https://journal.komons-japan.com/archives/1492">いい夫婦割キャンペーン2022</a>
			</h3>
		</div>
	</li>
	<li>
		<div class="img_wrap">
			<a class="normal" href="https://journal.komons-japan.com/archives/1463"><img loading="lazy" width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/10/main-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/10/main-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2022/10/main-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/10/main-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/10/main-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/10/main-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/10/main-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2022/10/main.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px"></a>
		</div>
		<div class="txt_wrap">
			<h3>
				<a href="https://journal.komons-japan.com/archives/1463">LINE Enmarket 2022AW 出店のお知らせ</a>
			</h3>
		</div>
	</li>
	<li>
		<div class="img_wrap">
			<a class="normal" href="https://journal.komons-japan.com/archives/1439"><img loading="lazy" width="493" height="333" src="https://journal.komons-japan.com/wp-content/uploads/2022/07/main-493x333.jpg" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy" srcset="https://journal.komons-japan.com/wp-content/uploads/2022/07/main-493x333.jpg 493w, https://journal.komons-japan.com/wp-content/uploads/2022/07/main-1024x691.jpg 1024w, https://journal.komons-japan.com/wp-content/uploads/2022/07/main-150x101.jpg 150w, https://journal.komons-japan.com/wp-content/uploads/2022/07/main-768x518.jpg 768w, https://journal.komons-japan.com/wp-content/uploads/2022/07/main-1536x1037.jpg 1536w, https://journal.komons-japan.com/wp-content/uploads/2022/07/main-1320x891.jpg 1320w, https://journal.komons-japan.com/wp-content/uploads/2022/07/main.jpg 1600w" sizes="(max-width: 493px) 100vw, 493px"></a>
		</div>
		<div class="txt_wrap">
			<h3>
				<a href="https://journal.komons-japan.com/archives/1439">IDÉE3店舗でのポップアップストアにて、新商品ルームミストの先行販売がスタート。</a>
			</h3>
		</div>
	</li>
	</ul>
		{% if template.name == 'index' %}
			{% render 'journal-btn' %}
		{% endif %}
	</div>
</section>
