<section class="section-browse-history">
  <div class="section_inner_new">
    <div class="section-related-item">
      <div class="comp-detail-title">
        <hgroup>
          <span class="title_en">Recently viewed</span>
          <h2 class="title_ja">最近見た商品</h2>
        </hgroup>
      </div>
      <div class="comp-product-list">
				<ul id="itemHistory" class="item_wrapper">
			  </ul>
		  </div>
    </div>
  </div><!-- section_inner -->
</section>
