<section class="section-product-detail">
  <div class="section_wide">
    <div class="flex_wrap">
      <div class="img_wrap sticky">
        <div id="thumbBox" class="thumb_img">
          <img id="thumbImg" src="assets/img/itemDetail/sample/01.jpg">
        </div>
        <div id="thumnails" class="thumbnails">
          <div class="thumb_item">
            <button class="active_thumb"><img src="assets/img/itemDetail/sample/01.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/02.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/03.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/04.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/05.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/06.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/07.jpg"></button>
          </div>
          <div class="thumb_item">
            <button><img src="assets/img/itemDetail/sample/08.jpg"></button>
          </div>
        </div><!-- thumbnails -->
      </div><!-- img_wrap -->
      <div class="detail_wrap">
        <div class="product_main_desc">
          <span class="category">想古亭げんない</span>
          <h1 class="prod_name">炭焼き鰻かば焼き炭焼き鰻かば焼き炭焼き鰻かば焼き</h1>
          <div class="price_wrap">
            <div class="current_price">
              <span class="price">￥3,000</span>
              <span class="tax">税込</span>
            </div>
            <div class="regular_price">通常価格 &yen;4,500</div>
          </div>
        </div><!-- product_main_desc -->
        <div class="comp-tag-wrap">
          <span class="soldout">在庫切れ</span>
          <span class="sale">セール</span>
        </div>
        <div class="comp-cart-controller">
          <div class="input_wrap">
            <label>種類</label>
            <div class="input_wrap">
              <select name="option" class="comp-select-box">
                <option value="">選択してください</option>
                <option value="バリエーション1">バリエーション1</option>
                <option value="バリエーション2">バリエーション2</option>
              </select>
            </div>
          </div>
          <div class="input_wrap">
            <label>個数</label>
            <div class="input_wrap number">
              <button id="minusButton" class="minus">-</button>
              <input type="number" name="lot" value="1">
              <button id="plusButton" class="plus">+</button>
            </div>
          </div>
        </div>
        <div class="comp-cart-wrap">
          <div class="cart_item cartin">
            <input type="hidden" name="properties[カテゴリー]" value="ハンドソープ">
            <input id="cartSubmit" class="product_cart_btn button" type="submit" value="カートに入れる">
          </div>
          <div class="cart_item checkout">
            <input type="hidden" name="properties[カテゴリー]" value="ハンドソープ">
            <input id="checkoutSubmit" class="product_checkout_button button" type="submit" value="今すぐ購入">
          </div>
        </div><!-- comp-cart-wrap -->
        <div id="toggles" class="toggle_wrapper">
          <div class="comp-toggle-detail">
            <div class="toggle_item" type="open">
              <button class="toggle_button"><span class="txt">推薦コメント</span><span class="caret"></span></button>
              <div class="toggle_contents" type="open">
                <div class="comp-comment-wrap">
                  <div class="comment">
                    <p>ひい爺さんの時代から継ぎ足してきたタレを使って焼き上げた蒲焼き。とにかく、うまい。ここぞという時におすすめ。</p>
                  </div>
                  <a class="people" href="#aaaa">
                    <span class="icon"><img src="assets/img/itemList/sample/people.jpg"></span>
                    <span class="name_wrap">
                      <span class="name">石井挙之</span>
                      <span class="position">仕立屋と職人</span>
                    </span>
                  </a>
                </div>
                <div class="toggle_in_toggle"><button></button></div>
              </div>
            </div>
            <div class="toggle_item" type="hidden">
              <button class="toggle_button"><span class="txt">商品説明</span><span class="caret"></span></button>
              <div class="toggle_contents">
                <div class="desc">
                  <p>ひい爺さんの時代から継ぎ足してきたタレを使って焼き上げた蒲焼きです。<br>炭の香りとタレのコクが、ふっくらと焼き上げた鰻とよく合います。タレも添えてお送りします。温かいご飯に乗せてうな丼もお楽しみください。ひい爺さんの時代から継ぎ足してきたタレを使って焼き上げた蒲焼きです。</p>
                  <p>ひい爺さんの時代から継ぎ足してきたタレを使って焼き上げた蒲焼きです。<br>炭の香りとタレのコクが、ふっくらと焼き上げた鰻とよく合います。タレも添えてお送りします。温かいご飯に乗せてうな丼もお楽しみください。ひい爺さんの時代から継ぎ足してきたタレを使って焼き上げた蒲焼きです。</p>
                </div>
                <div class="toggle_in_toggle"><button></button></div>
              </div>
            </div>
            <div class="toggle_item border" type="hidden">
              <button class="toggle_button"><span class="txt">送料・配送について</span><span class="caret"></span></button>
              <div class="toggle_contents">
                <p>●送料<br>お届けエリア・温度帯により送料が異なります。</p>
                <p>●配送<br>ヤマト運輸にて温度帯に応じて配送方法が異なります。</p>
                <p>長期休暇前後、悪天候・天災、配送業者都合を除き基本的に配送のご依頼を受けてから4営業日以内に発送いたします。土・日・祝日は配送をお休みさせて頂いております。尚、ゴールデンウィーク・お盆・年末年始などの店舗休業期間中につきましてはご注文後、1週間程度で配送いたします。</p>
                <div class="toggle_in_toggle"><button></button></div>
              </div>
            </div>
            <div class="toggle_item border" type="close">
              <button class="toggle_button close"><span class="txt">返品・交換について</span><span class="caret"></span></button>
              <div class="toggle_contents">
                <p>●送料<br>お届けエリア・温度帯により送料が異なります。</p>
                <p>●配送<br>ヤマト運輸にて温度帯に応じて配送方法が異なります。</p>
                <div class="toggle_in_toggle"><button></button></div>
              </div>
            </div>
            <div class="toggle_item border" type="open">
              <button class="toggle_button"><span class="txt">提供者</span><span class="caret"></span></button>
              <div class="toggle_contents">
                <div class="producer">
                  <h3 class="producer_ttl">想古亭げんない</h3>
                  <p>ひい爺さんの時代から継ぎ足してきたタレを使って焼き上げた蒲焼きです。炭の香りとタレのコクが、ふっくらと焼き上げた鰻とよく合います。タレも添えてお送りします。</p>
                  <div class="comp-comment-wrap">
                    <a class="people" href="#aaaa">
                      <span class="icon"><img src="assets/img/itemList/sample/people.jpg"></span>
                      <span class="name_wrap">
                        <span class="name">石井挙之</span>
                        <span class="position">仕立屋と職人</span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="toggle_in_toggle"><button></button></div>
              </div>
            </div>
          </div><!-- comp-toggle-detail -->
        </div>
      </div><!-- detail_wrap -->
    </div><!-- flex_wrap -->
  </div><!-- section_inner -->
</section>
