{% for collection in collections %}
  {%- if collection.title == "pickup" -%}
    {% for product in collection.products %}
      {% assign arrayIndex = product.handle %}
      {% unless forloop.last %}
        {% assign random = random | append: arrayIndex | append: ',' %}
      {% else %}
        {% assign random = random | append: arrayIndex %}
      {% endunless %}
    {% endfor %}
  {%- endif -%}
{% endfor %}

{%- assign array = random | split: ',' -%}
{%- assign loops = array.size | times: 10 -%}

{%- capture indexes -%}
	{%- for i in (1..loops) -%}{{ "now" | date: "%N" | modulo: array.size }},{%- endfor -%}
{%- endcapture -%}

{%- assign indexes = indexes | split: ',' | uniq -%}

{%- for a in indexes -%}
{% assign b = a | plus: 0 %}
{% unless forloop.last %}
{% assign newArray = newArray | append: array[b] | append: ',' %}
{% else %}
{% assign newArray = newArray | append: array[b] %}
{% endunless %}
{%- endfor -%}
{%- assign newArray = newArray | split: ',' -%}

{% assign collectionIndex = 0 | plus: 0 %}

{%- assign products = collections.all.products | sort: 'best-selling' -%}

<section id="relatedItem" class="section-recommendation" array='{{ arrayIndex }}'>
  <div class="section_inner_new">
    <div class="section-related-item">
      <div class="comp-detail-title">
        <hgroup>
          <span class="title_en">Related Items</span>
          <h2 class="title_ja">こちらもおすすめです</h2>
        </hgroup>
      </div>
      <div class="comp-product-list">
        <ul class="item_wrapper">
        {% for collection in collections %}
          {%- if collection.title == "pickup" -%}
            {% for product in collection.products %}
              {% for product in collection.products %}
                {%- if product.handle == newArray[collectionIndex] -%}
                {%- if collectionIndex < 4 -%}
                  {%- include 'all-item-card' -%}
                {%- endif -%}
                  {% assign collectionIndex = collectionIndex | plus: 1 %}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
        </ul>
      </div>
    </div>
  </div><!-- section_inner -->
</section>
