<section id="relation" class="related_item item_detail">
  <div class="detail_ttl">
    <h3>
      <span class="en_ttl">Related Items</span
      ><span class="jp_ttl">よく一緒に購入されている商品</span>
    </h3>
  </div>
  <div id="productList" class="comp-related-product comp-product-list">
    <div id="relatedSlider" class="item_wrapper">
    </div><!-- component-related-product -->
  </div>
</section>
