<section id="relation" class="related_item item_detail">
  <div class="detail_ttl">
    <h3>
      <span class="en_ttl">Related Items</span
      ><span class="jp_ttl">よく一緒に購入されている商品</span>
    </h3>
  </div>
	<!-- プラグイン 導入部分 -->
	<div id='rk-widget-201820' class='rk-similar_products'></div>
  <div id="productList" class="comp-related-product comp-product-list">
    <div
      id="relatedSlider"
      class="item_wrapper slick-initialized slick-slider slick-dotted"
    >
      <div class="slick-list draggable" style="padding: 0px 50px">
        <div
          class="slick-track"
          style="
            opacity: 1;
            width: 1080px;
            transform: translate3d(0px, 0px, 0px);
          "
        >
          <div
            class="item_box slick-slide slick-current slick-center"
            data-slick-index="0"
            aria-hidden="true"
            style="width: 315px"
          >
            <div class="img_wrap">
              <a
                href="?pid=134415561"
                style="
                  background-image: url(https://img07.shop-pro.jp/PA01416/697/product/134415561_th.jpg?cmsp_timestamp=20180821092255);
                "
              ></a>
            </div>
            <div class="txt_wrap">
              <div class="product_info">
                <span class="cat_ttl related"
                  ><span>Gift Set</span>ギフトセット</span
                >
                <h3 class="prod_name">
                  <a class="normal" href="?pid=134415561">キッチンコンビ</a>
                </h3>
              </div>
              <span class="product_detail">3,900円(税抜)</span>
            </div>
            <div class="comp-list-cart-button related wide">
              <a class="gift_detail_button" href="?pid=134415561">
                <span>詳細を見る</span>
              </a>
            </div>
          </div>
          <div
            class="item_box slick-slide"
            data-slick-index="1"
            aria-hidden="true"
            style="width: 315px"
          >
            <div class="img_wrap">
              <a
                href="?pid=132301791"
                style="
                  background-image: url(https://img07.shop-pro.jp/PA01416/697/product/132301791_th.png?cmsp_timestamp=20180622155037);
                "
              ></a>
            </div>
            <div class="txt_wrap">
              <div class="product_info">
                <span class="cat_ttl related"
                  ><span class="en">Hand Wash</span
                  ><span class="ja">ハンドソープ</span></span
                >
                <h3 class="prod_name">
                  <a class="normal" href="?pid=132301791">I can hear music</a>
                </h3>
              </div>
              <span class="product_detail">2,500円(税抜)</span>
            </div>
            <div class="comp-list-cart-button related">
              <!--cartjs basic--><style>
                .colorme-option-box {
                  clear: both;
                  width: 100%;
                  overflow: hidden;
                }
                .colorme-option-tbl {
                  margin-bottom: 20px;
                  width: 100%;
                  border-collapse: collapse;
                  border-spacing: 0;
                  border-top: 1px solid rgba(0, 0, 0, 0.08);
                }
                .colorme-option-tbl tr {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                }
                .colorme-option-tbl th {
                  background-color: rgba(0, 0, 0, 0.05);
                  padding: 0.4em 1em;
                  font-size: 13px;
                  font-weight: normal;
                  border-right: 1px solid rgba(0, 0, 0, 0.08);
                  text-align: right;
                }
                .colorme-option-tbl th:last-child {
                  border-right: none;
                }
                .colorme-option-tbl thead th {
                  text-align: center;
                }
                .colorme-option-tbl td {
                  text-align: center;
                  padding: 0.5em;
                  border-right: 1px solid rgba(0, 0, 0, 0.07);
                }
              </style>
              <div style="width: 100%; margin: 0 auto; padding: 0">
                <div class="cartjs_box" style="margin: 0; padding: 20px 0">
                  <form
                    name="product_form"
                    method="post"
                    action="https://komons-japan.shop-pro.jp/cart/proxy/basket/items/add"
                    class="cartjs_product_form"
                    style="width: 100%; margin: 0px; padding: 0"
                    id="form0"
                  >
                    <div class="cartjs_product_table">
                      <table
                        style="
                          border: none;
                          width: 50%;
                          margin: 0 auto 15px;
                          text-align: left;
                        "
                      >
                        <!-- 売切れ時・休止時・ログイン限定購入商品は表示しない  -->
                        <tbody>
                          <tr class="cartjs_product_num">
                            <th
                              style="font-weight: normal; padding-bottom: 10px"
                            >
                              購入数
                            </th>
                            <td style="padding-bottom: 10px">
                              <input
                                type="text"
                                name="product_num"
                                value="1"
                                class="cartjs_product_input_txt"
                                style="width: 50px; padding: 4px 6px"
                              />個
                            </td>
                          </tr>
                          <!--オプション情報-->
                        </tbody>
                      </table>
                    </div>
                    <!-- 売切れ時・休止時・ログイン限定購入商品は表示しない  -->
                    <div
                      class="cartjs_cart_in"
                      style="width: 100%; text-align: center; margin: 0 auto"
                    >
                      <input
                        type="submit"
                        value="カートに入れる"
                        style="
                          margin-bottom: 20px;
                          background-color: #555555;
                          text-align: center;
                          border-radius: 6px;
                          height: 60px;
                          width: 50%;
                          color: #fff;
                          font-size: 16px;
                          border: 0;
                          cursor: pointer;
                        "
                        onclick="gtag_report_conversion2(0); return false;"
                      />
                    </div>
                    <div class="cartjs_product_info">
                      <input
                        type="hidden"
                        name="members_hash"
                        value="2d45f8edb5a4eebf20ed461fe503ed48"
                      />
                      <input type="hidden" name="shop_id" value="PA01416697" />
                      <input
                        type="hidden"
                        name="product_id"
                        value="132301791"
                      />
                      <input type="hidden" name="members_id" value="" />
                      <input
                        type="hidden"
                        name="back_url"
                        value="https://www.komons-japan.com/"
                      />
                      <input type="hidden" name="back_url_with_get" value="1" />
                      <input
                        type="hidden"
                        name="reference_token"
                        value="4e6123d06ef147778db90bcdabd8b4f8"
                      />
                    </div>
                  </form>
                </div>
              </div>
              <!--//cartjs-->
            </div>
          </div>
          <div
            class="item_box slick-slide"
            data-slick-index="2"
            aria-hidden="true"
            style="width: 315px"
          >
            <div class="img_wrap">
              <a
                href="?pid=147344470"
                style="
                  background-image: url(https://img07.shop-pro.jp/PA01416/697/product/147344470_th.jpg?cmsp_timestamp=20191209225320);
                "
              ></a>
            </div>
            <div class="txt_wrap">
              <div class="product_info">
                <span class="cat_ttl related"
                  ><span class="en">Multi Cleaner</span
                  ><span class="ja">キッチン＆マルチクリーナー</span></span
                >
                <h3 class="prod_name">
                  <a class="normal" href="?pid=147344470"
                    >【Refill】In a silent way</a
                  >
                </h3>
              </div>
              <span class="product_detail">2,200円(税抜)</span>
            </div>
            <div class="comp-list-cart-button related">
              <!--cartjs basic--><style>
                .colorme-option-box {
                  clear: both;
                  width: 100%;
                  overflow: hidden;
                }
                .colorme-option-tbl {
                  margin-bottom: 20px;
                  width: 100%;
                  border-collapse: collapse;
                  border-spacing: 0;
                  border-top: 1px solid rgba(0, 0, 0, 0.08);
                }
                .colorme-option-tbl tr {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
                }
                .colorme-option-tbl th {
                  background-color: rgba(0, 0, 0, 0.05);
                  padding: 0.4em 1em;
                  font-size: 13px;
                  font-weight: normal;
                  border-right: 1px solid rgba(0, 0, 0, 0.08);
                  text-align: right;
                }
                .colorme-option-tbl th:last-child {
                  border-right: none;
                }
                .colorme-option-tbl thead th {
                  text-align: center;
                }
                .colorme-option-tbl td {
                  text-align: center;
                  padding: 0.5em;
                  border-right: 1px solid rgba(0, 0, 0, 0.07);
                }
              </style>
              <div style="width: 100%; margin: 0 auto; padding: 0">
                <div class="cartjs_box" style="margin: 0; padding: 20px 0">
                  <form
                    name="product_form"
                    method="post"
                    action="https://komons-japan.shop-pro.jp/cart/proxy/basket/items/add"
                    class="cartjs_product_form"
                    style="width: 100%; margin: 0px; padding: 0"
                    id="form1"
                  >
                    <div class="cartjs_product_table">
                      <table
                        style="
                          border: none;
                          width: 50%;
                          margin: 0 auto 15px;
                          text-align: left;
                        "
                      >
                        <!-- 売切れ時・休止時・ログイン限定購入商品は表示しない  -->
                        <tbody>
                          <tr class="cartjs_product_num">
                            <th
                              style="font-weight: normal; padding-bottom: 10px"
                            >
                              購入数
                            </th>
                            <td style="padding-bottom: 10px">
                              <input
                                type="text"
                                name="product_num"
                                value="1"
                                class="cartjs_product_input_txt"
                                style="width: 50px; padding: 4px 6px"
                              />個
                            </td>
                          </tr>
                          <!--オプション情報-->
                        </tbody>
                      </table>
                    </div>
                    <!-- 売切れ時・休止時・ログイン限定購入商品は表示しない  -->
                    <div
                      class="cartjs_cart_in"
                      style="width: 100%; text-align: center; margin: 0 auto"
                    >
                      <input
                        type="submit"
                        value="カートに入れる"
                        style="
                          margin-bottom: 20px;
                          background-color: #555555;
                          text-align: center;
                          border-radius: 6px;
                          height: 60px;
                          width: 50%;
                          color: #fff;
                          font-size: 16px;
                          border: 0;
                          cursor: pointer;
                        "
                        onclick="gtag_report_conversion2(1); return false;"
                      />
                    </div>
                    <div class="cartjs_product_info">
                      <input
                        type="hidden"
                        name="members_hash"
                        value="56a8b665d1e286bd4d9ad69fb34ce3ce"
                      />
                      <input type="hidden" name="shop_id" value="PA01416697" />
                      <input
                        type="hidden"
                        name="product_id"
                        value="147344470"
                      />
                      <input type="hidden" name="members_id" value="" />
                      <input
                        type="hidden"
                        name="back_url"
                        value="https://www.komons-japan.com/"
                      />
                      <input type="hidden" name="back_url_with_get" value="1" />
                      <input
                        type="hidden"
                        name="reference_token"
                        value="5bcb08cddb184a76895bbae6ea5a9bf6"
                      />
                    </div>
                  </form>
                </div>
              </div>
              <!--//cartjs-->
            </div>
          </div>
        </div>
      </div>
      <ul class="slick-dots">
        <li class="slick-active"><button type="button">1</button></li>
        <li><button type="button">2</button></li>
        <li><button type="button">3</button></li>
      </ul>
    </div>
  </div>
</section>
