<section id="sectionBack" class="section-back">
	<div class="section_back">
		<div class="comp-back-to-list">
			<div class="item_wrap">
				<a class="items" href="/?mode=cate&amp;csid=0&amp;cbid=2421809">
					<span class="txt_wrap">
						<span class="txt_en">Product List</span>
						<span class="txt_ja">通常商品一覧</span>
					</span>
				</a>
			</div>
			<div class="item_wrap">
				<a class="gifts" href="/?mode=f5">
					<span class="txt_wrap">
						<span class="txt_en">Gift Set</span>
						<span class="txt_ja">ギフト商品一覧</span>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>