<div id="slideMenuNew" class="comp-slide-menu">
  <button id="humClose" class="hum_close"></button>
  <div class="search_inner">
    <div class="content">
      <div class="content_left">
        <div class="pop_ttl">
          <span class="ttl_ja">商品を探す</span>
          <span class="ttl_en">Search Items</span>
        </div>
        <div class="pop_section">
          <div class="menu_item">
            <a class="parent" href="/collections/all-products">
              <span class="ja">商品一覧</span>
            </a>
            <div class="child">
              <a href="/collections/bottle">ボトル商品</a>
              <a href="/collections/refill">レフィル商品</a>
              <a href="/collections/bottle-and-refill">レフィル&amp;ボトルセット</a>
              <a href="/collections/upcoming">UPCOMING商品</a>
            </div>
          </div>
          <div class="menu_item">
            <a class="parent" href="/collections/gift">
              <span class="ja">ギフト商品一覧</span>
            </a>
          </div>
        </div>
        <div class="pop_section">
          <div class="pop_subttl">カテゴリから探す</div>
          <div class="category">
            <a class="dish" href="/collections/dish">
              <span class="en">Dish Wash</span>
              <span class="ja">食器用洗剤</span>
            </a>
            <a class="fabric" href="/collections/fabric">
              <span class="en">Fabric Mist</span>
              <span class="ja">除菌用消臭ミスト</span>
            </a>
            <a class="hand" href="/collections/hand">
              <span class="en">Hand Wash</span>
              <span class="ja">ハンドソープ</span>
            </a>
            <a class="multi" href="/collections/multi">
              <span class="en">Multi Clener</span>
              <span class="ja">マルチクリーナー</span>
            </a>
            <a class="bath" href="/collections/bath">
              <span class="en">Bath Cleaner</span>
              <span class="ja">バスクリーナー</span>
            </a>
            <a class="toilet" href="/collections/toilet">
              <span class="en">Toilet Cleaner</span>
              <span class="ja">トイレクリーナー</span>
            </a>
          </div>
        </div>
        <div class="pop_section">
          <div class="pop_subttl">キーワードから探す</div>
						<form action="/search">
							<div class="key_input">
								<input
									type="text"
									placeholder="キーワードを入れて検索"
									name="q"
									value="{{ search.terms | escape }}"
								/>
								<button class="search_submit">検索</button>
							</div>
						</form>
        </div>
      </div>
      <div class="content_right">
        <div class="pop_ttl">
          <span class="ttl_ja">Komonsについて知る</span>
          <span class="ttl_en">About Komons</span>
        </div>
        <div class="pop_section b_none">
          <div class="menu_item">
            <a class="parent" href="https://komons-japan.myshopify.com/pages/concept">
              <span class="ja">Komonsをつくるにあたって</span>
            </a>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://komons-japan.myshopify.com/pages/gift-service">
              <span class="ja">ギフトサービスについて</span>
            </a>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://journal.komons-japan.com/">
              <span class="ja">ジャーナル記事一覧</span>
            </a>
            <div class="child">
              <a href="https://journal.komons-japan.com/?tag=7">#Fans &amp; Users</a>
              <a href="https://journal.komons-japan.com/?tag=13">#イベント</a>
              <a href="https://journal.komons-japan.com/?tag=14">#キャンペーン</a>
              <a href="https://journal.komons-japan.com/?tag=9">#デザイン</a>
              <a href="https://journal.komons-japan.com/?tag=10">#モノづくり</a>
              <a href="https://journal.komons-japan.com/?tag=12">#原料</a>
              <a href="https://journal.komons-japan.com/?tag=8">#成分</a>
              <a href="https://journal.komons-japan.com/?tag=11">#香り</a>
            </div>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://komons-japan.myshopify.com/pages/faq">
              <span class="ja">FAQ</span>
            </a>
            <div class="child">
              <a href="https://komons-japan.myshopify.com/pages/faq#fqProduct">製品について</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqPurchase">ご購入に際して</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqGift">ギフトについて</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqDelivery">配送について</a>
              <a href="https://komons-japan.myshopify.com/pages/faq#fqCancel">キャンセルポリシー</a>
            </div>
          </div>
          <div class="menu_item">
            <a class="parent" href="https://journal.komons-japan.com/contact">
              <span class="ja">お問い合わせ</span>
            </a>
          </div>
        </div>
        <div class="sns_wrap">
          <a class="tw" href="https://twitter.com/komons_jp" target="_blank"></a>
          <a class="fb" href="https://www.facebook.com/komons.japan" target="_blank"></a>
          <a class="ig" href="https://www.instagram.com/komons.jp/" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</div>
