<div class="comp-sns-wrap">
  <div class="wrapper_inner">
    <div class="sns_item">
      <a target="_blank" href="https://www.instagram.com/komons.jp/">
        <img class="instagram" src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/icon_ig.svg?v=1693896806">
      </a>
    </div>
    <div target="_blank" class="sns_item">
      <a target="_blank" href="https://page.line.me/266mlpqk?openQrModal=true">
        <img class="line" src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/icon_line_732f82e7-663c-433a-8dbb-334a7e146fae.svg?v=1693896806">
      </a>
    </div>
    <div class="sns_item">
      <a target="_blank" href="https://twitter.com/komons_jp">
        <img class="twitter" src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/icon_tw.svg?v=1693896806">
      </a>
    </div>
    <div class="sns_item">
      <a target="_blank" href="https://www.facebook.com/komons.japan">
        <img class="facebook" src="https://cdn.shopify.com/s/files/1/0536/9544/7234/files/icon_fb.svg?v=1693896806">
      </a>
    </div>
  </div>
</div><!-- comp-sns-wrap -->
