.header{
	width: 100vw;
	position: fixed;
	z-index: 500;
	transition: all .5s;
	top:0;
	left:0;
	right:0;
	margin: auto;
	-webkit-font-smoothing: antialiased;
	.header_inner{
		position: relative;
		@include flexSet;
		align-items: center;
		justify-content: space-between;
		transition: border .3s, background .3s;
		will-change: border, background;
		.header_menu{
			button{
				position: relative;
				width: 60px;
				height: 60px;
				@include flexSet;
				justify-content: center;
				align-items: center;
				appearance: none;
				border: none;
				box-shadow: none;
				padding: 0;
				margin: 0;
				background: transparent;
				cursor: pointer;
				transition: background .3s;
				will-change: background;
				span{
					position: absolute;
					display: block;
					width: 50%;
					height: 1px;
					background: #fff;
					left:0;
					right:0;
					margin: auto;
					opacity: 0;
					transition: opacity .3s;
					&:nth-of-type(1){
						top: 25px;
						transform: translateY(4px) rotate(45deg);
					}
					&:nth-of-type(2){
						bottom: 25px;
						transform: translateY(-4px) rotate(-45deg);
					}
				}
				svg{
					width: 32px;
					margin: 0 auto;
					fill: #fff;
					transition: fill .3s;
					will-change: fill;
				}
			}
		}
		.header_left{
			position: absolute;
			top:0;
			left:0;
			right: 10px;
			bottom: 3px;
			margin: auto;
			width: 120px;
			height: 26px;
			.header_logo{
				a{
					display: block;
					@include hover;
					svg{
						width: 100%;
						fill: #fff;
						transition: fill .3s;
						will-change: fill;
					}
				}
			}
		}
		.right_wrap{
			@include flexSet;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}
		.header_right{
			order: 1;
			margin-right: 15px;
			.header_navigation{
				display: none;
			}
			.header_guide{
				@include flexSet;
				align-items: center;
				.nav_item{
					margin-right: 12px;
					&:nth-last-of-type(1){
						margin-right: 0;
					}
					a{
						position: relative;
						display: block;
						@include hover;
						.icon{
							display: block;
							width: 22px;
							svg{
								width: 100%;
								fill: #fff;
								transition: fill .3s;
								will-change: fill;
							}
						}
						.txt{
							display: none;
						}
						.cart_item_num{
							position: absolute;
							width: 14px;
							height: 14px;
							border-radius: 50%;
							background-color: #fff;
							text-align: center;
							color: $basicGreen;
							bottom: -4px;
							right: -4px;
							line-height: 12px;
							box-sizing: border-box;
							@include libre-r;
							font-size: 10px;
							text-indent: 0.1em;
							border: 1px solid $basicGreen;
							transition: background .3s, border .3s, color .3s;
							will-change: background, border, color;
						}
					}
				}
			}
		}
	}
	&.rolled_sp{
		@media screen and (max-width: 1099px){
			.header_inner{
				background: #fff;
				.header_menu{
					button{
						svg{
							fill: $basicGreen;
						}
					}
				}
				.header_left{
					.header_logo{
						a{
							svg{
								fill: $basicGreen;
							}
						}
					}
				}
				.header_right{
					.header_guide{
						.nav_item{
							a{
								.icon{
									svg{
										fill: $basicGreen;
									}
								}
								.txt{
									display: none;
								}
								.cart_item_num{
									background-color: $basicGreen;
									color: #fff;
									border: 1px solid #fff;
								}
							}
						}
					}
				}
			}
		}
	}
	&.hum_open{
		.header_inner{
			background: transparent;
			.header_menu{
				button{
					span{
						opacity: 1;
					}
					svg{
						display: none;
						fill: #fff;
					}
				}
			}
			.header_left{
				.header_logo{
					a{
						svg{
							fill: #fff;
						}
					}
				}
			}
			.header_right{
				.header_guide{
					.nav_item{
						a{
							.icon{
								svg{
									fill: #fff;
								}
							}
							.txt{
								display: none;
							}
							.cart_item_num{
								background-color: #fff;
								color: $basicGreen;
								border: 1px solid $basicGreen;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1100px){
	.header{
		.header_inner{
			@include flexSet;
			justify-content:space-between;
			align-items: center;
			padding-top: 35px;
			.header_left{
				position: static;
				display: block;
				margin: 0;
				margin-left: 35px;
				width: 155px;
				height: auto;
				.header_logo{
					width: 155px;
					margin-right: 0px;
					height: auto;
					a{
						display: block;
						svg{
							width: 100%;
							fill: #fff;
							transition: fill .3s;
							will-change: fill;
						}
					}
				}
			}
			.right_wrap{
				@include flexSet;
				justify-content: flex-end;
				width: calc(100% - 200px);
			}
			.header_right{
				@include flexSet;
				justify-content: flex-end;
				align-items: center;
				order: 0;
				background: $basicGreen;
				padding: 13px 25px 13px;
				border-radius: 120px;
				margin-right: 10px;
				transition: background .2s;
				will-change: background;
				.header_navigation{
					display: block;
					margin-top: 0px;
					margin-right: 5px;
					ul{
						@include flexSet;
						li{
							position: relative;
							margin-right: 15px;
							padding-right: 15px;
							&::after{
								display: block;
								content: "";
								position: absolute;
								top:0;
								bottom:0;
								right:0;
								margin: auto;
								width: 1px;
								height: 15px;
								background: #f9f6f3;
							}
							a{
								display: block;
								@include libre-r;
								@include hover;
								font-size: 1.5rem;
								color: inherit;
								color: #fff;
								transition: color .3s;
								will-change: color;
							}
						}
					}
				}
				.header_guide{
					@include flexSet;
					align-items: center;
					.nav_item{
						position: relative;
						margin-right: 10px;
						&::after{
							display: none;
						}
						&:nth-last-of-type(1){
							margin-right: 0px;
							padding-right: 0px;
							&::after{
								display: none;
							}
						}
						a{
							@include flexSet;
							align-items: center;
							position: relative;
							color: #fff;
							transition: color .3s;
							will-change: color;
							.icon{
								display: block;
								width: 22px;
								margin-right: 5px;
							}
							.txt{
								display: none;
							}
							.cart_item_num{
								/*position: static;
								width: 22px;
								height: 22px;
								border-radius: 50%;
								margin-left: 10px;
								background-color: #fff;
								color: $basicGreen;
								line-height: 22px;
								box-sizing: border-box;
								font-size: 14px;
								border: 0px solid $basicGreen;*/
							}
						}
					}
				}
			}
			.header_menu{
				order: 1;
				position: static;
				display: block;
				width: 49px;
				height: 49px;
				margin-right: 35px;
				button{
					position: relative;
					display: block;
					width: 49px;
					height: 49px;
					background: $basicGreen;
					border-radius: 50%;
					transition: background .2s;
					will-change: background;
					span{
						opacity: 1;
						position: absolute;
						width: 50%;
						height: 1px;
						left:0;
						right:0;
						margin: auto;
						background: #fff;
						transition: transform .2s, background .2s;
						will-change: transform, background;
						&:nth-of-type(1){
							top: 20px;
							transform: translateY(0) rotate(0deg);
						}
						&:nth-of-type(2){
							bottom: 20px;
							transform: translateY(0) rotate(0deg);
						}
					}
					svg{
						display: none;
					}
				}
			}
		}
		&.rolled{
			.header_inner{
				background: transparent;
				border-top: 0px solid $basicGreen;
				.header_menu{
					button{
						svg{
							fill: #fff;
						}
					}
				}
				.header_left{
					.header_logo{
						a{
							svg{
								fill: $basicGreen;
							}
						}
					}
				}
			}
		}
		&.hum_open{
			.header_inner{
				background: transparent;
				.header_menu{
					button{
						background: #fff;
						span{
							opacity: 1;
							background: $basicGreen;
							&:nth-of-type(1){
								top: 20px;
								transform: translateY(4px) rotate(45deg);
							}
							&:nth-of-type(2){
								bottom: 20px;
								transform: translateY(-4px) rotate(-45deg);
							}
						}
						svg{
							display: none;
							fill: #fff;
						}
					}
				}
				.header_left{
					.header_logo{
						a{
							svg{
								fill: #fff;
							}
						}
					}
				}
				.header_right{
					background: transparent;
					.header_guide{
						.nav_item{
							a{
								.icon{
									svg{
										fill: #fff;
									}
								}
								.txt{
									display: none;
								}
								.cart_item_num{
									background-color: #fff;
									color: $basicGreen;
									border: 1px solid $basicGreen;
								}
							}
						}
					}
				}
			}
		}
	}
}
