.comp-variation-select{
  margin: -10px auto 25px;
  border: 1px solid #d8d8d8;
  padding: 12px 10px;
  position: relative;
  .label{
    position: absolute;
    z-index: 10;
    top:0;
    bottom:0;
    left:10px;
    margin: auto;
    display: block;
    font-size: 1.2rem;
    height: 12px;
  }
  select{
    width: 100%;
    font-size: 1.6rem;
    color: $basicGreen;
    font-family: inherit;
    border: 0px;
    text-align: right;
    padding-right: 20px;
    transform: scale(0.8);
    transform-origin: center right;
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    background-size: 8px!important;
    background-position: center right 0px;
    background-repeat: no-repeat;
    background-image: url(https://cdn.shopify.com/s/files/1/0606/6932/9625/t/1/assets/select_caret.svg);
    direction: rtl;
    option {
      direction: ltr;
    }
    &:focus{
      outline: none;
    }
  }
}

@media screen and (min-width: 720px){
  .comp-variation-select{
    margin: -5px auto 30px;
    padding: 15px;
    position: relative;
    .label{

    }
    select{
      font-size: 1.4rem;
      padding-right: 20px;
      transform: scale(1);
    }
  }
}
