.comp-detail-title{
  margin-bottom: 30px;
  hgroup{
    .title_en{
      display: block;
      @include libre-r;
      font-size: 3.4rem;
      margin-bottom: 12px;
      text-indent: 0.01em;
    }
    .title_ja{
      display: block;
      font-size: 1.6rem;
    }
  }
}
