.comp-huckleberry-container{
  .huckleberry-subscription-widget-container{
    > div{
      color: $basicGreen !important;
      margin: 0 !important;
      > div{
        padding: 0 !important;
        background-color: #f8f8f8 !important;
        > p{
          padding: 0 15px;
          font-weight: normal !important;
          font-size: 1.6rem !important;
          letter-spacing: 0.5px;
          color: #f8f8f8 !important;
          pointer-events: none;
          &::after{
            display: inline-block;
            content: "購入サイクル";
            color: $basicGreen;
            transform: translateX(-4em);
          }
        }
        > div:nth-of-type(1){
          /*購入方法切り替えタブ*/
          display: flex !important;
          justify-content: flex-start !important;
          label{
            position: relative;
            text-align: left;
            box-sizing: border-box;
            border-radius:0px !important;
            padding: 12px 12px 12px 32px !important;
            border: none !important;
            cursor: unset !important;
            &::before{
              display: block;
              content: "";
              position: absolute;
              top:0;
              bottom:0;
              left: 15px;
              width: 13px;
              height: 13px;
              margin: auto;
              border: 1px solid #979797;
              background: #fff;
              border-radius: 50%;
            }
            &::after{
              display: block;
              content: "";
              position: absolute;
              top:0;
              bottom:0;
              left: 19px;
              width: 0;
              height: 0;
              margin: auto;
              background: $basicGreen;
              border-radius: 50%;
              transition: width .2s, height .2s;
              will-change: width, height;
            }
            svg{
              display: none;
            }
            p{
              pointer-events: none;
              text-align: left !important;
              font-weight: normal !important;
              color: #fff;
              &::before{
                text-indent: 0;
                display: inline-block;
                color: $basicGreen;
                transform:translate(5px,0.6em);
              }
              &::after{
                text-indent: 0;
                display: inline-block;
                transform:translate(5px,-0.8em);
                font-size: 1.3rem;
                margin-left: 5.5em;
                color: red;
              }
            }
          }
          input[type="radio"]:checked + label{
            background-color: #f8f8f8;
            &::after{
              width: 7px;
              height: 7px;
            }
            p{
              color: #f8f8f8;
            }
          }
          label[for="tanpatsu"]{
            width: 40% !important;
            p{
              &::before{
                content: "通常購入";
              }
            }
          }
          label[for="subscription"]{
            width: 60% !important;
            p{
              &::before{
                content: "定期購入";
              }
              &::after{
                content: "10%OFF";
              }
            }
          }
        }
        > div:nth-of-type(2){
          /*配送サイクル選択欄*/
          padding: 0 15px;
          @include flexSet;
          justify-content: space-between;
          label{
            width: calc(50% - 2.5px);
            box-sizing: border-box;
            padding: 10px 10px 10px 45px !important;
            border: 1px solid #d8d8d8;
            border-radius: 0px !important;
            &::before{
              width: 20px !important;
              height: 20px !important;
            }
            > div:nth-of-type(1){
              width: 100%;
              @include flexSet;
              justify-content: flex-start;
              justify-content: space-between;
              align-items: center;
              p:nth-of-type(1){
                margin:0 !important;
                font-weight: normal !important;
                color: $basicGreen !important;
                font-size: 1.4rem !important;
              }
              p:nth-of-type(n+2){
                background: $basicGreen;
                font-size: 1.2rem;
                line-height: 2;
                padding: 0 5px;
                color: #fff;
              }
            }
            > div:nth-of-type(2){
              display: none;
            }
          }
          input[type="radio"]:checked + label{
            &::before{
              background: $basicGreen !important;
            }
            &::after{
              top: 4px !important;
              left: 17.5px !important;
              bottom:0;
              margin: auto;
              width: 8px !important;
              height: 4px !important;
              border-left: 2px solid #fff !important;
              border-bottom: 2px solid #fff !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-huckleberry-container{
    .huckleberry-subscription-widget-container{
      > div{
        color: $basicGreen !important;
        margin: 0 !important;
        > div{
          padding: 0 !important;
          background-color: #f8f8f8 !important;
          > p{
            padding: 0 25px;
            font-weight: normal !important;
            font-size: 1.6rem !important;
            margin-bottom: 15px !important;
            @media screen and (min-width: 1100px){
              padding: 0 20px;
            }
            &::after{
              display: inline-block;
              content: "購入サイクル";
              color: $basicGreen;
              transform: translateX(-4em);
            }
          }
          > div:nth-of-type(1){
            /*購入方法切り替えタブ*/
            background: #fff;
            label{
              padding: 20px 20px 20px 32px !important;
              @media screen and (min-width: 1100px){
                padding: 15px 15px 15px 32px !important;
              }
              p{
                &::before{
                  transform:translate(5px,0);
                }
                &::after{
                  transform:translate(-3.5em,0);
                  font-size: 1.3rem;
                  margin-left: 0;
                  margin-right: -2.5em;
                }
              }
            }
            label[for="tanpatsu"]{
              width: auto !important;
            }
            label[for="subscription"]{
              width: auto !important;
            }
          }
          > div:nth-of-type(2){
            /*配送サイクル選択欄*/
            padding: 0 25px;
            @media screen and (min-width: 1100px){
              padding: 0 15px !important;
            }
            label{
              padding: 15px 15px 15px 45px !important;
              @media screen and (min-width: 1100px){
                padding: 12px 12px 12px 45px !important;
              }
              > div:nth-of-type(1){
                width: 100%;
                @include flexSet;
                justify-content: flex-start;
                justify-content: space-between;
                align-items: center;
                p:nth-of-type(1){
                  font-size: 1.5rem !important;
                }
                p:nth-of-type(n+2){
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
