.comp-subscription-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: var(--wHeightPx);
  z-index: 200;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
  z-index: 1100;
  &.open{
    opacity: 1;
    pointer-events: all;
  }
  .pop_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(60, 60, 60, 0.6);
    cursor: pointer;
  }
  .subpop_inner{
    @include flexSet;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-height: 80vh;
    position: relative;
    margin-top: 10vh;
    @media screen and (min-width: 720px){
      max-width: 600px;
      margin: 100px auto;
      align-items: flex-start;
    }
    .pop_close{
      position: absolute;
      top: -40px;
      right: 5vw;
      width: 20px;
      height: 20px;
      display: block;
      pointer-events: none;
      @include bgSet;
      background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/v1614663746/common/pop_close_uwy2uu.svg);
      z-index: 20;
      pointer-events: none;
      appearance: none;
      background-color: transparent;
      box-shadow: none;
      border: none;
      @media screen and (min-width: 720px){
        top: -40px;
        right: 0;
      }
    }
    .subpop_contents{
      position: relative;
      z-index: 10;
      width: 90vw;
      min-height: 80vh;
      max-height: 80vh;
      background: #fff;
      padding: 30px 20px;
      box-sizing: border-box;
      overflow: scroll;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display:none;
      }

      @media screen and (min-width: 720px){
        max-width: 600px;
        min-height: unset;
        max-height: 600px;
        padding: 40px 30px;
      }
      .comp-detail-title{
        text-align: center;
      }
      .comp-faq-contents{
        margin-bottom: 30px !important;
      }
    }
  }
}
