.comp-item-thumbs{
  position: relative;
  overflow: hidden;
  background: $basicGreen;
  .thumb_number{
    display: block;
    position: absolute;
    bottom: 4vw;
    right: 4vw;
    width: 45px;
    height: 45px;
    background-color: rgba($basicGreen, 0.8);
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0;
    z-index: 100;
    .current{
      &::after{
        display: inline-block;
        content: "/";
        padding-left: 0.15em;
        margin-right: -0.1em;
      }
    }
  }
  .slide_caret{
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    z-index: 30;
    display: block;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    top: 0;
    bottom: 0px;
    margin: auto;
    padding: 0;
    border: none;
    outline: 0;
    background: transparent;
    transition: opacity 0.5s;
    overflow: hidden;
    &::after{
      display: block;
      content: "";
      bottom: 0;
      margin: auto;
      width: 15px;
      height: 15px;
      border-top: 1px solid #999;
      position: absolute;
      top: 0;
      bottom: 0;
      line-height: 1;
      color: #fff;
    }
    &.slide_next{
      right: -15px;
      &::after{
        border-right: 1px solid #999;
        transform: rotate(45deg);
      }
    }
    &.slide_prev{
      left: -20px;
      &::after{
        right:-5px;
        border-left: 1px solid #999;
        transform: rotate(-45deg);
      }
    }
  }
  ul{
    position: relative;
    height: 108vw;
    overflow: hidden;
    li{
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      &.active{
        z-index: 10;
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-item-thumbs{
    ul{
      height: 100vw;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-item-thumbs{
    .thumb_number, .slide_caret{
      display: none;
    }
    ul{
      height: auto;
      li{
        position: static;

      }
    }
  }
}
