.comp-scent-detail{
  .comp-detail-title{
    margin-bottom: 20px;
  }
  .scent_desc{
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    line-height: 1.8;
    margin-bottom: 20px;
  }
  .scent_img_wrap{
    background: #f8f8f8;
    padding: 25px 0px;
    margin-bottom: 20px;
    img{
      filter: brightness(0.97);
    }
  }
  .scent_txt_wrap{
    .scent_main_ttl{
      font-size: 1.8rem;
      line-height: 1.6;
      margin-bottom: 15px;
      letter-spacing: 0.1em;
    }
    .scent_item{
      border-bottom: 1px solid #d8d8d8;
      padding-bottom: 20px;
      margin-bottom: 25px;
      &:nth-last-of-type(1){
        border-bottom: 0px solid #d8d8d8;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
      .title{
        display: block;
        @include libre-r;
        font-size: 1.8rem;
        margin-bottom: 10px;
      }
      .content{
        font-size: 1.4rem;
        letter-spacing: 0.05em;
        line-height: 1.8;
      }
    }
  }
}

@media screen and (min-width: 720px){
  .comp-scent-detail{
    .comp-detail-title{
      margin-bottom: 30px;
    }
    .scent_desc{
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    .scent_img_wrap{
      padding:30px 20px;
      margin-bottom: 30px;
    }
    .scent_txt_wrap{
      .scent_main_ttl{
        font-size: 2.2rem;
        margin-bottom: 15px;
      }
      .scent_item{
        @include flexSet;
        justify-content: flex-start;
        .title{
          width: 100px;
          font-size: 1.8rem;
          margin-top: 4px;
          margin-bottom: 0px;
        }
        .content{
          width: calc(100% - 100px);
          font-size: 1.4rem;
          letter-spacing: 0.05em;
          line-height: 1.8;
        }
      }
    }
  }
}

@media screen and (min-width: 980px){
  .comp-scent-detail{
    .scent_img_wrap{
      padding: 20px 20px;
      margin-bottom: 30px;
    }
    .scent_txt_wrap{
      .scent_main_ttl{
        font-size: 2.2rem;
        margin-bottom: 15px;
      }
      .scent_item{
        .title{
          width: 120px;
          margin-top: 4px;
        }
        .content{
          width: calc(100% - 120px);
          font-size: 1.5rem;
        }
      }
    }
  }
}
