.comp-cart-wrap-switch{
  margin-bottom: 20px;
  .button_wrap{
    @include flexSet;
    justify-content: flex-start;
    .switch_button{
      @include flexSet;
      align-items: center;
      justify-content: center;
      border: none;
      text-align: left;
      cursor: pointer;
      background: transparent;
      font-family: inherit;
      padding: 12px;
      box-sizing: border-box;
      .title{
        font-size: 1.6rem;
        letter-spacing: 0.5px;
      }
      .discount{
        font-size: 1.3rem;
        letter-spacing: 0.5px;
        margin-left: 0.5em;
        color: red;
      }
      .selector{
        width: 13px;
        height: 13px;
        border: 1px solid #979797;
        background: #fff;
        border-radius: 50%;
        margin-right: 7px;
        position: relative;
        &::before{
          display: block;
          content: "";
          position: absolute;
          top: -1px;
          bottom: -1px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0px;
          height: 0px;
          background: #333;
          border-radius: 50%;
          transition: width .2s, height .2s;
        }
      }
      .txt{
      }
      &:nth-of-type(1){
        width: 40%;
      }
      &:nth-of-type(2){
        width: 60%;
      }
      &.active{
        background: $bgColor;
        .selector{
          width: 13px;
          height: 13px;
          border: 1px solid #979797;
          background: #fff;
          border-radius: 50%;
          margin-right: 7px;
          position: relative;
          &::before{
            width: 7px;
            height: 7px;
          }
        }
      }
    }
  }
  .cart_wrap_inner{
    background: $bgColor;
    padding: 20px 15px 15px;
    .subscription_cycle{
      margin-top: 0px;
      margin-bottom: 20px;
      label{
        display: block;
        font-size: 1.6rem;
        letter-spacing: 0.5px;
        text-indent: 5px;
        margin-bottom: 15px;
      }
      .cycle_select{
        width: 100%;
        border: 1px solid #d8d8d8;
        padding: 12px;
        font-family: inherit;
        font-size: 16px;
        letter-spacing: 0.5px;
        appearance:none;
        &:focus{
          outline: none;
        }
      }
    }
    .wrapper_box{
      .comp-cart-wrap{
        margin-top: 0;
        .order_lot{
          background: #fff;
          border: 1px solid #d8d8d8;
          margin-bottom: 15px;
        }
        .comp-variation{
          margin-bottom: 0;
          .variation_wrap a{
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}


@media screen and (min-width: 720px){
  .comp-cart-wrap-switch{
    margin-bottom: 20px;
    .button_wrap{
      .switch_button{
        padding: 15px 25px;
        .title{
          font-size: 1.6rem;
          letter-spacing: 0.5px;
        }
        .discount{
          font-size: 1.3rem;
          letter-spacing: 0.5px;
          margin-left: 0.5em;
          color: red;
        }
        .selector{
          width: 13px;
          height: 13px;
          border: 1px solid #979797;
          background: #fff;
          border-radius: 50%;
          margin-right: 7px;
          position: relative;
          &::before{
            display: block;
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0px;
            height: 0px;
            background: #333;
            border-radius: 50%;
            transition: width .2s, height .2s;
          }
        }
        .txt{
        }
        &.active{
          background:#f3f3f3;
        }
        &:nth-of-type(1){
          width: auto;
        }
        &:nth-of-type(2){
          width: auto;
        }
      }
    }
    .cart_wrap_inner{
      background: #f3f3f3;
      padding: 25px 20px 15px;
      .subscription_cycle{
        margin-top: 0px;
        margin-bottom: 20px;
        label{
          font-size: 1.6rem;
          margin-bottom: 15px;
        }
        .cycle_select{
          padding: 15px;
          appearance:none;
        }
      }
      .wrapper_box{
        .comp-cart-wrap{
          margin-top: 0;
          .order_lot{
            padding: 15px;
            background: #fff;
            border: 1px solid #d8d8d8;
            margin-bottom: 15px;
          }
          .comp-variation{
            margin-bottom: 0;
            .variation_wrap a{
              border: 1px solid #fff;
              background: #fff;
            }
          }
        }
      }
    }
  }
}
