.comp-line-contact{
  margin-top: 40px;
  a{
    display: block;
    border: 1px solid $basicGreen;
    padding: 20px 0 10px;
    border-radius: 200px;
    text-align: center;
    color: $basicGreen;
    .contact_flex{
      @include flexSet;
      align-items: center;
      justify-content: center;
      margin-bottom: 5px;
      .icon{
        width: 24px;
        margin-right: 8px;
        svg{
          fill: $basicGreen;
        }
      }
      .ttl{
        margin-bottom: 2px;
        font-size: 1.5rem;
      }
    }
    .txt{
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 980px){
  .comp-line-contact{
    margin-top: 0px;
    position: fixed;
    right: 30px;
    bottom: 80px;
    width: 320px;
    z-index: 1000;
    transition: bottom .8s;
    a{
      padding: 20px 0 10px;
      border-radius: 200px;
      text-align: center;
      background: #fff;
      color: $basicGreen;
      border: 1px solid $basicGreen;
      transition: background .4s;
      @include hover;
      .contact_flex{
        .icon{
          svg{
            fill: $basicGreen;
          }
        }
      }
    }
    &.rolled{
      bottom: -200px;
    }
  }
}
