.comp-cart-wrap {
  margin-top: 30px;

  .order_lot {
    padding-bottom: 10px;
    background: #f4f4f4;
    padding: 10px;
    @include flexSet;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .title {
      font-size: 1.5rem;
    }

    .input_wrap {
      width: 120px;
      position: relative;

      button {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 1.6rem;
        border: none;
        box-shadow: none;
        background: transparent;
        color: $basicGreen;

        &.minus {
          left: 0;
          text-align: left;
        }

        &.plus {
          right: 0;
          text-align: right;
        }

        &.reload_button {
          display: none;
        }
      }

      input[name="quantity"] {
        width: 100%;
        border: none;
        font-size: 1.6rem;
        text-align: center;
        background: transparent;
      }
    }
  }

  .submit_button {
    .cart_box{
      .cart_item{
        position: relative;
        &#optionSelect{
          cursor: pointer;
        }
        .button_wrap{
          display: block;
          position: relative;
          z-index: 10;
          text-align: center;
          background: #2f281e;
          pointer-events: none;
          padding: 20px 0;
          text-align: center;
          color: #fff;
          transition: background .2s;
          .cart_in{
            display: inline-block;
            position: relative;
            color: #fff;
            font-size: 18px;
            letter-spacing: 1.2px;
            padding: 5px 0 5px 30px;
            &::before{
              display: block;
              content: "";
              position: absolute;
              width: 26px;
              height: 26px;
              left: 0px;
              top: 0;
              bottom: 0;
              margin: auto;
              @include bgSet;
              background-size: 22px;
              background-image: url(https://res.cloudinary.com/dbwqcy0op/image/upload/f_auto,q_auto/v1583750805/common/cart_icon_r3jbwu.png);
            }
          }
          .sub_text{
            display: block;
            font-size: 1.2rem;
            padding: 10px 0 0;
            letter-spacing: 1px;
          }
        }
        .product_cart_btn{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0;
          width: 100%;
          display: block;
          margin: 0 auto;
          padding: 20px 0;
          text-indent: -9999px;
          background: #2f281e;
          color: #fff;
          font-size: 18px;
          letter-spacing: 2.5px;
          transition: opacity .5s;
          border-radius: 0;
          border: none;
          appearance: none;
          cursor: pointer;
        }
        &:hover{
          .button_wrap{
            background: $basicGreen;
          }
        }
      }
    }
  }
  .cart_note{
    @include flexSet;
    justify-content: center;
    margin-top: 20px;
    button{
      display: block;
      padding: 0;
      margin: 0 1em 0 0;
      color: $insertGreen;
      font-size: 1.4rem;
      appearance: none;
      background: transparent;
      border: none;
      box-shadow: none;
      font-family: inherit;
      border-bottom: 1px solid $insertGreen;
      padding-bottom: 4px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1100px){
  .comp-cart-wrap {
    margin-top: 20px;

    .order_lot {
      margin-bottom: 20px;
      padding: 15px;
      .title {
        font-size: 1.6rem;
      }

      .input_wrap {
        width: 120px;
        position: relative;

        button {
          cursor: pointer;
          }
        }

        input[name="quantity"] {
          width: 100%;
          border: none;
          font-size: 1.6rem;
          text-align: center;
        }
      }
      .cart_note{
        margin-top: 25px;
        button{
          margin: 0 1em 0 0;
          font-size: 1.5rem;
        }
      }
    }
  }
