	<article id="page404" class="page-404">
		<section class="section-404">
			<div class="section_inner_new">
				<h1 class="contact_ttl">404 NOT FOUND</h1>
				<p class="contact_desc"><span class="">お探しのページは見つかりませんでした</span></p>
				<div class="comp-admin-button">
					<a href="/" class=""><span class="">トップに戻る</span></a>
				</div>
			</div><!-- section_inner -->
		</section>
	</article>