<article id="article" class="page-article">
  {% section 'article-template' %}
  {% section 'article-items' %}
  <section class="section-related-journal">
    <div class="section_inner_new">
      <div class="comp-new-section-ttl">
        <hgroup>
          <span class="title_en">Related Journal</span>
          <h2 class="title_jp" style="text-indent: -0.2em;">その他の記事を読む</h2>
        </hgroup>
      </div><!-- comp-new-section-ttl -->
      <div class="comp-journal-posts">
        <div class="post_item">
          <div class="item_img">
            <a href="https://journal.komons-japan.com/archives/1614">
              <img class="fit" src="https://journal.komons-japan.com/wp-content/uploads/2023/07/housyou_main-1024x691.jpg">
            </a>
          </div>
          <div class="item_content">
            <a class="item_title" href="https://journal.komons-japan.com/archives/1614">2023年夏のファブリックミストは、鹿児島ホウショウブレンド。</a>
            <ul class="item_tags">
              <li><a href="?tag=10">#モノづくり</a></li>
              <li><a href="?tag=12">#原料</a></li>
              <li><a href="?tag=15">#新商品</a></li>
            </ul>
            <p class="item_description"><a href="https://journal.komons-japan.com/archives/1614">「日本には、世界に誇る香りがある」そんな考えのもと、Komonsでは自分たちの足で国内各地を巡り開拓した日本ならではの四季折々の香りを、各商品に取り入れてお届けしています。その第六...</a></p>
          </div>
        </div>
        <div class="post_item">
          <div class="item_img">
            <a href="https://journal.komons-japan.com/archives/1635">
              <img class="fit" src="https://journal.komons-japan.com/wp-content/uploads/2023/07/kfl-1024x769.jpg">
            </a>
          </div>
          <div class="item_content">
            <a class="item_title" href="https://journal.komons-japan.com/archives/1635">南アルプスの麓に「香りの自社ラボ」を作ります！</a>
            <ul class="item_tags">
              <li><a href="?tag=7">#Fans &amp; Users</a></li>
              <li><a href="?tag=10">#モノづくり</a></li>
            </ul>
            <p class="item_description"><a href="https://journal.komons-japan.com/archives/1635">Komonsが何よりもこだわっている100%天然精油の香り。これまでも日本各地を訪ね素材を探し、すべての商品の香りを自分たちで調香してきました。でも、、もっと香りの世界に踏み込みた...</a></p>
          </div>
        </div>
        <div class="post_item">
          <div class="item_img">
            <a href="https://journal.komons-japan.com/archives/1598">
              <img class="fit" src="https://journal.komons-japan.com/wp-content/uploads/2023/04/journal_main-1024x691.jpg">
            </a>
          </div>
          <div class="item_content">
            <a class="item_title" href="https://journal.komons-japan.com/archives/1598">Happy Mother’s Day 2023</a></h2>
            <ul class="item_tags">
              <li><a href="?tag=7">#Fans &amp; Users</a></li>
              <li><a href="?tag=15">#新商品</a></li>
            </ul>
            <p class="item_description"><a href="https://journal.komons-japan.com/archives/1598">今年の母の日は5月14日(日曜)。いつも家族のために奮闘しているお母さんに感謝の気持ちを伝えることのできる大切な日です。そんな母の日に向けて、Komonsから期間限定＆数量限定の特...</a></p>
          </div>
        </div>
        <div class="post_item">
          <div class="item_img">
            <a href="https://journal.komons-japan.com/archives/1626">
              <img class="fit" src="https://journal.komons-japan.com/wp-content/uploads/2023/07/spray01-1024x691.jpg">
            </a>
          </div>
          <div class="item_content">
            <a class="item_title" href="https://journal.komons-japan.com/archives/1626">【新商品】やさしい清涼感のアウトドアスプレー「All La Glory」を販売開始しました。</a>
            <ul class="item_tags">
              <li><a href="?tag=10">#モノづくり</a></li>
              <li><a href="?tag=15">#新商品</a></li>
            </ul>
            <p class="item_description"><a href="https://journal.komons-japan.com/archives/1626">暖かい陽気が続き外に遊びにいく機会も増える季節。虫や日差しなどに悩まされることも増えたのではないでしょうか。そんな季節におすすめのアウトドアスプレーを発売開始しました。天然素材にこ...</a></p>
          </div>
        </div>
      </div><!-- comp-journal-posts -->
      <div class="comp-box-button">
        <a class="button" href="/collections/gift">
          <span class="txt">記事一覧へ</span>
          <span class="arrow">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
              <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
            </svg>
          </span>
        </a>
      </div>
    </div><!-- section_inner_new -->
  </section>
  <section class="section-category">
    <div class="section_inner_new">
      <div class="comp-new-section-ttl">
        <hgroup>
          <span class="title_en">Category</span>
          <h2 class="title_jp indent">カテゴリ一覧</h2>
        </hgroup>
        <div class="ttl_desc">
          <p>全ての商品は、100%天然精油ブレンド。<br>香りに徹底的にこだわった洗剤で<br>毎日の家事を少し気持ちよく。</p>
        </div>
      </div><!-- comp-new-section-ttl -->
      <div class="comp-category-list">



        <div class="category_item">
          <a href="/collections/hand">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category_hand.jpg?v=1693882600&amp;width=520" alt="ハンドソープ,Hand Soap,hand"
                srcset="https://komons-japan.com/cdn/shop/files/category_hand.jpg?v=1693882600&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category_hand.jpg?v=1693882600&amp;width=520 520w" width="520" height="425">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Hand Soap</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">ハンドソープ</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/handmilk">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-milk.jpg?v=1693882663&amp;width=520" alt="ハンドミルク,Hand Milk,handmilk"
                srcset="https://komons-japan.com/cdn/shop/files/category-milk.jpg?v=1693882663&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-milk.jpg?v=1693882663&amp;width=520 520w" width="520" height="427">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Hand Milk</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">ハンドミルク</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/dish">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-dish.jpg?v=1695092024&amp;width=520" alt="食器用洗剤,Dish Wsh,dish"
                srcset="https://komons-japan.com/cdn/shop/files/category-dish.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-dish.jpg?v=1695092024&amp;width=520 520w" width="520" height="428">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Dish Wsh</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">食器用洗剤</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/fabric">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-mist.jpg?v=1695092024&amp;width=520" alt="除菌消臭用ミスト,Fabric Mist ,fabric"
                srcset="https://komons-japan.com/cdn/shop/files/category-mist.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-mist.jpg?v=1695092024&amp;width=520 520w" width="520" height="428">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Fabric Mist </span>
              <span class="ttl_wrap">
                <span class="ttl_jp">除菌消臭用ミスト</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/multi">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-multi.jpg?v=1695092024&amp;width=520" alt="マルチクリーナー,Multi Cleaner,multi"
                srcset="https://komons-japan.com/cdn/shop/files/category-multi.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-multi.jpg?v=1695092024&amp;width=520 520w" width="520" height="427">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Multi Cleaner</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">マルチクリーナー</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/roommist">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-room.jpg?v=1695092024&amp;width=520" alt="ルームミスト,Room Mist,roommist"
                srcset="https://komons-japan.com/cdn/shop/files/category-room.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-room.jpg?v=1695092024&amp;width=520 520w" width="520" height="427">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Room Mist</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">ルームミスト</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/bath">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-bath.jpg?v=1695092024&amp;width=520" alt="バスクリーナー,Bath Cleener,bath"
                srcset="https://komons-japan.com/cdn/shop/files/category-bath.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-bath.jpg?v=1695092024&amp;width=520 520w" width="520" height="428">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Bath Cleener</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">バスクリーナー</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/toilet">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-toilet.jpg?v=1695092024&amp;width=520" alt="トイレクリーナー,Toilet Cleaner,toilet"
                srcset="https://komons-japan.com/cdn/shop/files/category-toilet.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-toilet.jpg?v=1695092024&amp;width=520 520w" width="520" height="428">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Toilet Cleaner</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">トイレクリーナー</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/sanitizer">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-alcohol.jpg?v=1695092024&amp;width=520" alt="アルコールスプレー,Sanitizer,sanitizer"
                srcset="https://komons-japan.com/cdn/shop/files/category-alcohol.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-alcohol.jpg?v=1695092024&amp;width=520 520w" width="520" height="426">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Sanitizer</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">アルコールスプレー</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="category_item">
          <a href="/collections/outdoor">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-outdoor.jpg?v=1695092024&amp;width=520" alt="アウトドアスプレー,Outdoor Spray,outdoor"
                srcset="https://komons-japan.com/cdn/shop/files/category-outdoor.jpg?v=1695092024&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-outdoor.jpg?v=1695092024&amp;width=520 520w" width="520" height="428">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Outdoor Spray</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">アウトドアスプレー</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>
        <div class="category_item">
          <a href="/collections/towel">
            <span class="img_wrap">
              <img src="https://komons-japan.com/cdn/shop/files/category-towel.jpg?v=1693882601&amp;width=520" alt="タオル,Towel,towel"
                srcset="https://komons-japan.com/cdn/shop/files/category-towel.jpg?v=1693882601&amp;width=352 352w, https://komons-japan.com/cdn/shop/files/category-towel.jpg?v=1693882601&amp;width=520 520w" width="520" height="428">
            </span>
            <span class="txt_wrap">
              <span class="ttl_en">Towel</span>
              <span class="ttl_wrap">
                <span class="ttl_jp">タオル</span>
                <span class="caret">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                    <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
                  </svg>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div><!-- comp-category-list -->
    </div><!-- section_inner -->
  </section>
</article>
