$basicGray: #f9f9f9;
$basicBlack: #0B1A17;
$basicGreen: #00381f;
/* ----- Google Fonts ----- */
@font-face {
    font-family: 'libre-regular';
		font-weight: 400;
    src: url('../fonts/LibreBaskerville-Regular.eot'),url('../fonts/LibreBaskerville-Regular.woff') format('woff'),
    url('../fonts/LibreBaskerville-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'libre-bold';
		font-weight: 700;
    src: url('../fonts/librebaskerville-bold-webfont.eot'),url('../fonts/librebaskerville-bold-webfont.woff') format('woff'),
    url('../fonts/LibreBaskerville-Bold.ttf') format('truetype'),
}
@mixin libre-r {
  font-family: 'EB Garamond', 'Libre Baskerville', "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
  font-weight: 400;
  letter-spacing: 1px;
}
@mixin libre-b {
  font-family: 'EB Garamond', 'Libre Baskerville', "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
  font-weight: 500;
  letter-spacing: 1px;
}
@mixin waku{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1150px){
    max-width: 750px;
  }
  @media screen and (max-width: 750px){
    width: 84vw;
  }
}
@mixin responsive-waku{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1280px){
    max-width: 900px;
  }
  @media screen and (max-width: 960px){
    max-width: 750px;
  }
	@media screen and (max-width: 520px){
    width: 84vw;
  }
}
$pc: 1280px; // PC
$tab: 960px; // タブレット
$sp: 520px;  // スマホ
@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin flexSet {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
@mixin bgSet{
  background:{
    repeat: no-repeat;
    position: center center;
  }
}
@mixin hover{
  transition: opacity .3s;
  &:hover{
    opacity: 0.75;
  }
}
