@import 'mixin.scss'; //ミックスイン
@import 'common.scss'; //ミックスイン
@mixin animation($animation) {
  animation: $animation;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    rect {
      fill: inherit;
      stroke: inherit;
    }

    .icon-error__symbol {
      fill: #ffffff;
    }
  }
}

@include keyframes(spin) {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.icon-spinner {
  @include animation(spin 500ms infinite linear);
}

.page-width{
  margin-top: 60px;
  font-size: 14px;
  color: #00381f;
  line-height: 1;
  font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
  width: 100%;
  h2, h3, h4, h5{
    font-weight: normal !important;
  }
  a{
    text-decoration: none !important;
  }
  .pw-message-wrap{
    p{
      font-size: 16px;
      letter-spacing: 0.5px;
      padding: 15px;
      border-radius: 5px;
      background: #f4f4f4;
      margin-bottom: 50px;
      &.form-message--success{
        border: 1px solid #1f873d;
        background-color: #f8fff9;
        color: #1f873d;
      }
      &.form-message--error{
        border: 1px solid #651818;
        background-color: #fff8f8;
        color: #651818;
      }
    }
  }
  .grid{
    .grid__item{
      h2{
        font-size: 20px;
        line-height: 1.6;
        letter-spacing: 1.25px;
        margin-bottom: 30px;
      }
      &.pw-address-form{
        max-width: 720px;
        margin: 0 auto;
        box-sizing: border-box;
        background: #f4f4f4;
        padding: 30px;
        box-sizing: border-box;
        .grid__item{
          margin-bottom: 30px;
          border-bottom: 1px solid #ddd;
          &.medium-up--one-half{
          }
        }
        label{
          display: block;
          width: 100%;
          font-size: 16px;
          letter-spacing: 0.5px;
          margin-right: 0px;
          margin-bottom: 20px;
        }
        input{
          width: 100%;
          box-sizing: border-box;
          display: block;
          font-size: 14px;
          padding: 15px 20px;
          border: none;
          box-sizing: border-box;
          border-radius: 5px;
          border: 1px solid #f4f4f4;
          transition: border 0.2s;
          margin-bottom: 30px;
          font-family: inherit;
          &:focus{
            outline: none;
            border: 1px solid #d8d8d8;
          }
        }
        select{
          position: relative;
          appearance: none;
          width: 100%;
          height: 45px;
          border: solid 1px #f4f4f4;
          border-radius: 5px;
          font-size: 15px;
          text-indent: 20px;
          background-color: #fff;
          background-image: url(https://journal.komons-japan.com/wp-content/themes/komons-theme/img/contact/selector_caret.png);
          background-size: 10px;
          background-repeat: no-repeat;
          background-position: center right 15px;
          margin-bottom: 30px;
          font-family: inherit;
          &:focus{
            outline: none;
            border: 1px solid #d8d8d8;
          }
        }
      }
      .text-center{
        @include flexSet;
        justify-content: space-between;
        div{
          width: 48%;
          text-align: center;
          a{
            display: block;
            padding: 15px 0;
            border-radius: 5px;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0.5px;
            background: #d8d8d8;
            margin-bottom: 10px;
            @include hover;
            color: $basicGreen;
            &.btn{
              background: $basicGreen;
              color: #fff;
            }
          }
        }
      }
    }
    .responsive-table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      margin-bottom: 40px;
      thead{
        tr{
          background: #f8f8f8;
          th, td{
            text-align: left;
            border: 1px solid #dddddd;
            padding: 15px 10px;
          }
          th{
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.5px;
          }
        }
      }
      tbody{
        th, td{
          text-align: left;
          border: 1px solid #dddddd;
          padding: 15px 10px;
          a{
            color: #068acc;
          }
        }
        th{
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0.5px;
          .btn{
            display: inline-block;
            border: none;
            background: $basicGreen;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            @include hover;
          }
        }
        td{
          font-size: 14px;
        }
      }
    }
    &.myaccount{
      @include flexSet;
      justify-content: space-between;
      .myaccount__order-history{
        width: 67%;
      }
      .myaccount__account-details{
        width: 27%;
        padding: 20px;
        border-radius: 10px;
        background-color: #f4f4f4;
        box-sizing: border-box;
        h3{
          margin: 20px auto 15px;
          font-size: 20px;
          letter-spacing: 0.7px;
        }
        p{
          font-size: 14px;
          line-height: 2.2;
          letter-spacing: 0.5px;
          &:nth-of-type(1), &:nth-of-type(4), &:nth-of-type(6),
          &:nth-last-of-type(2){
            margin-bottom: 30px;
          }
          b{
            display: inline-block;
            padding-left: 0.3em;
            font-size: 16px;
            font-weight: normal;
          }
          .btn{
            display: block;
            padding: 10px 0;
            text-align: center;
            font-size: 16px;
            letter-spacing: 0.5px;
            background: #fff;
            margin-bottom: 10px;
            @include hover;
            color: $basicGreen;
            .icon-spinner{
              display: inline-block;
              width: 12px;
              height: 12px;
              margin: -5px 0 -3px 5px;
            }
            &:not([disabled]){
              .icon-spinner{
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 980px){
  .page-width{
    .grid{
      &.myaccount{
        display: block;
        .myaccount__order-history{
          width: 100%;
          margin-bottom: 60px;
        }
        .myaccount__account-details{
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  .page-width{
    margin-top: 50px;
    font-size: 14px;
    color: #00381f;
    line-height: 1;
    font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "游明朝", YuMincho, "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "Sawarabi Mincho", serif;
    width: 100%;
    .pw-message-wrap{
      p{
        font-size: 14px;
        margin-bottom: 25px;
      }
    }
    .grid{
      .grid__item{
        h2{
          font-size: 18px;
          margin-bottom: 30px;
          text-align: center;
        }
        &.pw-address-form{
          max-width: 100%;
          margin: 0 auto;
          background: #f4f4f4;
          padding: 25px 20px;
          box-sizing: border-box;
          .grid__item{
            margin-bottom: 0px;
            border-bottom: 0px solid #ddd;
          }
          label{
            display: block;
            width: 100%;
            margin-right: 0px;
            margin-bottom: 15px;
          }
          input{
            display: block;
            font-size: 16px;
            padding: 12px;
            margin-bottom: 30px;
          }
          select{
            width: 100%;
            height: 50px;
            padding: 15px;
            font-size: 16px;
            margin-bottom: 30px;
            text-indent: 0px;
          }
        }
        .text-center{
          display: block;
          div{
            width: 100%;
            text-align: center;
            a{
              padding: 15px 0;
              font-size: 16px;
              margin-bottom: 10px;
              &.btn{
                margin-bottom: 0px;
              }
            }
          }
        }
      }
      .responsive-table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 40px;
        thead{
          display: none;
        }
        tbody{
          th, td{
            display: block;
            width: 100%;
            text-align: left;
            border: 0px solid #dddddd;
            box-sizing: border-box;
            line-height: 1.6;
            &::before{
              display: block;
              content: attr(data-label);
              text-align: left;
              padding-right: 0px;
              font-size: 16px;
              letter-spacing: 0.5px;
              background: #f4f4f4;
              padding: 15px;
              font-weight: normal;
              font-family: inherit;
              margin-bottom: 20px;
            }
            a{
              margin: 0 10px;
              color: #068acc;
            }
            span{
              display: block;
              margin: 0 10px;
            }
          }
          th{
            padding: 15px 0px;
            font-weight: normal;
            font-size: 12px;
            letter-spacing: 0.5px;
            .btn{

            }
          }
          td{
            padding: 15px 0px;
            font-size: 12px;
          }
        }
      }
      &.myaccount{
        @include flexSet;
        flex-direction: column-reverse;
        .myaccount__order-history{
          margin-bottom: 0;
        }
        .myaccount__account-details{
          margin-bottom: 60px;
          h3{
            margin: 20px auto 15px;
            font-size: 18px;
          }
          p{
            .btn{
              display: block;
              padding: 7px 0;
              text-align: center;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
